<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="Alarm History View"
            icon="icons/sample.gif"
            category="org.csstudio.alarm.beast.history"
            class="org.csstudio.alarm.beast.history.views.AlarmHistoryView"
            id="org.csstudio.alarm.beast.history.views.AlarmHistoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:alarm?endof=org.csstudio.alarm.beast.alarmtable">
         <command
               commandId="org.eclipse.ui.views.showView"
               label="Alarm History"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.alarm.beast.history.views.AlarmHistoryView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.alarm.beast.history.views.ShowAlarmHistoryCommand"
               label="Show Alarm History"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.csstudio.alarm.beast.history.views.AlarmHistoryQueryParameters">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.alarm.beast.history.views.ShowAlarmHistoryCommand"
               label="Show --- Alarm History"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.alarm.beast.history.views.ShowAlarmHistoryCommand"
            id="org.csstudio.alarm.beast.history.views.ShowAlarmHistoryCommand"
            name="Show Alarm History">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.csdata.ProcessVariable"
            class="org.csstudio.alarm.beast.history.views.AdapterFactory">
         <adapter
               type="org.csstudio.alarm.beast.history.views.AlarmHistoryQueryParameters">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.csdata.TimestampedPV"
            class="org.csstudio.alarm.beast.history.views.AdapterFactory">
         <adapter
               type="org.csstudio.alarm.beast.history.views.AlarmHistoryQueryParameters">
         </adapter>
      </factory>
      <factory
            adaptableType="[Lorg.csstudio.csdata.ProcessVariable;"
            class="org.csstudio.alarm.beast.history.views.AdapterFactory">
         <adapter
               type="org.csstudio.alarm.beast.history.views.AlarmHistoryQueryParameters">
         </adapter>
      </factory>
      <factory
            adaptableType="[Lorg.csstudio.csdata.TimestampedPV;"
            class="org.csstudio.alarm.beast.history.views.AdapterFactory">
         <adapter
               type="org.csstudio.alarm.beast.history.views.AlarmHistoryQueryParameters">
         </adapter>
      </factory>
   </extension>

</plugin>
