<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="widget" name="Widget" schema="schema/widget.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.opibuilder.editor.OPIEditor"
            contributorClass="org.csstudio.opibuilder.editor.OPIEditorActionBarContributor"
            default="false"
            extensions="opi"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIEditor"
            name="OPI Editor">
      </editor>
      <editor
            class="org.csstudio.opibuilder.runmode.OPIRunner"
            contributorClass="org.csstudio.opibuilder.runmode.OPIRunnerContributor"
            default="false"
            extensions="opi"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIRunner"
            name="OPI Runner">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.opibuilder.editor.OPIEditorPerspective"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.opieditor"
            name="%OPIEditor">
      </perspective>
      <perspective
            class="org.csstudio.opibuilder.runmode.OPIRunnerPerspective"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIRunner"
            name="%OPIRunner">
      </perspective>
   </extension>

</plugin>
