<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="widget" name="Widget" schema="schema/widget.exsd"/>
   <extension-point id="graphicalFeedbackFactory" name="graphicalFeedbackFactory" schema="schema/graphicalFeedbackFactory.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.opibuilder.editor.OPIEditor"
            contributorClass="org.csstudio.opibuilder.editor.OPIEditorActionBarContributor"
            extensions="opi"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIEditor"
            name="OPI Editor">
      </editor>
      <editor
            class="org.csstudio.opibuilder.runmode.OPIRunner"
            contributorClass="org.csstudio.opibuilder.runmode.OPIRunnerToolBarContributor"
            default="true"
            extensions="opi"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.OPIRunner"
            name="OPI Runtime">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            default="true"
            extensions="js"
            icon="icons/js.gif"
            id="org.csstudio.opibuilder.jseditor"
            name="JavaScript Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.opibuilder.editor.OPIEditorPerspective"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.opieditor"
            name="%OPIEditor">
      </perspective>
      <perspective
            class="org.csstudio.opibuilder.runmode.OPIRunnerPerspective"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIRunner"
            name="%OPIRunner">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run the OPI file currently in the editor"
            id="org.csstudio.opibuilder.runopi"
            name="Run OPI">
      </command>
      <command
            description="Change the widget order to front"
            id="org.csstudio.opibuilder.actions.TO_FRONT"
            name="To Front">
      </command>
      <command
            description="Change the widget order a step front"
            id="org.csstudio.opibuilder.actions.STEP_FRONT"
            name="Step Front">
      </command>
      <command
            description="Change the widget order to back"
            id="org.csstudio.opibuilder.actions.TO_BACK"
            name="To Back">
      </command>
      <command
            description="Change the widget order a step back"
            id="org.csstudio.opibuilder.actions.STEP_BACK"
            name="Step Back">
      </command>
      <command
            defaultHandler="org.csstudio.opibuilder.actions.LayoutWidgetsHandler"
            description="Layout Widgets"
            id="org.csstudio.opibuilder.actions.layoutWidgets"
            name="Layout Widgets">
      </command>
      <command
            description="Enter/Exit compact mode"
            id="org.csstudio.opibuilder.actions.compactMode"
            name="Compact Mode">
      </command>
      <command
            description="Enter/Exit Full Screen"
            id="org.csstudio.opibuilder.actions.fullscreen"
            name="Full Screen">
      </command>
      <command
            description="Send PV name to OPI Probe "
            id="org.csstudio.opibuilder.commands.openopiprobe"
            name="Open OPI Probe">
      </command>
      <command
            defaultHandler="org.csstudio.opibuilder.actions.OpenOPIProbeHandler"
            id="org.csstudio.opibuilder.openProbeOPI"
            name="OPI Probe">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.csstudio.opibuilder.runopi"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.TO_FRONT"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.TO_BACK"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.STEP_BACK"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_LEFT">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.STEP_FRONT"
            contextId="org.csstudio.opibuilder.opiEditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_RIGHT">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.layoutWidgets"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L">
      </key>
      <scheme
            description="OPIBuilder Key Binding Scheme"
            id="org.csstudio.opibuilder.keybinding.scheme"
            name="OPIBuilderKeyBindingScheme">
      </scheme>
      <key
            commandId="org.csstudio.opibuilder.actions.compactMode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.fullscreen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F11">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.opibuilder.preferences.CommonPreferencePage"
            id="org.csstudio.opibuilder.preferences"
            name="BOY">
      </page>
      <page
            category="org.csstudio.opibuilder.preferences"
            class="org.csstudio.opibuilder.preferences.OPIRuntimePreferencePage"
            id="org.csstudio.opibuilder.preferences.opiruntime"
            name="OPI Runtime">
      </page>
      <page
            category="org.csstudio.opibuilder.preferences"
            class="org.csstudio.opibuilder.preferences.OPIEditorPreferencePage"
            id="org.csstudio.opibuilder.preferences.opieditor"
            name="OPI Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.csstudio.opibuilder.wizards"
            name="BOY">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewOPIFileWizard"
            hasPages="true"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.wizards.newOPIWizard"
            name="OPI File">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewJavaScriptWizard"
            hasPages="true"
            icon="icons/js.gif"
            id="org.csstudio.opibuilder.wizards.newJSWizard"
            name="JavaScript">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.opibuilder.wizards"
            class="org.csstudio.opibuilder.wizards.NewPythonScriptWizard"
            hasPages="true"
            icon="icons/python_file.gif"
            id="org.csstudio.opibuilder.wizards.newPyWizard"
            name="Python Script">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.csstudio.opibuilder.actionSet"
            label="BOY Actions"
            visible="true">
         <action
               class="org.csstudio.opibuilder.actions.OpenOPIPerspectiveAction"
               icon="icons/OPIBuilder.png"
               id="org.csstudio.opibuilder.OpenOPIEditorPerspectiveAction"
               label="OPI Editor Perspective"
               menubarPath="css/display/"
               style="push">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.OpenTopOPIsAction"
               icon="icons/OPIRunner.png"
               id="org.csstudio.opibuilder.action1"
               label="Top OPIs"
               pulldown="true"
               style="pulldown"
               toolbarPath="Normal/addtions"
               tooltip="Open Top OPIs in run mode">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.RunOPIAction"
               definitionId="org.csstudio.opibuilder.runopi"
               id="org.csstudio.opibuilder.runOPIAction"
               label="Run OPI"
               style="push">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.CompactModeAction"
               definitionId="org.csstudio.opibuilder.actions.compactMode"
               id="org.csstudio.opibuilder.compactModeAction"
               label="Compact Mode"
               style="push">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.FullScreenAction"
               definitionId="org.csstudio.opibuilder.actions.fullscreen"
               id="org.csstudio.opibuilder.fullScreenAction"
               label="Full Screen"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.opibuilder.runmode.RunnerInputFactory"
            id="org.csstudio.opibuilder.runmode.RunnerInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.csstudio.opibuilder.opiEditor"
            name="OPI Editor Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.showPVInfo"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.ShowPVInfoAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.showPVInfoAction"
               label="Show PV Info"
               tooltip="Show detail infomation of PVs on this widget">
         </action>
         <visibility>
            <and>
               <objectState
                     name="executionMode"
                     value="RUN_MODE">
               </objectState>
               <objectState
                     name="hasPVs"
                     value="true">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.csstudio.opibuilder.CSSpopupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.opibuilder.actions.OpenOPIProbeAction"
               icon="icons/OPIRunner.png"
               id="org.csstudio.opibuilder.openOPIProbeAction"
               label="OPI Probe"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send PV name to OPI Probe">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.showMacros"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.ShowMacrosAction"
               enablesFor="1"
               icon="icons/macro.png"
               id="org.csstudio.opibuilder.showMacrosAction"
               label="Show Macros"
               menubarPath="print"
               tooltip="Show detail infomation of PV">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.layoutWidgets"
            objectClass="org.csstudio.opibuilder.editparts.AbstractLayoutEditpart">
         <action
               class="org.csstudio.opibuilder.actions.LayoutWidgetsAction"
               definitionId="org.csstudio.opibuilder.actions.layoutWidgets"
               enablesFor="1"
               icon="icons/layout_widgets.png"
               id="org.csstudio.opibuilder.layoutWidgetsAction"
               label="Layout Widgets"
               menubarPath="group"
               tooltip="Layout widgets in the container">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.csstudio.platform.ui.openDisplay">
      <openDisplay
            class="org.csstudio.opibuilder.actions.ExternalOpenDisplayAction"
            file_extension="opi">
      </openDisplay>   
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/firststeps.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="OPIContextHelp.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.opibuilder.views"
            name="BOY">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiView"
            name="OPI View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.opibuilder.openProbeOPI"
               icon="icons/OPIRunner.png"
               label="OPI Probe"
               style="push"
               tooltip="Send PV name to OPI Probe">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.opibuilder.editparts.AbstractPVWidgetEditPart"
            class="org.csstudio.opibuilder.editparts.PVWidgetAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>
