<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="scancommandimpl" name="Scan Command Implementation" schema="schema/scancommandimpl.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.scan.server.app.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.scan.server.application"
            name="ScanServer">
         <property
               name="appName"
               value="ScanServer">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.scan.server.scancommandimpl">
      <imp_factory
            command="org.csstudio.scan.command.ConfigLogCommand"
            factory="org.csstudio.scan.commandimpl.ConfigLogCommandImplFactory"
            name="ConfigLog">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.DelayCommand"
            factory="org.csstudio.scan.commandimpl.DelayCommandImplFactory"
            name="Delay">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.LogCommand"
            factory="org.csstudio.scan.commandimpl.LogCommandImplFactory"
            name="Log">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.LoopCommand"
            factory="org.csstudio.scan.commandimpl.LoopCommandImplFactory"
            name="Loop">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.SetCommand"
            factory="org.csstudio.scan.commandimpl.SetCommandImplFactory"
            name="Set">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.ScriptCommand"
            factory="org.csstudio.scan.commandimpl.ScriptCommandImplFactory"
            name="Script">
      </imp_factory>
      <imp_factory
            command="org.csstudio.scan.command.WaitCommand"
            factory="org.csstudio.scan.commandimpl.WaitCommandImplFactory"
            name="Wait">
      </imp_factory>
   </extension>

</plugin>
