<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.iter.application"
            description="CSS set of tools for ITER"
            name="Css">
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png"/>
         <property
               name="aboutImage"
               value="icons/about.png"/>
         <property
               name="aboutText"
               value="&#x0A; &#x0A;&#x0A;
Control System Studio is an Eclipse-based collection of tools &#x0A;
to monitor and operate large scale control systems, &#x0A;such as the ones in the fusion community.&#x0A; &#x0A; &#x0A;
It's a product of the collaboration between different laboratories and universities.">
         </property>
         <property
               name="startupForegroundColor"
               value="0064C6">
         </property>
         <property
               name="startupProgressRect"
               value="5,210,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,190,445,20">
         </property>
         <property
               name="appName"
               value="Css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property 
            name="introTitle"
            value="Welcome to CSS for ITER!&lt;/h1&gt;&lt;p&gt;Control System Studio (CSS) is a collection of tools to monitor and operate a plant system.&lt;/p&gt;&lt;h1&gt;">
         </property> 
         <property 
            name="introBrandingImage"
            value="product:icons/css64.png"/>
         <property
            name="introBrandingImageText"
            value="Css"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="org.csstudio.iter.application"
         name="Css)">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>

   <!-- Note that the classes listed in here should be in plugins
        that can be loaded without locking the workspace.
        This means the plugins loaded for these classes
        should not use preferences or anything else that
        triggers initialization of the workspace
     -->
   <extension point="org.csstudio.startup.module">
      <startupParameters class="org.csstudio.utility.product.StartupParameters"/>
      <workspace class="org.csstudio.utility.product.WorkspacePrompt"/>
      <workbench class="org.csstudio.utility.product.Workbench"/>
      <project class="org.csstudio.startup.module.defaults.DefaultProject"/>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.iter.css.product.product"/>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/whatsnew.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/samples.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="org.csstudio.iter.css.product.product.introCustomization"
            name="Welcome">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>
   
    <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc/toc.xml"
            primary="true">
      </toc>
      <toc
            file="toc/tocChangelog.xml">
      </toc>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.csstudio.iter.css.product.EarlyStartup"/>
   </extension>

    <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.csstudio.iter.css.product.product.cheatSheetContent"
            name="Basic Exercises">
      </category>
      <cheatsheet
            category="org.csstudio.iter.css.product.product.cheatSheetContent"
            composite="false"
            contentFile="cheatsheets/import.xml"
            id="org.csstudio.iter.css.product.product.cheatSheetContent.import"
            name="1. Import a project generated from SDD">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio.iter.css.product.product.cheatSheetContent"
            composite="false"
            contentFile="cheatsheets/probe.xml"
            id="org.csstudio.iter.css.product.product.cheatSheetContent.probe"
            name="2. Probe Exercise">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio.iter.css.product.product.cheatSheetContent"
            composite="false"
            contentFile="cheatsheets/databrowser.xml"
            id="org.csstudio.iter.css.product.product.cheatSheetContent.databrowser"
            name="3. Data Browser Exercise">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio.iter.css.product.product.cheatSheetContent"
            composite="false"
            contentFile="cheatsheets/dataexchange.xml"
            id="org.csstudio.iter.css.product.product.cheatSheetContent.dataexchange"
            name="4. Probe via Data Exchange Exercise">
      </cheatsheet>
    </extension>
    
    <!-- Disable Activities -->
    <extension point="org.eclipse.ui.activities">
    	<activity id="org.csstudio.iter.css.product.disablextensions" name="Hidden activities">
			<enabledWhen>
				<with variable="true">
					<equals value="false"/>
				</with>
			</enabledWhen>
    	</activity>
    	<!-- Disable New->SNL Project entry -->
    	<activityPatternBinding
    		activityId="org.csstudio.iter.css.product.disablextensions"
    		pattern=".*de.desy.language.snl.ui.wizards.NewSNLProjectWizard"
    	/>
    	<!-- Disable New->Example->Shapes Diagram  -->
    	<activityPatternBinding
    		activityId="org.csstudio.iter.css.product.disablextensions"
    		pattern=".*org.eclipse.gef.examples.shapes.ShapesCreationWizard"
    	/>
    	<!-- Disable New->Example->Editing and Validating XML files -->
    	<activityPatternBinding
    		activityId="org.csstudio.iter.css.product.disablextensions"
    		pattern=".*org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard"
    	/>
    	<!-- Disable Help -> Cheat Sheet... from showView -->
    	<activityPatternBinding
    		activityId="org.csstudio.iter.css.product.disablextensions"
    		pattern="org.csstudio.ui.menu.app/org.eclipse.ui.views.showView"
    	/>
    	<!-- Hide JDT coming with Jython -->
    	<activityPatternBinding
    		activityId="org.csstudio.iter.css.product.disablextensions"
    		pattern="org.eclipse.jdt.*"
    	/>
    	
    </extension>
   
</plugin>
