<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.sns.mpsbypasses.ui.Editor"
            default="false"
            icon="icons/mpsbypasstable.gif"
            id="org.csstudio.sns.mpsbypasses.editor"
            name="MPS Bypasses">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.sns.mpsbypasses.show"
               icon="icons/mpsbypasstable.gif"
               label="MPS Bypasses"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.sns.mpsbypasses.ui.ShowHandler"
            id="org.csstudio.sns.mpsbypasses.show"
            name="MPS Bypasses">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.sns.mpsbypasses.ui.BypassEditorInput"
            id="org.csstudio.sns.mpsbypasses.editorfactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sns.mpsbypasses.model.Bypass"
            class="org.csstudio.sns.mpsbypasses.model.BypassAdapterFactory">
         <!-- IDE warns about "[L...;", but this is the correct syntax for an array type -->
         <adapter
               type="[Lorg.csstudio.csdata.ProcessVariable;">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>
