<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.display.pvtable.ui.editor.PVTableEditor"
            contributorClass="org.csstudio.display.pvtable.ui.editor.PVTableEditorActionBarContributor"
            default="false"
            extensions="pvs,css-pvtable,sav"
            icon="icons/pvtable.png"
            id="org.csstudio.display.pvtable.ui.editor.PVTableEditor"
            name="%PVTable">
         <contentTypeBinding
               contentTypeId="org.csstudio.display.pvtable" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type id="org.csstudio.display.pvtable"
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="pvs,css-pvtable,sav"
            name="PV Table Editor File">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.display.pvtable.PVpopup"
               icon="icons/pvtable.png"
               label="%PVTable"
               style="push"
               tooltip="%PVTableObject_TT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.display.pvtable.new_pv_table"
               icon="icons/pvtable.png"
               label="%PVTable"
               style="push"
               tooltip="%PVTableMenu_TT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.processvariable">
         <control
               class="org.csstudio.display.pvtable.WorkbenchWindowControlContribution1">
            <visibleWhen
                  checkEnabled="false">
               <equals
                     value="false">
               </equals>
            </visibleWhen>
         </control>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.display.pvtable.PVpopupAction"
            id="org.csstudio.display.pvtable.PVpopup"
            name="%PVTable">
      </command>
      <command
            defaultHandler="org.csstudio.display.pvtable.NewPVTableAction"
            id="org.csstudio.display.pvtable.new_pv_table"
            name="New PV Table">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.display.pvtable.model.PVTableItem"
            class="org.csstudio.display.pvtable.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>

</plugin>
