<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.platform.libs.dal.plugs">
      <plug
            id="EPICS"
            name="EPICS plug"
            propertyFactoryClass="org.epics.css.dal.epics.PropertyFactoryImpl"
            propertyFactoryService="org.csstudio.platform.libs.dal.epics.Activator"/>
   </extension>

</plugin>
