<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Restored Target">
<locations>
<location path="${eclipse_home}" type="Profile">
<includeBundles>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.pde.ds.core"/>
<plugin id="org.apache.commons.el.source"/>
<plugin id="org.eclipse.pde.build.source"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.rcp.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.efs"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.eclipse.wst.xsd.ui"/>
<plugin id="org.eclipse.ecf.ui.capabilities.source"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.pde.ds.ui.source"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.ecf.provider.bittorrent.ui.source"/>
<plugin id="org.eclipse.jdt.ui.source"/>
<plugin id="org.eclipse.mylyn.java.ui"/>
<plugin id="org.eclipse.mylyn.wikitext.help.ui"/>
<plugin id="org.eclipse.mylyn.context.core"/>
<plugin id="org.eclipse.ecf.provider.msn.ui"/>
<plugin id="org.eclipse.team.cvs.core"/>
<plugin id="org.eclipse.ui.navigator.resources.source"/>
<plugin id="org.eclipse.platform.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite.source"/>
<plugin id="org.eclipse.ecf.provider.r_osgi.source"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.ecf.discovery.ui"/>
<plugin id="org.eclipse.mylyn.java.tasks"/>
<plugin id="org.eclipse.wst.internet.cache"/>
<plugin id="org.eclipse.mylyn.team.ui"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.pde.runtime"/>
<plugin id="org.eclipse.mylyn.java.ui.source"/>
<plugin id="org.eclipse.ui.editors.source"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.mylyn.bugzilla.core.source"/>
<plugin id="org.eclipse.ecf.provider.bittorrent"/>
<plugin id="org.eclipse.team.ecf.ui.source"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.eclipse.ltk.ui.refactoring.source"/>
<plugin id="org.eclipse.mylyn.tasks.bugs.source"/>
<plugin id="org.eclipse.wst.dtd.ui.infopop"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.eclipse.ecf.presence.ui.source"/>
<plugin id="org.eclipse.ecf.presence.source"/>
<plugin id="org.eclipse.ui.source"/>
<plugin id="org.eclipse.ecf.docshare.source"/>
<plugin id="org.eclipse.mylyn.wikitext.textile.core"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.eclipse.mylyn.discovery.core.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.model"/>
<plugin id="org.eclipse.ecf.examples.updatesite.client.source"/>
<plugin id="org.eclipse.ecf.remoteservice"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.ecf.ui.source"/>
<plugin id="org.eclipse.wst.common.infopop"/>
<plugin id="org.eclipse.mylyn.compatibility.source"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.help.appserver.source"/>
<plugin id="org.eclipse.mylyn.commons.core"/>
<plugin id="org.eclipse.ecf.discovery"/>
<plugin id="org.eclipse.mylyn.bugzilla.ide"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ui.browser.source"/>
<plugin id="org.eclipse.mylyn.tasks.ui.source"/>
<plugin id="org.eclipse.mylyn.monitor.core"/>
<plugin id="org.apache.commons.logging.source"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.ecf.provider.discovery.source"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.gef"/>
<plugin id="org.eclipse.wst.xml.ui"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox.source"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="javax.servlet.jsp.source"/>
<plugin id="org.eclipse.ecf.storage"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.ui.net"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit4.runtime.source"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.mylyn.tasks.core.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.mylyn.java.tasks.source"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.common.source"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.wst.dtd.core"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.pde.ds.core.source"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="org.eclipse.equinox.p2.ui.source"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.mylyn.wikitext.ui"/>
<plugin id="org.eclipse.ui.ide.application.source"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.wst.common.snippets"/>
<plugin id="org.eclipse.mylyn.team.ui.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry.source"/>
<plugin id="org.eclipse.ui.externaltools.source"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector.source"/>
<plugin id="org.eclipse.mylyn.team.cvs.source"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.client"/>
<plugin id="org.eclipse.mylyn.pde.ui.source"/>
<plugin id="org.eclipse.ecf.remoteservice.ui.source"/>
<plugin id="org.eclipse.wst.sse.ui.infopop"/>
<plugin id="org.eclipse.equinox.p2.engine.source"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.wst.xml.ui.infopop"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.eclipse.ecf.server"/>
<plugin id="org.eclipse.equinox.p2.metadata.source"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.update.ui.source"/>
<plugin id="org.eclipse.ecf.protocol.msn"/>
<plugin id="org.eclipse.update.core.source"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.equinox.security.win32.x86.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.ecf.discovery.ui.browser.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.team.cvs.core.source"/>
<plugin id="org.eclipse.emf.common.ui"/>
<plugin id="org.eclipse.wst.common.emfworkbench.integration"/>
<plugin id="org.eclipse.ui.views.properties.tabbed.source"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="org.eclipse.ecf.provider"/>
<plugin id="org.eclipse.ui.net.source"/>
<plugin id="org.eclipse.team.ecf.core.source"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="org.eclipse.ecf.server.source"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.ecf.telephony.call.source"/>
<plugin id="org.eclipse.mylyn.source"/>
<plugin id="org.eclipse.mylyn.monitor.core.source"/>
<plugin id="org.eclipse.mylyn.monitor.ui.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.source"/>
<plugin id="org.eclipse.ecf.provider.bittorrent.source"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.ecf.osgi.services.discovery.source"/>
<plugin id="org.eclipse.ecf.provider.xmpp.ui.source"/>
<plugin id="org.eclipse.debug.core.source"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.ecf.doc"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.mortbay.jetty.util.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.ui.ide.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.source"/>
<plugin id="org.eclipse.ecf.examples.updatesite.server.source"/>
<plugin id="org.eclipse.ecf.ui"/>
<plugin id="org.eclipse.pde.ua.core"/>
<plugin id="org.eclipse.ecf.server.generic.source"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.server"/>
<plugin id="org.eclipse.ant.ui.source"/>
<plugin id="org.eclipse.swt.win32.win32.x86.source"/>
<plugin id="org.eclipse.ecf.example.clients.source"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins.source"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.ui.externaltools"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.mylyn.ide.ui"/>
<plugin id="org.eclipse.pde.ua.core.source"/>
<plugin id="org.eclipse.ecf.telephony.call.ui.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.properties.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.ecf.presence.collab.ui.source"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.team.core.source"/>
<plugin id="org.eclipse.equinox.p2.exemplarysetup.source"/>
<plugin id="org.eclipse.team.cvs.ui"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.wst.sse.ui"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.scp.source"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.ecf.presence.bot"/>
<plugin id="org.eclipse.mylyn.commons.ui.source"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.mylyn.team.cvs"/>
<plugin id="org.eclipse.ecf.discovery.ui.properties.tabbed"/>
<plugin id="org.eclipse.mylyn.wikitext.mediawiki.core"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.mylyn.discovery.core"/>
<plugin id="org.eclipse.ecf.examples.updatesite.server"/>
<plugin id="org.eclipse.pde.junit.runtime.source"/>
<plugin id="ch.ethz.iks.slp"/>
<plugin id="com.jcraft.jsch.source"/>
<plugin id="org.eclipse.ecf.example.collab.editor"/>
<plugin id="org.eclipse.ecf.provider.irc.ui"/>
<plugin id="org.eclipse.equinox.p2.publisher.source"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.wst.dtdeditor.doc.user"/>
<plugin id="org.eclipse.wst.validation.ui"/>
<plugin id="org.eclipse.core.net.source"/>
<plugin id="org.eclipse.team.ecf.ui"/>
<plugin id="org.eclipse.search.source"/>
<plugin id="org.eclipse.ecf.protocol.bittorrent"/>
<plugin id="org.eclipse.mylyn.compatibility"/>
<plugin id="org.eclipse.pde.api.tools.source"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.ecf.provider.bittorrent.ui"/>
<plugin id="org.eclipse.ui.navigator.source"/>
<plugin id="org.eclipse.ecf.provider.irc.source"/>
<plugin id="org.eclipse.pde.ua.ui"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.mylyn"/>
<plugin id="org.eclipse.mylyn.ide.ant.source"/>
<plugin id="org.eclipse.mylyn.monitor.ui"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.apache.lucene.analysis.source"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.equinox.p2.console.source"/>
<plugin id="org.eclipse.cvs.source"/>
<plugin id="org.eclipse.ecf.telephony.call.ui"/>
<plugin id="org.eclipse.ecf.docshare"/>
<plugin id="org.eclipse.core.databinding.source"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.mylyn.wikitext.textile.ui"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.ui.presentations.r21.source"/>
<plugin id="org.eclipse.jdt.source"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.ecf.discovery.ui.properties.tabbed.source"/>
<plugin id="org.eclipse.mylyn.resources.ui.source"/>
<plugin id="org.eclipse.compare.core.source"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.jsch.ui.source"/>
<plugin id="org.eclipse.equinox.http.jetty.source"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.mylyn.wikitext.twiki.core"/>
<plugin id="org.eclipse.pde.build"/>
<plugin id="org.eclipse.ui.workbench.compatibility"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.ui.workbench.source"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor.source"/>
<plugin id="org.eclipse.mylyn.ide.ant"/>
<plugin id="org.eclipse.help.webapp"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.equinox.p2.repository.tools.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.pde.ui.templates.source"/>
<plugin id="org.eclipse.update.core.win32"/>
<plugin id="org.eclipse.ecf.provider.remoteservice.source"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.pde.doc.user"/>
<plugin id="org.eclipse.ecf.remoteservice.source"/>
<plugin id="org.eclipse.ecf.filetransfer.source"/>
<plugin id="org.eclipse.jface.databinding.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.mylyn.context.core.source"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.mylyn.commons.net"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.mylyn.tasks.ui"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
<plugin id="org.junit.source"/>
<plugin id="org.eclipse.ecf.provider.irc.ui.source"/>
<plugin id="org.eclipse.jdt.compiler.tool.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.browser"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.eclipse.mylyn.wikitext.tracwiki.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.ecf.osgi.services.distribution.source"/>
<plugin id="org.eclipse.pde.ua.ui.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.jdt.launching.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.ecf.osgi.services.source"/>
<plugin id="org.eclipse.ecf.provider.msn.ui.source"/>
<plugin id="org.eclipse.help.ui.source"/>
<plugin id="org.eclipse.ecf.datashare.source"/>
<plugin id="org.eclipse.equinox.p2.repository.source"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.wst.xsdeditor.doc.user"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.mylyn.ide.ui.source"/>
<plugin id="org.eclipse.ecf.sync.source"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.core.resources.compatibility.source"/>
<plugin id="ch.ethz.iks.r_osgi.remote"/>
<plugin id="org.eclipse.equinox.p2.updatechecker.source"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.mylyn.bugzilla.core"/>
<plugin id="org.eclipse.ui.win32.source"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.core.databinding.property.source"/>
<plugin id="org.eclipse.ltk.core.refactoring.source"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.p2.core.source"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.wst.standard.schemas"/>
<plugin id="org.eclipse.equinox.frameworkadmin.source"/>
<plugin id="org.eclipse.ecf.osgi.services.distribution"/>
<plugin id="org.eclipse.jdt.junit.source"/>
<plugin id="org.eclipse.ecf.osgi.services"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core.source"/>
<plugin id="org.eclipse.ecf.examples.updatesite.client"/>
<plugin id="org.eclipse.mylyn.wikitext.confluence.ui"/>
<plugin id="org.eclipse.pde.runtime.source"/>
<plugin id="org.eclipse.update.configurator.source"/>
<plugin id="org.eclipse.jdt.debug.ui.source"/>
<plugin id="org.eclipse.mylyn.bugzilla.ui.source"/>
<plugin id="org.eclipse.ecf.provider.msn.source"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.wst.sse.doc.user"/>
<plugin id="org.eclipse.mylyn.wikitext.core"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.mylyn.tasks.core"/>
<plugin id="org.eclipse.mylyn.commons.net.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.edit"/>
<plugin id="org.eclipse.wst.xmleditor.doc.user"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.ecf.provider.discovery"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository.source"/>
<plugin id="org.eclipse.pde.ui"/>
<plugin id="org.eclipse.update.core.win32.source"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher.source"/>
<plugin id="org.eclipse.ecf.provider.r_osgi"/>
<plugin id="org.eclipse.mylyn.wikitext.twiki.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.ui.browser"/>
<plugin id="org.eclipse.ecf.osgi.services.discovery"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor.source"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.help.base.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.junit4.source"/>
<plugin id="org.eclipse.ecf.ssl.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth.source"/>
<plugin id="org.eclipse.mylyn.help.ui.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.pde.junit.runtime"/>
<plugin id="org.eclipse.jdt.apt.ui.source"/>
<plugin id="org.eclipse.ecf.server.generic"/>
<plugin id="org.eclipse.ui.workbench.compatibility.source"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.apache.commons.codec.source"/>
<plugin id="org.eclipse.compare.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.mylyn.resources.ui"/>
<plugin id="org.eclipse.pde.source"/>
<plugin id="org.eclipse.epp.usagedata.gathering"/>
<plugin id="org.eclipse.mylyn.context.ui.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.client.source"/>
<plugin id="org.eclipse.platform.doc.isv"/>
<plugin id="org.eclipse.ecf.example.collab.source"/>
<plugin id="org.eclipse.mylyn.discovery.ui"/>
<plugin id="org.eclipse.mylyn.wikitext.mediawiki.ui"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.ecf.protocol.bittorrent.source"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.pde.ui.templates"/>
<plugin id="org.eclipse.mylyn.bugzilla.ui"/>
<plugin id="org.eclipse.mylyn.wikitext.tracwiki.core"/>
<plugin id="org.eclipse.ecf.sharedobject.source"/>
<plugin id="org.eclipse.ecf.provider.jmdns"/>
<plugin id="org.eclipse.ecf.discovery.ui.edit.source"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.team.cvs.ssh2"/>
<plugin id="org.eclipse.mylyn.context.ui"/>
<plugin id="org.mortbay.jetty.server.source"/>
<plugin id="org.apache.ant.source"/>
<plugin id="org.eclipse.ecf.provider.remoteservice"/>
<plugin id="org.eclipse.pde"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator.source"/>
<plugin id="org.eclipse.ecf.protocol.msn.source"/>
<plugin id="ch.ethz.iks.r_osgi.remote.source"/>
<plugin id="org.apache.commons.httpclient.source"/>
<plugin id="org.eclipse.ui.console.source"/>
<plugin id="org.eclipse.team.cvs.ui.source"/>
<plugin id="org.eclipse.mylyn.bugzilla.ide.source"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.efs.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.scp"/>
<plugin id="org.eclipse.xsd.edit"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.apache.commons.el"/>
<plugin id="javax.xml"/>
<plugin id="org.eclipse.ecf.telephony.call"/>
<plugin id="org.eclipse.wst.common.modulecore"/>
<plugin id="org.apache.jasper.source"/>
<plugin id="org.eclipse.debug.ui.source"/>
<plugin id="org.eclipse.ecf.provider.ui.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.ecf.provider.datashare.nio"/>
<plugin id="org.eclipse.ui.intro.source"/>
<plugin id="org.eclipse.equinox.p2.director.app.source"/>
<plugin id="org.eclipse.ecf.presence.collab.ui"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.common"/>
<plugin id="org.eclipse.ecf.example.collab.editor.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.pde.api.tools.ui.source"/>
<plugin id="org.eclipse.ecf.provider.datashare"/>
<plugin id="org.eclipse.equinox.p2.director.source"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="ch.ethz.iks.slp.source"/>
<plugin id="org.eclipse.ecf.datashare"/>
<plugin id="org.eclipse.ecf.source"/>
<plugin id="org.eclipse.pde.core"/>
<plugin id="org.eclipse.ui.views.log.source"/>
<plugin id="org.eclipse.mylyn.discovery.ui.source"/>
<plugin id="org.eclipse.jsch.core.source"/>
<plugin id="org.eclipse.epp.package.rcp"/>
<plugin id="org.eclipse.ecf.provider.jslp.source"/>
<plugin id="org.eclipse.ecf.example.collab"/>
<plugin id="org.eclipse.ui.intro.universal.source"/>
<plugin id="org.eclipse.ecf.provider.jslp"/>
<plugin id="org.eclipse.mylyn.pde.ui"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.pde.api.tools.ui"/>
<plugin id="org.eclipse.ui.forms.source"/>
<plugin id="org.eclipse.compare.win32.source"/>
<plugin id="org.eclipse.ecf.filetransfer.ui.source"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.mylyn.commons.ui"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.eclipse.ui.views.source"/>
<plugin id="org.eclipse.team.ecf.core"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.apache.xerces"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.apache.commons.lang"/>
<plugin id="org.eclipse.jdt.doc.isv"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.ecf.presence.bot.source"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ecf.provider.source"/>
<plugin id="org.eclipse.ecf.discovery.ui.model.source"/>
<plugin id="org.eclipse.cvs"/>
<plugin id="org.eclipse.ecf.discovery.ui.properties"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.ecf.identity.source"/>
<plugin id="org.eclipse.pde.core.source"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.ecf.sync"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.core.resources.compatibility"/>
<plugin id="org.eclipse.compare.win32"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.ecf.ui.capabilities"/>
<plugin id="org.eclipse.ecf.presence.ui"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="org.eclipse.wst.dtd.ui"/>
<plugin id="org.eclipse.team.cvs.ssh.source"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.pde.ds.ui"/>
<plugin id="org.eclipse.core.databinding.observable.source"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.ecf.provider.datashare.source"/>
<plugin id="javax.servlet.source"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.ecf.provider.xmpp.source"/>
<plugin id="org.eclipse.pde.api.tools"/>
<plugin id="org.eclipse.wst.common.ui"/>
<plugin id="org.eclipse.mylyn.wikitext.tasks.ui"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.mylyn.tasks.bugs"/>
<plugin id="org.eclipse.ecf.remoteservice.ui"/>
<plugin id="org.eclipse.ecf.provider.msn"/>
<plugin id="org.eclipse.mylyn.wikitext.confluence.core"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.mylyn.help.ui"/>
<plugin id="org.eclipse.ecf.presence"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.ecf.provider.datashare.nio.source"/>
<plugin id="org.eclipse.ecf.filetransfer.ui"/>
<plugin id="org.eclipse.mylyn.commons.core.source"/>
<plugin id="org.eclipse.jdt.compiler.apt.source"/>
<plugin id="org.eclipse.equinox.http.servlet.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository.source"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="org.eclipse.ecf.discovery.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.team.ui.source"/>
<plugin id="org.eclipse.wst.common.frameworks.ui"/>
<plugin id="org.eclipse.epp.usagedata.recording"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
<plugin id="org.eclipse.ecf.provider.jmdns.source"/>
<plugin id="org.objectweb.asm.source"/>
<plugin id="org.eclipse.update.scheduler.source"/>
<plugin id="org.eclipse.equinox.p2.exemplarysetup"/>
<plugin id="org.eclipse.core.net.win32.x86"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.ecf.sharedobject"/>
<plugin id="org.eclipse.pde.ui.source"/>
<plugin id="org.eclipse.help.webapp.source"/>
<plugin id="org.eclipse.jdt.core.manipulation.source"/>
<plugin id="org.eclipse.ecf.provider.irc"/>
<plugin id="org.eclipse.epp.usagedata.ui"/>
<plugin id="org.eclipse.ecf.provider.ui"/>
<plugin id="org.eclipse.ui.views.log"/>
<plugin id="org.eclipse.jdt.apt.core.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.source"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="org.eclipse.ecf.examples.remoteservices.server.source"/>
<plugin id="org.eclipse.ecf.storage.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.jdt.debug.source"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.ecf.provider.xmpp.ui"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.wst.validation.infopop"/>
<plugin id="org.eclipse.team.cvs.ssh2.source"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.ui.presentations.r21"/>
<plugin id="org.eclipse.core.filebuffers.source"/>
<plugin id="org.eclipse.team.cvs.ssh"/>
<plugin id="org.eclipse.ecf.example.clients"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
<plugin id="org.eclipse.ui.cheatsheets.source"/>
<plugin id="org.eclipse.emf.edit.ui"/>
</includeBundles>
</location>
<location path="D:\eclipse350\eclipse\delta-pack" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
