<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="cssPreferenceCategories"
         name="cssPreferencesCategories"
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.ui.preferences.CSSPlatformPreferencePage"
            id="org.csstudio.platform.ui.css.platform"
            name="%corePreferencesName"/>
      <page
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications"
            name="%applicationsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.display"
            name="%displayPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.alarm"
            name="%alarmPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.trends"
            name="%trendsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.diag"
            name="%diagnosticsPreferencesName"/>            
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.debugging"
            name="%debuggingPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.management"
            name="%managementPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.editors"
            name="%editorsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.utilities"
            name="%utilitiesPreferencesName"/>                                                
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.test"
            name="%testPreferencesName"/> 
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.ui.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.others"
            name="%othersPreferencesName"/>                         
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?after=preferences">
         <command
               commandId="org.eclipse.ui.window.preferences"
               icon="icons/preferences.gif"
               label="%OpenPreferences"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
