<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.remotercp.remoteService">
      <remoteService
            class="org.remotercp.provisioning.install.InstallFeaturesServiceImpl"
            id="org.remotercp.provisioning.remoteUpdateService">
      </remoteService>
      <remoteService
            class="org.remotercp.provisioning.features.InstalledFeaturesServiceImpl"
            id="org.remotercp.provisioning.remoteFeatureService">
      </remoteService>
   </extension>

</plugin>
