<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.shift.ui.CreateShiftView"
            icon="icons/shift-start-16.png"
            id="org.csstudio.shift.ui.CreateShift"
            name="Start Shift"
            restorable="true">
      </view>
      <view
            category="org.csstudio"
            class="org.csstudio.shift.ui.CreateShiftView"
            icon="icons/shift-end.png"
            id="org.csstudio.shift.ui.CreateShift"
            name="End Shift"
            restorable="true">
      </view>
            <view
            category="org.csstudio"
            class="org.csstudio.shift.ui.CreateShiftView"
            icon="icons/SignOff-icon.png"
            id="org.csstudio.shift.ui.CreateShift"
            name="Sign off"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.shift.ui.OpenShiftBuilderDialog"
               icon="icons/shift-start-16.png"
               label="Start Shift"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.csstudio.shift.ui.OpenShiftBuilderDialog"
               icon="icons/shift-start-16.png"
               label="Start Shift"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.csstudio.shift.ShiftBuilder">
                     </adapt>
                  </iterate>
                  <and>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    <menuContribution
        allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
     <command
           commandId="org.csstudio.shift.ui.EndShiftBuilder"
           icon="platform:/plugin/org.csstudio.shift.ui/icons/shift-end.png"
           label="End Shift"
           style="push">
        <visibleWhen>
           <with
                 variable="activeMenuSelection">
              <iterate>
                 <adapt
                       type="org.csstudio.shift.ShiftBuilder">
                 </adapt>
              </iterate>
              <and>
                 <with
                       variable="activeMenuSelection">
                    <count
                          value="1">
                    </count>
                 </with>
              </and>
           </with>
        </visibleWhen>
     </command>
  	</menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.ui.popup.any">
       <command
             commandId="org.csstudio.shift.ui.CloseShiftBuilder"
             icon="platform:/plugin/org.csstudio.shift.ui/icons/SignOff-icon.png"
             label="Sign off"
             style="push">
          <visibleWhen>
             <with
                   variable="activeMenuSelection">
                <and>
                   <with
                         variable="activeMenuSelection">
                      <count
                            value="1">
                      </count>
                   </with>
                   <with
                         variable="org.csstudio.security.ui.current_authorization">
                      <iterate
                            operator="or">
                         <equals
                               value="operation_supervisor">
                         </equals>
                      </iterate>
                   </with>
                   <iterate>
                      <adapt
                            type="org.csstudio.shift.ShiftBuilder">
                      </adapt>
                   </iterate>
                </and>
             </with>
          </visibleWhen>
       </command>
    </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.shift.ui.OpenShiftBuilderDialog"
            id="org.csstudio.shift.ui.OpenShiftBuilderDialog"
            name="Start Shift">
      </command>
      <command
            defaultHandler="org.csstudio.shift.ui.EndShiftBuilder"
            id="org.csstudio.shift.ui.EndShiftBuilder"
            name="End Shift">
      </command>
      <command
            defaultHandler="org.csstudio.shift.ui.CloseShiftBuilder"
            id="org.csstudio.shift.ui.CloseShiftBuilder"
            name="Close Shift">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="gov.bnl.shiftClient.Shift"
            class="org.csstudio.shift.ui.ShiftAdapterFactory">
         <adapter
               type="org.csstudio.shift.ShiftBuilder">
         </adapter>
      </factory>
   </extension>
</plugin>
