<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="AmsDistributor"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.ams.distributor.DistributorStart"/>
      </application>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.ams.distributor.management.Stop"
            id="org.csstudio.ams.distributor.management.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.ams.distributor.management.Restart"
            id="org.csstudio.ams.distributor.management.Restart"
            label="Restart">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.ams.distributor.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
