<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        point="org.eclipse.ui.cheatsheets.cheatSheetContent">
     <category
           id="org.csstudio.sds.cheatCategory"
           name="Synoptic Display Studio"/>
     <cheatsheet
           category="org.csstudio.sds.cheatCategory"
           composite="false"
           contentFile="cheatsheets/introduction.xml"
           id="org.csstudio.sds.introduction"
           name="Synoptic Display Studio Samples"/>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="org.csstudio.sds.samples.actionSet1"
           label="org.csstudio.sds.samples.actionSet1"
           visible="true">
        <action
              class="org.eclipse.ui.internal.cheatsheets.actions.CheatSheetHelpMenuAction"
              id="org.eclipse.ui.internal.cheatsheets.actions.CheatSheetHelpMenuAction"
              label="Cheat Sheets ..."
              menubarPath="help/"
              style="push"/>
        <action
              class="org.csstudio.sds.samples.internal.InstallExamplesAction"
              icon="icons/sds.gif"
              id="org.csstudio.sds.samples.internal.InstallExamplesAction"
              label="Install Synoptic Display Studio Sample Displays"
              menubarPath="css/display/"
              style="push"/>
     </actionSet>
  </extension>
</plugin>
