<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.graphene.category"
            name="Graphene">
      </category>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.HistogramGraph2DView"
            icon="icons/graphene-histogram-16.png"
            id="org.csstudio.graphene.HistogramGraph2DView"
            name="Histogram (alpha)"
            restorable="true">
      </view>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.LineGraph2DView"
            icon="icons/graphene-line-16.png"
            id="org.csstudio.graphene.LineGraph2DView"
            name="Line Graph"
            restorable="true">
      </view>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.ScatterGraph2DView"
            icon="icons/graphene-scatter-16.png"
            id="org.csstudio.graphene.ScatterGraph2DView"
            name="Scatter Graph"
            restorable="true">
      </view>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.BubbleGraph2DView"
            icon="icons/graphene-bubble-16.png"
            id="org.csstudio.graphene.BubbleGraph2DView"
            name="Bubble Graph"
            restorable="true">
      </view>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.IntensityGraph2DView"
            icon="icons/graphene-intensity-16.png"
            id="org.csstudio.graphene.IntensityGraph2DView"
            name="Intensity Graph"
            restorable="true">
      </view>
      <view
            category="org.csstudio.graphene.category"
            class="org.csstudio.graphene.MultiAxisLineGraph2DView"
            icon="icons/graphene-multiaxis-16.png"
            id="org.csstudio.graphene.MultiAxisLineGraph2DView"
            name="Multi-Axis Line Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-histogram-16.png"
               label="Histogram (alpha)"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.HistogramGraph2DView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-line-16.png"
               label="Line Graph"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.LineGraph2DView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-scatter-16.png"
               label="Scatter Graph"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.ScatterGraph2DView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-bubble-16.png"
               label="Bubble Graph"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.BubbleGraph2DView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-intensity-16.png"
               label="Intensity Graph"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.IntensityGraph2DView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/graphene-multiaxis-16.png"
               label="Multi-Axis Line Graph"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.MultiAxisLineGraph2DView">
            </parameter>
         </command>
      </menuContribution>
    </extension>

</plugin>
