<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.graphene.HistogramView"
            icon="platform:/plugin/org.csstudio.graphene/icons/histogram-16.png"
            id="org.csstudio.graphene.HistogramView"
            name="Histogram (alpha)"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.graphene.LineGraphView"
            icon="platform:/plugin/org.csstudio.graphene/icons/histogram-16.png"
            id="org.csstudio.graphene.LineGraphView"
            name="Line graph (alpha)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.graphene/icons/histogram-16.png"
               label="Histogram (alpha)"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.HistogramView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.graphene/icons/histogram-16.png"
               label="Line Graph (alpha)"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.graphene.LineGraphView">
            </parameter>
         </command>
      </menuContribution>
    </extension>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.graphene.HistogramEditPart"
            icon="platform:/plugin/org.csstudio.graphene/icons/histogram-16.png"
            model_class="org.csstudio.graphene.HistogramModel"
            name="Histogram (alpha)"
            typeId="org.csstudio.graphene.Histogram">
      </widget>
   </extension>

</plugin>
