<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="engine_config_import"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.archive.rdb.EngineConfigImportApp">
         </run>
      </application>
   </extension>
   <extension
         id="engine_config_import_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.rdb.engine_config_import"
            name="Engine Config Import">
         <property
               name="appName"
               value="Engine Config Import">
         </property>
      </product>
   </extension>

</plugin>
