<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="AmsEMailConnector"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.ams.connector.email.EMailConnectorStart"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.ams.connector.email.internal.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.ams.internal.pages.AmsPreferencePage"
            class="org.csstudio.ams.connector.email.internal.pages.Page1"
            id="org.csstudio.ams.connector.email.page1"
            name="Connector EMail"/>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.ams.connector.email.management.Stop"
            id="org.csstudio.ams.connector.email.management.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.ams.connector.email.management.Restart"
            id="org.csstudio.ams.connector.email.management.Restart"
            label="Restart">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
   </extension>
   <extension
         id="AmsEMailConnectorProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.connector.email.AmsEMailConnector"
            name="AmsEMailConnectorProduct">
         <property
               name="appName"
               value="AmsEMailConnectorProduct">
         </property>
      </product>
   </extension>

</plugin>
