<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.utility.pvmanager.epics.Epics3DataSource"
            name="Epics DataSource (ca)"
            prefix="ca">
      </datasource>
      <datasource
            datasource="org.csstudio.utility.pvmanager.epics.Epics3DataSource"
            name="Epics DataSource (epics)"
            prefix="epics">
      </datasource>
   </extension>

</plugin>
