<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.displaybrowser.ui.SearchView"
            icon="icons/DisplayBrowser.gif"
            id="org.csstudio.utility.displaybrowser.ui.SearchView"
            name="Display Browser"
            restorable="true">
      </view>
      <category
            id="org.csstudio"
            name="CSS">
      </category>
   </extension>
           <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.utility.displaybrowser.ShowDisplayBrowser"
            id="org.csstudio.utility.displaybrowser.ui.showdisplaybrowser"
            name="Display Browser">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.utility.displaybrowser.ui.showdisplaybrowser"
               icon="icons/DisplayBrowser.gif"
               label="Display Browser"
               style="push"
               tooltip="Display Browser">
         </command>
      </menuContribution>
      </extension>
<!--   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.displayBrowser.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.utility.displaybrowser.PVpopupAction"
               enablesFor="1"
               icon="icons/DisplayBrowser.gif"
               id="org.csstudio.utility.displayBrowser.PVpopupAction"
               label="Display Browser"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send selected PV to the Display Browser">
         </action>
      </objectContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.utility.displaybrowser.pvpopup"
               icon="icons/DisplayBrowser.gif"
               label="Display Browser"
               style="push"
               tooltip="Send PV to Display Browser">
         </command>
      </menuContribution>
	</extension>
	<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.utility.displaybrowser.ShowDisplayBrowser"
            id="org.csstudio.utility.displaybrowser.pvpopup"
            name="Display Browser">
      </command>
    </extension>
</plugin>
