<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="org.csstudio.sds.cosywidgets.switch" name="Switch" schema="schema/org.csstudio.sds.cosywidgets.switch.exsd"/>
   <extension
         point="org.csstudio.sds.widgetModelFactories">
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.MeterModelFactory"
            description="Creates a meter control."
            icon="icons/meter.gif"
            name="Meter"
            typeId="cosywidgets.meter"/>
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.LabelModelFactory"
            description="Creates a label."
            icon="icons/label.gif"
            name="Label"
            typeId="cosywidgets.label"/>
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.ArcModelFactory"
            description="Creates an arc."
            icon="icons/arc.gif"
            name="Arc"
            typeId="cosywidgets.arc"/>
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.ImageModelFactory"
            description="Creates an image."
            icon="icons/image.gif"
            name="Image"
            typeId="cosywidgets.image"/>
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.ModifiedMeterModelFactory"
            description="Modified Meter"
            icon="icons/meter.gif"
            name="Modified Meter"
            typeId="cosywidgets.modifiedmeter"/>
      <widgetModelFactory
            class="org.csstudio.sds.cosywidgets.internal.factories.SwitchModelFactory"
            description="Creates a switch."
            icon="icons/switch.gif"
            name="Switch"
            typeId="cosywidgets.switch"/>
   </extension>


   <extension
         point="org.csstudio.sds.widgetModelFactories">
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.RectangleModelFactory"
            description="Rectangle"
            icon="icons/rectangle.gif"
            name="Rectangle"
            typeId="element.rectangle"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.EllipseModelFactory"
            description="Ellipse"
            icon="icons/ellipse.gif"
            name="Ellipse"
            typeId="element.ellipse"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.MeterModelFactory"
            description="Meter"
            icon="icons/meter.gif"
            name="Meter"
            typeId="element.meter"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.LabelModelFactory"
            description="Label"
            icon="icons/label.gif"
            name="Label"
            typeId="element.label"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.PolygonModelFactory"
            description="Polygon"
            icon="icons/polygon.gif"
            name="Polygon"
            typeId="element.polygon"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.PolylineModelFactory"
            description="Polyline"
            icon="icons/polyline.gif"
            name="Polyline"
            typeId="element.polyline"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.TextInputModelFactory"
            description="Text Input"
            icon="icons/text.gif"
            name="Text Input"
            typeId="element.textinput"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.SimpleSliderModelFactory"
            description="Simple Slider"
            icon="icons/slider.gif"
            name="Simple Slider"
            typeId="element.slider.simple"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.AdvancedSliderModelFactory"
            description="Advanced Slider"
            icon="icons/advancedslider.gif"
            name="Advanced Slider"
            typeId="element.slider.advanced"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.WaveformModelFactory"
            description="Waveform"
            icon="icons/waveform.gif"
            name="Waveform"
            typeId="element.waveform"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.BargraphModelFactory"
            description="Bargraph"
            icon="icons/bargraph.gif"
            name="Bargraph"
            typeId="element.bargraph"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.ActionButtonModelFactory"
            description="Action Button"
            icon="icons/actionbutton.gif"
            name="Action Button"
            typeId="element.actionbutton"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.LinkingContainerModelFactory"
            description="A container widget which can show up other displays."
            icon="icons/linkingcontainer.gif"
            name="Linking Container"
            typeId="widget.linking-container"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.GroupingContainerModelFactory"
            description="A container widget that can group other widgets."
            icon="icons/groupcontainer.gif"
            name="Grouping container"
            typeId="widget.grouping-container"/>            
   </extension>

</plugin>
