<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ApplicationDatabaseSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ApplicationDatabaseSetUp"
            name="Application database">
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ConfigurationDatabaseSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ConfigurationDatabaseSetUp"
            name="Configuration database">
      </page>
      <page
            category="org.csstudio.platform.ui.css.applications.configuration"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            name="New AMS">
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingSetUp"
            name="Internal messaging">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
