<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.configuration"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            name="New AMS">
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ApplicationDatabaseSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ApplicationDatabaseSetUp"
            name="Application database">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ConfigurationDatabaseSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.ConfigurationDatabaseSetUp"
            name="Configuration database">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSExternalMessagingTopicsSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSExternalMessagingTopicsSetUp"
            name="External messaging topics">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingServerSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingSetUp"
            name="Internal messaging server">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingTopicsSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSInternalMessagingTopicsSetUp"
            name="Internal messaging topics">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
      <page
            category="org.csstudio.nams.service.preferenceservice.ui.preferencepages.NewAMSRootPage"
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSExternalMessagingServerSetUp"
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.AMSExternalMessagingServerSetUp"
            name="External messaging server">
         <keywordReference
               id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.nams.service.preferenceservice.ui.preferencepages.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.csstudio.nams.service.preferenceservice.ui.preferencepages.XXXDatabaseSetUp.keywordA"
            label="New AMS, NAMS, configuration, database, topic, subscriber, jms">
      </keyword>
   </extension>

</plugin>
