<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.platform.libs.dal.plugs">
      <plug
            id="Simulator"
            name="Simulator Plug"
            propertyFactoryClass="org.epics.css.dal.simulation.PropertyFactoryImpl">
      </plug>
   </extension>

</plugin>
