<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="AmsSystemMonitorApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.systemmonitor.AmsSystemMonitorApplication">
         </run>
      </application>
   </extension>

</plugin>
