<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.dct.ionameservices">
      <ionameservice
            class="org.csstudio.config.ioconfig.model.service.internal.ProfiBusIoNameService"
            id="org.csstudio.config.ioconfig.model.service.ProfiBusIoNameService"
            name="IO Name Service">
      </ionameservice>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.config.ioconfig.model.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.dct.sensoridservices">
      <sensoridservice
            class="org.csstudio.config.ioconfig.model.service.internal.ProfibusSensorService"
            id="org.csstudio.config.ioconfig.model.service.profibussensorservice"
            name="Profibus Sensor Service">
      </sensoridservice>
   </extension>

</plugin>
