<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.csstudio.utility.quickstart.menu">
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem1"
               id="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem1">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem2"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem2">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem3"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem3">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem4"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem4">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem5"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem5">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem6"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem6">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem7"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem7">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem8"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem8">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem9"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem9">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem10"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem10">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem11"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem11">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem12"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem12">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem13"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem13">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem14"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem14">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem15"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem15">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem16"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem16">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem17"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem17">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem18"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem18">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem19"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem19">
         </dynamic>
         <dynamic
               class="org.csstudio.utility.quickstart.compoundcontribution.QuickstartCompoundContributionItem20"
               id="org.csstudio.utility.quickstart.QuickstartCompoundContributionItem20">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=CSS">
         <menu
               id="org.csstudio.utility.quickstart.menu"
               label="Quickstart">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.csstudio.utility.quickstart.quickstartCategory"
            name="QuickstartCategory">
      </category>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command1"
            name="Command1">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command2"
            name="Command2">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command3"
            name="Command3">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command4"
            name="Command4">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command5"
            name="Command5">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command6"
            name="Command6">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command7"
            name="Command7">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command8"
            name="Command8">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command9"
            name="Command9">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command10"
            name="Command10">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command11"
            name="Command11">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command12"
            name="Command12">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command13"
            name="Command13">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command14"
            name="Command14">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command15"
            name="Command15">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command16"
            name="Command16">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command17"
            name="Command17">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command18"
            name="Command18">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command19"
            name="Command19">
      </command>
      <command
            categoryId="org.csstudio.utility.quickstart.quickstartCategory"
            id="org.csstudio.utility.quickstart.command20"
            name="Command20">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler1"
            commandId="org.csstudio.utility.quickstart.command1">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler2"
            commandId="org.csstudio.utility.quickstart.command2">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler3"
            commandId="org.csstudio.utility.quickstart.command3">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler4"
            commandId="org.csstudio.utility.quickstart.command4">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler5"
            commandId="org.csstudio.utility.quickstart.command5">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler6"
            commandId="org.csstudio.utility.quickstart.command6">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler7"
            commandId="org.csstudio.utility.quickstart.command7">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler8"
            commandId="org.csstudio.utility.quickstart.command8">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler9"
            commandId="org.csstudio.utility.quickstart.command9">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler10"
            commandId="org.csstudio.utility.quickstart.command10">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler11"
            commandId="org.csstudio.utility.quickstart.command11">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler12"
            commandId="org.csstudio.utility.quickstart.command12">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler13"
            commandId="org.csstudio.utility.quickstart.command13">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler14"
            commandId="org.csstudio.utility.quickstart.command14">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler15"
            commandId="org.csstudio.utility.quickstart.command15">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler16"
            commandId="org.csstudio.utility.quickstart.command16">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler17"
            commandId="org.csstudio.utility.quickstart.command17">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler18"
            commandId="org.csstudio.utility.quickstart.command18">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler19"
            commandId="org.csstudio.utility.quickstart.command19">
      </handler>
      <handler
            class="org.csstudio.utility.quickstart.commandhandler.RunDisplayHandler20"
            commandId="org.csstudio.utility.quickstart.command20">
      </handler>
   </extension>
     <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="org.csstudio.utility.quickstart.addtoquickstart"
           nameFilter="*.css-sds"
           objectClass="org.eclipse.core.resources.IResource">
        <action
              class="org.csstudio.utility.quickstart.AddToQuickstartAction"
              id="org.csstudio.utility.quickstart.addtoquickstartaction"
              label="Add to quickstart"/>
     </objectContribution>
  </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.utilities"
            class="org.csstudio.utility.quickstart.preferences.QuickstartPreferencePage"
            id="org.csstudio.utility.quickstart.preferences.QuickstartPreferencePage"
            name="Quickstart"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.utility.quickstart.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.csstudio.desy.startuphelper.startupListener">
      <startupService
            class="org.csstudio.utility.quickstart.StartupServiceListener"
            id="org.csstudio.utility.quickstart.startupService"
            isHighPriority="False">
      </startupService>
   </extension>  

</plugin>

<!-- TODO (jhatje): enable when Databwoser2 is integrated in CSS.
     <objectContribution
           adaptable="false"
           id="org.csstudio.utility.quickstart.addtoquickstartplt"
           nameFilter="*plt"
           objectClass="org.eclipse.core.resources.IResource">
        <action
              class="org.csstudio.utility.quickstart.AddToQuickstartAction"
              id="org.csstudio.utility.quickstart.addtoquickstartactionplt"
              label="Add to quickstart"/>
     </objectContribution>
  -->