<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="helpers" name="Single-Source Helper" schema="schema/singlesource.exsd"/>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.utility.singlesource.PathEditorInputFactory"
            id="org.csstudio.utility.singlesource.PathEditorInputFactory">
      </factory>
   </extension>

</plugin>
