<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Syslog2JmsApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.syslog2jms.Syslog2JmsApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.syslog2jms.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.syslog2jms.management.Stop"
            id="org.csstudio.syslog2jms.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.syslog2jms.management.GetDescription"
            id="org.csstudio.syslog2jms.GetDescription"
            label="GetDescription">
      </command>
      <command
            class="org.csstudio.syslog2jms.management.Restart"
            id="org.csstudio.syslog2jms.Restart"
            label="Restart">
      </command>
   </extension>

</plugin>
