<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.scan.command">
      <command
            class="org.csstudio.scan.command.CommentCommand"
            icon="icons/comment.gif"
            id="comment"
            name="Comment">
      </command>
   </extension>
</plugin>
