<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.diag.IOCremoteManagement.ui.View"
            id="org.csstudio.diag.IOCremoteManagement"
            name="IOCremoteManagement"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.diag"
            class="org.csstudio.diag.IOCremoteManagement.Preference.PreferencePage"
            id="org.csstudio.diag.IOCremoteManagement.PreferencePage"
            name="IOCremoteManagement"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.IOCremoteManagement.Preference.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.diag.IOCremoteManagement"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
      </objectContribution>
   </extension>
   <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.diag.IOCremoteManagement.ui.ShowIOCremoteManagement"
            id="org.csstudio.diag.IOCremoteManagement.ui.showiocremotemanagement"
            name="Show IOC Remote Management">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.IOCremoteManagement.ui.showiocremotemanagement"
               icon="icons/mainLabel.png"
               label="IOC Remote Management"
               style="push"
               tooltip="IOC Remote Management">
         </command>
      </menuContribution>
      </extension>
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.diag.IOCremoteManagement.Preference.PageMain"
            id="org.csstudio.diag.IOCremoteManagement.pageMain"
            name="IOCremoteManagement"/>
      <page
            category="org.csstudio.diag.IOCremoteManagement.pageMain"
            class="org.csstudio.diag.IOCremoteManagement.Preference.PageIOC"
            id="org.csstudio.diag.IOCremoteManagement.pageICO"
            name="ICO"/>
      <page
            category="org.csstudio.diag.IOCremoteManagement.pageMain"
            class="org.csstudio.diag.IOCremoteManagement.Preference.PageControl"
            id="org.csstudio.diag.IOCremoteManagement.pageControl"
            name="Control"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.IOCremoteManagement.PreferenceInitializer"/>
   </extension -->

</plugin>
