<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.diag.rmtcontrol.ui.View"
            id="org.csstudio.diag.RMTControl"
            name="RMTControl"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.diag.RMTControl.actionSet"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.diag.rmtcontrol.ui.ShowRMTControl"
               id="org.csstudio.diag.RMTControl.action"
               label="RMTControl"
               menubarPath="css/diag/"
               style="push"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.diag"
            class="org.csstudio.diag.rmtcontrol.Preference.PageMain"
            id="org.csstudio.diag.RMTControl.PreferencePage"
            name="RMT"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.rmtcontrol.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="testToc.xml"
            primary="true"/>
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.diag.rmtcontrol.Preference.PageMain"
            id="org.csstudio.diag.RMTControl.pageMain"
            name="RMTControl"/>
      <page
            category="org.csstudio.diag.RMTControl.pageMain"
            class="org.csstudio.diag.rmtcontrol.Preference.PageIOC"
            id="org.csstudio.diag.RMTControl.pageICO"
            name="ICO"/>
      <page
            category="org.csstudio.diag.RMTControl.pageMain"
            class="org.csstudio.diag.rmtcontrol.Preference.PageControl"
            id="org.csstudio.diag.RMTControl.pageControl"
            name="Control"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.rmtcontrol.PreferenceInitializer"/>
   </extension -->

</plugin>
