*CVS/
.git/*

*~
*.swp
*.orig
bin/
classes/
build/build
build/ext

dist

# ignore all log files ?
logs/*.log
log/*.log

# ignore the cs-studio-pde.target
core/repository/cs-studio-pde.target
applications/repository/cs-studio-pde.target

# ignore the mvn repo produced by the build
*/mvn/repo*

# SNS, KEK Products: Ignore output of headless build
syntax: glob
products/SNS/product/org.csstudio.sns.updatesite/build/*
products/SNS/product/org.csstudio.sns.updatesite/apps/*
products/SNS/product/org.csstudio.sns.updatesite/config_build_*/build.log
products/KEK/plugins/org.csstudio.kek.build/build/*
products/KEK/plugins/org.csstudio.kek.build/apps/*
products/KEK/plugins/org.csstudio.kek.build/*/build.log

# Generated jython classes
*$py.class

# ignore Eclipse hidden files.
.settings/
*.prefs
.project
.classpath
# A few plugins need access rules to be defined and so
# committing the .classpath file is useful
!core/utility/utility-plugins/org.csstudio.logging.ui/.classpath
!applications/opibuilder/opibuilder-plugins/org.csstudio.opibuilder.rcp/.classpath
!applications/saverestore/saverestore-plugins/org.csstudio.saverestore.ui/.classpath
!applications/saverestore/saverestore-plugins/org.csstudio.saverestore.ui.browser/.classpath
!applications/saverestore/saverestore-plugins/org.csstudio.ui.fx.util/.classpath

# The rest seems to be a copy/paste of the Mercurial ingnore rules,
# which don't work with GIT (no "syntax: regexp"...)
syntax: regexp
^applications/plugins/org\.csstudio\.diag\.pvmanager\.probe/\.settings$
^applications/plugins/org\.csstudio\.channelfinder/\.settings$
^core/plugins/org\.csstudio\.platform\.libs\.glazedlists/\.settings$
^applications/plugins/org\.csstudio\.channelfinder\.ui/\.settings$
^core/plugins/org\.csstudio\.platform\.libs\.jfreechart/\.settings$
^applications/plugins/org\.csstudio\.multiChannelViewer/\.settings$
^applications/plugins/org\.csstudio\.utility\.pvmanager\.jfreechart\.widgets/\.settings$
^applications/plugins/org\.csstudio\.utility\.pvmanager\.jfreechart\.widgets/\.classpath$
rescue/.+/.+\.sql$
rescue/.+/.+\.gpb$
^applications/plugins/net\.coobird\.thumbnailator/\.settings$
syntax: regexp
^applications/plugins/org\.apache\.jackrabbit/\.settings$
syntax: regexp
^applications/plugins/org\.csstudio\.utility\.olog\.ui/\.settings$

# Ignore Tycho/Maven build directories #
target/

# This artifact gets produced outside '/target' directory. Why? #
# The build fails when using the tycho-buildtimestamp-jgit plugin. #
applications/plugins/org.csstudio.opibuilder.converter/converter.jar

# Ignore files generated by external applications.
*.iml
*.bak
*/touch

# Checkstyle output
checkstyle-output.xml

# temporary Maven Tycho pomless build artifacts
.META-INF_MANIFEST.MF
.polyglot..META-INF_MANIFEST.MF

