*CVS/
.git/*

*~
*.swp
*.orig
bin/
classes/
build/build
build/ext

# ignore all log files ?
logs/*.log
log/*.log


# SNS, KEK Products: Ignore output of headless build
syntax: glob
products/SNS/product/org.csstudio.sns.updatesite/build/*
products/SNS/product/org.csstudio.sns.updatesite/apps/*
products/SNS/product/org.csstudio.sns.updatesite/config_build_*/build.log
products/KEK/plugins/org.csstudio.kek.build/build/*
products/KEK/plugins/org.csstudio.kek.build/apps/*
products/KEK/plugins/org.csstudio.kek.build/*/build.log

# Generated jython classes
*$py.class

# ignore the .settings folder
# should it be changed to all */.settings/* ?
.settings/

# The rest seems to be a copy/paste of the Mercurial ingnore rules,
# which don't work with GIT (no "syntax: regexp"...)
syntax: regexp
^applications/plugins/org\.csstudio\.diag\.pvmanager\.probe/\.settings$
^applications/plugins/org\.csstudio\.channelfinder/\.settings$
^core/plugins/org\.csstudio\.platform\.libs\.glazedlists/\.settings$
^applications/plugins/org\.csstudio\.channelfinder\.ui/\.settings$
^core/plugins/org\.csstudio\.platform\.libs\.jfreechart/\.settings$
^applications/plugins/org\.csstudio\.multiChannelViewer/\.settings$
^applications/plugins/org\.csstudio\.utility\.pvmanager\.jfreechart\.widgets/\.settings$
^applications/plugins/org\.csstudio\.utility\.pvmanager\.jfreechart\.widgets/\.classpath$
rescue/.+/.+\.sql$
rescue/.+/.+\.gpb$
^applications/plugins/net\.coobird\.thumbnailator/\.settings$
syntax: regexp
^applications/plugins/org\.apache\.jackrabbit/\.settings$
syntax: regexp
^applications/plugins/org\.csstudio\.utility\.olog\.ui/\.settings$
