<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc
            file="testToc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.configuration"
            class="org.csstudio.platform.libs.jms.preferences.JMSPreferencePage"
            id="org.csstudio.platform.libs.jms.preferences.JMSPreferencePage"
            name="%prefPageTitle"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.platform.libs.jms.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
