<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="databrowser" sequenceNumber="65">
<locations>
<location path="/home/ITER/arnaudf/workspace-RAP/cs-studio/core/plugins/org.csstudio.rap.core/third_party_plugins/JUnit" type="Directory"/>
<location path="/home/ITER/arnaudf/workspace-RAP/cs-studio/core/plugins/org.csstudio.rap.core/third_party_plugins/RAP_2.3_GEF" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.examples.feature.feature.group" version="2.3.0.20140602-1108"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.3.0.20140610-0925"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="2.3.0.20140610-0925"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="2.3.0.20140608-1653"/>
<repository location="http://download.eclipse.org/rt/rap/2.3"/>
</location>
</locations>
</target>
