<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.csstudio.nams.application.department.decision.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.nams.application.department.decision.DecisionDepartmentActivator">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.nams.application.department.decision.remote.xmpp.XMPPLoginCallbackHandler"
            id="org.csstudio.nams.application.department.decision.remote.xmpp.XMPPLoginCallbackHandler"
            name="DecissionDepartmentLoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <parametrizedAction
            class="org.csstudio.nams.application.department.decision.remote.xmpp.XMPPRemoteShutdownAction"
            id="org.csstudio.nams.application.department.decision.remote.RemoteShutdownAction"
            name="Stop"
            parameters="Password">
      </parametrizedAction>
   </extension>
   <extension
         id="decisionDepartment"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.nams.application.department.decision.application"
            name="Decision Department">
         <property
               name="appName"
               value="Decision Department">
         </property>
      </product>
   </extension>

</plugin>
