<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.platform.libs.dal.plugs">
      <plug
            id="TINE"
            name="TINE"
            propertyFactoryClass="de.desy.css.dal.tine.PropertyFactoryImpl"
            propertyFactoryService="org.csstudio.platform.libs.dal.tine.Activator"/>
   </extension>

</plugin>
