<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="widgetEditParts" name="widgetEditParts" schema="schema/widgetEditParts.exsd"/>
   <extension-point id="graphicalFeedbackFactories" name="graphicalFeedbackFactories" schema="schema/graphicalFeedbackFactories.exsd"/>
   <extension-point id="propertyDescriptorFactories" name="propertyDescriptorFactories" schema="schema/propertyDescriptorFactories.exsd"/>

<extension point="org.eclipse.ui.editors">
  <editor
        class="org.csstudio.sds.ui.internal.editor.DisplayEditor"
        contributorClass="org.csstudio.sds.ui.internal.editor.DisplayEditorActionBarContributor"
        default="true"
        extensions="css-sds"
        icon="icons/sds.gif"
        id="org.csstudio.sds.ui.internal.editor.DisplayEditor"
        name="SDS Editor">
  </editor>
  <editor
        class="org.csstudio.sds.ui.logic.ScriptEditor"
        default="false"
        extensions="css-sdss"
        icon="icons/rule_script.gif"
        id="org.csstudio.sds.ui.logic.ScriptEditor"
        name="Simple Script Editor">
  </editor>
  </extension>
  <extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="synopticDisplayActions"
           label="Synoptic Display Actions"
           visible="true">
        <action
              class="org.csstudio.sds.ui.internal.actions.OpenDisplayEditorAction"
              icon="icons/sds.gif"
              id="org.csstudio.ui.sds.ui.internal.actions.OpenDisplayEditorAction"
              label="Synoptic Display Studio"
              menubarPath="css/display/"
              style="push"/>
        <!--
        <action
              class="org.csstudio.sds.ui.internal.runmode.OpenAsViewMenuAction"
              definitionId="org.csstudio.sds.ui.displayRunAsView"
              icon="icons/run.gif" 
              id="org.csstudio.sds.ui.internal.runmode.OpenAsViewlMenuAction"
              label="Display run as View">
        </action>
        -->
        <action
              class="org.csstudio.sds.ui.internal.editor.newproperties.colorservice.InstallDefaultSettingsAction"
              icon="icons/sds.gif"
              id="org.csstudio.sds.ui.InstallDefaultSettingsAction"
              label="Install default settings"
              menubarPath="css/display/"
              style="push">
        </action>
     </actionSet>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.properties.view.PropertySheet"
           icon="icons/sdsProp.png"
           id="org.csstudio.sds.ui.internal.properties.view.PropertySheet"
           name="Widget Properties"/>
     <view
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.statistics.PerformanceMeasuresView"
           icon="icons/connectionMeas.png"
           id="org.csstudio.sds.ui.internal.statistics.PerformanceMeasuresView"
           name="Performance Measures"/>
     <view
           allowMultiple="false"
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.pvlistview.PvListView"
           icon="icons/sdsProp.png"
           id="org.csstudio.sds.ui.internal.pvlistview.PvListView"
           name="Process Variables"/>
     <view
           allowMultiple="false"
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.pvlistview.PvSearchView"
           icon="icons/sdsProp.png"
           id="org.csstudio.sds.ui.internal.pvlistview.PvSearchView"
           name="Search Process Variables"/>
     <view
           allowMultiple="true"
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.runmode.DisplayViewPart"
           icon="icons/sdsRun.png"
           id="org.csstudio.sds.ui.internal.runmode.DisplayViewPart"
           name="Run Mode View"/>
     <category
           id="org.csstudio.sds.ui.viewCategory"
           name="Synoptic Display Studio"/>
     <view
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.internal.layers.LayerManagementView"
           icon="icons/layer_view.gif"
           id="org.csstudio.sds.ui.internal.layers.LayerManagementView"
           name="Layer Management"/>
     <view
           class="org.csstudio.sds.ui.internal.connectionview.ConnectionView"
           id="org.csstudio.sds.ui.ConnectionView"
           name="Connections"
           restorable="true">
     </view>
     <view
           category="org.csstudio.sds.ui.viewCategory"
           class="org.csstudio.sds.ui.sdslibrary.views.SdsLibraryView"
           icon="icons/sample.gif"
           id="org.csstudio.sds.ui.sdslibrary.views.SdsLibraryView"
           name="SDS Library">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.csstudio.sds.ui.internal.workbench.DisplayDevelopmentPerspective"
           icon="icons/sds.gif"
           id="org.csstudio.sds.ui.internal.workbench.SynopticDisplayStudioPerspective"
           name="Display Development"/>
     <perspective
           class="org.csstudio.sds.ui.internal.workbench.DisplayTestingPerspective"
           icon="icons/connectionStat.png"
           id="org.csstudio.sds.ui.internal.workbench.DisplayTestingPerspective"
           name="Display Testing"/>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.eclipse.ui.edit.delete"
           schemeId="org.csstudio.sds.ui.acceleratorScheme"
           sequence="DEL"/>
     <key
           commandId="org.csstudio.sds.ui.displayRunAsShell"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+R">
     </key>
     <key
           commandId="org.csstudio.sds.ui.displayRunAsView"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+F11">
     </key>
     <scheme
           description="Synoptic Display Studio Accelerators"
           id="org.csstudio.sds.ui.acceleratorScheme"
           name="Synoptic Display Studio Accelerators"/>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.csstudio.sds.ui.newWizard.display"
           name="Display"/>
     <wizard
           canFinishEarly="false"
           category="org.csstudio.sds.ui.newWizard.display/"
           class="org.csstudio.sds.ui.wizards.NewDisplayWizard"
           hasPages="true"
           icon="icons/sds.gif"
           id="org.csstudio.sds.ui.internal.wizards.NewDisplayWizard"
           name="Synoptic Display"/>
     <wizard
           canFinishEarly="false"
           category="org.csstudio.sds.ui.newWizard.display/"
           class="org.csstudio.sds.ui.wizards.NewScriptRuleWizard"
           hasPages="true"
           icon="icons/rule_script.gif"
           id="org.csstudio.sds.ui.wizards.NewScriptRuleWizard"
           name="Scripted Rule">
     </wizard>
     <wizard
           canFinishEarly="false"
           category="org.csstudio.sds.ui.newWizard.display/"
           class="org.csstudio.sds.ui.wizards.NewScriptWizard"
           hasPages="true"
           icon="icons/rule_script.gif"
           id="org.csstudio.sds.ui.wizards.NewScriptWizard"
           name="SDS Script">
     </wizard>
     <primaryWizard
           id="org.csstudio.sds.ui.internal.wizards.NewDisplayWizard">
     </primaryWizard>
  </extension>
  <extension
        point="org.csstudio.sds.ui.propertyDescriptorFactories">
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.BooleanPropertyDescriptorFactory"
           typeId="sds.boolean"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.IntegerPropertyDescriptorFactory"
           typeId="sds.integer"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ColorPropertyDescriptorFactory"
           typeId="sds.color"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.FontPropertyDescriptorFactory"
           typeId="sds.font"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.StringPropertyDescriptorFactory"
           typeId="sds.string"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.DoublePropertyDescriptorFactory"
           typeId="sds.double"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.PointlistPropertyDescriptorFactory"
           typeId="sds.pointlist"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ArrayOptionPropertyDescriptorFactory"
           typeId="sds.option"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.DoubleArrayPropertyDescriptorFactory"
           typeId="sds.doublearray"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.StringMapPropertyDescriptorFactory"
           typeId="sds.map"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ResourcePropertyDescriptorFactory"
           typeId="sds.path"/>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ProcessVariablePropertyDescriptorFactory"
           typeId="sds.pv">
     </propertyDescriptorFactory>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ActionDataPropertyDescriptorFactory"
           typeId="sds.action">
     </propertyDescriptorFactory>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.ParamStringPropertyDescriptorFactory"
           typeId="sds.paramstring">
     </propertyDescriptorFactory>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.OptionPropertyDescriptorFactory"
           typeId="sds.choiceoption">
     </propertyDescriptorFactory>
     <propertyDescriptorFactory
           class="org.csstudio.sds.ui.internal.properties.descriptorfactories.StringPropertyDescriptorFactory"
           typeId="sds.behavior">
     </propertyDescriptorFactory>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.csstudio.sds.model.AbstractWidgetModel"
           class="org.csstudio.sds.ui.internal.adapters.WidgetModelAdapterFactory">
        <adapter type="org.csstudio.sds.ui.internal.properties.view.IPropertySource"/>
     </factory>
     <factory
           adaptableType="org.csstudio.sds.internal.rules.RuleDescriptor"
           class="org.csstudio.sds.ui.internal.adapters.RuleDescriptorAdapterFactory">
        <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
           adaptableType="org.csstudio.sds.model.DisplayModel"
           class="org.csstudio.sds.ui.internal.adapters.DisplayModelAdapterFactory">
        <adapter type="org.csstudio.sds.ui.internal.properties.view.IPropertySource"/>
     </factory>
     <factory
           adaptableType="org.csstudio.sds.model.AbstractWidgetModel"
           class="org.csstudio.sds.ui.internal.adapters.SdsActivationAdapterFactory">
        <adapter type="org.csstudio.auth.security.IActivationAdapter"/>
     </factory>
     <factory
           adaptableType="org.csstudio.sds.internal.model.Layer"
           class="org.csstudio.sds.ui.internal.layers.LayerAdapterFactory">
        <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
     </factory>
     <factory
           adaptableType="org.csstudio.sds.model.properties.actions.AbstractWidgetActionModel"
           class="org.csstudio.sds.ui.internal.adapters.WidgetActionAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.SchemaPreferencePage"
           id="org.csstudio.sds.model.schemaPreferences"
           name="%schemaPreferenceName"/>
     <page
           class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
           id="org.eclipse.ui.preferencePages.Keys"
           name="%PreferencePages.KeyboardShortcuts"/>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.DisplayOptionsPreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.DisplayOptionsPreferencePage"
           name="Display Options"/>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.DefaultDisplayPreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.DefaultDisplayPreferencePage"
           name="Default Display">
     </page>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.WidgetOptionPreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.WidgetOptionsPreferencePage"
           name="Widget Options">
     </page>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.MouseCursorPreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.MouseCursorPreferencePage"
           name="Mouse Cursors">
        <keywordReference
              id="org.csstudio.sds.ui.keyword.pointer">
        </keywordReference>
     </page>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.preferences.RuleFoldersPreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.RuleFoldersPreferencePage"
           name="Rule Folders">
     </page>
     <page
           category="org.csstudio.sds.ui.internal.preferences.RuleFoldersPreferencePage"
           class="org.csstudio.sds.ui.internal.preferences.MaintenanceRulePreferencePage"
           id="org.csstudio.sds.ui.internal.preferences.MaintenanceRulePreference"
           name="Maintenance Rule ">
     </page>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.sdslibrary.preferences.LibraryFolderPreferencePage"
           id="org.csstudio.sds.ui.sdslibrary.preferences.LibraryFoldersPreferencePage"
           name="SDS Library Folders">
     </page>
     <page
           category="org.csstudio.platform.ui.css.applications.display"
           class="org.csstudio.sds.ui.internal.pvlistview.preferences.PvSearchFolderPreferencePage"
           id="org.csstudio.sds.ui.internal.pvlistview.preferences.PvSearchFolderPreferencePage"
           name="Process Variable Search Folders">
     </page>
  </extension>
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.sds.ui.opendisplay.command"
               icon="icons/run.gif"
               label="Open in Display"
               style="push"
               tooltip="Open in default display">
         </command>
      </menuContribution>
      </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="RunModeActions"
           nameFilter="*.css-sds"
           objectClass="org.eclipse.core.resources.IResource">
<!--
        <action
              class="org.csstudio.sds.ui.internal.runmode.OpenAsViewAction"
              icon="icons/run.gif"
              id="org.csstudio.sds.ui.internal.parts.OpenRunModeAsViewAction"
              label="Run As View"/>
-->
        <action
              class="org.csstudio.sds.ui.internal.runmode.OpenAsShellAction"
              icon="icons/run.gif"
              id="org.csstudio.sds.ui.internal.parts.OpenRunModeAsShellAction2"
              label="Run As Shell"/>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="org.csstudio.sds.ui.internal.editor.DisplayEditor.Contribution"
           targetID="org.csstudio.sds.ui.internal.editor.DisplayEditor">
     </editorContribution>
  </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="RunModeViewContribution"
           targetID="org.csstudio.sds.ui.internal.runmode.DisplayViewPart">
        <action
              class="org.csstudio.sds.ui.internal.runmode.ZoomInActionDelegate"
              icon="icons/zoom_in.png"
              id="org.csstudio.sds.ui.internal.runmode.ZoomInActionDelegate"
              label="Zoom In"
              style="push"
              toolbarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.runmode.ZoomOutActionDelegate"
              icon="icons/zoom_out.png"
              id="org.csstudio.sds.ui.internal.runmode.ZoomOutActionDelegate"
              label="Zoom Out"
              style="push"
              toolbarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.runmode.ChangeLayerVisibilityActionDelegate"
              icon="icons/layer_view.gif"
              id="org.csstudio.sds.ui.internal.runmode.ChangeLayerVisibilityActionDelegate"
              label="Layer Visibility..."
              toolbarPath="additions">
        </action>
     </viewContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           description="OpenDefaultDisplay"
           defaultHandler="org.csstudio.sds.ui.internal.actions.OpenPvInDefaultDisplayAction"
           id="org.csstudio.sds.ui.opendisplay.command"
           name="OpenDefaultDisplay"/>
     <command
           categoryId="org.eclipse.ui.category.edit"
           description="Copy Widgets"
           id="org.csstudio.sds.ui.copyWidgets"
           name="Copy"/>
     <command
           categoryId="org.eclipse.ui.category.edit"
           description="Paste Widgets"
           id="org.csstudio.sds.ui.pasteWidgets"
           name="Paste"/>
     <command
           defaultHandler="org.csstudio.sds.ui.internal.actions.RunAsShellHandler"
           id="org.csstudio.sds.ui.displayRunAsShell"
           name="RunAsShell">
     </command>
     <command
           defaultHandler="org.csstudio.sds.ui.internal.actions.RunAsShellHandler"
           id="org.csstudio.sds.ui.displayRunAsView"
           name="RunAsView">
     </command>
     <command
           defaultHandler="org.csstudio.sds.ui.internal.actions.MoveWidgetHandler"
           id="org.csstudio.sds.ui.moveWidgetCommand"
           name="Move Widget">
     </command>
     <category
           id="org.csstudio.sds.ui.editorCategory"
           name="SDS Editor Category">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <scheme
           description="SDS Accelerators"
           id="org.csstudio.sds.ui.acceleratorScheme"
           name="SDS Accelerators"/>
  </extension>
  <extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.close"
            sequence="M1+W"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.file.closeAll"
            sequence="M1+M2+W"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.file.closeAll"
            sequence="M1+M2+F4"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.file.save"
            sequence="M1+S"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.file.saveAll"
            sequence="M1+M2+S"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.undo"
            sequence="M1+Z"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.redo"
            sequence="M1+Y"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+X"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+C"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+V"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="de.smartpls.platform.ui.acceleratorScheme"
            sequence="M1+A" />
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M2+DEL"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+INSERT"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M2+INSERT"
            schemeId="de.smartpls.platform.ui.acceleratorScheme" />
      <key
            commandId="org.csstudio.sds.ui.moveWidgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_LEFT">
      </key>
      <key
            commandId="org.csstudio.sds.ui.moveWidgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_UP">
      </key>
      <key
            commandId="org.csstudio.sds.ui.moveWidgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_DOWN">
      </key>
      <key
            commandId="org.csstudio.sds.ui.moveWidgetCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ARROW_RIGHT">
      </key>
   </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <viewerContribution
           id="LayerViewActionContribution"
           targetID="org.csstudio.sds.ui.internal.layers.LayerManagementView">
        <action
              class="org.csstudio.sds.ui.internal.layers.AddLayerAction"
              icon="icons/change_layer.gif"
              id="org.csstudio.sds.ui.internal.layers.AddLayerAction"
              label="Add Layer"
              menubarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.layers.RemoveLayerAction"
              enablesFor="1"
              icon="icons/remove_layer.gif"
              id="org.csstudio.sds.ui.internal.layers.RemoveLayerAction"
              label="Remove Layer"
              menubarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.layers.MoveLayerUpAction"
              icon="icons/layer_up.gif"
              id="org.csstudio.sds.ui.internal.layers.MoveLayerUpAction"
              label="Move Layer Up"
              menubarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.layers.MoveLayerDownAction"
              icon="icons/layer_down.gif"
              id="org.csstudio.sds.ui.internal.layers.MoveLayerDownAction"
              label="Move Layer Down"
              menubarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.layers.ToggleLayerVisibilityAction"
              icon="icons/layer_visible.png"
              id="org.csstudio.sds.ui.internal.layers.ToggleLayerVisibilityAction"
              label="Toggle Visiblity"
              menubarPath="additions"/>
        <action
              class="org.csstudio.sds.ui.internal.layers.RenameLayerAction"
              id="org.csstudio.sds.ui.RenameLayerAction"
              label="Rename"
              menubarPath="additions">
        </action>
     </viewerContribution>
  </extension>
    <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.csstudio.sds.ui.internal.editor.DisplayEditor?before=additions">
        <menu
              id="LayerMenu"
              label="Layers">
           <dynamic
                 class="org.csstudio.sds.ui.internal.editor.LayerCompoundContributionItem"
                 id="org.csstudio.sds.ui.LayerMenu">
           </dynamic>
           <visibleWhen>
              <and>
                 <count
                       value="+">
                 </count>
                 <not>
                    <instanceof
                          value="org.csstudio.sds.ui.internal.editparts.DisplayEditPart">
                    </instanceof>
                 </not>
              </and>
           </visibleWhen>
        </menu>
     </menuContribution>
  </extension>
    <extension
          point="org.csstudio.sds.ui.widgetEditParts">
       <widgetEditPart
             class="org.csstudio.sds.ui.editparts.LinkingContainerEditPart"
             typeId="org.csstudio.sds.components.LinkingContainer">
       </widgetEditPart>
       <widgetEditPart
             class="org.csstudio.sds.ui.editparts.GroupingContainerEditPart"
             typeId="org.csstudio.sds.components.GroupingContainer">
       </widgetEditPart>
    </extension>
    <extension
          point="org.eclipse.help.toc">
       <toc
             file="toc.xml"
             primary="true">
       </toc>
    </extension>
    <extension
          point="org.eclipse.help.contexts">
       <contexts
             file="contexts.xml"
             plugin="org.csstudio.sds.ui">
       </contexts>
    </extension>
<!--    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="false"
             id="Contribs.OpenDefaultDisplayAction"
             objectClass="org.csstudio.platform.model.IProcessVariable">
          <menu
                id="org.csstudio.popmenu"
                label="CSS"
                path="additions">
             <groupMarker
                   name="content">
             </groupMarker>
             <separator
                   name="additions">
             </separator>
          </menu>
          <action
                class="org.csstudio.sds.ui.internal.actions.OpenPvInDefaultDisplayAction"
                icon="icons/run.gif"
                id="org.csstudio.sds.ui.OpenPvInDefaultDisplayAction"
                label="Open in display"
                menubarPath="org.csstudio.popmenu/content"
                tooltip="Open this process variable in the default display">
          </action>
       </objectContribution>
    </extension>
    -->
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="org.csstudio.sds.ui.keyword.pointer"
             label="pointer">
       </keyword>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective">
          <perspectiveShortcut
                id="org.csstudio.sds.ui.internal.workbench.SynopticDisplayStudioPerspective">
          </perspectiveShortcut>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.csstudio.sds.ui.internal.workbench.SynopticDisplayStudioPerspective">
          <viewShortcut
                id="org.csstudio.sds.ui.internal.properties.view.PropertySheet">
          </viewShortcut>
          <viewShortcut
                id="org.csstudio.sds.ui.internal.layers.LayerManagementView">
          </viewShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.csstudio.sds.ui.internal.editor.DisplayEditor"
             labelProvider="org.csstudio.sds.ui.internal.editor.newproperties.PropertyContributorLabelProvider"
             tabDescriptorProvider="org.csstudio.sds.ui.internal.editor.newproperties.TabDescriptorProvider">
          <propertyCategory
                category="default">
          </propertyCategory>
       </propertyContributor>
    </extension>
    <extension
          point="org.eclipse.ui.contexts">
       <context
             id="org.csstudio.sds.ui.sdsEditor"
             name="SDS Editor Context"
             parentId="org.eclipse.ui.contexts.window">
       </context>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="org.csstudio.sds.ui.internal.refactoringparticipants.SdsFileRenameParticipant"
             id="org.csstudio.sds.ui.SdsFileRenameParticipant"
             name="SDS File Rename">
          <enablement>
             <instanceof
                   value="org.eclipse.core.resources.IFile">
             </instanceof>
          </enablement>
       </renameParticipant>
    </extension>
    <extension
          point="org.eclipse.ltk.core.refactoring.deleteParticipants">
       <deleteParticipant
             class="org.csstudio.sds.ui.internal.refactoringparticipants.SdsFileDeleteParticipant"
             id="org.csstudio.sds.ui.SDSFileDeleteParticipant"
             name="SDS FIle Delete">
          <enablement></enablement>
       </deleteParticipant>
    </extension>
       <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sds.ui.editparts.AbstractBaseEditPart"
            class="org.csstudio.sds.ui.editparts.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.sds.ui.pvsearchviewpopup"
               icon="icons/zoom_in.png"
               label="Search for PV in displays"
               style="push"
               tooltip="Search for this Process Variable in other displays">
         </command>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.sds.ui.showpvsearchview"
               icon="icons/zoom_in.png"
               label="PV Search"
               style="push"
               tooltip="Search for PV in displays">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.sds.ui.internal.pvlistview.OpenPvInSearchViewAction"
            id="org.csstudio.sds.ui.pvsearchviewpopup"
            name="SearchCommand">
      </command>
      <command
            defaultHandler="org.csstudio.sds.ui.internal.pvlistview.ShowPvSearchView"
            id="org.csstudio.sds.ui.showpvsearchview"
            name="PV Search View">
      </command>
   </extension>
</plugin>
