<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.websuite.management.Stop"
            id="org.csstudio.webviewer.management.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.websuite.management.Restart"
            id="org.csstudio.webviewer.management.Restart"
            label="Restart">
      </command>
      <command
            class="org.csstudio.websuite.management.MessageCounter"
            id="org.csstudio.webviewer.management.GetMessageCount"
            label="Count Messages">
      </command>
      <command
            class="org.csstudio.websuite.management.MessageDeleter"
            id="org.csstudio.webviewer.management.DeleteAllMessages"
            label="Delete all messages">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.websuite.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="WebsuiteApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.websuite.WebSuiteApplication">
         </run>
      </application>
   </extension>


</plugin>
