<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="SNL Details View"
            icon="icons/inspect.png"
            class="de.desy.language.editor.details.views.DetailsView"
            id="de.desy.language.editor.details.views.DetailsView">
      </view>
   </extension>

</plugin>
