<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            category="org.csstudio"
            class="org.csstudio.ams.monitor.views.AMSMonitorView"
            icon="icons/ams.gif"
            id="org.csstudio.ams.monitor.views.AMSMonitorView"
            name="AMS Monitor"/>
   </extension>
   <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.ams.monitor.ShowPluginAction"
            id="org.csstudio.ams.monitor.showamsmonitor"
            name="AMS Monitor">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.ams.monitor.showamsmonitor"
               icon="icons/ams.gif"
               label="AMS Monitor"
               style="push"
               tooltip="AMS Monitor">
         </command>
      </menuContribution>
     </extension>
</plugin>
