<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run 
            class="org.csstudio.utility.ldapupdater.LdapUpdaterServer">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.utility.ldapupdater.application"
            name="DesyLdapUpdater">
         <property
               name="appName"
               value="DesyLdapUpdater">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.utility.ldapupdater.action.ShutdownLdapUpdaterAction"
            id="org.csstudio.utility.ldapupdater.action.ShutdownLdapUpdaterAction"
            label="Stop LDAP Updater Service">
      </command>
      <command
            class="org.csstudio.utility.ldapupdater.action.UpdateLdapAction"
            id="org.csstudio.utility.ldapupdater.action.UpdateLdapAction"
            label="Start LDAP Update">
      </command>
      <command
      		class="org.csstudio.utility.ldapupdater.contextMenu.IocManagement"
      		id="org.csstudio.utility.ldapupdater.action.IocManagement"
      		label="Modify IOC">
        <dynamicEnumerationParameter
               class="org.csstudio.utility.ldapupdater.contextMenu.IocEnumeration"
               id="ioc"
               label="IOC">
        </dynamicEnumerationParameter>
        <dynamicEnumerationParameter
               class="org.csstudio.utility.ldapupdater.contextMenu.CommandEnumeration"
               id="command"
               label="Command">
        </dynamicEnumerationParameter>
      </command>
      <!--command
            class="org.csstudio.utility.ldapupdater.action.TidyUpLdapAction"
            id="org.csstudio.utility.ldapupdater.action.TidyUpLdapAction"
            label="Tidy up LDAP">
      </command-->      
    </extension>

</plugin>
