<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:css?after=test">
         <dynamic
           class="org.csstudio.ui.menu.web.WebMenu"
           id="org.csstudio.ui.menu.web">
         </dynamic>
      </menuContribution>
   </extension>
</plugin>
