<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.desy.language.snl.ui.editor.SNLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="st, stt"
            icon="icons/nodes/program.gif"
            id="de.desy.language.snl.ui.SNLEditor"
            name="SNL Source Editor">
         <contentTypeBinding
               contentTypeId="de.desy.language.snl.source">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/snl_pni.gif"
            id="de.desy.language.snl.nature.SNLNature.projectNatureImage"
            natureId="de.desy.language.snl.nature.SNLNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="de.desy.language.snl.source"
            file-extensions="st, stt">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.desy.language.snl.ui.newProjectWizards"
            name="%newProjectCategory_name">
      </category>
      <wizard
            category="de.desy.language.snl.ui.newProjectWizards"
            class="de.desy.language.snl.ui.wizards.NewSNLProjectWizard"
            icon="icons/new_snl_project_wizard.gif"
            id="de.desy.language.snl.ui.wizards.NewSNLProjectWizard"
            name="%newSNLProjectCategory_name"
            project="true">
      </wizard>
      <category
            id="de.desy.language.snl.ui.newSNLWizards"
            name="%newFileCategory_name">
      </category>
      <wizard
            category="de.desy.language.snl.ui.newSNLWizards"
            class="de.desy.language.snl.ui.wizards.SNLFileWizard"
            icon="icons/new_snl_file_wizard.gif"
            id="de.desy.language.snl.ui.wizards.SNLFileWizard"
            name="%newSNLFileCategory_name">
      </wizard>
      <primaryWizard
            id="de.desy.language.snl.ui.wizards.NewSNLProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLHighlightingPreferencePage"
            id="de.desy.language.snl.ui.SNLColorPreferencePage"
            name="Highlighting colors and fonts">
      </page>
      <page
            category="de.desy.language.editor.ui.GlobalSettings"
            class="de.desy.language.snl.ui.preferences.SNLPreferencePage"
            id="de.desy.language.snl.ui.SNLPage"
            name="SNL development">
      </page>
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLCompilerPreferencePage"
            id="de.desy.language.snl.ui.SNLPage.compilerOptions"
            name="Compiler options">
      </page>
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLEPICSPreferencePage"
            id="de.desy.language.snl.ui.SNLPage.epicsOptions"
            name="EPICS options">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.desy.language.snl.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.desy.language.editor.core.parser.Node"
            class="de.desy.language.snl.ui.adapter.SNLNodeAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.desy.language.snl.ui.Perspective"
            icon="icons/new_snl_file_wizard.gif"
            id="de.desy.language.snl.ui.SNLDEvelopment"
            name="SNL Development">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="de.desy.language.snl.ui.editor.RefreshHandler"
            id="de.desy.language.snl.ui.editor.refresh"
            name="Refresh Highlighting">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="de.desy.language.snl.ui.editor.CompileCommandHandler"
            id="de.desy.language.snl.ui.CompileST"
            name="Compile">
      </command>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.desy.language.snl.ui.SNLDEvelopment">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="de.desy.language.editor.details.views.DetailsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?before=preferences">
         <command
               commandId="de.desy.language.snl.ui.editor.refresh"
               icon="icons/nav_refresh.gif"
               label="SNL Refresh Highlighting"
               mnemonic="R"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="de.desy.language.snl.ui.activeEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:edit?before=preferences">
         <command
               commandId="de.desy.language.snl.ui.CompileST"
               icon="icons/compileST.gif"
               label="Compile"
               mnemonic="C"
               style="push"
               tooltip="Compile the *.st files">
               <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="de.desy.language.snl.ui.activeEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.desy.language.snl.ui.activeEditor">
        <with
               variable="activeEditorId">
            <equals
                  value="de.desy.language.snl.ui.SNLEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.desy.language.snl.ui.CompileST"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+G">
      </key>
   </extension>
</plugin>
