<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.desy.language.snl.ui.editor.SNLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            icon="icons/nodes/program.gif"
            id="de.desy.language.snl.ui.SNLEditor"
            name="SNL source editor">
         <contentTypeBinding
               contentTypeId="de.desy.language.snl.source">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/snl_pni.gif"
            id="de.desy.language.snl.nature.SNLNature.projectNatureImage"
            natureId="de.desy.language.snl.nature.SNLNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="de.desy.language.snl.source"
            file-extensions="st, stt">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.desy.language.snl.ui.newProjectWizards"
            name="%newProjectCategory_name">
      </category>
      <wizard
            category="de.desy.language.snl.ui.newProjectWizards"
            class="de.desy.language.snl.ui.wizards.NewSNLProjectWizard"
            icon="icons/new_snl_project_wizard.gif"
            id="de.desy.language.snl.ui.wizards.NewSNLProjectWizard"
            name="%newSNLProjectCategory_name"
            project="true">
      </wizard>
      <category
            id="de.desy.language.snl.ui.newSNLWizards"
            name="%newFileCategory_name">
      </category>
      <wizard
            category="de.desy.language.snl.ui.newSNLWizards"
            class="de.desy.language.snl.ui.wizards.SNLFileWizard"
            icon="icons/new_snl_file_wizard.gif"
            id="de.desy.language.snl.ui.wizards.SNLFileWizard"
            name="%newSNLFileCategory_name">
      </wizard>
      <primaryWizard
            id="de.desy.language.snl.ui.wizards.NewSNLProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLHighlightingPreferencePage"
            id="de.desy.language.snl.ui.SNLColorPreferencePage"
            name="Highlighting colors and fonts">
      </page>
      <page
            category="de.desy.language.editor.ui.GlobalSettings"
            class="de.desy.language.snl.ui.preferences.SNLPreferencePage"
            id="de.desy.language.snl.ui.SNLPage"
            name="SNL development">
      </page>
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLCompilerPreferencePage"
            id="de.desy.language.snl.ui.SNLPage.compilerOptions"
            name="Compiler options">
      </page>
      <page
            category="de.desy.language.snl.ui.SNLPage"
            class="de.desy.language.snl.ui.preferences.SNLEPICSPreferencePage"
            id="de.desy.language.snl.ui.SNLPage.epicsOptions"
            name="EPICS options">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.desy.language.snl.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.desy.language.editor.core.parser.Node"
            class="de.desy.language.snl.ui.adapter.SNLNodeAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="de.desy.language.snl.ui.SNLEditorContribution"
            targetID="de.desy.language.snl.ui.SNLEditor">
         <action
               class="de.desy.language.snl.ui.editor.RefreshAction"
               icon="icons/nav_refresh.gif"
               id="de.desy.language.snl.ui.RefreshAction"
               label="&amp;Refresh Highlighting"
               menubarPath="edit/additions"
               style="push"
               toolbarPath="edit/additions">
         </action>
         <action
               class="de.desy.language.snl.ui.editor.CompileAction"
               definitionId="de.desy.language.snl.ui.CompileST"
               icon="icons/compileST.gif"
               id="de.desy.language.snl.ui.CompileAction"
               label="&amp;Compile"
               menubarPath="edit/additions"
               style="push"
               toolbarPath="edit/additions"
               tooltip="Compiles the .st file">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.desy.language.snl.ui.Perspective"
            icon="icons/new_snl_file_wizard.gif"
            id="de.desy.language.snl.ui.SNLDEvelopment"
            name="SNL Development">
      </perspective>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="de.desy.language.snl.ui.editor.CompileCommandHandler"
            id="de.desy.language.snl.ui.CompileST"
            name="Compile *.st">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.desy.language.snl.ui.CompileST"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G">
      </key>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.desy.language.snl.ui.AbstractSNLNode"
            objectClass="de.desy.language.snl.parser.nodes.AbstractSNLNode">
         <action
               class="de.desy.language.snl.ui.editor.OpenSNLEditorAction"
               icon="icons/nodes/program.gif"
               id="de.desy.language.snl.ui.OpenSNLEditor"
               label="Open SNL Editor">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
