<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        point="org.csstudio.sds.ui.widgetEditParts">
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.RectangleEditPart"
           typeId="org.csstudio.sds.components.Rectangle"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.EllipseEditPart"
           typeId="org.csstudio.sds.components.Ellipse"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.PolygonEditPart"
           typeId="org.csstudio.sds.components.Polygon"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.PolylineEditPart"
           typeId="org.csstudio.sds.components.Polyline"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.TextInputEditPart"
           typeId="org.csstudio.sds.components.Textinput"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.SimpleSliderEditPart"
           typeId="org.csstudio.sds.components.SimpleSlider"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.AdvancedSliderEditPart"
           typeId="org.csstudio.sds.components.AdvancedSlider"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.WaveformEditPart"
           typeId="org.csstudio.sds.components.Waveform"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.BargraphEditPart"
           typeId="org.csstudio.sds.components.Bargraph"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ActionButtonEditPart"
           typeId="org.csstudio.sds.components.ActionButton"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.TimerEditPart"
           typeId="org.csstudio.sds.components.Timer">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.StripChartEditPart"
           typeId="org.csstudio.sds.components.StripChart">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.SixteenBinaryBarEditPart"
           typeId="org.csstudio.sds.components.SixteenBinaryBar">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ThumbWheelEditPart"
           typeId="org.csstudio.sds.components.ThumbWheel">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ThermometerEditPart"
           typeId="org.csstudio.sds.components.Thermometer">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.TankEditPart"
           typeId="org.csstudio.sds.components.Tank">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ScaledSliderEditPart"
           typeId="org.csstudio.sds.components.ScaledSlider">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.GaugeEditPart"
           typeId="org.csstudio.sds.components.Gauge">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.XMeterEditPart"
           typeId="org.csstudio.sds.components.XMeter">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.KnobEditPart"
           typeId="org.csstudio.sds.components.Knob">
     </widgetEditPart>
  </extension>
  <extension
        point="org.csstudio.sds.ui.widgetEditParts">
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.LabelEditPart"
           typeId="org.csstudio.sds.components.Label">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ArcEditPart"
           typeId="org.csstudio.sds.components.Arc">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.ImageEditPart"
           typeId="org.csstudio.sds.components.Image">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.SwitchEditPart"
           typeId="org.csstudio.sds.components.Switch">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.MeterEditPart"
           typeId="org.csstudio.sds.components.Meter">
     </widgetEditPart>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.MenuButtonEditPart"
           typeId="org.csstudio.sds.components.MenuButton">
     </widgetEditPart>
  </extension>
  <extension
        point="org.csstudio.sds.ui.widgetEditParts">
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.BooleanSwitchEditPart"
           typeId="org.csstudio.sds.components.BooleanSwitch">
     </widgetEditPart>
  </extension>
  <extension
        point="org.csstudio.sds.ui.graphicalFeedbackFactories">
     <graphicalFeedbackFactory
           class="org.csstudio.sds.components.ui.internal.feedback.PolygonFeedbackFactory"
           typeId="org.csstudio.sds.components.Polygon"/>
     <graphicalFeedbackFactory
           class="org.csstudio.sds.components.ui.internal.feedback.PolyLineFeedbackFactory"
           typeId="org.csstudio.sds.components.Polyline"/>
  </extension>
  
   <extension
         point="org.csstudio.sds.components.Switch">
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Lasttrennschalter"
            Name="Lasttrennschalter"
            SwitchID="org.csstudio.sds.components.Switch.lasttrennschalter">
      </Switch>
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Erdtrenner"
            Name="Erdtrenner"
            SwitchID="org.csstudio.sds.components.Switch.erdtrenner">
      </Switch>
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Leistungsschalter"
            Name="Leistungsschalter"
            SwitchID="org.csstudio.sds.components.Switch.leistungsschalter">
      </Switch>
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Leistungstrennschalter"
            Name="Leistungstrennschalter"
            SwitchID="org.csstudio.sds.components.Switch.leistungstrennschalter">
      </Switch>
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Schaltertrennstelle"
            Name="Schaltertrennstelle"
            SwitchID="org.csstudio.sds.components.Switch.schaltertrennstelle">
      </Switch>
      <Switch
            Class="org.csstudio.sds.components.ui.internal.switchtypes.Trennschalter"
            Name="Trennschalter"
            SwitchID="org.csstudio.sds.components.Switch.trennschalter">
      </Switch>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      	    adaptable="false"
            id="org.csstudio.sds.components.ui.SimpleSliderIncrementContribution"
            objectClass="org.csstudio.sds.components.ui.internal.editparts.SimpleSliderEditPart">
         <action
               class="org.csstudio.sds.components.ui.internal.actions.SimpleSliderIncrementAction"
               id="org.csstudio.sds.components.ui.SimpleSliderIncrementAction"
               label="Configure Increment...">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sds.components.ui.internal.editparts.AdvancedSliderEditPart"
            class="org.csstudio.sds.components.ui.AdapterFactory">
         <adapter
               type="org.csstudio.sds.model.ProcessVariableWithSamples">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sds.components.ui.internal.editparts.MenuButtonEditPart"
            class="org.csstudio.sds.components.ui.AdapterFactory">
         <adapter
               type="org.csstudio.sds.model.ProcessVariableWithSamples">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sds.components.ui.internal.editparts.TextInputEditPart"
            class="org.csstudio.sds.components.ui.AdapterFactory">
         <adapter
               type="org.csstudio.sds.model.ProcessVariableWithSamples">
         </adapter>
      </factory>
   </extension>
</plugin>
