<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"

         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.diag.interconnectionServer.HeadlessRunnable"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.diag.interconnectionServer.application"
            name="product"/>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.diag.interconnectionServer.LoginCallbackHandler1"
            id="org.csstudio.diag.interconnectionServer.loginHandler1"
            name="org.csstudio.diag.interconnectionServer.loginHandler1"/>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <parametrizedAction
            class="org.csstudio.diag.interconnectionServer.SampleAction"
            id="org.csstudio.diag.interconnectionServer.sampleAction"
            name="Sample Action"
            parameters="param1,param2"/>
   </extension>

</plugin>
