<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"

         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.diag.interconnectionServer.InterconnectionServerApplication"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.diag.interconnectionServer.application"
            name="Interconnection Server">
         <property
               name="appName"
               value="Interconnection Server">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.interconnectionServer.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.GetListOfIocs"
            id="org.csstudio.diag.interconnectionServer.management.GetListOfIocs"
            label="Get List of IOCs">
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.SendCommandToIoc"
            id="org.csstudio.diag.interconnectionServer.management.SendCommandToIoc"
            label="Send Command to IOC">
         <dynamicEnumerationParameter
               class="org.csstudio.diag.interconnectionServer.internal.management.IocEnumeration"
               id="ioc"
               label="IOC">
         </dynamicEnumerationParameter>
         <enumerationParameter
               id="command"
               label="Command">
            <enumerationValue
                  label="Take Over"
                  value="takeOver">
            </enumerationValue>
            <enumerationValue
                  label="Disconnect"
                  value="disconnect">
            </enumerationValue>
            <enumerationValue
                  label="Send Alarm"
                  value="sendAlarm">
            </enumerationValue>
            <enumerationValue
                  label="Send All Alarms"
                  value="sendAllAlarms">
            </enumerationValue>
            <enumerationValue
                  label="Send Status"
                  value="sendStatus">
            </enumerationValue>
            <enumerationValue
                  label="Send all Records in SIM"
                  value="sendSim">
            </enumerationValue>
            <enumerationValue
                  label="Send all Records in ADIS"
                  value="sendAdis">
            </enumerationValue>
         </enumerationParameter>
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.ScheduleDowntime"
            id="org.csstudio.diag.interconnectionServer.management.ScheduleDowntime"
            label="Schedule IOC Downtime">
         <dynamicEnumerationParameter
               class="org.csstudio.diag.interconnectionServer.internal.management.IocEnumeration"
               id="ioc"
               label="IOC">
         </dynamicEnumerationParameter>
         <integerParameter
               id="duration"
               label="Duration (seconds)"
               minimum="60">
         </integerParameter>
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.StopIcServer"
            id="org.csstudio.diag.interconnectionServer.management.StopServer"
            label="Stop Server">
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.RestartIcServer"
            id="org.csstudio.diag.interconnectionServer.management.RestartServer"
            label="Restart Server">
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.StartStopAlarmSimulator"
            id="org.csstudio.diag.interconnectionServer.management.StartStopAlarmSimulator"
            label="Start/Stop Alarm Simulator">
         <enumerationParameter
               id="action"
               label="Action">
            <enumerationValue
                  label="Start"
                  value="START">
            </enumerationValue>
            <enumerationValue
                  label="Stop"
                  value="STOP">
            </enumerationValue>
         </enumerationParameter>
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.GetIocStatistics"
            id="org.csstudio.diag.interconnectionServer.management.GetStatisticInformation"
            label="Get IOC Statistics">
      </command>
      <command
            class="org.csstudio.diag.interconnectionServer.internal.management.EnableDisableIoc"
            id="org.csstudio.diag.interconnectionServer.management.DisableIoc"
            label="Enable/Disable IOC">
         <dynamicEnumerationParameter
               class="org.csstudio.diag.interconnectionServer.internal.management.IocEnumeration"
               id="ioc"
               label="IOC">
         </dynamicEnumerationParameter>
         <enumerationParameter
               id="action"
               label="Action">
            <enumerationValue
                  label="Enable"
                  value="enable">
            </enumerationValue>
            <enumerationValue
                  label="Disable (all messages from the IOC will be ignored)"
                  value="disable">
            </enumerationValue>
         </enumerationParameter>
      </command>
   </extension>

</plugin>
