<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"

         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.diag.interconnectionServer.HeadlessRunnable"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.diag.interconnectionServer.application"
            name="product">
         <property
               name="appName"
               value="product">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.diag.interconnectionServer.LoginCallbackHandler1"
            id="org.csstudio.diag.interconnectionServer.loginHandler1"
            name="org.csstudio.diag.interconnectionServer.loginHandler1"/>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <parametrizedAction
            class="org.csstudio.diag.interconnectionServer.SampleAction"
            id="org.csstudio.diag.interconnectionServer.sampleAction"
            name="Sample Action"
            parameters="param1,param2"/>
      <simpleAction
            class="org.csstudio.diag.interconnectionServer.GetListOfClients"
            id="org.csstudio.diag.interconnectionServer.getListOfClients"
            name="Get List Of Clients"/>
      <simpleAction
            class="org.csstudio.diag.interconnectionServer.GetStatisticInformation"
            id="org.csstudio.diag.interconnectionServer.getStatisticInformation"
            name="GetStatisticInformation"/>
      <parametrizedAction
            class="org.csstudio.diag.interconnectionServer.ExecuteRemoteCommand"
            id="org.csstudio.diag.interconnectionServer.executeRemoteCommand"
            name="Execute Remote Command"
            parameters="param1,param2"/>
      <dynamicValuesAction
            class="org.csstudio.diag.interconnectionServer.ExecuteRemoteCommandDyn"
            id="org.csstudio.diag.interconnectionServer.ExecuteRemoteCommandDyn"
            loaderActionId="org.csstudio.diag.interconnectionServer.getDynParameters"
            name="Execute Remote Command Dyn"
            parameters="Command,IOC"/>
      <simpleAction
            class="org.csstudio.diag.interconnectionServer.GetDynParameters"
            id="org.csstudio.diag.interconnectionServer.getDynParameters"
            name="GetDynParameters"/>
      <simpleAction
            class="org.csstudio.diag.interconnectionServer.StopIcServer"
            id="org.csstudio.diag.interconnectionServer.StopIcServer"
            name="Stop IC-Server"/>
      <dynamicValuesAction
            class="org.csstudio.diag.interconnectionServer.ActivateAlarmSimulator"
            id="org.csstudio.diag.interconnectionServer.ActivateAlarmSimulator"
            loaderActionId="org.csstudio.diag.interconnectionServer.getDynParameters"
            name="ActivateAlarmSimulator"
            parameters="Simulator">
      </dynamicValuesAction>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.interconnectionServer.preferences.PreferenceInitializer"/>
   </extension>

</plugin>
