<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="%PVTree"
            icon="icons/pvtree.gif"
            category="org.csstudio"
            class="org.csstudio.diag.epics.pvtree.PVTreeView"
            id="org.csstudio.diag.epics.pvtree.PVTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.diag.epics.pvtree.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.diag.epics.pvtree.PVpopupAction"
               enablesFor="1"
               icon="icons/pvtree.gif"
               id="org.csstudio.diag.epics.pvtree.PVpopupAction"
               label="%PVTree"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%ObjectMenu_TT"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/pvtree.gif"
               label="%PVTree"
               style="push"
               tooltip="%PVTree_TT">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.diag.epics.pvtree.PVTreeView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
</plugin>
