<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="EPICS PV Tree"
            icon="icons/pvtree.gif"
            category="org.csstudio"
            class="org.csstudio.diag.epics.pvtree.PVTreeView"
            id="org.csstudio.diag.epics.pvtree.PVTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.diag.epics.pvtree.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.diag.epics.pvtree.PVpopupAction"
               enablesFor="1"
               icon="icons/pvtree.gif"
               id="org.csstudio.diag.epics.pvtree.PVpopupAction"
               label="EPICS PV Tree"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send selected PV to the EPICS PV Tree"/>
      </objectContribution>
   </extension>
   <!-- extension point="org.eclipse.ui.actionSets">
      <actionSet id="org.csstudio.diag.epics.pvtree"
            description="Global CSS menu actions"
            label="CSS Action Set"
            visible="true">
         <menu id="org.csstudio"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <menu id="org.csstudio.diag"
               label="Diagnostics"
               path="org.csstudio/additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action id="org.csstudio.diag.epics.pvtree.showpvtreeaction"
               class="org.csstudio.diag.epics.pvtree.ShowPVTreeAction"
               icon="icons/pvtree.gif"
               label="EPICS PV Tree"
               menubarPath="org.csstudio/org.csstudio.diag/content"
               style="push"
               tooltip="Show EPICS PV Tree"/>
      </actionSet>
   </extension -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.diag.epics.pvtree"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.diag.epics.pvtree.ShowPVTreeAction"
               icon="icons/pvtree.gif"
               id="org.csstudio.diag.epics.pvtree.showpvtreeaction"
               label="EPICS PV Tree"
               menubarPath="css/alarm/"
               style="push"
               tooltip="Show EPICS PV Tree"/>
      </actionSet>
   </extension>
   
</plugin>
