<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.csstudio.opibuilder.examples.BOYcategory"
            name="BOY">
      </category>
      <wizard
            category="org.csstudio.opibuilder.examples.BOYcategory"
            class="org.csstudio.opibuilder.examples.ImportWizard"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.examples.importwizard"
            name="BOY Examples">
      </wizard>
   </extension>
   <extension
         point="org.csstudio.examples.sampleset">
      <sampleset
            name="BOY Examples"
            sampleset="org.csstudio.opibuilder.examples.Basic">
      </sampleset>
   </extension>
</plugin>
