<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.csstudio.opibuilder.examples.actionSet"
            label="examples"
            visible="true">
         <action
               class="org.csstudio.opibuilder.examples.InstallExamplesAction"
               icon="icons/OPIBuilder.png"
               id="org.csstudio.opibuilder.examples.InstallExamplesAction"
               label="Install OPI Examples"
               menubarPath="css/display/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.csstudio.opibuilder.examples.BOYcategory"
            name="BOY">
      </category>
      <wizard
            category="org.csstudio.opibuilder.examples.BOYcategory"
            class="org.csstudio.opibuilder.examples.ImportWizard"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.examples.importwizard"
            name="BOY Examples">
      </wizard>
   </extension>

</plugin>
