<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.remotercp.filetransfer.sender.filetransferViewContribution"
            targetID="org.remotercp.contacts.selectedContactsView">
         <action
               class="org.remotercp.filetransfer.sender.actions.SendRemoteFileAction"
               icon="icons/filetransfer_18x14.png"
               id="additions"
               label="Send file"
               menubarPath="additions"
               toolbarPath="additions"
               tooltip="Send a file to selected users">
         </action>
      </viewContribution>
   </extension>

</plugin>
