<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/pvtreeIntro.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>

</plugin>
