<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remotercp.core.perspective">
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="stack"
               relative="org.remotercp.errorhandling.errorview"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
            <view
            name="Progress View"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
         </view>
   </extension>

</plugin>
