<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SddsServerApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.archive.sdds.server.SddsServerApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.archive.sdds.server.management.StopMgmtCommand"
            id="org.csstudio.archive.sdds.server.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.archive.sdds.server.management.RestartMgmtCommand"
            id="org.csstudio.archive.sdds.server.Restart"
            label="Restart">
      </command>
      <command
            class="org.csstudio.archive.sdds.server.management.GetVersionMgmtCommand"
            id="org.csstudio.archive.sdds.server.GetVersion"
            label="Get Version">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.archive.sdds.server.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="SddsServerProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.sdds.server.SddsServerApplication"
            name="SddsServerProduct">
         <property
               name="appName"
               value="SddsServerProduct">
         </property>
      </product>
   </extension>

</plugin>
