<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="%Eliza"
            icon="icons/eliza.png"
            category="org.csstudio"
            class="org.csstudio.utility.eliza.ElizaView"
            id="org.csstudio.utility.eliza.ElizaView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/eliza.png"
               label="%Eliza"
               style="push"
               tooltip="%ShowEliza">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.eliza.ElizaView">
            </parameter>
         </command>
      </menuContribution>
   </extension>

</plugin>
