.group0 { -fx-background-color: #000000; -fx-fill: #000000; }
.group1 { -fx-background-color: #3E36B2; -fx-fill: #3E36B2; }
.group2 { -fx-background-color: #3E36B2; -fx-fill: #3E36B2; }
.group25 { -fx-background-color: #3E36B2; -fx-fill: #3E36B2; }