<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.logging.ui.PreferencePage"
            id="org.csstudio.logging.ui.PreferencePage"
            name="%PrefName"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.csstudio.logging.ui.LoggingConfiguration"
            id="org.csstudio.logging.ui.LoggingConfiguration"
            name="Logging Configuration"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:debugging">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.logging.ui/icons/utilities-log-viewer-16.png"
               label="Logging Configuration"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.logging.ui.LoggingConfiguration">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
