<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.desy.config.AlarmManagmentPerspectiveFactory"
            fixed="true"
            id="org.csstudio.desy.config.AlarmManagment"
            name="Alarm Displays">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective">
         <perspectiveShortcut
               id="org.csstudio.desy.config.AlarmManagment">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.csstudio.desy.config.AlarmManagment">
         <view
               closeable="false"
               id="org.csstudio.alarm.treeView.views.LdapTView"
               minimized="false"
               moveable="true"
               ratio="0.2f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.alarm.table.ViewAlarm"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.alarm.table.ViewArchive"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.csstudio.alarm.table.ViewAlarm"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.alarm.table.ViewLog"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.csstudio.alarm.table.ViewAlarm"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.csstudio.alarm.table.ViewArchive"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.csstudio.desy.config.AlarmManagment">
         <perspectiveShortcut
               id="org.csstudio.nams.newconfigurator.perspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.csstudio.sds.ui.internal.workbench.SynopticDisplayStudioPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.csstudio.sds.ui.internal.workbench.SynopticDisplayStudioPerspective">
         <view
               closeable="false"
               id="org.csstudio.utility.ldap.namespacebrowser.ui.MainView"
               minimized="true"
               moveable="true"
               ratio="0.4f"
               relationship="fast"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.utility.nameSpaceSearch.ui.MainView"
               minimized="true"
               moveable="true"
               relationship="fast"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
