<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
         
      <view
            category="org.csstudio"
            class="org.csstudio.diag.jmssender.views.JMSView"
            icon="icons/JMSSender.gif"
            id="org.csstudio.diag.jmssender.views.JMSView"
            name="Jms message sender"/>
   </extension>
   <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.diag.jmssender.views.ShowJMSSender"
            id="org.csstudio.diag.jmssender.views.showjmssender"
            name="New JmsSender">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.jmssender.views.showjmssender"
               icon="icons/JMSSender.PNG"
               label="JMS Sender"
               style="push"
               tooltip="JMS Sender">
         </command>
      </menuContribution>
  </extension>
      <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
      <extension
            point="org.csstudio.auth.authorizationId">
         <id
               description="Permission for testing tools."
               id="testing">
         </id>
      </extension>
</plugin>
