<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 134.100.7.234)(PORT = 1521))(LOAD_BALANCE = yes)(CONNECT_DATA =(SERVER = DEDICATED)(FAILOVER_MODE =(TYPE = NONE)(METHOD = BASIC)(RETRIES = 180)(DELAY = 5))))</property>
		<property name="connection.username">DESY</property>
		<property name="connection.password">DESY</property>
		
		<!--
		<property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
		<property name="connection.url">jdbc:derby://localhost:1527/amsdb</property>
		<property name="connection.username">APP</property>
		<property name="connection.password">APP</property>
		-->
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.DerbyDialect</property>

			<!-- Enable Hibernate's automatic session context management -->
				
				<property name="current_session_context_class">thread</property>
				
				<!-- Disable the second-level cache -->
			<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

				<!-- Echo all executed SQL to stdout -->
				<property name="show_sql">true</property>

				<!-- Drop and re-create the database schema on startup -->
				<property name="hbm2ddl.auto">update</property>

  				<property name="hibernate.mapping.precedence">class, hbm</property>
  				
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.declaration.ReplicationStateDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.AlarmbearbeiterDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.AlarmbearbeiterGruppenDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.AlarmbearbeiterGruppenZuAlarmbearbeiterDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.FilterConditionDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.FilterConditionTypeDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.TopicDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.filterConditionSpecifics.StringArrayFilterConditionDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.filterConditionSpecifics.StringArrayFilterConditionCompareValuesDTO"/>
  				<mapping class="org.csstudio.nams.service.configurationaccess.localstore.internalDTOs.filterConditionSpecifics.StringFilterConditionDTO"/>
  				
	</session-factory>

</hibernate-configuration>