<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="VoicemailConnector"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.ams.connector.voicemail.VoicemailConnectorStart"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.ams.connector.voicemail.internal.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.ams.internal.pages.AmsPreferencePage"
            class="org.csstudio.ams.connector.voicemail.internal.pages.VoicemailPreferencePage"
            id="org.csstudio.ams.connector.voicemail.VoicemailPreferencePage"
            name="Connector Voice Mail"/>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.ams.connector.voicemail.management.Stop"
            id="org.csstudio.ams.connector.voicemail.management.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.ams.connector.voicemail.management.Restart"
            id="org.csstudio.ams.connector.voicemail.management.Restart"
            label="Restart">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
   </extension>

</plugin>
