<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.csstudio.sds.language.script.Source"
            file-extensions="css-sdss">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.sds.language.script.ui.editor.ScriptEditor"
            default="true"
            icon="icons/rule_script.gif"
            id="org.csstudio.language.script.ui.ScriptEditor"
            name="SDS Script Editor">
         <contentTypeBinding
               contentTypeId="org.csstudio.sds.language.script.Source">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.sds.language.script.parser.nodes.AbstractScriptNode"
            class="org.csstudio.sds.language.script.ui.adapter.ScriptNodeAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.sds.language.script.ui.SDSScriptingPerspective"
            icon="icons/rule_script.gif"
            id="org.csstudio.sds.language.script.ui.SDSScriptingPerspective"
            name="SDS Scripting">
      </perspective>
   </extension>

</plugin>
