<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="css-pvtable,xml"
            id="PVTable"
            name="%PVTable"
            priority="normal">
         <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter
                  name="element"
                  value="pvtable"/>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.display.pvtable.ui.editor.PVTableEditor"
            contributorClass="org.csstudio.display.pvtable.ui.editor.PVTableEditorActionBarContributor"
            default="false"
            extensions="css-pvtable"
            filenames="css-pvtable"
            icon="icons/table.gif"
            id="org.csstudio.display.pvtable.ui.editor.PVTableEditor"
            name="%PVTable">
         <contentTypeBinding contentTypeId="org.csstudio.display.pvtable.PVTable"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <!-- extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.display.pvtable"
            label="CSS Action Set"
            visible="true">
         <menu
               id="org.csstudio"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <menu
               id="org.csstudio.display"
               label="Display"
               path="org.csstudio/additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               id="org.csstudio.display.pvtable.NewPVTableAction"
               class="org.csstudio.display.pvtable.NewPVTableAction"
               icon="icons/table.gif"
               label="PV Table"
               menubarPath="org.csstudio/org.csstudio.display/content"
               style="push"
               tooltip="Open a new PV Table"/>
      </actionSet>
   </extension -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.display.pvtable.PVpopup"
               icon="icons/table.gif"
               label="%PVTable"
               style="push"
               tooltip="%PVTableObject_TT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.display.pvtable.new_pv_table"
               icon="icons/table.gif"
               label="%PVTable"
               style="push"
               tooltip="%PVTableMenu_TT">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.display.pvtable.PVpopupAction"
            id="org.csstudio.display.pvtable.PVpopup"
            name="%PVTable">
      </command>
      <command
            defaultHandler="org.csstudio.display.pvtable.NewPVTableAction"
            id="org.csstudio.display.pvtable.new_pv_table"
            name="New PV Table">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.display.pvtable.model.PVListEntry"
            class="org.csstudio.display.pvtable.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   
</plugin>
