<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective"
            id="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective"
            name="%cssPerspectiveName"/>
   </extension>

   <extension
         id="logPreferences"
         name="logPreferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.ConsoleAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.console"
            name="%logConsoleAppenderPageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.logging.LoggingPreferencePage"
            id="org.csstudio.platform.log.logPreferences"
            name="%logPageName"/>
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.FileAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.file"
            name="%logFileAppenderPageName"/>
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.JmsAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.jms"
            name="%logJmsAppenderPageName"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocApps.xml"
            primary="true"/>
      <toc
            file="tocCore.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.csstudio.platform.ui.internal.workbench.ResourcesAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.IProcessVariable"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.IControlSystemItem"
            class="org.csstudio.platform.ui.internal.workbench.ControlSystemItemAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="User Management Actions"
            label="User Management Actions"
            visible="true">
         <action
               class="org.csstudio.platform.ui.internal.security.LoginAction"
               id="org.csstudio.platform.ui.internal.security.LoginAction"
               label="Login"
               menubarPath="css/other/"
               style="push"/>
      </actionSet>
      <actionSet
            id="org.eclipse.csstudio.ui.systemActions"
            label="System Actions"
            visible="true">
         <action
               class="org.csstudio.platform.ui.internal.actions.RestartAction"
               id="org.csstudio.platform.ui.internal.actions.RestartAction"
               label="%menuRestart"
               menubarPath="file/fileEnd"
               style="push"/>
      </actionSet>
      <actionSet
            id="org.eclipse.csstudio.ui.menuDefinition"
            label="CSS Menu Definition"
            visible="true">
         <menu
               id="css"
               label="%menuCss"
               path="additions">
            <groupMarker name="group1"/>
            <groupMarker name="group2"/>
            <groupMarker name="group3"/>
            <groupMarker name="group4"/>
            <groupMarker name="group5"/>
            <groupMarker name="group6"/>
            <groupMarker name="group7"/>
            <groupMarker name="group8"/>
            <groupMarker name="group9"/>
            <groupMarker name="group10"/>
            <groupMarker name="group11"/>
            <separator name="separator1"/>
            <groupMarker name="group12"/>
         </menu>
         <menu
               id="display"
               label="%menuCssDisplay"
               path="css/group1"/>
         <menu
               id="alarm"
               label="%menuCssAlarm"
               path="css/group2"/>
         <menu
               id="diag"
               label="%menuCssDiagnostics"
               path="css/group4"/>
         <menu
               id="debugging"
               label="%menuCssDebugging"
               path="css/group5"/>
         <menu
               id="configuration"
               label="%menuCssConfiguration"
               path="css/group6"/>
         <menu
               id="management"
               label="%menuCssManagement"
               path="css/group7"/>
         <menu
               id="editors"
               label="%menuCssEditors"
               path="css/group8"/>
         <menu
               id="utility"
               label="%menuCssUtilities"
               path="css/group9"/>
         <menu
               id="trends"
               label="%menuCssTrends"
               path="css/group3"/>
         <menu
               id="test"
               label="%menuCssTest"
               path="css/group10"/>
         <menu
               id="other"
               label="%menuCssOther"
               path="css/group11"/>
         <action
               class="org.csstudio.platform.ui.internal.actions.OpenPreferencesAction"
               id="org.csstudio.platform.ui.internal.actions.PreferencesAction"
               label="%menuCssPreferences_Label"
               menubarPath="css/group12"
               style="push"
               tooltip="%menuCssPreferences_Tooltip"/>
      </actionSet>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.security.AuthenticationPreferencePage"
            id="org.csstudio.platform.ui.internal.security.AuthenticationPreferencePage"
            name="%authenticationPageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.localization.LocalePreferencePage"
            id="org.csstudio.platform.ui.internal.localization.LocalePreferencePage"
            name="%localePageName"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            />
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            icon="icons/containerView.gif"
            id="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            name="Container View"/>
     <view
           class="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           icon="icons/folder.png"
           id="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           name="Workspace Explorer"/>            
   </extension>
   <extension
         id="cssPreferenceCategories"
         name="cssPreferencesCategories"
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.platform.ui.internal.preferences.CSSPlatformPreferencePage"
            id="org.csstudio.platform.ui.css.platform"
            name="%platformPreferencesName"/>
      <page
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications"
            name="%applicationsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.display"
            name="%displayPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.alarm"
            name="%alarmPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.trends"
            name="%trendsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.diag"
            name="%diagnosticsPreferencesName"/>            
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.debugging"
            name="%debuggingPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.configuration"
            name="%configurationPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.management"
            name="%managementPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.editors"
            name="%editorsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.utilities"
            name="%utilitiesPreferencesName"/>                                                
	  <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.test"
            name="%testPreferencesName"/> 
	  <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.others"
            name="%othersPreferencesName"/>                         
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.platform.ui.internal.workbench.FileEditorInputFactory"
            id="org.csstudio.platform.ui.internal.workbench.FileEditorInputFactory"/>
   </extension>

  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           targetID="org.csstudio.platform.ui.views.WorkspaceExplorerView">
        <action
              class="org.csstudio.platform.ui.views.DeleteResourceAction"
              icon="icons/fileDelete.png"
              id="org.csstudio.platform.ui.views.DeleteResourceAction"
              label="Delete Resource"
              menubarPath="additions"
              style="push"
              toolbarPath="additions"/>
     </viewContribution>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <viewerContribution
           id="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           targetID="org.csstudio.platform.ui.views.WorkspaceExplorerView">
        <action
              class="org.csstudio.platform.ui.views.CreateProjectAction"
              id="org.csstudio.platform.ui.views.CreateProjectAction"
              label="New Project"
              menubarPath="additions"/>
     </viewerContribution>
     <viewerContribution
           id="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           targetID="org.csstudio.platform.ui.views.WorkspaceExplorerView">
        <visibility>
           <objectClass name="org.eclipse.core.resources.IContainer"/>
        </visibility>
        <action
              class="org.csstudio.platform.ui.views.CreateFolderAction"
              id="org.csstudio.platform.ui.views.CreateFolderAction"
              label="New Folder"
              menubarPath="additions"/>
     </viewerContribution>
     <viewerContribution
           id="org.csstudio.platform.ui.views.WorkspaceExplorerView"
           targetID="org.csstudio.platform.ui.views.WorkspaceExplorerView">
        <visibility>
           <objectClass name="org.eclipse.core.resources.IResource"/>
        </visibility>
        <action
              class="org.csstudio.platform.ui.views.DeleteResourceAction"
              id="org.csstudio.platform.ui.views.DeleteResourceAction"
              label="Delete Resource"
              menubarPath="additions"/>
     </viewerContribution>
  </extension>

</plugin>
