<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective"
            id="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective"
            name="%cssPerspectiveName"/>
   </extension>

   <extension
         id="logPreferences"
         name="logPreferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.ConsoleAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.console"
            name="%logConsoleAppenderPageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.logging.LoggingPreferencePage"
            id="org.csstudio.platform.log.logPreferences"
            name="%logPageName"/>
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.FileAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.file"
            name="%logFileAppenderPageName"/>
      <page
            category="org.csstudio.platform.log.logPreferences"
            class="org.csstudio.platform.ui.internal.logging.JmsAppenderPreferencePage"
            id="org.csstudio.platform.log.logPreferences.jms"
            name="%logJmsAppenderPageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.logging.ControlSystemPreferencePage"
            id="org.csstudio.platform.log.controlsystemPreferences"
            name="Control System"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocApps.xml"
            primary="true"/>
      <toc
            file="tocCore.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.csstudio.platform.ui.internal.workbench.ResourcesAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.IProcessVariable"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.IControlSystemItem"
            class="org.csstudio.platform.ui.internal.workbench.ControlSystemItemAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.pvs.ControlSystemEnum"
            class="org.csstudio.platform.ui.internal.workbench.ControlSystemEnumAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.pvs.IProcessVariableAddress"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdressAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.pvs.IProcessVariableAdressProvider"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdressProviderAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.csstudio.ui.systemActions"
            label="System Actions"
            visible="true">
         <action
               class="org.csstudio.platform.ui.internal.actions.RestartAction"
               id="org.csstudio.platform.ui.internal.actions.RestartAction"
               label="%menuRestart"
               menubarPath="file/fileEnd"
               style="push"/>
         <action
               class="org.csstudio.platform.ui.internal.actions.OpenWorkspaceExplorerAction"
               icon="icons/workspaceExplorer.png"
               id="org.csstudio.platform.ui.internal.actions.OpenWorkspaceExplorerAction"
               label="%menuOpenExplorer"
               menubarPath="file/fileEnd"
               style="push"
               toolbarPath="fileEnd"
               tooltip="%menuOpenExplorer"/>                 
         <action
               class="org.csstudio.platform.ui.workspace.OpenWorkspaceAction"
               id="org.csstudio.platform.ui.workspace.OpenWorkspaceAction"
               label="%menuSwitchWorkspace"
               menubarPath="file/fileEnd"
               style="push"/>
         <action
               class="org.csstudio.platform.ui.internal.actions.LoginAction"
               id="org.csstudio.platform.ui.LoginAction"
               label="%menuLogin"
               menubarPath="file/fileEnd"
               style="push">
            <enablement>
               <systemProperty
                     name="org.csstudio.platform.loginAvailable"
                     value="true"/>
            </enablement>
         </action>
         <action
               class="org.csstudio.platform.ui.internal.actions.OpenPreferencesAction"
               id="org.csstudio.platform.ui.internal.actions.PreferencesAction"
               label="%menuCssPreferences_Label"
               menubarPath="css/end"
               style="push"
               tooltip="%menuCssPreferences_Tooltip"/>
         <action
               class="org.csstudio.platform.ui.internal.actions.ExportPreferencesAction"
               id="org.csstudio.platform.ui.action1"
               label="%exportPreferences"
               menubarPath="file/fileEnd"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.preferences.AuthenticationPreferencePage"
            id="org.csstudio.platform.ui.internal.security.AuthenticationPreferencePage"
            name="%authenticationPageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.localization.LocalePreferencePage"
            id="org.csstudio.platform.ui.internal.localization.LocalePreferencePage"
            name="%localePageName"/>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.preferences.SystemPropertiesPreferencePage"
            id="org.csstudio.platform.ui.internal.preferences.SystemPropertiesPreferencePage"
            name="%systemPropertyPreferencesPageName"/>
   <page
         category="org.csstudio.platform.ui.css.platform"
         class="org.csstudio.platform.ui.internal.preferences.OnsiteSubnetPreferencePage"
         id="org.csstudio.platform.ui.page1"
         name="Onsite Subnets">
   </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            />
   </extension>
	<extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            allowMultiple="false"
            class="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            icon="icons/containerView.gif"
            id="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            name="Container View"/>
      <view
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.csstudio.platform.ui.views.progress"
            name="%progressView"/>
   </extension>
   <extension
         id="cssPreferenceCategories"
         name="cssPreferencesCategories"
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.platform.ui.internal.preferences.CSSPlatformPreferencePage"
            id="org.csstudio.platform.ui.css.platform"
            name="%platformPreferencesName"/>
      <page
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications"
            name="%applicationsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.display"
            name="%displayPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.alarm"
            name="%alarmPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.trends"
            name="%trendsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.diag"
            name="%diagnosticsPreferencesName"/>            
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.debugging"
            name="%debuggingPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.configuration"
            name="%configurationPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.management"
            name="%managementPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.editors"
            name="%editorsPreferencesName"/>
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.utilities"
            name="%utilitiesPreferencesName"/>                                                
	  <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.test"
            name="%testPreferencesName"/> 
	  <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.platform.ui.internal.preferences.CSSApplicationsPreferencePage"
            id="org.csstudio.platform.ui.css.applications.others"
            name="%othersPreferencesName"/>                         
   </extension>

  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="IProcessVariableAdressProviderContributions"
           objectClass="org.csstudio.platform.model.pvs.IProcessVariableAdressProvider">
        <action
              class="org.csstudio.platform.ui.internal.developmentsupport.util.PrintPvsAction"
              id="PrintPvsAction"
              label="Print selected Pvs">
        </action>
     </objectContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           description="%saveValueCommandDescription"
           id="org.csstudio.platform.ui.commands.saveValue"
           name="%saveValueCommand">
        <commandParameter
              id="org.csstudio.platform.ui.commands.saveValue.pv"
              name="%saveValueCommandPVParameter"
              optional="true">
        </commandParameter>
        <commandParameter
              id="org.csstudio.platform.ui.commands.saveValue.value"
              name="%saveValueCommandValueParamter"
              optional="true">
        </commandParameter>
     </command>
  </extension>
</plugin>
