<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="gov.bnl.channelfinder.api.Channel"
            class="org.csstudio.utility.channel.adapters.ChannelAdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>

</plugin>
