<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.config.savevalue.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.config.savevalue.ui.SaveValuePreferencePage"
            id="org.csstudio.config.savevalue.ui.PreferencePage"
            name="%PreferencePage.Label">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.config.savevalue.ui.changelogview.ChangelogViewPart"
            id="org.csstudio.config.savevalue.ui.ChangelogView"
            name="%ChangelogView.Name">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.config.savevalue.ui.SaveValueCommandHandler"
            commandId="org.csstudio.platform.ui.commands.saveValue">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.csstudio.popmenu">
         <command
               commandId="org.csstudio.platform.ui.commands.saveValue"
               icon="icon/save.gif"
               label="%SaveValueAction.Label"
               style="push"
               tooltip="%SaveValueAction.Tooltip">
            <visibleWhen>
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.csstudio.platform.model.IProcessVariableWithSamples">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.csstudio.popmenu"
               label="CSS">
         </menu>
      </menuContribution>
   </extension>

</plugin>
