<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.csstudio.config.savevalue.ui.SaveValueAction"
            objectClass="org.csstudio.platform.model.IProcessVariableWithSamples">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.config.savevalue.ui.SaveValueAction"
               enablesFor="1"
               icon="icon/save.gif"
               id="org.csstudio.config.savevalue.ui.SaveValueAction"
               label="%SaveValueAction.Label"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%SaveValueAction.Tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.config.savevalue.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.config.savevalue.ui.SaveValuePreferencePage"
            id="org.csstudio.config.savevalue.ui.PreferencePage"
            name="%PreferencePage.Label">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.config.savevalue.ui.changelogview.ChangelogViewPart"
            id="org.csstudio.config.savevalue.ui.ChangelogView"
            name="%ChangelogView.Name">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
