<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.unitconversion.ui.ConversionViewer"
            id="org.csstudio.unitconversion.ui.viewer"
            name="Conversion"
            restorable="true">
      </view>
   </extension>

</plugin>
