<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="loginModule" name="Login Module" schema="schema/loginModule.exsd"/>
   <extension-point id="authorizationProvider" name="Authorization Provider" schema="schema/authorizationProvider.exsd"/>
   <extension-point id="authorizationId" name="Authorization Id" schema="schema/authorizationId.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.auth.internal.preferences.PlatformPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
