<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.csstudio.logbook.ui.toolbar">
            <command
                  commandId="org.csstudio.logbook.olog.property.fault.OpenNewFaultDialog"
                  icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-add-16.png"
                  label="Create New Fault Report"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:utility?after=additions">
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenNewFaultDialog"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-add-16.png"
               label="Create New Fault Report"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-table-16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.csstudio.logbook.ui.separator">
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenNewFaultDialog"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-add-16.png"
               label="Create Fault Report"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.LogEntry">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="+">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-edit-16.png"
               label="Update Fault Report"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.olog.property.fault.Fault">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.logbook.olog.property.fault.OpenFaultDetail"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-info-16.png"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.olog.property.fault.Fault">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.logbook.olog.property.fault.EmailFault"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-send-16.png"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.olog.property.fault.Fault">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.logbook.olog.property.fault.ExportFault"
               icon="platform:/plugin/org.csstudio.logbook.olog.property.fault/icons/fault-send-16.png"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <and>
                     <iterate>
                        <adapt
                              type="org.csstudio.logbook.olog.property.fault.Fault">
                        </adapt>
                     </iterate>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="+">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="org.csstudio.logbook.olog.property.fault.separator">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.csstudio.logbook.olog.property.fault.FaultCommands"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.csstudio.logbook.olog.property.fault.separator">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.OpenNewFaultDialog"
            id="org.csstudio.logbook.olog.property.fault.OpenNewFaultDialog"
            name="Create Fault Report">
      </command>
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
            id="org.csstudio.logbook.olog.property.fault.OpenFaultEditorDialog"
            name="Update Fault Report">
      </command>
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.OpenFaultDetail"
            id="org.csstudio.logbook.olog.property.fault.OpenFaultDetail"
            name="Fault Details">
      </command>
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.ExportFault"
            id="org.csstudio.logbook.olog.property.fault.ExportFault"
            name="Export Fault">
      </command>
      <command
            defaultHandler="org.csstudio.logbook.olog.property.fault.EmailFault"
            id="org.csstudio.logbook.olog.property.fault.EmailFault"
            name="Email Fault">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.logbook.olog.property.fault.FaultCalendar"
            id="org.csstudio.logbook.olog.property.fault.calendar"
            name="Fault Calendar"
            restorable="true">
      </view>
      <view
            class="org.csstudio.logbook.olog.property.fault.DetailsView"
            id="org.csstudio.logbook.olog.property.fault.detailsView"
            name="Fault Details"
            restorable="true">
      </view>
      <view
            class="org.csstudio.logbook.olog.property.fault.TableView"
            id="org.csstudio.logbook.olog.property.fault.table"
            name="Fault Table"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.logbook.LogEntry"
            class="org.csstudio.logbook.olog.property.fault.FaultAdapter">
         <adapter
               type="org.csstudio.logbook.olog.property.fault.Fault">
         </adapter>
      </factory>
   </extension>

</plugin>
