<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.logging.jms2rdb.application"
            name="JMS2RDB">
         <property
               name="appName"
               value="JMS2RDB">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.logging.jms2rdb.application"
            name="org.csstudio.askap.jms2rdb.product.product">
         <property
               name="appName"
               value="org.csstudio.askap.jms2rdb.product.product">
         </property>
      </product>
   </extension>

</plugin>
