<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.alarm.dbaccess.archivedb.preferences.PreferenceInitializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.alarm"
            class="org.csstudio.alarm.dbaccess.preferences.AlarmArchiveDBPreferences"
            id="org.csstudio.alarm.dbaccess.preferences.AlarmArchiveDBPreferences"
            name="AlarmArchiveDBPreferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.alarm.dbaccess.preferences.AlarmArchiveDBPreferenceInitializer"/>
   </extension>

</plugin>
