<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="AmsMonitorApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.application.monitor.AmsMonitorApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.ams.application.monitor.management.Stop"
            id="org.csstudio.ams.application.systemmonitor.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.ams.application.monitor.management.Restart"
            id="org.csstudio.ams.application.systemmonitor.Restart"
            label="Restart">
      </command>
   </extension>
   <extension
         id="AmsMonitorProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.application.monitor.AmsMonitorApplication"
            name="AmsMonitor">
         <property
               name="appName"
               value="AmsMonitor">
         </property>
      </product>
   </extension>

</plugin>
