<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="protocol" name="Protocol Implementation" schema="schema/protocol.exsd"/>
   <extension-point id="action" name="DCF Actions" schema="schema/action.exsd"/>
   <extension
         point="org.csstudio.platform.startupListener">
      <startupService
            class="org.csstudio.platform.libs.dcf.DCFStartupService"
            id="org.csstudio.platform.libs.dcf.startupService"
            isHighPriority="false"
            name="DCF Startup Service"/>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <simpleAction
            class="org.csstudio.platform.libs.dcf.actions.ActionQueryActions"
            id="org.csstudio.platform.libs.dcf.queryActions"
            name="Query Avaiable Actions"
            visible="true"/>
      <fileTransferAction
            class="org.csstudio.platform.libs.dcf.filetransfer.ActionFileTransfer"
            id="org.csstudio.platform.libs.dcf.fileTransfer"
            name="File Transfer"
            parameters="filepath"
            visible="true"/>
      <parametrizedAction
            class="org.csstudio.platform.libs.dcf.filetransfer.ActionRequestChunk"
            id="org.csstudio.platform.libs.dcf.requestChunk"
            name="Request Chunk"
            visible="false"/>
      <simpleAction
            class="org.csstudio.platform.libs.dcf.actions.ActionQueryPreferences"
            id="org.csstudio.platform.libs.dcf.queryPreferences"
            name="Query Preferences"
            visible="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.platform.libs.dcf.preferences.PreferenceInitializer">
      </initializer>
   </extension>


</plugin>
