<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Monitors"
            editpart_class="org.csstudio.graphene.opiwidgets.LineGraph2DWidgetEditpart"
            icon="platform:/plugin/org.csstudio.graphene/icons/graphene-line-16.png"
            model_class="org.csstudio.graphene.opiwidgets.LineGraph2DWidgetModel"
            name="Line Graph"
            typeId="org.csstudio.graphene.opiwidgets.LineGraph2D">
      </widget>
      <widget
            category="Monitors"
            editpart_class="org.csstudio.graphene.opiwidgets.ScatterGraph2DWidgetEditPart"
            icon="platform:/plugin/org.csstudio.graphene/icons/graphene-scatter-16.png"
            model_class="org.csstudio.graphene.opiwidgets.ScatterGraph2DWidgetModel"
            name="Scatter Graph"
            typeId="org.csstudio.graphene.opiwidgets.ScatterGraph2D">
      </widget>
      <widget
            category="Monitors"
            editpart_class="org.csstudio.graphene.opiwidgets.BubbleGraph2DWidgetEditPart"
            icon="platform:/plugin/org.csstudio.graphene/icons/graphene-bubble-16.png"
            model_class="org.csstudio.graphene.opiwidgets.BubbleGraph2DWidgetModel"
            name="Scatter Graph"
            typeId="org.csstudio.graphene.opiwidgets.BubbleGraph2D">
      </widget>
   </extension>

</plugin>
