<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.diag.rack.rackutildata">
      <rackutildata
            class="org.csstudio.rack.sns.SNSRackData"
            name="org.csstudio.rack.sns.SNSRackData">
      </rackutildata>
   </extension>

</plugin>
