<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.sds.widgetModelInitializers">
      <controlSystemSchema
            class="org.csstudio.sds.components.epics.EpicsSchema"
            description="%epics"
            schemaId="schema.epics"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         name="DESY Default"
         point="org.csstudio.sds.behaviors">
      <behavior
            class="org.csstudio.sds.behavior.desy.BooleanSwitchBehavior"
            description="DESY Default"
            id="behavior.desy.booleanswitch.default"
            widgetTypeId="org.csstudio.sds.components.BooleanSwitch">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.MenuButtonBehavior"
            description="DESY Default"
            id="behavior.desy.menuButton.default"
            widgetTypeId="org.csstudio.sds.components.MenuButton">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.StripChartBehavior"
            description="DESY Default"
            id="behavior.desy.stripChart.default"
            widgetTypeId="org.csstudio.sds.components.StripChart">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.AdvancedSliderAlarmBehavior"
            description="DESY Alarm+Con Advanced Slider"
            id="behavior.desy.advancedslider.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.AdvancedSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.AdvancedSliderConnectionBehavior"
            description="DESY Connection Advanced Slider"
            id="behavior.desy.advancedslider.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.AdvancedSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.BargraphAlarmBehavior"
            description="DESY Alarm+Con Bargraph"
            id="behavior.desy.bargraph.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Bargraph">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.BargraphConnectionBehavior"
            description="DESY Connection Bargraph"
            id="behavior.desy.bargraph.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Bargraph">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.LabelAlarmBehavior"
            description="DESY Alarm+Con+without Units"
            id="behavior.desy.label.alarmwithoutunit"
            widgetTypeId="org.csstudio.sds.components.Label">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.LabelAlarmBehaviorWithUnits"
            description="DESY Alarm+Con+Units"
            id="behavior.desy.label.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Label">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.LabeConnectionBehavior"
            description="DESY Connection without Units"
            id="behavior.desy.label.connectionwithoutunits"
            widgetTypeId="org.csstudio.sds.components.Label">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.LabeConnectionBehaviorWithUnits"
            description="DESY Connection Units"
            id="behavior.desy.label.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Label">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SimpleSliderAlarmBehavior"
            description="DESY Alarm+Con Simple Slider"
            id="behavior.desy.simpleslider.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.SimpleSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SimpleSliderConnectionBehavior"
            description="DESY Connection SimpleSlider"
            id="behavior.desy.simpleslider.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.SimpleSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.TextinputConnectionBehavior"
            description="DESY Connection Textinput"
            id="behavior.desy.textinput.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Textinput">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.TextinputConnectionExpDblSwitchBehavior"
            description="DESY Cononnection ExpDbl Textinput"
            id="behavior.desy.textinput.connectionexpdbl"
            widgetTypeId="org.csstudio.sds.components.Textinput">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ActionButtonBehavior"
            description="DESY Connection ActionButton"
            id="behavior.desy.actionbutton.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.ActionButton">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.TankAlarmBehavior"
            description="DESY Alarm+Con Tank"
            id="behavior.desy.tank.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Tank">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.TankConnectionBehavior"
            description="DESY Connection Tank"
            id="behavior.desy.tank.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Tank">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseAlarmBehavior"
            description="DESY Stoermeldung"
            id="behavior.desy.rectangel.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Rectangle">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseOperatingBehavior"
            description="DESY Betriebsmeldung"
            id="behavior.desy.rectangel.betreibsMeldung"
            widgetTypeId="org.csstudio.sds.components.Rectangle">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseConnectionBehavior"
            description="DESY Connection Rectangel"
            id="behavior.desy.rectangel.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Rectangle">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseVentilBehavior"
            description="DESY Ventil (dlog)"
            id="behavior.desy.rectangel.vent"
            widgetTypeId="org.csstudio.sds.components.Rectangle">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseAlarmBehavior"
            description="DESY Stoermeldung"
            id="behavior.desy.ellipse.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Ellipse">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseOperatingBehavior"
            description="DESY Betriebsmeldung"
            id="behavior.desy.ellipse.betreibsMeldung"
            widgetTypeId="org.csstudio.sds.components.Ellipse">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseConnectionBehavior"
            description="DESY Connection Ellipse"
            id="behavior.desy.ellipse.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Ellipse">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.EllipseVentilBehavior"
            description="DESY Ventil (dlog)"
            id="behavior.desy.ellipse.vent"
            widgetTypeId="org.csstudio.sds.components.Ellipse">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.PolygonAlarmBehavior"
            description="DESY Alarm+Con Polygon"
            id="behavior.desy.polygon.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Polygon">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.PolygonConnectionBehavior"
            description="DESY Connection Polygon"
            id="behavior.desy.polygon.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Polygon">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SixteenBinaryBarAlarmBehavior"
            description="DESY Alarm+Con Sixteen Binary Bar"
            id="behavior.desy.sixteenbinarybar.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.SixteenBinaryBar">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SixteenBinaryBarConnectionBehavior"
            description="DESY Connection Sixteen Binary Bar"
            id="behavior.desy.sixteenbinarybar.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.SixteenBinaryBar">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ThumbWheelAlarmBehavior"
            description="DESY Alarm+Con Thumb Wheel"
            id="behavior.desy.thumbwheel.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.ThumbWheel">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ThumbWheelConnectionBehavior"
            description="DESY Connection Thumb Wheel"
            id="behavior.desy.thumbwheel.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.ThumbWheel">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ThermometerAlarmBehavior"
            description="DESY Alarm+Con Thermometer"
            id="behavior.desy.thermometer.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Thermometer">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ThermometerConnectionBehavior"
            description="DESY Connection Thermometer"
            id="behavior.desy.thermometer.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Thermometer">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ScaledSliderAlarmBehavior"
            description="DESY Alarm+Con Scaled Slider"
            id="behavior.desy.scaledslider.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.ScaledSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ScaledSliderConnectionBehavior"
            description="DESY Connection Scaled Slider"
            id="behavior.desy.scaledslider.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.ScaledSlider">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.MarkedWidgetDesyAlarmBehavior"
            description="DESY Alarm+Con Gauge"
            id="behavior.desy.gauge.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Gauge">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.MarkedWidgetDesyConnectionBehavior"
            description="DESY Connection Gauge"
            id="behavior.desy.gauge.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Gauge">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.MarkedWidgetDesyAlarmBehavior"
            description="DESY Alarm+Con XMeter"
            id="behavior.desy.xmeter.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.XMeter">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.MarkedWidgetDesyConnectionBehavior"
            description="DESY Connection XMeter"
            id="behavior.desy.xmeter.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.XMeter">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.KnobAlarmBehavior"
            description="DESY Alarm+Con Knob"
            id="behavior.desy.knob.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Knob">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.KnobConnectionBehavior"
            description="DESY Connection Knob"
            id="behavior.desy.knob.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Knob">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ArcAlarmBehavior"
            description="DESY Alarm+Con Arc"
            id="behavior.desy.arc.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Arc">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ArcConnectionBehavior"
            description="DESY Connection Arc"
            id="behavior.desy.arc.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Arc">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ImageAlarmBehavior"
            description="DESY Alarm+Con Image"
            id="behavior.desy.image.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Image">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.ImageConnectionBehavior"
            description="DESY Connection Image"
            id="behavior.desy.image.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Image">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SwitchAlarmBehavior"
            description="DESY Alarm+Con Switch"
            id="behavior.desy.switch.alarmdefault"
            widgetTypeId="org.csstudio.sds.components.Switch">
      </behavior>
      <behavior
            class="org.csstudio.sds.behavior.desy.SwitchConnectionBehavior"
            description="DESY Connection Switch"
            id="behavior.desy.switch.connectiondefault"
            widgetTypeId="org.csstudio.sds.components.Switch">
      </behavior>
   </extension>
   
</plugin>
