<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.scan.ui.scandata.ScanInfoEditorInputFactory"
            id="org.csstudio.scan.ui.scandata.inputfactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.scan.ui.scandata.OpenScanData"
            id="org.csstudio.scan.ui.scandata.open_scan_data"
            name="%OpenScanData">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.csstudio.scan.ui.scandata.open_scan_data"
               icon="icons/scan_data.gif"
               label="%OpenScanData"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <!-- Enable on 1 ScanInfo, but if the 'active' scan updates,
                       the selection will be empty, so look for 0 or 1
                    -->
                  <count value="?"/>
                  <iterate>
                     <instanceof
                           value="org.csstudio.scan.server.ScanInfo">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
  </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.scan.ui.scandata.ScanDataEditor"
            default="false"
            icon="icons/scan_data.gif"
            id="org.csstudio.scan.ui.scandata.display"
            name="%ScanData">
      </editor>
   </extension>
</plugin>
