<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.trends.sscan.model.ModelItem"
            class="org.csstudio.trends.sscan.AdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
         <adapter
               type="org.csstudio.trends.sscan.ProcessVariableWithSamples">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.trends.sscan.model.ChannelInfo"
            class="org.csstudio.trends.sscan.AdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.trends.sscan.editor.SscanEditor"
            default="true"
            extensions="splt"
            icon="icons/scanner.png"
            id="org.csstudio.trends.sscan.editor.SscanEditor"
            name="Scan">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="%CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.sscan.scancontrol.SscanView"
            icon="icons/scanner.png"
            id="org.csstudio.trends.sscan.scancontrol.SscanView"
            name="ScanView"
            restorable="true">
      </view>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.sscan.exportview.ExportView"
            icon="icons/export.png"
            id="org.csstudio.trends.sscan.exportview.ExportView"
            name="%ExportView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.trends.sscan.Perspective"
            icon="icons/scanner.png"
            id="org.csstudio.trends.sscan.Perspective"
            name="Scan">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.trends"
            class="org.csstudio.trends.sscan.preferences.PreferencePage"
            id="org.csstudio.trends.sscan.preferences"
            name="Scan">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <cheatsheet
            category="org.csstudio"
            composite="false"
            contentFile="cheatsheets/reset.xml"
            id="org.csstudio.trends.sscan.reset"
            name="Reset Sscan Perspective">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio"
            composite="false"
            contentFile="cheatsheets/plot.xml"
            id="org.csstudio.trends.sscan.plot"
            name="Plot Sscan Data">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/firststeps.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.trends.sscan.OpenSscanPopup"
            id="org.csstudio.trends.sscan.OpenSscanPopup"
            name="Scan">
      </command>
      <command
            defaultHandler="org.csstudio.trends.sscan.NewSscanHandler"
            id="org.csstudio.trends.sscan.NewSscanHandler"
            name="Scan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="platform:/plugin/org.csstudio.csdata/icons/processVariable.png"
               id="org.csstudio.trends.sscan.popup.processvariablewithsamples"
               label="%PVSampleMenu">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="org.csstudio.trends.sscan.ProcessVariableWithSamples"/>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.trends.sscan.OpenSscanPopup"
               icon="icons/scanner_plus.png"
               label="Scan"
               style="push"
               tooltip="%PopmenuTooltip">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenWaterfall"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/waterfall-16.png"
               label="Waterfall"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:trends">
         <command
               commandId="org.csstudio.trends.sscan.NewSscanHandler"
               icon="icons/scanner_plus.png"
               label="Sscan"
               style="push"
               tooltip="%NewSscanTT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.trends.sscan.toolbar">
             <command
                   commandId="org.csstudio.trends.sscan.NewSscanHandler"
                   icon="icons/scanner_plus.png"
                   label="Scan"
                   style="push"
                   tooltip="%NewSscanTT">
             </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.csstudio.openfile.openDisplay">
      <openDisplay
            class="org.csstudio.trends.sscan.OpenDisplayFile"
            file_extension="sscn">
      </openDisplay>
   </extension>
</plugin>
