<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.csstudio.sds.rules">
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_1"
            compatibleProperties="sds.color"
            name="Set#1 color rule"
            ruleId="cosyrules.color.set#1">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_2"
            compatibleProperties="sds.color"
            name="Set#2 color rule"
            ruleId="cosyrules.color.set#2">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_3"
            compatibleProperties="sds.color"
            name="Set#3 color rule"
            ruleId="cosyrules.color.set#3">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_4"
            compatibleProperties="sds.color"
            name="Set#4 color rule"
            ruleId="cosyrules.color.set#4">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_5"
            compatibleProperties="sds.color"
            name="Set#5 color rule"
            ruleId="cosyrules.color.set#5">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_Enteis"
            compatibleProperties="sds.color"
            name="MKK-Enteis color rule"
            ruleId="cosyrules.color.mkk-enteis">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_10KV"
            compatibleProperties="sds.color"
            name="MKK-10KV color rule"
            ruleId="cosyrules.color.mkk-10kv">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Zeus_FB"
            compatibleProperties="sds.color"
            name="Zeus-FB color rule"
            ruleId="cosyrules.color.zeus-fb">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.CRYO_Temp_1"
            compatibleProperties="sds.color"
            name="CRYO_Temp#1 color rule"
            ruleId="cosyrules.color.cryo_temp#1">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Sy_status"
            compatibleProperties="sds.color"
            name="Sy-status color rule"
            ruleId="cosyrules.color.sy-status">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Alarm"
            compatibleProperties="sds.color"
            name="Alarm color rule"
            ruleId="cosyrules.color.alarm">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.AlarmBorder"
            compatibleProperties="sds.option"
            name="Alarm Border Style rule"
            ruleId="cosyrules.color.alarmBorder">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.AlarmBorderWidth"
            compatibleProperties="sds.integer"
            name="Alarm Border Width rule"
            ruleId="cosyrules.color.alarmBorderWidth">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Kryo_TTF"
            compatibleProperties="sds.color"
            name="Kryo-TTF color rule"
            ruleId="cosyrules.color.kryo-ttf">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Kryo_Dig"
            compatibleProperties="sds.color"
            name="Kryo-Dig color rule"
            ruleId="cosyrules.color.kryo-dig">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.AEND_dlog"
            compatibleProperties="sds.color"
            name="AEND_dlog color rule"
            ruleId="cosyrules.color.aend_dlog">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_gn_gr_rt"
            compatibleProperties="sds.color"
            name="BIN_gn_gr_rt_gb_bl"
            ruleId="org.csstudio.sds.rule.color.bin_gn_gr_rt">
         <parameterDescription
               name="Value">
         </parameterDescription>
         <parameterDescription
               name="gruen value">
         </parameterDescription>
         <parameterDescription
               name="grau value">
         </parameterDescription>
         <parameterDescription
               name="rot value">
         </parameterDescription>
         <parameterDescription
               name="gelb value">
         </parameterDescription>
         <parameterDescription
               name="blau value">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0rt_1gn"
            compatibleProperties="sds.color"
            name="BIN_0rt_1gn color rule"
            ruleId="cosyrules.color.bin_0rt_1gn">
         <parameterDescription name="Duble Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gn_1rt"
            compatibleProperties="sds.color"
            name="BIN_0gn_1rt color rule"
            ruleId="cosyrules.color.bin_0gn_1rt">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gr_1gn"
            compatibleProperties="sds.color"
            name="BIN_0gr_1gn color rule"
            ruleId="cosyrules.color.bin_0gr_1gn">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gr_1rt"
            compatibleProperties="sds.color"
            name="BIN_0gr_1rt color rule"
            ruleId="cosyrules.color.bin_0gr_1rt">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_trennstlg"
            compatibleProperties="sds.color"
            name="BIN_trennstlg color rule"
            ruleId="cosyrules.color.bin_trennstlg">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_sv"
            compatibleProperties="sds.color"
            name="MKK_sv color rule"
            ruleId="cosyrules.color.mkk_sv">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Gradient"
            compatibleProperties="sds.color"
            name="Gradient"
            ruleId="cosyrules.color.gradient">
         <parameterDescription name="Double Value Between -1.0 and 1.0"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.DefaultEpicsAlarmBackground"
            compatibleProperties="sds.color"
            name="Default Epics Alarm Color Rule Background"
            ruleId="org.css.sds.color.default_epics_alarm_background">
         <parameterDescription
               name="Double Value Between 0 and 3">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.DefaultEpicsAlarmForeground"
            compatibleProperties="sds.color"
            name="Default Epics Alarm Color Rule Foreground"
            ruleId="org.css.sds.color.default_epics_alarm_foreground">
         <parameterDescription
               name="Double Value Between -1.0 and 2.0">
         </parameterDescription>
      </rule>
            <rule
                  class="org.csstudio.sds.cosyrules.color.IfNotZero"
                  compatibleProperties="sds.boolean"
                  name="If not zero"
                  ruleId="org.css.sds.color.if_not_zero">
         <parameterDescription
               name="Double Value">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.IfZero"
            compatibleProperties="sds.boolean"
            name="If zero"
            ruleId="org.css.sds.color.if_zero">
         <parameterDescription
               name="Double Value">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.IfEqual"
            compatibleProperties="sds.boolean"
            name="Equal (Two value) "
            ruleId="org.css.sds.ifEqual">
         <parameterDescription
               name="Value 1">
         </parameterDescription>
         <parameterDescription
               name="Value 2">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.IfNotEqual"
            compatibleProperties="sds.boolean"
            name="Not Equal (Two value) "
            ruleId="org.css.sds.ifNotEqual">
         <parameterDescription
               name="Value 1">
         </parameterDescription>
         <parameterDescription
               name="Value 2">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.IfGraterThen"
            compatibleProperties="sds.boolean"
            name="Greater Then (Two value) "
            ruleId="org.css.sds.ifGreaterThen">
         <parameterDescription
               name="Greatter Value">
         </parameterDescription>
         <parameterDescription
               name="Smaller Value">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.TickmarkRule"
            compatibleProperties="sds.double"
            name="Tickmarks"
            ruleId="org.css.sds.Tickmark">
         <parameterDescription
               name="Value">
         </parameterDescription>
         <parameterDescription
               name="Severity">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.IsInvalidRule"
            compatibleProperties="sds.boolean"
            name="Is Invalid"
            ruleId="org.csstudio.rule.boolean.isInvalid">
         <parameterDescription
               name="Severity">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.KompressorBetrColorRule"
            compatibleProperties="sds.color"
            name="Kompressor Betr Color Rule"
            ruleId="org.csstudio.sds.rule.color.kbtr">
         <parameterDescription
               name="VAL">
         </parameterDescription>
         <parameterDescription
               name="Störungs Bit">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.FontWidthRule"
            compatibleProperties="sds.font"
            name="Font Width Rule"
            ruleId="org.csstudio.sds.settings.desy.fontWidthRule">
         <parameterDescription
               name="Value">
         </parameterDescription>
         <parameterDescription
               name="Max Width">
         </parameterDescription>
         <parameterDescription
               name="Max height">
         </parameterDescription>
         <parameterDescription
               name="Font">
         </parameterDescription>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MaintenanceRule"
            compatibleProperties="sds.path"
            name="Maintenance Rule"
            ruleId="org.csstudio.sds.cosyrules.color.maintenancerule">
         <parameterDescription
               name="org.csstudio.sds.settings.desy.parameterDescription1">
         </parameterDescription>
      </rule>
   </extension>
</plugin>
