<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
         point="org.csstudio.sds.rules">
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_1"
            name="Set#1 color rule"
            ruleId="cosyrules.color.set#1">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_2"
            name="Set#2 color rule"
            ruleId="cosyrules.color.set#2">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_3"
            name="Set#3 color rule"
            ruleId="cosyrules.color.set#3">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_4"
            name="Set#4 color rule"
            ruleId="cosyrules.color.set#4">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Set_5"
            name="Set#5 color rule"
            ruleId="cosyrules.color.set#5">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_Enteis"
            name="MKK-Enteis color rule"
            ruleId="cosyrules.color.mkk-enteis">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_10KV"
            name="MKK-10KV color rule"
            ruleId="cosyrules.color.mkk-10kv">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Zeus_FB"
            name="Zeus-FB color rule"
            ruleId="cosyrules.color.zeus-fb">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.CRYO_Temp_1"
            name="CRYO_Temp#1 color rule"
            ruleId="cosyrules.color.cryo_temp#1">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Sy_status"
            name="Sy-status color rule"
            ruleId="cosyrules.color.sy-status">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Alarm"
            name="Alarm color rule"
            ruleId="cosyrules.color.alarm">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Kryo_TTF"
            name="Kryo-TTF color rule"
            ruleId="cosyrules.color.kryo-ttf">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Kryo_Dig"
            name="Kryo-Dig color rule"
            ruleId="cosyrules.color.kryo-dig">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.AEND_dlog"
            name="AEND_dlog color rule"
            ruleId="cosyrules.color.aend_dlog">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0rt_1gn"
            name="BIN_0rt_1gn color rule"
            ruleId="cosyrules.color.bin_0rt_1gn">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gn_1rt"
            name="BIN_0gn_1rt color rule"
            ruleId="cosyrules.color.bin_0gn_1rt">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gr_1gn"
            name="BIN_0gr_1gn color rule"
            ruleId="cosyrules.color.bin_0gr_1gn">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_0gr_1rt"
            name="BIN_0gr_1rt color rule"
            ruleId="cosyrules.color.bin_0gr_1rt">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.BIN_trennstlg"
            name="BIN_trennstlg color rule"
            ruleId="cosyrules.color.bin_trennstlg">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.MKK_sv"
            name="MKK_sv color rule"
            ruleId="cosyrules.color.mkk_sv">
         <parameterDescription name="Double Value"/>
      </rule>
      <rule
            class="org.csstudio.sds.cosyrules.color.Gradient"
            name="Gradient"
            ruleId="cosyrules.color.gradient">
         <parameterDescription name="Double Value Between -1.0 and 1.0"/>
      </rule>
   </extension>

</plugin>
