<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%Editor"
            extensions="pace"
            default="true"
            filenames="pace"
            icon="icons/pace.gif"
            class="org.csstudio.display.pace.EditorPart"
            id="table_editor.PACETableEditor">
         <contentTypeBinding
               contentTypeId="org.csstudio.display.pace">
         </contentTypeBinding>
      </editor>
   </extension>
         <extension
           point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
    </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type id="org.csstudio.display.pace"
            file-extensions="pace"
            name="PACE Configuration">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.display.pace.gui.PreferencePage"
            id="org.csstudio.display.pace.preferences"
            name="PACE">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.display.pace.model.Cell"
            class="org.csstudio.display.pace.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>


