<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PACE Editor"
            extensions="pace"
            default="true"
            filenames="pace"
            icon="icons/pace.gif"
            class="org.csstudio.display.pace.EditorPart"
            id="table_editor.PACETableEditor">
         <contentTypeBinding
               contentTypeId="org.csstudio.display.pace">
         </contentTypeBinding>
      </editor>
   </extension>
         <extension
           point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
    </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="pace"
            id="org.csstudio.display.pace"
            name="PACE Table"
            priority="normal">
      </content-type>
   </extension>
</plugin>


