<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="%SystemMonitor"
            icon="icons/sysmon.gif"
            category="org.csstudio"
            class="org.csstudio.utility.sysmon.SysMonView"
            id="org.csstudio.utility.sysmon.SysMonView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.csstudio.utility.sysmon.SysMonView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/sysmon.gif"
               label="%SystemMonitor"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.sysmon.SysMonView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page category="org.csstudio.platform.ui.css.applications.utilities"
            class="org.csstudio.utility.sysmon.PreferencePage"
            id="org.csstudio.utility.sysmon.PreferencePage"
            name="%SystemMonitor"/>
   </extension>
</plugin>
