<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.scan.log.datalog">
      <datalog
            class="org.csstudio.scan.log.derby.DerbyDataLogFactory"
            name="Derby-based scan log">
      </datalog>
   </extension>
</plugin>
