<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.utility.pvamanger.widgets.test.VImageDisplayDemo"
            id="org.csstudio.utility.pvamanger.widgets.test.VImageDisplayDemo"
            name="VImageDisplay Demo">
      </view>
   </extension>
</plugin>
