<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.opibuilder.adl2boy.ADL2BOYApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ADL-2-BOY"
            class="org.csstudio.opibuilder.adl2boy.Perspective"
            id="org.csstudio.opibuilder.adl2boy.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="A category to hold references to boy commands"
            id="org.csstudio.opibuilder.adl2boy.BOYCategory"
            name="BOY">
      </category>
      <command
            categoryId="org.csstudio.opibuilder.adl2boy.BOYCategory"
            defaultHandler="org.csstudio.opibuilder.adl2boy.EditADLHandler"
            description="Convert ADL to OPI"
            id="org.csstudio.opibuilder.adl2boy.editADLwithBoy"
            name="Convert ADL File to OPI">
      </command>
      <command
            categoryId="org.csstudio.opibuilder.adl2boy.BOYCategory"
            defaultHandler="org.csstudio.opibuilder.adl2boy.WriteADLColorMapHandler"
            description="Write the ADLs color Map to Boys Defaults"
            id="org.csstudio.opibuilder.adl2boy.writeColorMapToDefaultFile"
            name="Write ADL Color Map to Color Map File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.opibuilder.adl2boy.EditADLHandler"
            commandId="org.csstudio.opibuilder.adl2boy.editADLwithBoy">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <or>
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.adl">
                        </test>
                     </or>
                  </adapt>
               </or>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.csstudio.opibuilder.adl2boy.BOYMenu"
               label="BOY"
               mnemonic="B">
            <command
                  commandId="org.csstudio.opibuilder.adl2boy.editADLwithBoy"
                  icon="icons/medm.JPG"
                  id="org.csstudio.opibuilder.adl2boy.editADLwithBoy"
                  mnemonic="E"
                  style="push"
                  tooltip="Open this File with BOY Editor">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="*.adl">
                              </test>
                           </or>
                        </adapt>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.csstudio.opibuilder.adl2boy.writeColorMapToDefaultFile"
                  icon="icons/medm.JPG"
                  id="org.csstudio.opibuilder.adl2boy.writeColorMapToDefaultFile"
                  style="push"
                  tooltip="Write the color map in this file to BOY&apos;s default Color Map">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="*.adl">
                              </test>
                           </or>
                        </adapt>
                     </or>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.opibuilder.adl2boy.popupMenu"
            nameFilter="*.adl"
            objectClass="org.eclipse.core.resources.IResource">
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="xml/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.opibuilder.adl2boy.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.opibuilder.adl2boy.preferences.adl2boyPreferencePage"
            id="org.csstudio.opibuilder.adl2boy.preferences.adl2boyPreferencePage"
            name="adl2boy">
      </page>
   </extension>

</plugin>
