<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=org.csstudio.ui.menu.popup.processvariable">
         <menu
               icon="icons/channel-query-16.png"
               id="org.csstudio.ui.menu.popup.channelquery"
               label="Channel Query">
            <visibleWhen>
            <or>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="gov.bnl.channelfinder.api.ChannelQuery">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="[Lgov.bnl.channelfinder.api.ChannelQuery;">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </or>
            </visibleWhen>
            <separator name="main"/>
         </menu>
         <menu
               icon="icons/channel.png"
               id="org.csstudio.ui.menu.popup.channel"
               label="Channel">
            <visibleWhen>
            <or>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="gov.bnl.channelfinder.api.Channel">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="[Lgov.bnl.channelfinder.api.Channel;">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </or>
            </visibleWhen>
            <separator name="main"/>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.channel">
         <command
               commandId="org.csstudio.utility.channel.info"
               icon="icons/channel_info.png"
               label="Show Channel Info"
               style="push">
         </command>
         <command
               commandId="org.csstudio.utility.channel.addTag"
               icon="icons/add_tag.png"
               label="Add Tag"
               style="push">
         </command>
         <command
               commandId="org.csstudio.utility.channel.removeTag"
               icon="icons/remove_tag.png"
               label="Remove Tag"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.utility.channel.actions.InfoCommandHandler"
            description="Show details for the selected channels"
            id="org.csstudio.utility.channel.info"
            name="Show Channel Info">
      </command>
      <command
            defaultHandler="org.csstudio.utility.channel.actions.AddTagCommandHandler"
            description="Tag the selected channels"
            id="org.csstudio.utility.channel.addTag"
            name="Add Tag">
      </command>
      <command
            defaultHandler="org.csstudio.utility.channel.actions.RemoveTagCommandHandler"
            description="Tag the selected channels"
            id="org.csstudio.utility.channel.removeTag"
            name="Remove Tag">
      </command>
   </extension>

</plugin>
