<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remotercp.chat.ui.ChatEditor"
            default="false"
            icon="icons/start_chat_32x32.png"
            id="org.eclipsercp.hyperbola.contacts.ui.chateditor"
            name="ChatEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipsercp.hyperbola.chatActionSet"
            label="Action Set"
            visible="true">
         <menu
               id="org.eclipsercp.hyperbola.menu"
               label="Menu">
            <separator
                  name="org.eclipsercp.hyperbola.separator">
            </separator>
         </menu>
         <action
               class="org.remotercp.chat.actions.ChatAction"
               icon="icons/start_chat_32x32.png"
               id="org.eclipsercp.hyperbola.startChatAction"
               label="Start Chat"
               toolbarPath="org.eclipsercp.hyperbola.separator">
         </action>
      </actionSet>
   </extension>

</plugin>
