<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.ArchiveView"
            icon="icons/archiveTable.png"
            id="org.csstudio.alarm.table.ui.ArchiveView"
            name="Archive Table"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.LogView"
            icon="icons/logTable.png"
            id="org.csstudio.alarm.table.ui.LogView"
            name="Log Table"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.AlarmView"
            icon="icons/alarmTable.png"
            id="org.csstudio.alarm.table.ui.AlarmView"
            name="Alarm Table"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
	  <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.AmsVerifyView"
            icon="icons/verifyTable.png"
            id="org.csstudio.alarm.table.ui.AmsVerifyView"
            name="AMS Verifier"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.PropertiesView"
            icon="icons/logTable.png"
            id="org.csstudio.alarm.table.PropertiesView"
            name="Message properties Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.log.LogViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.JmsLogsPreferencePage"
            name="Log Table"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.alarm.AlarmViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.AlarmViewerPreferencePage"
            name="Alarm Table"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.archive.ArchiveViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.LogArchiveViewerPreferencePage"
            name="Archive Table"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.verifier.AmsVerifyViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.AmsVerifyViewerPreferencePage"
            name="AMS Verifier"/>
      <page
            category="org.csstudio.platform.ui.css.applications.alarm"
            class="org.csstudio.alarm.table.preferences.JmsLogPreferencePage"
            id="de.desy.css.jmsLogs.page3"
            name="Message Table"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.alarm.table.preferences.log.LogViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.archive.ArchiveViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.JmsLogPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.alarm.AlarmViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.verifier.AmsVerifyViewPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="de.desy.css.jmsLogs"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.alarm.table.ui.ShowArchiveView"
               icon="icons/archiveTable.png"
               id="org.csstudio.alarm.table.ui.ShowArchiveView"
               label="Archive Table"
               menubarPath="css/alarm/"
               style="push"
               tooltip="Show JMS Log archive"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowLogView"
               icon="icons/logTable.png"
               id="org.csstudio.alarm.table.ui.ShowLogView"
               label="Log Table"
               menubarPath="css/diag/"
               style="push"
               tooltip="Show JMS Log"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowAmsVerifyView"
               icon="icons/verifyTable.png"
               id="org.csstudio.alarm.table.ui.ShowAmsVerifyView"
               label="AMS Verifier"
               menubarPath="css/diag/"
               style="push"
               tooltip="Show AMS Verifier"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowAlarmView"
               icon="icons/alarmTable.png"
               id="org.csstudio.alarm.table.ui.ShowAlarmView"
               label="Alarm Table"
               menubarPath="css/alarm/"
               style="push"
               tooltip="Show JMS Alarms"/>

      </actionSet>
   </extension>
<!--   <extension
         point="org.csstudio.platform.controlSystemItemFactories">
      <controlSystemItemFactory
            class="org.csstudio.alarm.table.dataModel.TextContainerFactory"
            typeId="org.csstudio.alarm.table.controlSystemItemFactory1"/>
   </extension>-->
      <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.alarm.table.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.alarm.table.ArchivePopupAction"
               enablesFor="1"
               icon="icons/archiveTable.png"
               id="org.csstudio.alarm.table.archivepopupAction"
               label="Archive Table"
               menubarPath="org.csstudio.popmenu/content"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.alarm.table.dataModel.BasicMessage"
            class="org.csstudio.alarm.table.dataModel.MessagePropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.alarm.table.dataModel.BasicMessage"
            class="org.csstudio.alarm.table.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.csstudio.desy.startuphelper.startupListener">
      <startupService
            class="org.csstudio.alarm.table.MessageListAutoStart"
            id="org.csstudio.alarm.table.startupMessageLists"
            isHighPriority="False">
      </startupService>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.alarm.table.archivepopup"
               icon="icons/archiveTable.png"
               label="Archive Table"
               style="push"
               tooltip="Archive Table">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.alarm.table.ArchivePopupAction"
            id="org.csstudio.alarm.table.archivepopup"
            name="Archive Table">
      </command>
   </extension>
</plugin>
