<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.ArchiveView"
            icon="icons/archiveTable.png"
            id="org.csstudio.alarm.table.ui.ArchiveView"
            name="Log Archive Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.LogView"
            icon="icons/logTable.png"
            id="org.csstudio.alarm.table.ui.LogView"
            name="Log Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.AlarmView"
            icon="icons/alarmTable.png"
            id="org.csstudio.alarm.table.ui.AlarmView"
            name="Alarm Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
	  <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.ui.AmsVerifyView"
            icon="icons/logTable.png"
            id="org.csstudio.alarm.table.ui.AmsVerifyView"
            name="AMS Verifier"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.alarm.table.PropertiesView"
            icon="icons/logTable.png"
            id="org.csstudio.alarm.table.PropertiesView"
            name="Message properties Viewer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.LogViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.JmsLogsPreferencePage"
            name="Jms Log viewer"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.AlarmViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.AlarmViewerPreferencePage"
            name="JMS Alarm viewer"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.ArchiveViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.LogArchiveViewerPreferencePage"
            name="JMS Log archive viewer"/>
      <page
            category="de.desy.css.jmsLogs.page3"
            class="org.csstudio.alarm.table.preferences.AmsVerifyViewPreferencePage"
            id="de.desy.css.jmsLogs.preferences.AmsVerifyViewerPreferencePage"
            name="AMS Verifier"/>
      <page
            category="org.csstudio.platform.ui.css.applications.alarm"
            class="org.csstudio.alarm.table.preferences.JmsLogPreferencePage"
            id="de.desy.css.jmsLogs.page3"
            name="JMS Logs"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.alarm.table.preferences.LogViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.ArchiveViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.JmsLogPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.AlarmViewPreferenceInitializer"/>
      <initializer class="org.csstudio.alarm.table.preferences.AmsVerifyViewPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="de.desy.css.jmsLogs"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.alarm.table.ui.ShowArchiveView"
               icon="icons/archiveTable.png"
               id="org.csstudio.alarm.table.ui.ShowArchiveView"
               label="JMSLogsArchive"
               menubarPath="css/alarm/"
               style="push"
               tooltip="Show JMS Log archive"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowLogView"
               icon="icons/logTable.png"
               id="org.csstudio.alarm.table.ui.ShowLogView"
               label="JMSLogs"
               menubarPath="css/diag/"
               style="push"
               tooltip="Show JMS Log"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowAmsVerifyView"
               icon="icons/logTable.png"
               id="org.csstudio.alarm.table.ui.ShowAmsVerifyView"
               label="AMS Verifier"
               menubarPath="css/diag/"
               style="push"
               tooltip="Show AMS Verifier"/>
         <action
               class="org.csstudio.alarm.table.ui.ShowAlarmView"
               icon="icons/alarmTable.png"
               id="org.csstudio.alarm.table.ui.ShowAlarmView"
               label="JMSAlarmLog"
               menubarPath="css/alarm/"
               style="push"
               tooltip="Show JMS Alarms"/>

      </actionSet>
   </extension>
   <extension
         point="org.csstudio.platform.controlSystemItemFactories">
      <controlSystemItemFactory
            class="org.csstudio.alarm.table.dataModel.TextContainerFactory"
            typeId="org.csstudio.alarm.table.controlSystemItemFactory1"/>
   </extension>
      <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.alarm.table.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.alarm.table.ArchivePopupAction"
               enablesFor="1"
               icon="icons/archiveTable.png"
               id="org.csstudio.alarm.table.archivepopupAction"
               label="Log Archive"
               menubarPath="org.csstudio.popmenu/content"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.alarm.table.dataModel.JMSMessage"
            class="org.csstudio.alarm.table.dataModel.MessagePropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
</plugin>
