<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.frib.opiTemplate.actions.OpenOPITemplateHandler"
            id="org.csstudio.frib.opiTemplate.openDeviceOPI"
            name="Device OPI">
      </command>
      <command
            defaultHandler="org.csstudio.frib.opiTemplate.views.OpenOPITemplate"
            id="org.csstudio.frib.opiTemplate.views.OpenOPITemplate"
            name="OPI Template">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.frib.opiTemplate.views.OPITemplate"
            icon="icons/rocs.png"
            id="org.csstudio.frib.opiTemplate.views.OPITemplate"
            name="OPI Template"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.frib.opiTemplate.openDeviceOPI"
               icon="icons/rocs.png"
               label="Device OPI"
               style="push"
               tooltip="Send PV name to Device OPI">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.channelquery">
         <command
               commandId="org.csstudio.frib.opiTemplate.views.OpenOPITemplate"
               icon="icons/rocs.png"
               label="OPI Template"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/rocs.png"
               label="OPI Template"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.frib.opiTemplate.views.OPITemplate">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.opibuilder.editparts.IPVWidgetEditpart"
            class="org.csstudio.opibuilder.editparts.PVWidgetAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.csstudio.openfile.openDisplay">
   </extension>
</plugin>
