<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            extensions="fits,png,tif,tiff,jpg,jpeg"
            icon="icons/logo.png"
            id="org.csstudio.imagej.launcher"
            launcher="org.csstudio.imagej.ImageJLauncher"
            name="%ImageJ">
      </editor>
   </extension>

</plugin>
