<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.msu.frib.scanserver.api.client">
      <scanserverclient
            scanserverclient="org.csstudio.utility.scan.ScanServerClientFromPreferences">
      </scanserverclient>
   </extension>

</plugin>
