<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.logbook.viewer.LogViewer"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.viewer.LogViewer"
            name="Log Viewer"
            restorable="true">
      </view>
      <view
            class="org.csstudio.logbook.ui.LogTableView"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.ui.LogTableView"
            name="Log Table"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
               label="Log Viewer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.logbook.viewer.LogViewer">
            </parameter>
         </command>
         <command
               commandId="org.csstudio.logbook.viewer.OpenLogViewer"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
               label="Search Logbook"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.logbook.ui.LogViewerPerspective"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.ui.LogViewerPerspective"
            name="LogViewerPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.logbook.ui.LogViewer"
            default="false"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.ui.LogViewer"
            name="LogViewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.logbook.ui.OpenLogViewer"
            id="org.csstudio.logbook.viewer.OpenLogViewer"
            name="Search Logbook">
      </command>
   </extension>

</plugin>
