<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.ldap.namespacebrowser.ui.MainView"
            icon="icons/LDAPBrowser.gif"
            id="org.csstudio.utility.ldap.namespacebrowser.ui.MainView"
            name="Namespace Browser (LDAP)"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.ldap.namespacebrowser.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.utility.ldap.namespacebrowser.PvPopupAction"
               enablesFor="1"
               icon="icons/LDAPBrowser.gif"
               id="org.csstudio.utility.ldap.namespacebrowser.PvPopupAction"
               label="Name Space Browser (LDAP)"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send selected PV to the Name Space Browser"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.csstudio.utility.product.CSStudioPerspective">
         <viewShortcut
               id="org.csstudio.utility.ldap.namespacebrowser.ui.MainView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
        <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.utility.ldap.namespacebrowser.ui.ShowNamespaceBrowser"
            id="org.csstudio.utility.ldap.newnamespacebrowser"
            name="New NameSpaceBrowser">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.utility.ldap.newnamespacebrowser"
               icon="icons/LDAPBrowser.gif"
               label="NameSpaceBrowser"
               style="push"
               tooltip="Name Space Browser">
         </command>
      </menuContribution>
      </extension>
              <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.utility.namespace.utility.ProcessVariableItem"
            class="org.csstudio.utility.namespace.utility.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>
