<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.namespacebrowser.tine.ui.MainViewTine"
            icon="icons/LDAPNsBTine.gif"
            id="org.csstudio.utility.namespacebrowser.tine.ui.MainViewTine"
            name="NamespaceBrowser (Tine)"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.utility.namespacebrowser.tine.actionSet1"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.utility.namespacebrowser.tine.ui.ShowNamespaceBrowserTine"
               icon="icons/LDAPNsBTine.gif"
               id="org.csstudio.utility.namespacebrowser.tine.action1"
               label="NamespaceBrowser (Tine)"
               menubarPath="css/utility/"
               style="push"/>
      </actionSet>
   </extension>

</plugin>
