<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.desy.logging.ui.LoggingPreferencePage"
            id="org.csstudio.desy.logging.ui.PreferencePage"
            name="Log4J Logging">
      </page>
   </extension>


</plugin>
