<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.utility.adlparser.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.utility.adlparser.Perspective"
            icon="icons/medm.JPG"
            id="org.csstudio.utility.adlParser.perspective"
            name="ADL Parser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="org.csstudio.utility.adlparser.View"
            id="org.csstudio.utility.adlParser.view">
      </view>
      <category
            id="org.csstudio.utility.adlParser.adlParserCategory"
            name="ADL Parser"
            parentCategory="org.csstudio">
      </category>
      <view
            class="org.csstudio.utility.adlparser.ADLTreeView"
            icon="icons/medm.JPG"
            id="org.csstudio.utility.adlParser.ADLTreeView"
            name="ADL Tree View"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.utility.adlParser.application"
            name="RCP Application">
         <property
               name="windowImages"
               value="icons/medm.jpg">
         </property>
      </product>
   </extension>

</plugin>
