<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.csstudio.logbook.ui.propertywidget" name="Property Widget" schema="schema/org.csstudio.logbook.ui.propertywidget.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.logbook.ui.CreateLogEntryView"
            icon="icons/logentry-add-16.png"
            id="org.csstudio.logbook.ui.CreateLogEntry"
            name="%MakeLogEntry"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.logbook.ui.OpenLogEntryBuilderDialog"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logentry-add-16.png"
               label="%MakeLogEntry"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.csstudio.logbook.ui.OpenLogEntryBuilderDialog"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logentry-add-16.png"
               label="%MakeLogEntry"
               style="push"
               tooltip="Duplicate the selected log entry">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.csstudio.logbook.LogEntryBuilder">
                     </adapt>
                  </iterate>
                  <and>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.csstudio.logbook.ui.OpenLogEntryUpdateDialog"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logentry-edit-16.png"
               label="%UpdateLogEntry"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.csstudio.logbook.LogEntryBuilder">
                     </adapt>
                  </iterate>
                  <and>
                     <with
                           variable="activeMenuSelection">
                        <count
                              value="1">
                        </count>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.csstudio.logbook.ui.toolbar">
            <command
                  commandId="org.csstudio.logbook.ui.OpenLogEntryBuilderDialog"
                  icon="platform:/plugin/org.csstudio.logbook.ui/icons/logentry-add-16.png"
                  label="%MakeLogEntry"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.logbook.ui.OpenLogEntryBuilderDialog"
            id="org.csstudio.logbook.ui.OpenLogEntryBuilderDialog"
            name="%MakeLogEntry">
      </command>
      <command
            defaultHandler="org.csstudio.logbook.ui.OpenLogEntryUpdateDialog"
            id="org.csstudio.logbook.ui.OpenLogEntryUpdateDialog"
            name="%UpdateLogEntry">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.logbook.LogEntry"
            class="org.csstudio.logbook.ui.LogEntryAdapterFactory">
         <adapter
               type="org.csstudio.logbook.LogEntryBuilder">
         </adapter>
      </factory>
   </extension>
</plugin>
