<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="AMS"
            id="org.csstudio.nams.configurator">
      </category>
      <view
            name="AMS Configuration Tree"
            icon="icons/ams.gif"
            category="org.csstudio.nams.configurator"
            class="org.csstudio.nams.configurator.treeviewer.ConfigurationTreeView"
            id="org.csstudio.nams.configurator.views.ConfigurationTreeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.nams.configurator.PerspectiveFactory"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.perspective"
            name="AMS Configurator">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.nams.configurator.editor.ConfigurationEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.ConfigurationEditor"
            name="Configuration Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.nams.configurator.configurationNodeContribution"
            objectClass="org.csstudio.nams.configurator.treeviewer.model.treecomponents.IConfigurationNode">
         <action
               class="org.csstudio.nams.configurator.treeviewer.actions.NewEntryAction"
               icon="icons/abiword_abi.png"
               id="org.csstudio.nams.configurator.newEntryaction"
               label="New Entry"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.csstudio.nams.configurator.configurationGroupContribution"
            objectClass="org.csstudio.nams.configurator.treeviewer.model.treecomponents.SortgroupNode">
         <action
               class="org.csstudio.nams.configurator.treeviewer.actions.NewEntryAction"
               icon="icons/abiword_abi.png"
               id="org.csstudio.nams.configurator.newGroupAction"
               label="New Group Entry">
         </action>
      </objectContribution>
   </extension>

</plugin>
