<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.utility.chat.GroupChatView"
            icon="icons/group16.png"
            id="org.csstudio.utility.chat.group"
            name="%ChatView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.utility.chat.IndividualChatView"
            icon="icons/person16.png"
            id="org.csstudio.utility.chat.individual"
            name="%IndividualChat"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/group16.png"
               label="%ChatView"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.chat.group">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.utilities"
            id="org.csstudio.utility.chat.preferences"
            class="org.csstudio.utility.chat.PreferencePage"
            name="%ChatView">
      </page>
   </extension>
  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="false"/>
  </extension>
</plugin>
