<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CAGatewayApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.cagateway.CaGateway">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.cagateway.management.StopServer"
            id="org.csstudio.diag.interconnectionServer.management.StopServer"
            label="Stop Server">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.cagateway.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="CAGatewayProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.cagateway.CAGatewayApplication"
            name="CAGateway">
         <property
               name="appName"
               value="CAGateway">
         </property>
      </product>
   </extension>


</plugin>
