<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.logbook.ologviewer.openOlog"
               icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
               label="Open Olog"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.logbook.ologviewer.OlogEditor"
            default="false"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.ologviewer.ologeditor"
            name="Olog">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.logbook.ologviewer.OlogPerspective"
            icon="platform:/plugin/org.csstudio.logbook.ui/icons/logbook-16.png"
            id="org.csstudio.logbook.ologviewer.ologperspective"
            name="Olog Perpective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.logbook.ologviewer.OpenOlog"
            id="org.csstudio.logbook.ologviewer.openOlog"
            name="Open Olog">
      </command>
   </extension>

</plugin>
