<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.scan.ui.plot.ScanPlotView"
            icon="icons/plot.gif"
            id="org.csstudio.scan.ui.plot.view"
            name="%ScanPlot"
            restorable="true">
      </view>
   </extension>

</plugin>
