<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.alarm"
            class="org.csstudio.alarm.service.preferences.AlarmServicePreferencePage"
            id="org.csstudio.alarm.service.preferences.AlarmServicePreferencePage"
            name="Alarm-Service Preferences">
      </page>
   </extension>
   <extension
         point="org.csstudio.auth.authorizationId">
      <id
            description="Administration of alarm configuration and database."
            id="alarmAdministration">
      </id>
      <id
            description="Defining the alarm tree"
            id="alarmConfiguration">
      </id>
   </extension>
   <extension
         point="org.csstudio.auth.authorizationId">
      <id
            description="Permission for operating/ alarm acknowledge."
            id="operating">
      </id>
   </extension>


</plugin>
