<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.csstudio.rap.core.preferences.ServerPreferenceFactory"
            name="server">
      </scope>
   </extension>
     <extension
           point="org.eclipse.rap.ui.entrypoint">
        <entrypoint
              class="org.csstudio.rap.core.debug.RAPDebugEntryPoint"
              id="org.csstudio.rap.core.debug.entrypoint"
              path="/debug">
        </entrypoint>
     </extension>
     <extension
           id="defaultLoginModule"
           name="Default Login Module"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="org.csstudio.rap.core.security.DefaultLoginModule"
              description="Default Login Module">
        </loginModule>
     </extension>
     <extension
           id="LdapLoginModule"
           name="Standard LDAP Login Module"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="com.sun.security.auth.module.LdapLoginModule"
              description="Standard LDAP Login Module">
        </loginModule>
     </extension>
     <extension
           id="JndiLoginModule"
           name="Standard JndiLoginModule"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="com.sun.security.auth.module.JndiLoginModule"
              description="Standard Jndi Login Module">
        </loginModule>
     </extension>
     <extension
           id="LDAPBindLoginModule"
           name="Simplified LDAP login module"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="org.csstudio.rap.core.security.LDAPBindLoginModule"
              description="Simplified LDAP login module">
        </loginModule>
     </extension>
     <extension
           id="Krb5LoginModule"
           name="Kerberos login module"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="com.sun.security.auth.module.Krb5LoginModule"
              description="Kerberos login module">
        </loginModule>
     </extension>

</plugin>
