<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.nams.newconfigurator"
            name="%category.name.0">
      </category>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.AlarmbearbeiterView"
            fastViewWidthRatio=".5f"
            id="org.csstudio.nams.configurator.alarmbearbeiter"
            name="%view.name.0">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.AlarmbearbeitergruppenView"
            fastViewWidthRatio=".5f"
            id="org.csstudio.nams.configurator.alarmbearbeitergruppen"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.AlarmtopicView"
            fastViewWidthRatio=".5f"
            id="org.csstudio.nams.configurator.alarmtopic"
            name="%view.name.2">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.FilterView"
            fastViewWidthRatio=".5f"
            id="org.csstudio.nams.configurator.filter"
            name="%view.name.3">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.FilterbedingungView"
            fastViewWidthRatio="0.5f"
            id="org.csstudio.nams.configurator.filterbedingung"
            name="%view.name.4">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio.nams.newconfigurator"
            class="org.csstudio.nams.configurator.views.SyncronizeView"
            fastViewWidthRatio="0.5f"
            id="org.csstudio.nams.configurator.syncronize"
            name="%view.name.5">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.nams.configurator.editor.AlarmbearbeiterEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.editor.AlarmbearbeiterEditor"
            name="%editor.name.0">
      </editor>
      <editor
            class="org.csstudio.nams.configurator.editor.AlarmbearbeitergruppenEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.editor.AlarmbearbeitergruppenEditor"
            name="%editor.name.1">
      </editor>
      <editor
            class="org.csstudio.nams.configurator.editor.AlarmtopicEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.editor.AlarmtopicEditor"
            name="%editor.name.2">
      </editor>
      <editor
            class="org.csstudio.nams.configurator.editor.FilterEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.editor.FilterEditor"
            name="%editor.name.3">
      </editor>
      <editor
            class="org.csstudio.nams.configurator.editor.FilterbedingungEditor"
            icon="icons/ams.gif"
            id="org.csstudio.nams.configurator.editor.FilterbedingungEditor"
            name="%editor.name.4">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.nams.configurator.PerspectiveFactory"
            fixed="true"
            id="org.csstudio.nams.newconfigurator.perspective"
            name="%perspective.name.0">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.csstudio.nams.newconfigurator.perspective">
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.alarmbearbeiter"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.alarmbearbeitergruppen"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="top"
               relative="org.csstudio.nams.configurator.alarmbearbeiter"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.filterbedingung"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="stack"
               relative="org.csstudio.nams.configurator.alarmbearbeiter"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.alarmtopic"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="stack"
               relative="org.csstudio.nams.configurator.filterbedingung"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.filter"
               minimized="false"
               moveable="true"
               ratio="0.4f"
               relationship="stack"
               relative="org.csstudio.nams.configurator.alarmbearbeitergruppen"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.csstudio.nams.configurator.syncronize"
               minimized="false"
               moveable="true"
               ratio="0.8f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.csstudio.nams.configurator.syncronize"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.csstudio.platform.ui.internal.perspectives.CssDefaultPerspective">
         <perspectiveShortcut
               id="org.csstudio.nams.newconfigurator.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.csstudio.nams.configurator.beans.IConfigurationBeanContribution"
            objectClass="org.csstudio.nams.configurator.beans.IConfigurationBean">
         <action
               class="org.csstudio.nams.configurator.actions.DeleteConfugurationBeanAction"
               id="org.csstudio.nams.configurator.actions.DeleteAlarmbearbeiterAction"
               label="%action.label.0">
         </action>
         <action
               class="org.csstudio.nams.configurator.actions.DuplicateConfigurationBeanAction"
               id="org.csstudio.nams.newconfigurator.action.duplicate"
               label="%action.label.1">
         </action>
      </objectContribution>
   </extension>
           <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.nams.configurator.views.ShowAMS"
            id="org.csstudio.nams.configurator.views.showams"
            name="AMS Configurator">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:configuration">
         <command
               commandId="org.csstudio.nams.configurator.views.showams"
               icon="icons/ams.gif"
               label="AMS Configurator"
               style="push"
               tooltip="AMS Configurator">
         </command>
      </menuContribution>
      </extension>
   <extension
         point="org.csstudio.auth.authorizationId">
      <id
            description="Permission to open and use the AMS Configurator."
            id="amsconfigurator">
      </id>
   </extension>
w

</plugin>
