<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.csstudio.basic.epics.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.basic.epics.BasicPerspective"
            icon="icons/css16.gif"
            id="org.csstudio.basic.epics.BasicPerspective"
            name="Control System Studio">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.basic.epics.application"
            name="Css">
         <property
               name="appName"
               value="Css">
         </property>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,200,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- DESY (Hamburg, Germany)&#x0A;- SNS (Oak Ridge, TN).&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.&#x0A;&#x0A;See http://ics-web.sns.ornl.gov/css">
         </property>
         <property
               name="windowImages"
               value="icons/css16.gif,icons/css32.gif,icons/css48.gif,icons/css64.gif,icons/css1128.gif">
         </property>
         <property
            name="introTitle"
            value="Welcome to Control System Studio (CSS) for EPICS!">
         </property>
         <property
            name="introBrandingImage"
            value="product:icons/css64.gif"/>
         <property
            name="introBrandingImageText"
            value="CSS for EPICS"/>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.basic.epics.product.product"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/overview.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="intro/whatsnew.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
     
   <extension
         point="org.csstudio.startup.module">
      <workbench
            class="org.csstudio.basic.epics.BasicWorkbenchExt">
      </workbench>
   </extension>
   
</plugin>
