<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.desy.language.editor.core.parser.RootNode"
            class="de.desy.language.editor.ui.internal.parserUI.nodes.NodeAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.desy.language.editor.ui.preferences.GlobalSettingsPreferencePage"
            id="de.desy.language.editor.ui.GlobalSettings"
            name="Language Editor Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.desy.language.editor.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
