<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.diag.probe.Probe"
            icon="icons/probe.gif"
            id="org.csstudio.diag.probe.Probe"
            name="%Probe"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.diag.probe.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.diag.probe.PVpopupAction"
               enablesFor="1"
               icon="icons/probe.gif"
               id="org.csstudio.diag.probe.PVpopupAction"
               label="%Probe"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%PopupMenuTooltip"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/probe.gif"
               label="%Probe"
               style="push"
               tooltip="%MenuTooltip">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.diag.probe.Probe">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
