<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.diag.probe.Probe"
            icon="icons/probe.gif"
            id="org.csstudio.diag.probe.Probe"
            name="%Probe"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.probe.OpenProbe"
            id="org.csstudio.diag.probe.OpenProbe"
            name="%Probe">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.probe.OpenProbe"
               icon="icons/probe.gif"
               label="%Probe"
               style="push"
               tooltip="%MenuTooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.diag.probe.OpenProbe"
               icon="icons/probe.gif"
               label="%Probe"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
