<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pvmanager.datasource">
      <datasource
            datasource="org.csstudio.utility.pvmanager.jms.beast.BeastDataSourceFromPreferences"
            name="Beast DataSource (alarm)"
            prefix="alarm">
      </datasource>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
