<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="ITERPasswordProvider"
         name="ITER Password Provider"
         point="org.eclipse.equinox.security.secureStorage">
      <provider
            class="org.csstudio.iter.passwordprovider.ITERPasswordProvider"
            description="The provider generates the master password used for ITER CSS."
            priority="3">
      </provider>
   </extension>

</plugin>
