<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="widget" name="Widget" schema="schema/widget.exsd"/>
   <extension-point id="graphicalFeedbackFactory" name="graphicalFeedbackFactory" schema="schema/graphicalFeedbackFactory.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">

      <!-- Perspective used be have same ID as Editor (..OPIRunner),
           but in Eclipse 4 that caused problems,
           so perspective now has this somewhat odd name
       -->
      <perspective
            class="org.csstudio.opibuilder.runmode.OPIRunnerPerspective"
            icon="icons/OPIBuilder.png"
            id="org.csstudio.opibuilder.OPIRuntime.perspective"
            name="%OPIRunner">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Enter/Exit compact mode"
            id="org.csstudio.opibuilder.actions.compactMode"
            name="Compact Mode">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Enter/Exit Full Screen"
            id="org.csstudio.opibuilder.actions.fullscreen"
            name="Full Screen">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            description="Send PV name to OPI Probe "
            id="org.csstudio.opibuilder.commands.openopiprobe"
            name="Open OPI Probe">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="org.csstudio.opibuilder.actions.OpenOPIProbeHandler"
            id="org.csstudio.opibuilder.openProbeOPI"
            name="OPI Probe">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="OPIBuilder Key Binding Scheme"
            id="org.csstudio.opibuilder.keybinding.scheme"
            name="OPIBuilderKeyBindingScheme">
      </scheme>
      <key
            commandId="org.csstudio.opibuilder.actions.compactMode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
      <key
            commandId="org.csstudio.opibuilder.actions.fullscreen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F11">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.opibuilder.preferences.CommonPreferencePage"
            id="org.csstudio.opibuilder.preferences"
            name="BOY">
      </page>
      <page
            category="org.csstudio.opibuilder.preferences"
            class="org.csstudio.opibuilder.preferences.OPIRuntimePreferencePage"
            id="org.csstudio.opibuilder.preferences.opiruntime"
            name="OPI Runtime">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.csstudio.opibuilder.actionSet"
            label="BOY Actions"
            visible="true">
         <action
               class="org.csstudio.opibuilder.actions.OpenTopOPIsAction"
               icon="icons/OPIRunner.png"
               id="org.csstudio.opibuilder.openTopFileAction"
               label="Top Files"
               pulldown="true"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="Open top files in editor. e.g. Open OPIs in run mode">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.CompactModeAction"
               definitionId="org.csstudio.opibuilder.actions.compactMode"
               id="org.csstudio.opibuilder.compactModeAction"
               label="Compact Mode"
               style="push">
         </action>
         <action
               class="org.csstudio.opibuilder.actions.FullScreenAction"
               definitionId="org.csstudio.opibuilder.actions.fullscreen"
               id="org.csstudio.opibuilder.fullScreenAction"
               label="Full Screen"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.csstudio.opibuilder.runmode.RunnerInputFactory"
            id="org.csstudio.opibuilder.runmode.RunnerInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.showPVInfo"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.ShowPVInfoAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.showPVInfoAction"
               label="Show PV Info"
               tooltip="Show detail infomation of PVs on this widget">
         </action>
         <visibility>
            <and>
               <objectState
                     name="executionMode"
                     value="RUN_MODE">
               </objectState>
               <objectState
                     name="hasPVs"
                     value="true">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.csstudio.opibuilder.CSSpopupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.opibuilder.actions.OpenOPIProbeAction"
               icon="icons/OPIRunner.png"
               id="org.csstudio.opibuilder.openOPIProbeAction"
               label="OPI Probe"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send PV name to OPI Probe">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.showMacros"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.ShowMacrosAction"
               enablesFor="1"
               icon="icons/macro.png"
               id="org.csstudio.opibuilder.showMacrosAction"
               label="Show Macros"
               menubarPath="org.eclipse.gef.group.edit"
               tooltip="Show macros on selected widget">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.rerouteConnection"
            objectClass="org.csstudio.opibuilder.editparts.WidgetConnectionEditPart">
         <action
               class="org.csstudio.opibuilder.actions.RerouteConnectionAction"
               enablesFor="1"
               icon="icons/reroute.gif"
               id="org.csstudio.opibuilder.RerouteAction"
               label="Reroute Connection">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.dumpPVList"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.DumpPVListAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.DumpPVListAction"
               label="Dump PV List"
               menubarPath="org.eclipse.gef.group.edit"
               tooltip="Dump all PVs in the OPI.">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="RUN_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.showNavigator"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.actions.ShowNavigatorAction"
               icon="icons/filenav_nav.gif"
               id="org.csstudio.opibuilder.openRuntimePerspective"
               label="Show Navigator"
               menubarPath="ui">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="RUN_MODE">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="OPIContextHelp.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.opibuilder.views"
            name="BOY">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiView"
            name="OPI View">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiViewLEFT"
            name="OPI View (Left)">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiViewRIGHT"
            name="OPI View (Right)">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiViewTOP"
            name="OPI View (Top)">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiViewBOTTOM"
            name="OPI View (Bottom)">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.PlaceHolderView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.placeHolder"
            name="OPI Placeholder">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.opibuilder.openProbeOPI"
               icon="icons/OPIRunner.png"
               label="OPI Probe"
               style="push"
               tooltip="Send PV name to OPI Probe">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new.ext">
         <menu
               icon="icons/OPIRunner.png"
               label="Top Files">
            <dynamic
                  class="org.csstudio.opibuilder.actions.TopFilesContributionItem"
                  id="org.csstudio.opibuilder.topfiles">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.opibuilder.editparts.IPVWidgetEditpart"
            class="org.csstudio.opibuilder.editparts.PVWidgetAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
         <adapter
               type="[Lorg.csstudio.csdata.ProcessVariable;">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.csstudio.openfile.openDisplay">
      <openDisplay
            class="org.csstudio.opibuilder.actions.ExternalOpenDisplayAction"
            file_extension="opi">
      </openDisplay>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="opi"
            id="org.csstudio.iter.xmleditor.content.opi"
            name="OPI Files"
            priority="low" />
   </extension>
</plugin>
