<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            oracle.jdbc.driver.OracleDriver
    </property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@(DESCRIPTION
            =
            (ADDRESS = (PROTOCOL = TCP)(HOST = dbsrv01.desy.de)(PORT = 1521))
            (ADDRESS = (PROTOCOL = TCP)(HOST = dbsrv02.desy.de)(PORT = 1521))
            (ADDRESS = (PROTOCOL = TCP)(HOST = dbsrv03.desy.de)(PORT = 1521))
            (LOAD_BALANCE = yes)
            (CONNECT_DATA =
            (SERVER = DEDICATED)
            (SERVICE_NAME = desy_db.desy.de)
            (FAILOVER_MODE =
            (TYPE = NONE)
            (METHOD = BASIC)
            (RETRIES = 180)
            (DELAY = 5)
            )
            )
            )</property>

        <property name="hibernate.connection.username">krykmant</property>
        <property name="hibernate.connection.password">krykmant</property>
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="show_sql">false</property>
        <property name="transaction.factory_class">
            org.hibernate.transaction.JDBCTransactionFactory
    </property>
        <property name="hibernate.cache.provider_class">
            org.hibernate.cache.HashtableCacheProvider
    </property>
        <!--
            <property name="hibernate.cache.provider_class">
            org.hibernate.cache.NoCacheProvider </property> <property
            name="hibernate.cache.use_minimal_puts"> true </property> <property
            name="hibernate.cache.use_query_cache"> true </property> <property
            name="hibernate.cache.use_second_level_cache"> false </property>
        -->

        <!-- <property name="hibernate.hbm2ddl.auto">update</property> 

        <mapping class="org.csstudio.config.ioconfig.model.NodeImage" /> -->
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.Channel" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.ChannelStructure" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.Module" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.Slave" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.Master" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.ProfibusSubnet" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.GSDModule" />
        <mapping class="org.csstudio.config.ioconfig.model.Ioc" />
        <mapping class="org.csstudio.config.ioconfig.model.Facility" />
        <mapping class="org.csstudio.config.ioconfig.model.Node" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.GSDFile" />
        <mapping class="org.csstudio.config.ioconfig.model.pbmodel.ModuleChannelPrototype" />
        <mapping class="org.csstudio.config.ioconfig.model.Document" />
        <mapping class="org.csstudio.config.ioconfig.model.Sensors" />
        <mapping class="org.csstudio.config.ioconfig.model.PV2IONameMatcherModel" />
        <mapping
            class="org.csstudio.config.ioconfig.model.pbmodel.ModuleChannelPrototype" />

    </session-factory>
</hibernate-configuration>