<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.channel.contribution1"
            objectClass="org.csstudio.utility.channel.ICSSChannel">
         <menu
               icon="icons/cficon.gif"
               id="org.csstudio.utility.channel.menu"
               label="Channels"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="org.csstudio.utility.channel.actions.AddTagAction"
               icon="icons/add_tag.gif"
               id="org.csstudio.utility.channel.addTag"
               label="Add Tag"
               menubarPath="org.csstudio.utility.channel.menu/group">
         </action>
         <action
               class="org.csstudio.utility.channel.actions.RemoveTagAction"
               icon="icons/remove_tag.gif"
               id="org.csstudio.utility.channel.removeTag"
               label="Remove Tag"
               menubarPath="org.csstudio.utility.channel.menu/group">
         </action>
         <action
               class="org.csstudio.utility.channel.actions.InfoAction"
               id="org.csstudio.utility.channel.info"
               label="Show Channel Info"
               menubarPath="org.csstudio.utility.channel.menu/group">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.csstudio.ui.menu.popup.channel"
               label="Channels">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <or>
                     <iterate>
                        <adapt
                              type="gov.bnl.channelfinder.api.Channel">
                        </adapt>
                     </iterate>
                     <iterate>
                        <adapt
                              type="org.csstudio.utility.channel.ICSSChannel">
                        </adapt>
                     </iterate>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
