<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.channel.contribution1"
            objectClass="gov.bnl.channelfinder.api.Channel">
         <action
               class="org.csstudio.utility.channel.actions.AddTagAction"
               icon="icons/add_tag.png"
               id="org.csstudio.utility.channel.addTag"
               label="Add Tag"
               menubarPath="org.csstudio.ui.menu.popup.channel">
         </action>
         <action
               class="org.csstudio.utility.channel.actions.RemoveTagAction"
               icon="icons/remove_tag.png"
               id="org.csstudio.utility.channel.removeTag"
               label="Remove Tag"
               menubarPath="org.csstudio.ui.menu.popup.channel">
         </action>
         <action
               class="org.csstudio.utility.channel.actions.InfoAction"
               icon="icons/channel_info.png"
               id="org.csstudio.utility.channel.info"
               label="Show Channel Info"
               menubarPath="org.csstudio.ui.menu.popup.channel">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.csstudio.ui.menu.popup.channel"
               label="Channels">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="gov.bnl.channelfinder.api.Channel">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
