<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Monitors"
            description="Monitor widget for Boolean Symbol Image"
            editpart_class="org.csstudio.opibuilder.widgets.symbol.bool.MonitorBoolSymbolEditpart"
            icon="icon/boolSymbolMonitor.png"
            model_class="org.csstudio.opibuilder.widgets.symbol.bool.MonitorBoolSymbolModel"
            name="Boolean Symbol Monitor"
            onlineHelpHtml="html/firststeps/imagebooleansymbolwidget.html"
            typeId="org.csstudio.opibuilder.widgets.symbol.bool.BoolMonitorWidget">
      </widget>
      <widget
            category="Controls"
            description="Control widget for Boolean Symbol Image"
            editpart_class="org.csstudio.opibuilder.widgets.symbol.bool.ControlBoolSymbolEditpart"
            icon="icon/boolSymbolControl.png"
            model_class="org.csstudio.opibuilder.widgets.symbol.bool.ControlBoolSymbolModel"
            name="Boolean Symbol Control"
            onlineHelpHtml="html/firststeps/imagebooleansymbolwidget.html"
            typeId="org.csstudio.opibuilder.widgets.symbol.bool.BoolControlWidget">
      </widget>
      <widget
            category="Monitors"
            description="Monitor widget for Multistate Symbol Image"
            editpart_class="org.csstudio.opibuilder.widgets.symbol.multistate.MonitorMultiSymbolEditPart"
            icon="icon/MultiStateSymbolMonitor.png"
            model_class="org.csstudio.opibuilder.widgets.symbol.multistate.MonitorMultiSymbolModel"
            name="Multistate Symbol Monitor"
            onlineHelpHtml="html/firststeps/imagemultisymbolwidget.html"
            typeId="org.csstudio.opibuilder.widgets.symbol.multistate.MultistateMonitorWidget">
      </widget>
      <widget
            category="Controls"
            description="Control widget for Multistate Symbol Image"
            editpart_class="org.csstudio.opibuilder.widgets.symbol.multistate.ControlMultiSymbolEditPart"
            icon="icon/MultiStateSymbolControl.png"
            model_class="org.csstudio.opibuilder.widgets.symbol.multistate.ControlMultiSymbolModel"
            name="Multistate Symbol Control"
            onlineHelpHtml="html/firststeps/imagemultisymbolwidget.html"
            typeId="org.csstudio.opibuilder.widgets.symbol.multistate.MultistateControlWidget">
      </widget>
   </extension>
   <extension
         point="org.eclipse.help.index">
      <index
            file="index.xml">
      </index>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc_bool.xml"
            primary="true">
      </toc>
      <toc
            file="toc_multi.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="OPIContextHelp.xml">
      </contexts>
   </extension>
</plugin>
