<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.csstudio.utility.dal.epics.infobar">
            <control
                  class="org.csstudio.utility.dal.epics.infobar.EpicsInformationBar"
                  id="CaLib">
            </control>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
