<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="%MsgHist"
            icon="icons/msg_hist.gif"
            category="org.csstudio"
            class="org.csstudio.alarm.beast.msghist.MessageHistoryView"
            id="org.csstudio.alarm.beast.msghist.MessageHistoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!-- MsgHist could be the _only_ entry in the alarm menu.
           To support that case, it cannot use ?after=... modifiers,
           because those fail if the modifier cannot be resolved,
           and then this menu entry does not show.
       -->
      <menuContribution
            allPopups="false"
            locationURI="menu:alarm">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/msg_hist.gif"
               id="org.csstudio.alarm.beast.msghist"
               label="%MsgHist"
               mnemonic="%MsgHistMnemonic"
               style="push"
               tooltip="%MsgHistTT">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.alarm.beast.msghist.MessageHistoryView">
            </parameter> 
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.alarm"
            class="org.csstudio.alarm.beast.msghist.PreferencePage"
            id="org.csstudio.alarm.beast.msghist.PreferencePage"
            name="%MsgHist">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.alarm.beast.msghist.model.PVMessage"
            class="org.csstudio.alarm.beast.msghist.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>
