<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.dct.ui.editor.DctEditor"
            contributorClass="org.csstudio.dct.ui.editor.DctEditorContributor"
            extensions="css-dct"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.DctEditor"
            name="DCT Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.dct.model.IElement"
            class="org.csstudio.dct.ui.workbenchintegration.ModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.dct.metamodel.IRecordDefinition"
            class="org.csstudio.dct.ui.workbenchintegration.ModelAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="css.dct.outline.popup"
            targetID="css.dct.outline">
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddRecordAction"
               enablesFor="1"
               icon="icons/record.png"
               id="AddRecordAction"
               label="Add Record"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IRecordContainer">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddPrototypeAction"
               enablesFor="1"
               icon="icons/prototype.png"
               id="AddPrototypeAction"
               label="Add Prototype"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IFolder">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddInstanceAction"
               enablesFor="1"
               icon="icons/instance.png"
               id="AddInstanceAction"
               label="Add Instance"
               menubarPath="add.ext">
            <enablement>
               <or>
                  <objectClass
                        name="org.csstudio.dct.model.IInstanceContainer">
                  </objectClass>
                  <objectClass
                        name="org.csstudio.dct.model.IFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.RemoveAction"
               icon="icons/delete.png"
               id="RemoveRecordAction"
               label="Remove"
               menubarPath="remove.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IElement">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddFolderAction"
               enablesFor="1"
               icon="icons/folder.png"
               id="AddFolderAction"
               label="Add Folder"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IFolder">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.CopyElementAction"
               enablesFor="+"
               icon="icons/copy.gif"
               id="CopyElementAction"
               label="Copy"
               menubarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.PasteElementAction"
               enablesFor="1"
               icon="icons/paste.gif"
               id="PasteElementAction"
               label="Paste"
               menubarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.OpenGraphicsAction"
               enablesFor="1"
               icon="icons/prototype.png"
               id="OpenGraphicsAction"
               label="Open Graphical Representation"
               menubarPath="add.ext">
            <enablement>
               <or>
                  <objectClass
                        name="org.csstudio.dct.model.IPrototype">
                  </objectClass>
                  <objectClass
                        name="org.csstudio.dct.model.IInstance">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.DisableRecordAction"
               enablesFor="1"
               icon="icons/record_disabled.png"
               id="DisableRecordAction"
               label="Disable Record"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IRecord">
               </objectClass>
            </enablement>
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="DctEditor.Contributions"
            targetID="org.csstudio.dct.ui.DctEditor">
         <action
               class="org.csstudio.dct.ui.editor.UndoAction"
               icon="icons/undo.png"
               id="org.csstudio.dct.ui.editor.UndoAction"
               label="Undo"
               style="push"
               toolbarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.editor.RedoAction"
               icon="icons/redo.png"
               id="org.csstudio.dct.ui.editor.RedoAction"
               label="Redo"
               style="push"
               toolbarPath="add.ext">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.dct.ui.workbenchintegration.DctPerspective"
            fixed="false"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.DctPerspective"
            name="DCT Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/errror_decoration.png"
            id="org.csstudio.dct.ui.decorator2"
            label="aa"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <objectState
                  name="error"
                  value="true">
            </objectState>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="css.dct.outline.actions"
            targetID="org.eclipse.ui.views.ContentOutline">
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.CollapseAllAction"
               icon="icons/collapseall.gif"
               id="org.csstudio.dct.ui.editor.outline.internal.CollapseAllAction"
               label="Collapse All"
               style="push"
               toolbarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.ExpandAllAction"
               icon="icons/expandall.gif"
               id="org.csstudio.dct.ui.editor.outline.internal.ExpandAllAction"
               label="Expand All"
               style="push"
               toolbarPath="add.ext">
         </action>
      </viewContribution>
      <viewContribution
            id="css.dct.hierarchy.actions"
            targetID="org.csstudio.dct.ui.HierarchyView">
         <action
               class="org.csstudio.dct.ui.hierarchy.CollapseAllAction"
               icon="icons/collapseall.gif"
               id="org.csstudio.dct.ui.hierarchy.CollapseAllAction"
               label="Collapse All"
               style="push"
               toolbarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.hierarchy.ExpandAllAction"
               icon="icons/expandall.gif"
               id="org.csstudio.dct.ui.hierarchy.ExpandAllAction"
               label="Expand All"
               style="push"
               toolbarPath="add.ext">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.editors"
            class="org.csstudio.dct.ui.workbenchintegration.PreferencePage"
            id="org.csstudio.dct.ui.PreferencePage"
            name="DCT Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Open DCT Perspective"
            id="org.csstudio.dct.ui.actionSet"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.dct.ui.workbenchintegration.ShowDCTPerspective"
               icon="icons/dctfile.png"
               id="org.csstudio.dct.ui.Openaction"
               label="DCT"
               menubarPath="css/configuration/"
               style="push"
               tooltip="Database Configuration Tool">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.csstudio.dct.ui.newWizards"
            class="org.csstudio.dct.ui.workbenchintegration.NewDctFileWizard"
            finalPerspective="org.csstudio.dct.ui.DctPerspective"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.NewDctFileWizard"
            name="Database Configuration">
      </wizard>
      <category
            id="org.csstudio.dct.ui.newWizards"
            name="Database Configuration Tool">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="css.dct"
            class="org.csstudio.dct.ui.hierarchy.HierarchyView"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.HierarchyView"
            name="DCT Instances View"
            restorable="true">
      </view>
      <category
            id="css.dct"
            name="Database Configuration Tool">
      </category>
      <view
            allowMultiple="true"
            category="css.dct"
            class="org.csstudio.dct.ui.graphicalviewer.GraphicalDctView"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.graphicalviewer.GraphicalDctView"
            name="Graphical DCT View"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
