<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.channel.views.PVTableByPropertyView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
            id="org.csstudio.channel.views.PVTableByPropertyView"
            name="PVTable by Property"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
               label="PVTable by Property"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.PVTableByPropertyView">
            </parameter>
         </command>
      </menuContribution>
    </extension>
</plugin>
