<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.channel.application.category"
            name="Channel Applications">
      </category>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.ChannelViewer"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-viewer-16.png"
            id="org.csstudio.channel.views.ChannelViewer"
            name="Channel Viewer"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.ChannelTreeByPropertyView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/tree-property-16.png"
            id="org.csstudio.channel.views.ChannelTreeByPropertyView"
            name="Channel Tree by Property"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.PVTableByPropertyView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
            id="org.csstudio.channel.views.PVTableByPropertyView"
            name="PV Table by Property"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.WaterfallView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/waterfall-16.png"
            id="org.csstudio.channel.views.WaterfallView"
            name="Waterfall"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.ChannelLinePlotView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/line2d-16.png"
            id="org.csstudio.channel.views.ChannelLinePlotView"
            name="Channel Line Plot"
            restorable="true">
      </view>
      <view
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.ChannelOrchestratorView"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-orchestrator-16.png"
            id="org.csstudio.channel.views.ChannelOrchestratorView"
            name="Channel Orchestrator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <separator
               name="org.csstudio.channel.views.before"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-viewer-16.png"
               label="Channel Viewer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.ChannelViewer">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/tree-property-16.png"
               label="Channel Tree by Property"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.ChannelTreeByPropertyView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
               label="PVTable by Property"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.PVTableByPropertyView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/waterfall-16.png"
               label="Waterfall"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.WaterfallView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/line2d-16.png"
               label="Channel Line Plot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.ChannelLinePlotView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-orchestrator-16.png"
               label="Channel Orchestrator"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channel.views.ChannelOrchestratorView">
            </parameter>
         </command>
         <separator
               name="org.csstudio.channel.views.after"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.channelquery">
         <command
               commandId="org.csstudio.channel.views.OpenChannelViewer"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-viewer-16.png"
               label="Channel Viewer"
               style="push">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenChannelTreeByProperty"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/tree-property-16.png"
               label="Channel Tree by Property"
               style="push">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenPVTableByProperty"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
               label="PV Table by Property"
               style="push">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenWaterfallQuery"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/waterfall-16.png"
               label="Waterfall"
               style="push">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenChannelLinePlot"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/line2d-16.png"
               label="Channel Line Plot"
               style="push">
         </command>
         <command
               commandId="org.csstudio.channel.views.OpenChannelOrchestrator"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-orchestrator-16.png"
               label="Channel Orchestrator"
               style="push">
         </command>
      </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.channel.views.OpenWaterfall"
            id="org.csstudio.channel.views.OpenWaterfall"
            name="Waterfall">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenWaterfallQuery"
            id="org.csstudio.channel.views.OpenWaterfallQuery"
            name="Waterfall">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenChannelTreeByProperty"
            id="org.csstudio.channel.views.OpenChannelTreeByProperty"
            name="Channel Tree by Property">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenPVTableByProperty"
            id="org.csstudio.channel.views.OpenPVTableByProperty"
            name="PV Table by Property">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenChannelViewer"
            id="org.csstudio.channel.views.OpenChannelViewer"
            name="Channel Viewer">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenChannelLinePlot"
            id="org.csstudio.channel.views.OpenChannelLinePlot"
            name="Channel Line Plot">
      </command>
      <command
            defaultHandler="org.csstudio.channel.views.OpenChannelOrchestrator"
            id="org.csstudio.channel.views.OpenChannelOrchestrator"
            name="Channel Orchestrator">
      </command>
   </extension>
</plugin>
