<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:css?after=display">
         <menu
               icon="icons/scan.gif"
               id="scan"
               label="%Scan">
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.scan.ui.PreferencePage"
            id="org.csstudio.scan.ui.prefpage"
            name="%Scan">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.csstudio.scan.ui.wizards"
            name="Scan">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.csstudio.scan.ui.wizards"
            class="org.csstudio.scan.ui.wizards.NewScanFileWizard"
            hasPages="true"
            icon="icons/scan.gif"
            id="org.csstudio.scan.ui.wizards.newScanFileWizard"
            name="Scan File">
      </wizard>
   </extension> 
   
</plugin>
