<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Syslog2JmsApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.alarm.syslog2jms.Syslog2JmsApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.alarm.syslog2jms.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.alarm.syslog2jms.management.Stop"
            id="org.csstudio.syslog2jms.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.alarm.syslog2jms.management.GetDescription"
            id="org.csstudio.syslog2jms.GetDescription"
            label="GetDescription">
      </command>
      <command
            class="org.csstudio.alarm.syslog2jms.management.Restart"
            id="org.csstudio.syslog2jms.Restart"
            label="Restart">
      </command>
   </extension>
   <extension
         id="Syslog2JmsProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.syslog2jms.Syslog2JmsApplication"
            name="Syslog2JmsProduct">
         <property
               name="appName"
               value="Syslog2JmsProduct">
         </property>
      </product>
   </extension>

</plugin>
