<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.alarm.beast.ui.alarmtree.AlarmTreeView"
            icon="icons/alarmtree.gif"
            id="org.csstudio.alarm.beast.ui.alarmtree.View"
            name="%AlarmTree">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:alarm?after=org.csstudio.alarm.beast.alarmtable">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/alarmtree.gif"
               id="org.csstudio.alarm.beast.alarmtree"
               label="%AlarmTree"
               mnemonic="%AlarmTreeMnemonic"
               style="push"
               tooltip="%AlarmTreeTT">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.alarm.beast.ui.alarmtree.View">
            </parameter> 
         </command>
      </menuContribution>
   </extension>
</plugin>
