<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.ChannelViewerEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/channel-viewer-16.png"
            model_class="org.csstudio.channel.opiwidgets.ChannelViewerModel"
            name="Channel Viewer"
            typeId="org.csstudio.channel.opiwidgets.ChannelViewer">
      </widget>
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.ChannelTreeByPropertyEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/tree-property-16.png"
            model_class="org.csstudio.channel.opiwidgets.ChannelTreeByPropertyModel"
            name="Channel Tree by Property"
            typeId="org.csstudio.channel.opiwidgets.ChannelTreeByProperty">
      </widget>
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.PVTableByPropertyEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/table-property-16.png"
            model_class="org.csstudio.channel.opiwidgets.PVTableByPropertyModel"
            name="PVTable by Property"
            typeId="org.csstudio.channel.opiwidgets.PVTableByProperty">
      </widget>
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.WaterfallEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/waterfall-16.png"
            model_class="org.csstudio.channel.opiwidgets.WaterfallModel"
            name="Waterfall"
            typeId="org.csstudio.channel.opiwidgets.Waterfall">
      </widget>
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.Line2DPlotEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/multi-channel-16.png"
            model_class="org.csstudio.channel.opiwidgets.Line2DPlotModel"
            name="Line2d Plot"
            typeId="org.csstudio.channel.opiwidgets.Line2DPlot">
      </widget>
      <widget
            category="Multi-channel"
            editpart_class="org.csstudio.channel.opiwidgets.TunerEditPart"
            icon="org.csstudio.channel.opiwidgets.widget2"
            model_class="org.csstudio.channel.opiwidgets.TunerModel"
            name="Channel Orchestrator"
            typeId="org.csstudio.channel.opiwidgets.AbstractChannelWidget">
      </widget>
   </extension>
</plugin>
