<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.converter.edlfile2opi"
            nameFilter="*.edl"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.csstudio.opibuilder.converter.ui.ConvertToOPIAction"
               enablesFor="*"
               id="org.csstudio.opibuilder.converter.convertedl"
               label="Convert to OPI file"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.converter.edlfolder2opi"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.csstudio.opibuilder.converter.ui.ConvertEDLFolderToOPIAction"
               enablesFor="*"
               id="org.csstudio.opibuilder.converter.edlfolder2opi"
               label="Convert .edl files to OPI recursively"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.opibuilder.converter.ui.EDMConverterPreferencePage"
            id="org.csstudio.opibuilder.converter.preferences"
            name="EDM2OPI Converter">
      </page>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
