<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ChannelFinder"
            id="org.csstudio.channelfinder">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio.channelfinder"
            class="org.csstudio.channelfinder.views.ChannelFinderView"
            icon="icons/cficon.gif"
            id="org.csstudio.channelfinder.views.ChannelfinderView"
            name="Channel Finder View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.csstudio.channelfinder.views.ChannelfinderView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.csstudio.popmenu">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/cficon.gif"
               label="channelfinder"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channelfinder.views.ChannelfinderView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/cficon.gif"
               label="Channel Finder"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channelfinder.views.ChannelfinderView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   
</plugin>
