<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ChannelFinder"
            id="org.csstudio.channelfinder">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio.channelfinder"
            class="org.csstudio.channelfinder.views.ChannelFinderView"
            icon="icons/cficon.gif"
            id="org.csstudio.channelfinder.views.ChannelfinderView"
            name="Channel Finder View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.csstudio.channelfinder.views.ChannelfinderView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.csstudio.mainmenu">
         <menu
               label="CSS">
            <menu
                  label="Display">
               <command
                     commandId="org.csstudio.nsls2.channelviewer.openView"
                     icon="icons/cficon.gif"
                     label="ChannelFinder"
                     style="push">
                  <parameter
                        name="org.eclipse.ui.views.showView.viewId"
                        value="org.csstudio.channelfinder.views.ChannelfinderView">
                  </parameter>
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.csstudio.popmenu">
         <command
               commandId="org.csstudio.nsls2.channelviewer.openView"
               icon="icons/cficon.gif"
               label="channelfinder"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channelfinder.views.ChannelfinderView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.display"
            class="org.csstudio.channelfinder.preferences.ChannelFinderPreferencePage"
            id="org.csstudio.channelviewer.preferences.ChannelFinderPreferencePage"
            name="ChannelFinderPreferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="atleastOneElementSelected">
         <with
               variable="selection">
            <count
                  value="(0-">
            </count>
         </with>
      </definition>
      <definition
            id="ofTypeXmlChannel">
         <with
               variable="selection">
            <iterate
                  operator="or">
               <instanceof
                     value="gov.bnl.channelfinder.model.XmlChannel">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         id="my.handler"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.channelfinder.commands.AddTags"
            commandId="org.csstudio.channelfinder.addtag">
         <enabledWhen>
            <reference
                  definitionId="ofTypeXmlChannel">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.csstudio.channelfinder.commands.RemoveTags"
            commandId="org.csstudio.channelfinder.removetag">
         <enabledWhen>
            <reference
                  definitionId="ofTypeXmlChannel">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.channelfinder"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.channelfinder.OpenChannelFinderViewer"
               icon="icons/cficon.gif"
               id="org.csstudio.channelfinder.openviewaction"
               label="Channel Finder"
               menubarPath="css/display/"
               style="push">
         </action>
      </actionSet>
   </extension>
   
</plugin>
