<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.ldap.namespacebrowser.ui.MainView"
            icon="icons/LDAPBrowser.gif"
            id="org.csstudio.utility.ldap.namespacebrowser.ui.MainView"
            name="Namespace Browser (LDAP)"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.ldap.namespacebrowser.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.utility.ldap.namespacebrowser.PVpopupAction"
               enablesFor="1"
               icon="icons/LDAPBrowser.gif"
               id="org.csstudio.utility.ldap.namespacebrowser.PVpopupAction"
               label="Name Space Browser (LDAP)"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="Send selected PV to the Name Space Browser"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
      		description="Global CSS menu actions"
            id="org.csstudio.utility.ldap.namespacebrowser.ui.MainViewAction"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.utility.ldap.namespacebrowser.ui.ShowNamespaceBrowser"
               icon="icons/LDAPBrowser.gif"
               id="org.csstudio.utility.ldap.namespacebrowser.ui.ShowNamespaceBrowser"
               label="Namespace Browser (LDAP)"
               menubarPath="css/utility/"
               style="push"
               toolbarPath="Normal/additions"/>
      </actionSet>
   </extension>
</plugin>
