<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pvmanager.file.format">
      <fileFormat
            extension="jvtype"
            fileFormat="org.epics.pvmanager.file.json.JVTypeFileFormat"
            name="JSON-vType File Format">
      </fileFormat>
   </extension>
</plugin>
