<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.askap.sb.SBMaintenanceView"
            default="false"
            icon="icons/red_lego.png"
            id="org.csstudio.askap.sb.SBMaintenanceView"
            name="SB Maintenance View">
      </editor>
      <editor
            class="org.csstudio.askap.sb.SBExecutionView"
            default="false"
            icon="icons/run_red_lego.png"
            id="org.csstudio.askap.sb.SBExecutionView"
            name="SB Execution View">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.askap.sb.OpenSBMaintenanceView"
            id="org.csstudio.askap.sb.OpenSBMaintenanceView"
            name="Open SB Maintenance">
      </command>
      <command
            defaultHandler="org.csstudio.askap.sb.OpenSBExecutionView"
            id="org.csstudio.askap.sb.OpenSBExecutionView"
            name="Open SB Execution">
      </command>
      <command
            defaultHandler="org.csstudio.askap.sb.OpenExecutiveLogView"
            id="org.csstudio.askap.sb.OpenExecutiveLogView"
            name="Open Executive Log">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.askap.logviewer.toolbar">
            <command
                  commandId="org.csstudio.askap.sb.OpenSBExecutionView"
                  icon="icons/run_red_lego.png"
                  label="Open SB Execution"
                  style="push"
                  tooltip="Open SB Execution">
            </command>
            <command
                  commandId="org.csstudio.askap.sb.OpenExecutiveLogView"
                  icon="icons/red_lego_log.png"
                  label="Open Executive Log"
                  style="push"
                  tooltip="Open Executive Log">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.askap"
            class="org.csstudio.askap.sb.ExecutiveSummaryView"
            icon="icons/red_lego_summary.png"
            id="org.csstudio.askap.sb.ExecutiveSummaryView"
            name="Executive Summary"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="org.csstudio.askap.sb.ExecutiveLogView"
            icon="icons/red_lego_log.png"
            id="org.csstudio.askap.sb.ExecutiveLogView"
            name="Executive Log View"
            restorable="true">
      </view>
      
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.askap"
            class="org.csstudio.askap.sb.PreferencePage"
            id="org.csstudio.askap.sb.PreferencePage"
            name="Scheduling Block Configuration">
      </page>
   </extension>

</plugin>
