<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.utility.recordproperty.RecordPropertyAction"
            id="org.csstudio.utility.recordproperty.recordpropertyaction"
            name="Record Property">
      </command>
      <command
            defaultHandler="org.csstudio.utility.recordproperty.PVpopupAction"
            id="org.csstudio.utility.recordproperty.recordpropertypopupaction"
            name="Record Propery Popup">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.utility.recordproperty.recordpropertyaction"
               icon="icons/icon3.gif"
               label="Record Property"
               style="push"
               tooltip="Record Property">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.utility.recordproperty.recordpropertypopupaction"
               icon="icons/icon3.gif"
               label="Record Property"
               style="push"
               tooltip="Record Property">
         </command>
      </menuContribution>
      </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="org.csstudio.utility.recordproperty.RecordPropertyView"
            icon="icons/icon3.gif"
            id="org.csstudio.utility.recordproperty"
            name="Record Property">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.recordProperty.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.utility.recordproperty.PVpopupAction"
               enablesFor="1"
               icon="icons/icon3.gif"
               id="org.csstudio.utility.recordProperty.PVpopupAction"
               label="RecordProperty"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%PopupMenuTooltip">
         </action>
      </objectContribution>
   </extension>

</plugin>
