<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Graphics"
            description="An arc or a fan if filled. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ArcEditpart"
            icon="icons/arc.png"
            model_class="org.csstudio.opibuilder.widgets.model.ArcModel"
            name="Arc"
            typeId="org.csstudio.opibuilder.widgets.arc">
      </widget>
      <widget
            category="Graphics"
            description="A line or polyline that supports arrows. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.PolylineEditPart"
            icon="icons/polyline.gif"
            model_class="org.csstudio.opibuilder.widgets.model.PolyLineModel"
            name="Polyline"
            typeId="org.csstudio.opibuilder.widgets.polyline">
      </widget>
      <widget
            category="Graphics"
            description="A polygon graphics shape. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.PolygonEditPart"
            icon="icons/polygon.png"
            model_class="org.csstudio.opibuilder.widgets.model.PolygonModel"
            name="Polygon"
            typeId="org.csstudio.opibuilder.widgets.polygon">
      </widget>
      <widget
            category="Graphics"
            description="A rectangle shape. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RectangleEditpart"
            icon="icons/rectangle2.png"
            model_class="org.csstudio.opibuilder.widgets.model.RectangleModel"
            name="Rectangle"
            typeId="org.csstudio.opibuilder.widgets.Rectangle">
      </widget>
      <widget
            category="Graphics"
            description="Rectangle shape with round corner. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RoundedRectangleEditpart"
            icon="icons/roundedRectangle.png"
            model_class="org.csstudio.opibuilder.widgets.model.RoundedRectangleModel"
            name="Rounded Rectangle"
            typeId="org.csstudio.opibuilder.widgets.RoundedRectangle">
      </widget>
      <widget
            category="Graphics"
            description="An ellipse shape."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.EllipseEditpart"
            icon="icons/ellipse2.png"
            model_class="org.csstudio.opibuilder.widgets.model.EllipseModel"
            name="Ellipse"
            typeId="org.csstudio.opibuilder.widgets.Ellipse">
      </widget>
      <widget
            category="Graphics"
            description="Label is used to display text. Supports multi-line text."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LabelEditPart"
            icon="icons/label.png"
            model_class="org.csstudio.opibuilder.widgets.model.LabelModel"
            name="Label"
            typeId="org.csstudio.opibuilder.widgets.Label">
      </widget>
      <widget
            category="Graphics"
            description="A image widget which can load picture from image file in format of GIF, PNG, JPG, JPEG or BMP."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ImageEditPart"
            icon="icons/image.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ImageModel"
            name="Image"
            typeId="org.csstudio.opibuilder.widgets.Image">
      </widget>
      <widget
            category="Monitors"
            description="A boolean widget that displays 0/1 value as an On/Off LED. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LEDEditPart"
            icon="icons/LED.png"
            model_class="org.csstudio.opibuilder.widgets.model.LEDModel"
            name="LED"
            typeId="org.csstudio.opibuilder.widgets.LED">
      </widget>
      <widget
            category="Monitors"
            description="A boolean widget that displays 0/1 value as an On/Off Image."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ImageBoolIndicatorEditPart"
            icon="icons/imageBooleanIndicator.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ImageBoolIndicatorModel"
            name="Image Boolean Indicator"
            typeId="org.csstudio.opibuilder.widgets.ImageBoolIndicator">
      </widget>
      <widget
            category="Monitors"
            description="A widget that display PV value in text. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextUpdateEditPart"
            icon="icons/textUpdate.png"
            model_class="org.csstudio.opibuilder.widgets.model.TextUpdateModel"
            name="Text Update"
            typeId="org.csstudio.opibuilder.widgets.TextUpdate">
      </widget>
      <widget
            category="Monitors"
            description="A widget that displays numeric value as a meter"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.MeterEditPart"
            icon="icons/XMeter.png"
            model_class="org.csstudio.opibuilder.widgets.model.MeterModel"
            name="Meter"
            typeId="org.csstudio.opibuilder.widgets.meter">
      </widget>
      <widget
            category="Monitors"
            description="A bar graph widget that indicates numeric value as a bar or indicator."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ProgressBarEditPart"
            icon="icons/ProgressBar.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ProgressBarModel"
            name="Progress Bar"
            typeId="org.csstudio.opibuilder.widgets.progressbar">
      </widget>
      <widget
            category="Monitors"
            description="A widget that displays numeric value as a gauge."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GaugeEditPart"
            icon="icons/gauge2.png"
            model_class="org.csstudio.opibuilder.widgets.model.GaugeModel"
            name="Gauge"
            typeId="org.csstudio.opibuilder.widgets.gauge">
      </widget>
      <widget
            category="Monitors"
            description="A widget that displays numeric value as a thermometer. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ThermometerEditPart"
            icon="icons/Thermo.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ThermometerModel"
            name="Thermometer"
            typeId="org.csstudio.opibuilder.widgets.thermometer">
      </widget>
      <widget
            category="Monitors"
            description="A widget that displays numeric value as tank level"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TankEditPart"
            icon="icons/Tank.gif"
            model_class="org.csstudio.opibuilder.widgets.model.TankModel"
            name="Tank"
            typeId="org.csstudio.opibuilder.widgets.tank">
      </widget>
      <widget
            category="Monitors"
            description="A widget that is able to plot 1D or 2D data from PVs."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.XYGraphEditPart"
            icon="icons/XYGraph.gif"
            model_class="org.csstudio.opibuilder.widgets.model.XYGraphModel"
            name="XY Graph"
            typeId="org.csstudio.opibuilder.widgets.xyGraph">
      </widget>
      <widget
            category="Monitors"
            description="A widget that displays a 2D numeric array  (must be flattened to a 1D array as the input PV value) in colors based on its color map."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.IntensityGraphEditPart"
            icon="icons/intensityGraph.png"
            model_class="org.csstudio.opibuilder.widgets.model.IntensityGraphModel"
            name="Intensity Graph"
            typeId="org.csstudio.opibuilder.widgets.intensityGraph">
      </widget>
      <widget
            category="Monitors"
            description="Display the bits in an Integer or Long Integer value as a set of LEDs"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ByteMonitorEditPart"
            icon="icons/ByteMonitor.png"
            model_class="org.csstudio.opibuilder.widgets.model.ByteMonitorModel"
            name="Byte Monitor"
            typeId="org.csstudio.opibuilder.widgets.bytemonitor">
      </widget>
      <widget
            category="Controls"
            description="A button which can execute an action when clicked."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ActionButtonEditPart"
            icon="icons/nativeButton2.png"
            model_class="org.csstudio.opibuilder.widgets.model.ActionButtonModel"
            name="Action Button"
            typeId="org.csstudio.opibuilder.widgets.ActionButton">
      </widget>
      <widget
            category="Controls"
            description="A button which pops up the actions menu after clicked."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.MenuButtonEditPart"
            icon="icons/menubutton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.MenuButtonModel"
            name="Menu Button"
            typeId="org.csstudio.opibuilder.widgets.MenuButton">
      </widget>
      <widget
            category="Controls"
            description="Write value to a pv by inputing text in the widget."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextInputEditpart"
            icon="icons/textInput.png"
            model_class="org.csstudio.opibuilder.widgets.model.TextInputModel"
            name="Text Input"
            typeId="org.csstudio.opibuilder.widgets.TextInput">
      </widget>
      <widget
            category="Controls"
            description="Write value to a pv by inputing text or clicking arrow buttons."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.SpinnerEditpart"
            icon="icons/Spinner.gif"
            model_class="org.csstudio.opibuilder.widgets.model.SpinnerModel"
            name="Spinner"
            typeId="org.csstudio.opibuilder.widgets.spinner">
      </widget>
      <widget
            category="Controls"
            description="A slider with scale and marker that can be used to write and read a numeric PV"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ScaledSliderEditPart"
            icon="icons/scaled_slider.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ScaledSliderModel"
            name="Scaled Slider"
            typeId="org.csstudio.opibuilder.widgets.scaledslider">
      </widget>
      <widget
            category="Controls"
            description="A widget that can be used to write or read a numeric PV by dragging the knob."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.KnobEditPart"
            icon="icons/knob.gif"
            model_class="org.csstudio.opibuilder.widgets.model.KnobModel"
            name="Knob"
            typeId="org.csstudio.opibuilder.widgets.knob">
      </widget>
      <widget
            category="Controls"
            description="A scrollbar widget that can be used to write or read a numeric PV."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ScrollbarEditPart"
            icon="icons/scrollbar.png"
            model_class="org.csstudio.opibuilder.widgets.model.ScrollBarModel"
            name="Scrollbar"
            typeId="org.csstudio.opibuilder.widgets.scrollbar">
      </widget>
      <widget
            category="Controls"
            description="A widget that can be used to read or write a numeric PV on every carry bit."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ThumbWheelEditPart"
            icon="icons/thumbwheel.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ThumbWheelModel"
            name="Thumb Wheel"
            typeId="org.csstudio.opibuilder.widgets.ThumbWheel">
      </widget>
      <widget
            category="Controls"
            description="A boolean switch which is able to write 0/1 to a single bit or the whole PV if Bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.BoolSwitchEditPart"
            icon="icons/BoolSwitch.gif"
            model_class="org.csstudio.opibuilder.widgets.model.BoolSwitchModel"
            name="Boolean Switch"
            typeId="org.csstudio.opibuilder.widgets.BoolSwitch">
      </widget>
      <widget
            category="Controls"
            description="A boolean button which is able to write 0/1 to a single bit or the whole PV if Bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.BoolButtonEditPart"
            icon="icons/BoolButton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.BoolButtonModel"
            name="Boolean Button"
            typeId="org.csstudio.opibuilder.widgets.BoolButton">
      </widget>
      <widget
            category="Controls"
            description="A boolean button widget which uses two images to represent its On/Off states. It supports GIF, PNG, JPG, JPEG, BMP images. It is able to write 0/1 to a single bit or the whole PV if Bit property is -1. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ImageBoolButtonEditPart"
            icon="icons/imageButton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ImageBoolButtonModel"
            name="Image Boolean Button"
            typeId="org.csstudio.opibuilder.widgets.ImageBoolButton">
      </widget>
      <widget
            category="Controls"
            description="A check box widget which is able to read/write 0/1 to a single bit or the whole PV if Bit property is -1. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.CheckBoxEditPart"
            icon="icons/checkboxenabledon.gif"
            model_class="org.csstudio.opibuilder.widgets.model.CheckBoxModel"
            name="Check Box"
            typeId="org.csstudio.opibuilder.widgets.checkbox">
      </widget>
      <widget
            category="Controls"
            description="Make a single choice in a radio box group."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RadioBoxEditpart"
            icon="icons/radiobutton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.RadioBoxModel"
            name="Radio Box"
            typeId="org.csstudio.opibuilder.widgets.radioBox">
      </widget>
      <widget
            category="Controls"
            description="Make a single choice in a button group."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ChoiceButtonEditpart"
            icon="icons/ChoiceButton.png"
            model_class="org.csstudio.opibuilder.widgets.model.ChoiceButtonModel"
            name="Choice Button"
            typeId="org.csstudio.opibuilder.widgets.choiceButton">
      </widget>
      <widget
            category="Controls"
            description="Will ge hidden from Palette."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ActionButtonEditPart"
            icon="icons/nativeButton2.png"
            model_class="org.csstudio.opibuilder.widgets.model.ActionButtonModel"
            name="Button (Deprecated)"
            typeId="org.csstudio.opibuilder.widgets.NativeButton">
      </widget>
      <widget
            category="Controls"
            description="Will not show in palette."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextInputEditpart"
            icon="icons/nativeText.gif"
            model_class="org.csstudio.opibuilder.widgets.model.TextInputModel"
            name="Native Text (Deprecated)"
            typeId="org.csstudio.opibuilder.widgets.NativeText">
      </widget>
      <widget
            category="Controls"
            description="A combo box which can write string or integer to PV based on its items property."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ComboEditPart"
            icon="icons/combo.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ComboModel"
            name="Combo"
            typeId="org.csstudio.opibuilder.widgets.combo">
      </widget>
      <widget
            category="Others"
            description="A table widget which works like a spread sheet."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TableEditPart"
            icon="icons/table.gif"
            model_class="org.csstudio.opibuilder.widgets.model.TableModel"
            name="Table"
            typeId="org.csstudio.opibuilder.widgets.table">
      </widget>
      <widget
            category="Others"
            description="A widget that allows embedding webpage in OPI. "
            editpart_class="org.csstudio.opibuilder.widgets.editparts.WebBrowserEditPart"
            icon="icons/web_browser.png"
            model_class="org.csstudio.opibuilder.widgets.model.WebBrowserModel"
            name="Web Browser"
            typeId="org.csstudio.opibuilder.widgets.webbrowser">
      </widget>
      <widget
            category="Others"
            description="A container that could contains an array of other widgets."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ArrayEditPart"
            icon="icons/array.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ArrayModel"
            name="Array"
            typeId="org.csstudio.opibuilder.widgets.array">
      </widget>
      <widget
            category="Others"
            description="A container widget which can make a bunch of widgets as a group."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GroupingContainerEditPart"
            icon="icons/groupContainer.png"
            model_class="org.csstudio.opibuilder.widgets.model.GroupingContainerModel"
            name="Grouping Container"
            typeId="org.csstudio.opibuilder.widgets.groupingContainer">
      </widget>
      <widget
            category="Others"
            description="A container widget which can embed another OPI file or a group in another OPI file."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LinkingContainerEditpart"
            icon="icons/linkingcontainer.png"
            model_class="org.csstudio.opibuilder.widgets.model.LinkingContainerModel"
            name="Linking Container"
            typeId="org.csstudio.opibuilder.widgets.linkingContainer">
      </widget>
      <widget
            category="Others"
            description="A container widget which can contain several tabs of widgets."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TabEditPart"
            icon="icons/tab.png"
            model_class="org.csstudio.opibuilder.widgets.model.TabModel"
            name="Tabbed Container"
            typeId="org.csstudio.opibuilder.widgets.tab">
      </widget>
      <widget
            category="Others"
            description="A container with a moveble sash inside."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.SashContainerEditPart"
            icon="icons/SashContainer.png"
            model_class="org.csstudio.opibuilder.widgets.model.SashContainerModel"
            name="Sash Container"
            typeId="org.csstudio.opibuilder.widgets.sashContainer">
      </widget>
      <widget
            category="Others"
            description="A virtual widget for automatically layoutting widgets in a container in grids."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GridLayoutEditpart"
            icon="icons/grid.gif"
            model_class="org.csstudio.opibuilder.widgets.model.GridLayoutModel"
            name="Grid Layout"
            typeId="org.csstudio.opibuilder.widgets.gridLayout">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.allwidgets"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.CreateGroupAction"
               enablesFor="+"
               icon="icons/addGroup.png"
               id="org.csstudio.opibuilder.widgets.creategroupAction"
               label="Group"
               menubarPath="group"
               tooltip="Create a group container which contains all the selected widgets.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.FillParentContainerAction"
               enablesFor="1"
               icon="icons/fillParent.png"
               id="org.csstudio.opibuilder.widgets.fillParentContainer"
               label="Fill Parent Container"
               menubarPath="edit"
               tooltip="Resize the widget to fill its parent.">
         </action>
         <visibility>
            <and>
               <objectState
                     name="executionMode"
                     value="EDIT_MODE">
               </objectState>
               <not>
                  <objectClass
                        name="org.csstudio.opibuilder.editparts.DisplayEditpart">
                  </objectClass>
               </not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.groupingcontainer"
            objectClass="org.csstudio.opibuilder.widgets.editparts.GroupingContainerEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.LockUnlockChildrenAction"
               enablesFor="1"
               icon="icons/unlock.png"
               id="org.csstudio.opibuilder.widgets.lockUnlockChildrenAction"
               label="&amp;Lock/Unlock Children"
               menubarPath="group"
               tooltip="Lock/Unlock children in the grouping container.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.RemoveGroupAction"
               enablesFor="1"
               icon="icons/removeGroup.png"
               id="org.csstudio.opibuilder.widgets.removeGroupAction"
               label="Ungroup"
               menubarPath="group"
               tooltip="Remove the group container.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.SelectAllInGroupAction"
               enablesFor="1"
               icon="icons/select_all.png"
               id="org.csstudio.opibuilder.widgets.selectall"
               label="Select All Widgets in Group"
               menubarPath="group"
               tooltip="Select All Widgets in the selected Group">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.tabcontainer"
            objectClass="org.csstudio.opibuilder.widgets.editparts.TabEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.AddTabBeforeAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.addTabBefore"
               label="Add Tab Before"
               menubarPath="tab"
               tooltip="add tab before this tab">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.AddTabAfterAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.addTabAfter"
               label="Add Tab After"
               menubarPath="tab"
               tooltip="add tab after this tab.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.ChangeTabIndexAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.changeTabIndex"
               label="Change Tab Index"
               menubarPath="tab"
               tooltip="Change Tab Index.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.DuplicateTabAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.duplicateTab"
               label="Duplicate Tab"
               menubarPath="tab"
               tooltip="Duplicate  this tab">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.RemoveTabAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.removeTab"
               label="Remove Tab"
               menubarPath="tab"
               tooltip="Remove this tab">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.xygraph"
            objectClass="org.csstudio.opibuilder.widgets.editparts.XYGraphEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.ShowXYGraphToolbarAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.showToolbarAction"
               label="Show/Hide Graph Toolbar"
               menubarPath="xygraph"
               tooltip="Show/Hide XY-Graph Toolbar">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.ClearXYGraphAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.clearGraphAction"
               label="Clear Graph"
               menubarPath="xygraph"
               tooltip="Clear Graph">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.linkingcontainer"
            objectClass="org.csstudio.opibuilder.widgets.editparts.LinkingContainerEditpart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.ReloadOPIAction"
               enablesFor="1"
               icon="icons/refresh.gif"
               id="org.csstudio.opibuilder.widgets.reloadOPIAction"
               label="Reload OPI"
               menubarPath="group"
               tooltip="Reload OPI into this container.">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.allcontainers"
            objectClass="org.csstudio.opibuilder.editparts.AbstractContainerEditpart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.PerformAutoSizeAction"
               enablesFor="1"
               icon="icons/autoSizeGroup.png"
               id="org.csstudio.opibuilder.widgets.performAutoSize"
               label="Perform Auto Size"
               menubarPath="group"
               tooltip="Perform Auto Size on the selected Container.">
         </action>
         <visibility>
            <objectState
                  name="allowAutoSize"
                  value="TRUE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.table"
            objectClass="org.csstudio.opibuilder.widgets.editparts.TableEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.InsertRowAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.insertRow"
               label="Insert Row..."
               menubarPath="table"
               tooltip="Insert a row.">
            <enablement>
               <objectState
                     name="allowInsert"
                     value="TRUE">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.InsertColumnAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.insertColumn"
               label="Insert Column..."
               menubarPath="table"
               tooltip="Insert a column.">
            <enablement>
               <objectState
                     name="allowInsert"
                     value="TRUE">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.DeleteRowAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.deleteRow"
               label="Delete Row"
               menubarPath="table"
               tooltip="Delete this row.">
            <enablement>
               <objectState
                     name="allowDeleteRow"
                     value="TRUE">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.DeleteColumnAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.deleteColumn"
               label="Delete Column"
               menubarPath="table"
               tooltip="Delete this column">
            <enablement>
               <objectState
                     name="allowDeleteColumn"
                     value="TRUE">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.AutoSizeTableColumnsAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.AutoSizeColumns"
               label="Auto Size Columns"
               menubarPath="table"
               tooltip="Auto size columns of the table.">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="RUN_MODE">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.csstudio.opibuilder.graphicalFeedbackFactory">
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.PolyLineFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.polyline">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.PolygonFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.polygon">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.GaugeFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.gauge">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.LEDFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.LED">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.KnobFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.knob">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.MeterFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.meter">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.ArrayFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.array">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.GroupingContainerFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.groupingContainer">
      </graphicalFeedbackFactory>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            description="Open embedded OPI in editor"
            id="org.csstudio.opibuilder.commands.editembeddedopi"
            name="Edit Embedded OPI">
      </command>
      </extension>
            <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.csstudio.opibuilder.commands.editembeddedopi"
               label="Edit Embedded OPI"
               icon="platform:/plugin/org.csstudio.opibuilder.editor/icons/edit.gif"
               style="push">
            <visibleWhen>
              <with variable="activeMenuSelection">
                <iterate ifEmpty="false">
                  <adapt type="org.csstudio.opibuilder.widgets.editparts.LinkingContainerEditpart">
                    <test property="org.csstudio.opibuilder.isEditable" />
                  </adapt>
                </iterate>
              </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
         <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.opibuilder.widgets.actions.EditEmbeddedOPIHandler"
            commandId="org.csstudio.opibuilder.commands.editembeddedopi">
      </handler>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
          class="org.csstudio.opibuilder.widgets.actions.EditableLinkingContainerPropertyTester"
          id="org.csstudio.opibuilder.EditableLinkingContainerPropertyTester"
          namespace="org.csstudio.opibuilder"
          properties="isEditable"
          type="org.csstudio.opibuilder.widgets.editparts.LinkingContainerEditpart">
   </propertyTester>
 </extension>
</plugin>
