<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="Kryo Name Browser"
            icon="icons/browser.png"
            category="org.csstudio"
            class="org.csstudio.config.kryonamebrowser.ui.MainView"
            id="org.csstudio.config.kryonamebrowser.ui.MainView">
      </view>
 	</extension>
 	   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.config.kryonamebrowser"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.config.kryonamebrowser.ui.ShowKryoNameBrowser"
               icon="icons/browser.png"
               id="org.csstudio.config.kryonamebrowser.ui.ShowKryoNameBrowser"
               label="Kryo Name Browser"
               menubarPath="css/configuration/"
               style="push"/>
      </actionSet>
   </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.AddNewNameCommand"
              id="addNewName.command"
              name="addNew">
        </command>
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.ExcelExportHandler"
              id="excelExport.command"
              name="excelExport">
        </command>
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.AddByExampleCommand"
              id="addByExample.command"
              name="addByExample">
        </command>
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.EditCommand"
              id="editEntry.command"
              name="edit">
        </command>
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.DeleteCommand"
              id="deleteEntry.command"
              name="delete">
        </command>
        <command
              defaultHandler="org.csstudio.config.kryonamebrowser.ui.handler.SearchModeCommand"
              id="searchMode.command"
              name="name">
        </command>
     </extension>
     <extension
           point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="toolbar:org.csstudio.config.kryonamebrowser.ui.MainView">
           <command
                 commandId="addNewName.command"
                 label="Add"
                 style="push"
                 tooltip="Add new entry">
           </command>
           <command
                 commandId="excelExport.command"
                 label="Export"
                 style="push"
                 tooltip="Export to excel">
           </command>
           <command
                 commandId="searchMode.command"
                 label="Advanced Search"
                 style="toggle"
                 tooltip="Enables advanced search mode">
           </command>
        </menuContribution>
        <menuContribution
              locationURI="popup:org.csstudio.config.kryonamebrowser.ui.MainView">
           <command
                 commandId="editEntry.command"
                 label="Edit"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="oneElementSelected">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="addByExample.command"
                 label="Add By Example"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="oneElementSelected">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="deleteEntry.command"
                 label="Delete Entry"
                 style="push">
           </command>
        </menuContribution>
     </extension>
     <extension
           point="org.eclipse.core.expressions.definitions">
        <definition
              id="oneElementSelected">
           <with
                 variable="activeMenuSelection">
              <count
                    value="1">
              </count>
           </with>
        </definition>
     </extension>
</plugin>
