<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
       point="org.csstudio.sds.widgetModelInitializers">
      <controlSystemSchema
            class="org.csstudio.sds.test.TestSchema"
            description="For unit tests only!"
            schemaId="schema.test"/>
      <widgetModelInitializer
            class="org.csstudio.sds.test.TestInitializer"
            schemaId="schema.test"
            widgetTypeId="element.test"/>
   </extension>

</plugin>
