<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.config.authorizeid"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.config.authorizeid.AuthorizeIdAction"
               icon="res/icons/ai1.gif"
               id="org.csstudio.config.authorizeid"
               label="AuthorizeId"
               menubarPath="css/configuration/"
               style="push"
               tooltip="AuthorizeId">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.config.authorizeid.AuthorizeIdView"
            icon="res/icons/ai1.gif"
            id="org.csstudio.config.authorizeid"
            name="Authorize Id">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.csstudio.auth.authorizationId">
      <id
            description="Permission to configure the Authorization Id."
            id="AuthorizeId">
      </id>
   </extension>

</plugin>
