<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="widgetModelFactories" name="widgetModelFactories" schema="schema/widgetModelFactories.exsd"/>
  <extension-point id="propertyPersistenceHandlers" name="propertyPersistenceHandlers" schema="schema/propertyPersistenceHandlers.exsd"/>
  <extension-point id="rules" name="rules" schema="schema/rules.exsd"/>
  <extension-point id="widgetModelInitializers" name="widgetModelInitializers" schema="schema/widgetModelInitializers.exsd"/>
  <extension-point id="cursors" name="Cursors" schema="schema/cursors.exsd"/>
  <extension-point id="cursorSelectionRules" name="cursorSelectionRules" schema="schema/cursorSelectionRules.exsd"/>
  <extension-point id="widgetPropertyPostProcessors" name="widgetPropertyPostProcessors" schema="schema/widgetPropertyPostProcessors.exsd"/>
  <extension-point id="behaviors" name="behaviors" schema="schema/behaviors.exsd"/>
  <extension point="org.csstudio.sds.propertyPersistenceHandlers">
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.DoublePropertyPersistenceHandler" typeId="sds.double"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.IntegerPropertyPersistenceHandler" typeId="sds.integer"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.StringPropertyPersistenceHandler" typeId="sds.string"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.BooleanPropertyPersistenceHandler" typeId="sds.boolean"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.PointListPropertyPersistenceHandler" typeId="sds.pointlist"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ColorPropertyPersistenceHandler" typeId="sds.color"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.FontPropertyPersistenceHandler" typeId="sds.font"/>
    <!-- TODO: 12.3.2008: Sven Wende: sds.option für OptionProperty, sds.arrayoption für ArrayOptionProperty -->
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ArrayOptionPropertyPersistenceHandler" typeId="sds.option"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.OptionPropertyPersistenceHandler" typeId="sds.choiceoption"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.DoubleArrayPropertyPersistenceHandler" typeId="sds.doublearray"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.StringMapPropertyPersistenceHandler" typeId="sds.map"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ResourcePropertyPersistenceHandler" typeId="sds.path"/>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ProcessVariablePropertyPersistenceHandler" typeId="sds.pv">
      </propertyPersistenceHandler>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ActionPropertyPersistenceHandler" typeId="sds.action">
      </propertyPersistenceHandler>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.ParamStringPropertyPersistenceHandler" typeId="sds.paramstring">
      </propertyPersistenceHandler>
    <propertyPersistenceHandler class="org.csstudio.sds.internal.persistence.StringPropertyPersistenceHandler" typeId="sds.behavior">
      </propertyPersistenceHandler>
  </extension>
  <extension point="org.csstudio.sds.rules">
    <rule class="org.csstudio.sds.internal.rules.DirectConnectionRule" compatibleProperties="*" name="Direct Connection" ruleId="directConnection">
      <parameterDescription name="Value"/>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.SimpleColorRule" compatibleProperties="sds.color" name="Simple Color Rule" ruleId="simpleColor">
      <parameterDescription name="Value" type="java.lang.Integer"/>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.VisibilityRule" compatibleProperties="sds.boolean" name="Visibility Rule" ruleId="rule.visibility">
      <parameterDescription name="Value"/>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.NullRule" compatibleProperties="*" name="NullRule" ruleId="rule.null">
      <parameterDescription name="Value">
         </parameterDescription>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.SystemTimeRule" compatibleProperties="sds.string" name="System Time Rule" ruleId="rule.systemTime">
      <parameterDescription name="Value"/>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.ActionDataRule" compatibleProperties="sds.action" name="Action Data From Enum" ruleId="rule.actionData">
      <parameterDescription name="Enum[]" type="Enum[]">
         </parameterDescription>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.ConcatEnumValuesRule" compatibleProperties="sds.string" name="Concat Enum Values To String" ruleId="rule.stringArray">
      <parameterDescription name="Enum[]">
         </parameterDescription>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.TestStringRule" compatibleProperties="sds.string" name="TestStringRule" ruleId="TestStringRule">
      <parameterDescription name="Angle" type="java.lang.Double">
         </parameterDescription>
      <parameterDescription name="Prefix" type="java.lang.String">
         </parameterDescription>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.AdvancedColorRule" compatibleProperties="sds.color" name="Advanced Color Rule" ruleId="org.csstudio.sds.AdvancedColor">
      <parameterDescription name="Value" type="java.lang.Double">
         </parameterDescription>
      <parameterDescription name="High Color" type="org.eclipse.swt.graphics.RGB">
         </parameterDescription>
      <parameterDescription name="Medium Color" type="org.eclipse.swt.graphics.RGB">
         </parameterDescription>
      <parameterDescription name="Low Color" type="org.eclipse.swt.graphics.RGB">
         </parameterDescription>
    </rule>
    <rule class="org.csstudio.sds.internal.rules.AliasRule" compatibleProperties="sds.map" name="AliasRule" ruleId="org.csstudio.sds.AliasRule">
      <parameterDescription name="channel" type="java.lang.String">
         </parameterDescription>
    </rule>
  </extension>
  <extension point="org.csstudio.sds.widgetModelInitializers">
    <controlSystemSchema class="org.csstudio.sds.internal.model.initializers.ManualSchema" description="%manualSchema" schemaId="schema.manual"/>
  </extension>
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.csstudio.sds.internal.SdsPreferenceInitializer"/>
  </extension>
  <extension point="org.csstudio.sds.widgetModelFactories">
    <widgetModelFactory class="org.csstudio.sds.internal.model.LinkingContainerModelFactory" description="A container widget which can show up other displays." icon="icons/linkingcontainer.gif" name="Linking Container" typeId="org.csstudio.sds.components.LinkingContainer">
      </widgetModelFactory>
    <widgetModelFactory class="org.csstudio.sds.internal.model.GroupingContainerModelFactory" description="A container widget that can group other widgets." icon="icons/groupcontainer.gif" name="Grouping Container" typeId="org.csstudio.sds.components.GroupingContainer">
      </widgetModelFactory>
  </extension>
  <extension point="org.csstudio.sds.cursors">
    <cursor id="org.csstudio.sds.actionEnabledCursor" image="icons/Action_Enabled_Cursor.gif" name="Action enabled">
      </cursor>
    <cursor id="org.csstudio.sds.actionDisabledCursor" image="icons/Action_Disabled_Cursor.gif" name="Action disabled">
      </cursor>
  </extension>
  <extension point="org.csstudio.sds.cursorSelectionRules">
    <selectionRule class="org.csstudio.sds.cursorservice.DesyRule" id="org.csstudio.sds.DesyCursorSelectionRule" label="DESY Cursor Selection Rule">
      <state id="default" label="Default">
         </state>
      <state id="widgetDisabled" label="Widget disabled">
         </state>
      <state id="noPermission" label="No permission (CSS security)">
         </state>
      <state id="accessAllowed" label="Channel access allowed">
         </state>
      <state id="accessDenied" label="Channel access denied">
         </state>
      <state id="accessUnknown" label="Channel access unknown">
         </state>
      <state id="writeAccessDenied" label="Write access denied">
         </state>
      <state id="actionDataAvailable  " label="Has Action Data">
         </state>
    </selectionRule>
  </extension>
  <extension point="org.eclipse.core.runtime.contentTypes">
    <content-type base-type="org.eclipse.core.runtime.xml" default-charset="ISO-8859-1" file-extensions="css-sds" id="org.csstudio.sds.content-type" name="%SDSContentType" priority="normal">
      <property name="org.csstudio.sds.ContentTypeProperty">
         </property>
    </content-type>
  </extension>
  <extension point="org.csstudio.sds.widgetPropertyPostProcessors">
    <widgetPropertyPostProcessor class="org.csstudio.sds.internal.eventhandling.BorderPropertyPostProcessor" propertyId="border.style" skipOnLoad="false" widgetId="*">
      </widgetPropertyPostProcessor>
    <widgetPropertyPostProcessor class="org.csstudio.sds.internal.eventhandling.BehaviourPropertyPostProcessor" propertyId="behavior" skipOnLoad="false" widgetId="*">
      </widgetPropertyPostProcessor>
  </extension>
</plugin>
