<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.remotercp.preferences.ui.editor.PreferenceEditor"
            icon="icons/preferences_16x16.png"
            id="org.remotercp.preferences.ui.preferenceEditor"
            name="Edit Preferences">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.remotercp.preferences.ui.editorPreferenceAction"
            targetID="org.remotercp.preferences.ui.preferenceEditor">
         <menu
               id="org.remotercp.preferences.ui.preferencesMenu"
               label="Preferences">
            <separator
                  name="org.remotercp.preferences.ui.preferencesSeparator">
            </separator>
         </menu>
         <action
               class="org.remotercp.preferences.ui.actions.ImportPreferencesAction"
               icon="icons/preferences_import_32x32_3.png"
               id="org.remotercp.preferences.ui.importAction"
               label="Import preferences"
               toolbarPath="org.remotercp.preferences.ui.preferencesSeparator"
               tooltip="Import preferences from file">
         </action>
         <action
               class="org.remotercp.preferences.ui.actions.ExportPreferencesAction"
               icon="icons/preferences_export.png"
               id="org.remotercp.preferences.ui.exportAction"
               label="Export Preferences"
               toolbarPath="org.remotercp.preferences.ui.preferencesSeparator"
               tooltip="Export preferences to file">
         </action>
         <action
               class="org.remotercp.preferences.ui.actions.SaveRemotePreferencesAction"
               disabledIcon="icons/filesave_remote_grey.png"
               hoverIcon="icons/filesave_remote.png"
               icon="icons/filesave_remote.png"
               id="org.remotercp.preferences.ui.saveAction"
               label="Save remote preferences"
               style="push"
               toolbarPath="org.remotercp.preferences.ui.preferencesSeparator"
               tooltip="Save preferences to remote user">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.remotercp.preferences.ui.selectedContactsViewContribution"
            targetID="org.remotercp.contacts.selectedContactsView">
         <action
               class="org.remotercp.preferences.ui.actions.RemotePreferencesAction"
               icon="icons/preferences_16x16.png"
               id="org.remotercp.preferences.ui.remotePreferencesAction"
               label="Get remote preferences"
               menubarPath="additions"
               toolbarPath="additions"
               tooltip="Get remote preferences of the selected user">
         </action>
      </viewContribution>
   </extension>

</plugin>
