<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.logbook.logbookfactory">
      <logbookfactory
            class="org.csstudio.logbook.olog.OlogLogbookFactory"
            name="org.csstudio.logbook.olog.logbookfactory">
      </logbookfactory>
   </extension>

</plugin>
