<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.logbook.logbookclientfactory">
      <logbookclientfactory
            class="org.csstudio.logbook.olog.OlogLogbookClientFactory"
            name="org.csstudio.logbook.olog.logbookclientfactory">
      </logbookclientfactory>
   </extension>
   <extension
         point="org.csstudio.logbook.ui.propertywidget">
      <propertywidgetfactory
            propertyName="Context"
            propertywidgetfactory="org.csstudio.logbook.olog.ui.ContextPropertyWidgetFactory">
      </propertywidgetfactory>
      <propertywidgetfactory
            propertyName="Trac"
            propertywidgetfactory="org.csstudio.logbook.olog.ui.TracPropertyWidgetFactory">
      </propertywidgetfactory>
   </extension>

</plugin>
