<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.jaasauthentication.ui.JAASPreferencePage"
            id="org.csstudio.platform.jaasauthentication.ui.page"
            name="%JaasAuthenticationPage"/>
   </extension>

</plugin>
