<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.archive.common.engine.ArchiveEngineApplication">
         </run>
      </application>
   </extension>
   <extension
         id="engine"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.common.engine.application"
            name="DesyArchiveEngine">
         <property
               name="appName"
               value="DesyArchiveEngine">
         </property>
      </product>
   </extension>
</plugin>
