<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="changelog.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelAdaptable"
            class="org.csstudio.channel.widgets.ChannelAdapterFactory">
        <adapter
               type="gov.bnl.channelfinder.api.Channel">
         </adapter>
        <adapter
               type="[Lgov.bnl.channelfinder.api.Channel;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelQueryAdaptable"
            class="org.csstudio.channel.widgets.ChannelQueryAdapterFactory">
         <adapter
               type="gov.bnl.channelfinder.api.ChannelQuery">
         </adapter>
         <adapter
               type="[Lgov.bnl.channelfinder.api.ChannelQuery;">
         </adapter>
      </factory>
   </extension>

</plugin>
