<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="changelog.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.channel.widgets.ProcessVariableAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
         <adapter
               type="[Lorg.csstudio.csdata.ProcessVariable;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
        <adapter
               type="gov.bnl.channelfinder.api.Channel">
         </adapter>
        <adapter
               type="[Lgov.bnl.channelfinder.api.Channel;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelQueryAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="gov.bnl.channelfinder.api.ChannelQuery">
         </adapter>
         <adapter
               type="[Lgov.bnl.channelfinder.api.ChannelQuery;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ConfigurableWidgetAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="org.csstudio.channel.widgets.ConfigurableWidget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.csstudio.ui.menu.popup.processvariable">
         <separator
               name="org.csstudio.channel.views.configure"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=org.csstudio.channel.views.configure">
         <command
               commandId="org.csstudio.channel.widgets.ConfigureHandler"
               icon="platform:/plugin/org.csstudio.channel.widgets/icons/gear-16.png"
               label="Configure..."
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="org.csstudio.channel.widgets.ConfigurableWidget">
                     </adapt>
                  </iterate>
                  <and>
                     <count
                           value="+">
                     </count>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
    </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.channel.widgets.ConfigureHandler"
            id="org.csstudio.channel.widgets.ConfigureHandler"
            name="Configure...">
      </command>
   </extension>

</plugin>
