<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="module" name="org.csstudio.utility.product.module" schema="schema/org.csstudio.utility.product.module.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.utility.product.CSStudioPerspective"
            icon="icons/css16.png"
            id="org.csstudio.utility.product.CSStudioPerspective"
            name="%Perspective">
      </perspective>
      </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.utility.product.PerspectiveHandler"
            id="org.cstudio.utility.product.LoadPerspectives"
            name="Load Perspectives">
      </command>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:utility">
         <command
              commandId="org.cstudio.utility.product.LoadPerspectives"
              label="Load Perspective"
              style="push"
              tooltip="Load Perspective">
         </command>
      </menuContribution>
   </extension>
</plugin>
