<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocApps.xml"
            primary="true">
      </toc>
      <toc
            file="tocCore.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
