<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.management.contactscommands.ui.ContactsCommandHandler"
            id="org.csstudio.management.contactscommands.ui.remote"
            name="name">
         <commandParameter
               id="org.csstudio.management.contactscommands.ui.commandParameter1"
               name="description"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            class="org.csstudio.management.contactscommands.ui.CommandsPopupMenuContribution"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.csstudio.management.contactscommands.ui.remote"
               id="Hallo"
               label="%Hallo Welt"
               mnemonic="%Hallo Welt"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
