<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="DeliverySystemApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.application.deliverysystem.DeliverySystemApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.ams.application.deliverysystem.management.Stop"
            id="org.csstudio.ams.application.deliverysystem.Stop"
            label="Stop">
      </command>
      <command
            class="org.csstudio.ams.application.deliverysystem.management.ListWorker"
            id="org.csstudio.ams.application.deliverysystem.ListWorker"
            label="List Delivery Worker">
      </command>
      <command
            class="org.csstudio.ams.application.deliverysystem.management.Restart"
            id="org.csstudio.ams.application.deliverysystem.Restart"
            label="Restart">
      </command>
      <command
            class="org.csstudio.ams.application.deliverysystem.management.StopWorker"
            id="org.csstudio.ams.application.deliverysystem.StopWorker"
            label="Stop Delivery Worker">
      </command>
      <command
            class="org.csstudio.ams.application.deliverysystem.management.RestartWorker"
            id="org.csstudio.ams.application.deliverysystem.RestartWorker"
            label="Restart Delivery Worker">
      </command>
   </extension>
   <extension
         id="AmsDeliveryProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.application.deliverysystem.DeliverySystemApplication"
            name="AmsDeliverySystem">
         <property
               name="appName"
               value="AmsDeliverySystem">
         </property>
      </product>
   </extension>
   <extension
         id="AmsJmsDeliverySystemProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.application.deliverysystem.DeliverySystemApplication"
            name="AmsJmsDeliverySystem">
         <property
               name="appName"
               value="AmsJmsDeliverySystem">
         </property>
      </product>
   </extension>

</plugin>
