<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications"
            class="org.csstudio.utility.shift.ui.ShiftPreferencePage"
            id="org.csstudio.utility.shift.ui.preferencepage"
            name="Shift">
      </page>
   </extension>

</plugin>
