<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.archive.reader.ArchiveReader">
      <ArchiveReader
            class="org.csstudio.archive.common.reader.DesyArchiveReaderFactory"
            name="org.csstudio.archive.common.reader.DesyArchiveReader"
            prefix="mysql">
      </ArchiveReader>
   </extension>
</plugin>
