<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="PVTable Editor"
            extensions="css-pvtable"
            icon="icons/pvtable.png"
            class="org.csstudio.display.pvmanager.pvtable.editors.PVTableEditor"
            id="org.csstudio.display.pvmanager.pvtable.editors.PVTableEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:display">
         <command
               commandId="org.csstudio.display.pvmanager.open.empty.pvtable"
               icon="icons/pvtable.png"
               label="Open PVTable"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.display.pvmanager.open.new.pvtable"
               icon="icons/pvtable.png"
               label="Open in PVTable"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.display.pvmanager.pvtable.handlers.OpenEmptyPVTable"
            id="org.csstudio.display.pvmanager.open.empty.pvtable"
            name="Open Empty PVTable">
      </command>
      <command
            defaultHandler="org.csstudio.display.pvmanager.pvtable.handlers.OpenNewPVTable"
            id="org.csstudio.display.pvmanager.open.new.pvtable"
            name="Open New PVTable">
      </command>
   </extension>

</plugin>
