<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.dct.exporters">
      <exporter
            class="org.csstudio.dct.treemodelexporter.Exporter"
            default="false"
            description="XML Export"
            icon="icons/exporter.png"
            id="org.csstudio.dct.treemodelexporter.exporter">
      </exporter>
   </extension>

</plugin>
