<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.trim.status">
        <toolbar
              id="org.csstudio.auth.ui.loginInformationToolbar">
           <control
                 class="org.csstudio.auth.ui.internal.workbench.LoginInformationToolbar">
           </control>
        </toolbar>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:file?after=user">
        <command
              commandId="org.csstudio.auth.ui.log_in"
              icon="icons/switch_user.png"
              label="%menuLogin"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <systemTest
                    property="org.csstudio.platform.loginAvailable"
                    value="true">
              </systemTest>
           </visibleWhen>
        </command>
        <dynamic
              class="org.csstudio.auth.ui.internal.actions.LogoutAction"
              id="org.csstudio.auth.ui.log_out">
           <visibleWhen
                 checkEnabled="false">
              <systemTest
                    property="org.csstudio.platform.loginAvailable"
                    value="true">
              </systemTest>
           </visibleWhen>
        </dynamic>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:user">
        <command
              commandId="org.csstudio.auth.ui.log_in"
              icon="icons/switch_user.png"
              label="%menuLogin"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <systemTest
                    property="org.csstudio.platform.loginAvailable"
                    value="true">
              </systemTest>
           </visibleWhen>
        </command>
        <dynamic
              class="org.csstudio.auth.ui.internal.actions.LogoutAction"
              id="org.csstudio.auth.ui.log_out">
           <visibleWhen
                 checkEnabled="false">
              <systemTest
                    property="org.csstudio.platform.loginAvailable"
                    value="true">
              </systemTest>
           </visibleWhen>
        </dynamic>
     </menuContribution>
  </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.csstudio.platform.ui.css.platform"
              class="org.csstudio.auth.ui.internal.preferences.AuthenticationPreferencePage"
              id="org.csstudio.platform.ui.internal.security.AuthenticationPreferencePage"
              name="%authenticationPageName">
        </page>
        <page
              category="org.csstudio.platform.ui.css.platform"
              class="org.csstudio.auth.ui.internal.preferences.SystemPropertiesPreferencePage"
              id="org.csstudio.auth.ui.internal.preferences.SystemPropertiesPreferencePage"
              name="%systemPropertyPreferencesPageName">
        </page>
        <page
              category="org.csstudio.platform.ui.css.platform"
              class="org.csstudio.auth.ui.internal.preferences.OnsiteSubnetPreferencePage"
              id="org.csstudio.auth.ui.internal.preferences.OnsiteSubnetPreferencePage"
              name="Onsite Subnets">
        </page>
     </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              defaultHandler="org.csstudio.auth.ui.internal.actions.LoginAction"
              id="org.csstudio.auth.ui.log_in"
              name="%menuLogin">
        </command>
     </extension>
</plugin>
