<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.platform.ui.internal.connectionview.ConnectionStateView"
            icon="res/icons/connections.png"
            id="org.csstudio.platform.ui.ConnectionStateView"
            name="%connectorView"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            icon="res/icons/containerView.gif"
            id="org.csstudio.platform.ui.internal.developmentsupport.util.ContainerView"
            name="Container View">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.platform.model.pvs.IProcessVariableAddress"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdressAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.pvs.IProcessVariableAdressProvider"
            class="org.csstudio.platform.ui.internal.workbench.ProcessVariableAdressProviderAdapterFactory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.platform.model.pvs.ControlSystemEnum"
            class="org.csstudio.platform.ui.internal.workbench.ControlSystemEnumAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      	 	adaptable="false"
            id="IProcessVariableAdressProviderContributions"
            objectClass="org.csstudio.platform.model.pvs.IProcessVariableAdressProvider">
         <action
               class="org.csstudio.platform.ui.internal.developmentsupport.util.PrintPvsAction"
               icon="res/icons/listpvs.png"
               id="PrintPvsAction"
               label="Print selected Pvs">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.ui.internal.logging.ControlSystemPreferencePage"
            id="org.csstudio.platform.log.controlsystemPreferences"
            name="Control System">
      </page>
   </extension>

</plugin>
