<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.csstudio.phoebus.integration.actions.OpenPhoebusChannelTable"
               icon="icons/channel-viewer-16.png"
               label="Phoebus Channel Search"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.phoebus.integration.actions.OpenPhoebusChannelTable"
               icon="icons/channel-viewer-16.png"
               label="Phoebus Channel Search"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.phoebus.integration.channel.actions.OpenPhoebusChannelTable"
            icon="icons/probe-16.png"
            id="org.csstudio.phoebus.integration.actions.OpenPhoebusChannelTable"
            name="ChannelTable">
      </command>
   </extension>
</plugin>
