<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.alarm.beast.ui.globaltable.GlobalAlarmTableView"
            icon="icons/alarmtable.gif"
            id="org.csstudio.alarm.beast.ui.globaltable.view"
            name="%GlobalAlarmTable">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:alarm?after=org.csstudio.alarm.beast.alarmtree">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/alarmtable.gif"
               id="org.csstudio.alarm.beast.globaltable"
               label="%GlobalAlarmTable"
               mnemonic="%GlobalAlarmTableMnemonic"
               style="push"
               tooltip="%GlobalAlarmTableTT">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.alarm.beast.ui.globaltable.view">
            </parameter> 
         </command>
      </menuContribution>
   </extension>
</plugin>
