<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.dal.plugs">
      <plug
            id="TINE"
            name="TINE"
            propertyFactoryClass="org.csstudio.dal.tine.PropertyFactoryImpl"
            propertyFactoryService="org.csstudio.dal.tine.Activator"/>
   </extension>

</plugin>
