<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.alarm.beast.ui.alarmtable.AlarmTableView"
            icon="icons/alarmtable.gif"
            id="org.csstudio.alarm.beast.ui.alarmtable.view"
            name="%AlarmTable">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:alarm?before=org.csstudio.alarm.beast.msghist">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/alarmtable.gif"
               id="org.csstudio.alarm.beast.alarmtable"
               label="%AlarmTable"
               mnemonic="%AlarmTableMnemonic"
               style="push"
               tooltip="%AlarmTableTT">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.alarm.beast.ui.alarmtable.view">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
