<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.alarm.jms2ora.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="Jms2OraApplicationId"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.alarm.jms2ora.Jms2OraApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.alarm.jms2ora.management.Stop"
            id="org.csstudio.alarm.jms2ora.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.DeleteAllMessageFiles"
            id="org.csstudio.alarm.jms2ora.DeleteAllMessageFiles"
            label="Delete All Message Files">
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.GetMessageFileContent"
            id="org.csstudio.alarm.jms2ora.GetMessageFileContent"
            label="Get Message File Content">
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.GetNameOfMessageFiles"
            id="org.csstudio.alarm.jms2ora.GetNameOfMessageFiles"
            label="Get Name Of Message Files">
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.GetNumberOfMessageFiles"
            id="org.csstudio.alarm.jms2ora.GetNumberOfMessageFiles"
            label="Get Number Of Message Files">
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.GetQueuedMessages"
            id="org.csstudio.alarm.jms2ora.GetQueuedMessages"
            label="Get Queued Messages">
      </command>
      <command
            class="org.csstudio.alarm.jms2ora.management.GetDescription"
            id="org.csstudio.alarm.jms2ora.GetDescription"
            label="Get Description">
      </command>
   </extension>
   <extension
         id="Jms2OraProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.jms2ora.Jms2OraApplicationId"
            name="Jms2OraProduct">
      </product>
   </extension>

</plugin>
