<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.alarm.jms2ora.xmpp.LoginCallbackHandler"
            id="org.csstudio.alarm.jms2ora.loginHandler"
            name="Jms2OraLoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <simpleAction
            class="org.csstudio.alarm.jms2ora.actions.GetQueuedMessagesAction"
            id="org.csstudio.alarm.jms2ora.getQueuedMessagesAction"
            name="Get Number Of Queued Messages"
            visible="true">
      </simpleAction>
      <simpleAction
            class="org.csstudio.alarm.jms2ora.actions.GetNumberOfMessageFilesAction"
            id="org.csstudio.alarm.jms2ora.getNumberOfMessageFilesAction"
            name="Get Number Of Message Files"
            visible="true">
      </simpleAction>
      <simpleAction
            class="org.csstudio.alarm.jms2ora.actions.GetMessageFileContentAction"
            id="org.csstudio.alarm.jms2ora.getMessageFileContentAction"
            name="Get Message File Content"
            visible="true">
      </simpleAction>
      <simpleAction
            class="org.csstudio.alarm.jms2ora.actions.DeleteAllMessageFilesAction"
            id="org.csstudio.alarm.jms2ora.deleteAllMessageFilesAction"
            name="Delete All Message Files"
            visible="true">
      </simpleAction>
      <simpleAction
            class="org.csstudio.alarm.jms2ora.actions.GetNameOfMessageFilesAction"
            id="org.csstudio.alarm.jms2ora.getNameOfMessageFilesAction"
            name="Get Name Of Message File"
            visible="true">
      </simpleAction>
      <parametrizedAction
            class="org.csstudio.alarm.jms2ora.actions.StopJms2OraAction"
            id="org.csstudio.alarm.jms2ora.stopJms2OraAction"
            name="Stop"
            parameters="Password">
      </parametrizedAction>
      <parametrizedAction
            class="org.csstudio.alarm.jms2ora.actions.RestartJms2OraAction"
            id="org.csstudio.alarm.jms2ora.restartJms2OraAction"
            name="Restart"
            parameters="Password"
            visible="true">
      </parametrizedAction>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.alarm.jms2ora.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="Jms2OraProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.Jms2OraId"
            name="Jms2Ora">
         <property
               name="appName"
               value="Jms2Ora">
         </property>
      </product>
   </extension>
   <extension
         id="Jms2OraApplicationId"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.alarm.jms2ora.Jms2OraApplication">
         </run>
      </application>
   </extension>

</plugin>
