<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.kek.product.application"
            name="Css">
         <property
               name="appName"
               value="Css">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/org.csstudio.utility.product/icons/aboutSide.png">
         </property>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- DESY (Hamburg, Germany)&#x0A;- SNS (Oak Ridge, TN)&#x0A;- BNL (Brookhaven, NY)&#x0A;- KEK/J-PARC&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.&#x0A;&#x0A;http://sourceforge.net/apps/trac/cs-studio/wiki&#x0A;http://www-linac.kek.jp/cont/css/">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/org.csstudio.utility.product/icons/css16.png,platform:/plugin/org.csstudio.utility.product/icons/css32.png,platform:/plugin/org.csstudio.utility.product/icons/css48.png,platform:/plugin/org.csstudio.utility.product/icons/css64.png,platform:/plugin/org.csstudio.utility.product/icons/css128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="20,200,340,20">
         </property>
         <property
               name="startupProgressRect"
               value="20,220,340,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
            name="introTitle"
            value="Welcome to Control System Studio (CSS) for KEK and J-PARC!">
         </property>
         <property
            name="introBrandingImage"
            value="product:icons/intro_logo.png"/>
         <property
            name="introBrandingImageText"
            value="KEK / J-PARC CSS"/>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.utility.product.StartupParameters">
      </startupParameters>
      <workbench
            class="org.csstudio.utility.product.Workbench">
      </workbench>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="tocChangelog.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.kek.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overview.xml">
      </configExtension>
      <configExtension
            content="intro/whatsnew.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>

</plugin>
