<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="css"
               label="%CSS"
               mnemonic="C">
            <menu
                  id="display"
                  label="%Display">
            </menu>
            <menu
                  id="alarm"
                  label="%Alarm">
            </menu>
            <menu
                  id="diag"
                  label="%Diagnostic"
                  mnemonic="D">
            </menu>
            <menu
                  id="debugging"
                  label="%Debugging">
            </menu>
            <menu
                  id="configuration"
                  label="%Configuration">
            </menu>
            <menu
                  id="management"
                  label="%Management">
            </menu>
            <menu
                  id="editors"
                  label="%Editors">
            </menu>
            <menu
                  id="utility"
                  label="%Utilities">
            </menu>
            <menu
                  id="trends"
                  label="%Trends">
            </menu>
            <menu
                  id="test"
                  label="%Test">
            </menu>
            <menu
                  id="other"
                  label="%Other">
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="css"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=css">
         <menu
               icon="platform:/plugin/org.csstudio.csdata/icons/processVariable.png"
               id="org.csstudio.ui.menu.popup.processvariable"
               label="%PVName">
            <visibleWhen>
            <or>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="org.csstudio.csdata.ProcessVariable"/>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <adapt
                           type="[Lorg.csstudio.csdata.ProcessVariable;">
                     </adapt>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </or>
            </visibleWhen>
            <separator
                  name="main">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
