<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.archivereader.ArchiveReader">
      <ArchiveReader
            class="org.csstudio.archivereader.rdb.RDBArchiveReaderFactory"
            name="org.csstudio.archivereader.rdb.archivereader"
            prefix="jdbc">
      </ArchiveReader>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.trends"
            class="org.csstudio.archivereader.rdb.PreferencePage"
            id="org.csstudio.archivereader.rdb.preferences"
            name="RDB Archive">
      </page>
   </extension>
</plugin>
