<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.configuration"
            class="org.csstudio.utility.tine.ui.perference.PreferencePage"
            id="org.csstudio.utility.tine.ui.perference.PreferencePage"
            name="Tine"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.utility.tine.ui.category1"
            name="Tine category"
            parentCategory="css"/>
      <view
            allowMultiple="false"
            category="css/utility/"
            class="org.csstudio.utility.tine.ui.TineTest"
            id="org.csstudio.utility.tine.ui.view1"
            name="Tine Test"/>
   </extension>

</plugin>
