<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.platform.internal.ldapauthorization.ui.PreferencePage"
            id="org.csstudio.platform.ldapauthorization.ui.page"
            name="LDAP Authorization Provider"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="org.csstudio.platform.ui.loginInformationToolbar">
            <control
                  class="org.csstudio.platform.internal.ldapauthorization.ui.RoleInformationToolbar"
                  id="Role">
            </control>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
