<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.csstudio.opibuilder.graphicalFeedbackFactory" name="graphicalFeedbackFactory" schema="schema/graphicalFeedbackFactory.exsd"/>
   <extension-point id="org.csstudio.opibuilder.widget" name="Widget" schema="schema/widget.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.csstudio.webopi.WorkbenchOPIRuntimeEntryPoint"
            id="org.csstudio.webopi.workbenchOPIRuntime"
            parameter="webopi">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.opibuilder.runmode.OPIRunnerPerspective"
            id="org.csstudio.opibuilder.OPIRuntime"
            name="OPIRuntime Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio.opibuilder.views"
            name="BOY">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio.opibuilder.views"
            class="org.csstudio.opibuilder.runmode.OPIView"
            fastViewWidthRatio="0.3"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.opiView"
            name="OPI View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">      
      <editor
            class="org.csstudio.opibuilder.runmode.OPIRunner"
            contributorClass="org.csstudio.opibuilder.runmode.OPIRunnerToolBarContributor"
            default="true"
            extensions="opi"
            icon="icons/OPIRunner.png"
            id="org.csstudio.opibuilder.OPIRunner"
            name="OPI Runtime">
      </editor>
     
   </extension>

</plugin>
