<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.diirt.util.preferences.DiirtPreferencePage"
            id="org.csstudio.diirt.util.preferences.diirt"
            name="DIIRT">
      </page>
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.diirt.util.preferences.DataSourcesPreferencePage"
            id="org.csstudio.diirt.util.preferences.datasources"
            name="Data Sources">
      </page>
      <page
            category="org.csstudio.diirt.util.preferences.datasources"
            class="org.csstudio.diirt.util.preferences.ChannelAccessPreferencePage"
            id="org.csstudio.diirt.util.preferences.channelaccess"
            name="Channel Access">
      </page>
   </extension>

</plugin>
