<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.askap.chat.GroupChatView"
            icon="icons/group16.png"
            id="org.csstudio.askap.chat.group"
            name="ASKAP Group Chat"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/group16.png"
               label="Group Chat"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.askap.chat.group">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.askap.navigator.toolbar">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  icon="icons/group16.png"
                  label="Group Chat"
                  style="push"
                  tooltip="Open ASKAP Group Chat">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.csstudio.askap.chat.group">
               </parameter>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.askap"
            class="org.csstudio.askap.chat.PreferencePage"
            id="org.csstudio.askap.chat.PreferencePage"
            name="ASKAP Chat Preference">
      </page>
   </extension>

</plugin>
