<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="MessageMinder"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.messageminder.MessageMinderStart">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.ams.messageminder.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.ams.messageminder.management.Stop"
            id="org.csstudio.ams.MessageMinder.management.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.ams.messageminder.management.Restart"
            id="org.csstudio.ams.MessageMinder.management.Restart"
            label="Restart">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
   </extension>
   <extension
         id="AmsMessageMinderProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.MessageMinder.MessageMinder"
            name="AmsMessageMinder">
         <property
               name="appName"
               value="AmsMessageMinder">
         </property>
      </product>
   </extension>

</plugin>
