<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="MessageMinder"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.messageminder.MessageMinderStart">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.ams.messageminder.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <simpleAction
            class="org.csstudio.ams.messageminder.actionns.GetStatisticInformationAction"
            id="org.csstudio.ams.messageminder.GetStatisticInformationAction"
            name="GetStatisticInformation">
      </simpleAction>
      <parametrizedAction
            class="org.csstudio.ams.messageminder.actionns.MassageMinderStopAction"
            id="org.csstudio.ams.MessageMinder.MassageMinderStopAction"
            name="Stop"
            parameters="Password">
      </parametrizedAction>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.ams.messageminder.LoginCallbackHandler"
            id="org.csstudio.ams.messageminder.LoginCallbackHandler"
            name="AMSMassageMinderLogin">
      </loginHandler>
   </extension>
   <extension
         id="AmsMessageMinder"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.MessageMinder.MessageMinder"
            name="Ams MessageMinder">
         <property
               name="appName"
               value="Ams MessageMinder">
         </property>
      </product>
   </extension>

</plugin>
