<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Graphics"
            description="Create a rectangle widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RectangleEditpart"
            icon="icons/rectangle.gif"
            model_class="org.csstudio.opibuilder.widgets.model.RectangleModel"
            name="Rectangle"
            typeId="org.csstudio.opibuilder.widgets.Rectangle">
      </widget>
      <widget
            category="Controls"
            description="A knob widget which could be used to read/write a PV"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.KnobEditPart"
            icon="icons/knob.gif"
            model_class="org.csstudio.opibuilder.widgets.model.KnobModel"
            name="Knob"
            typeId="org.csstudio.opibuilder.widgets.knob">
      </widget>
      <widget
            category="Graphics"
            description="A label for displaying static text or string from PV."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LabelEditPart"
            icon="icons/label.gif"
            model_class="org.csstudio.opibuilder.widgets.model.LabelModel"
            name="Label"
            typeId="org.csstudio.opibuilder.widgets.Label">
      </widget>
      <widget
            category="Monitors"
            description="A text indicator for displaying PV value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextIndicatorEditPart"
            icon="icons/TextIndicator.png"
            model_class="org.csstudio.opibuilder.widgets.model.TextIndicatorModel"
            name="Text Update"
            typeId="org.csstudio.opibuilder.widgets.TextUpdate">
      </widget>
      <widget
            category="Graphics"
            description="Create a ellipse widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.EllipseEditpart"
            icon="icons/ellipse.gif"
            model_class="org.csstudio.opibuilder.widgets.model.EllipseModel"
            name="Ellipse"
            typeId="org.csstudio.opibuilder.widgets.Ellipse">
      </widget>
      <widget
            category="Monitors"
            description="A thermeter which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ThermometerEditPart"
            icon="icons/Thermo.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ThermometerModel"
            name="Thermometer"
            typeId="org.csstudio.opibuilder.widgets.thermometer">
      </widget>
      <widget
            category="Monitors"
            description="A gauge which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GaugeEditPart"
            icon="icons/gauge.gif"
            model_class="org.csstudio.opibuilder.widgets.model.GaugeModel"
            name="Gauge"
            typeId="org.csstudio.opibuilder.widgets.gauge">
      </widget>
      <widget
            category="Monitors"
            description="A tank which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TankEditPart"
            icon="icons/Tank.gif"
            model_class="org.csstudio.opibuilder.widgets.model.TankModel"
            name="Tank"
            typeId="org.csstudio.opibuilder.widgets.tank">
      </widget>
      <widget
            category="Monitors"
            description="A meterwhich could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.XMeterEditPart"
            icon="icons/XMeter.png"
            model_class="org.csstudio.opibuilder.widgets.model.XMeterModel"
            name="Meter"
            typeId="org.csstudio.opibuilder.widgets.meter">
      </widget>
      <widget
            category="Monitors"
            description="A xy graph."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.XYGraphEditPart"
            icon="icons/image.gif"
            model_class="org.csstudio.opibuilder.widgets.model.XYGraphModel"
            name="XY Graph"
            typeId="org.csstudio.opibuilder.widgets.xyGraph">
      </widget>     
   </extension>

</plugin>
