<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Graphics"
            description="Create an arc widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ArcEditpart"
            icon="icons/arc.png"
            model_class="org.csstudio.opibuilder.widgets.model.ArcModel"
            name="Arc"
            typeId="org.csstudio.opibuilder.widgets.arc">
      </widget>
      <widget
            category="Graphics"
            description="Create a polyline widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.PolylineEditPart"
            icon="icons/polyline.gif"
            model_class="org.csstudio.opibuilder.widgets.model.PolyLineModel"
            name="Polyline"
            typeId="org.csstudio.opibuilder.widgets.polyline">
      </widget>
      <widget
            category="Graphics"
            description="Create a polygon widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.PolygonEditPart"
            icon="icons/polygon.png"
            model_class="org.csstudio.opibuilder.widgets.model.PolygonModel"
            name="Polygon"
            typeId="org.csstudio.opibuilder.widgets.polygon">
      </widget>
      <widget
            category="Graphics"
            description="Create a rectangle widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RectangleEditpart"
            icon="icons/rectangle2.png"
            model_class="org.csstudio.opibuilder.widgets.model.RectangleModel"
            name="Rectangle"
            typeId="org.csstudio.opibuilder.widgets.Rectangle">
      </widget>
      <widget
            category="Graphics"
            description="Create a rounded rectangle widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.RoundedRectangleEditpart"
            icon="icons/roundedRectangle.png"
            model_class="org.csstudio.opibuilder.widgets.model.RoundedRectangleModel"
            name="Rounded Rectangle"
            typeId="org.csstudio.opibuilder.widgets.RoundedRectangle">
      </widget>
      <widget
            category="Graphics"
            description="Create a ellipse widget"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.EllipseEditpart"
            icon="icons/ellipse2.png"
            model_class="org.csstudio.opibuilder.widgets.model.EllipseModel"
            name="Ellipse"
            typeId="org.csstudio.opibuilder.widgets.Ellipse">
      </widget>
      <widget
            category="Graphics"
            description="A label for displaying static text or string from PV."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LabelEditPart"
            icon="icons/label.png"
            model_class="org.csstudio.opibuilder.widgets.model.LabelModel"
            name="Label"
            typeId="org.csstudio.opibuilder.widgets.Label">
      </widget>
      <widget
            category="Graphics"
            description="A image widget which can load picture from image file, including gif, png, jpg, jpeg and bmp."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ImageEditPart"
            icon="icons/image.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ImageModel"
            name="Image"
            typeId="org.csstudio.opibuilder.widgets.Image">
      </widget>
      <widget
            category="Monitors"
            description="A LED which can display one bit of  a value or if the value is non-zero or not when bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LEDEditPart"
            icon="icons/LED.png"
            model_class="org.csstudio.opibuilder.widgets.model.LEDModel"
            name="LED"
            typeId="org.csstudio.opibuilder.widgets.LED">
      </widget>
      <widget
            category="Monitors"
            description="A text indicator for displaying PV value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextIndicatorEditPart"
            icon="icons/textUpdate.png"
            model_class="org.csstudio.opibuilder.widgets.model.TextIndicatorModel"
            name="Text Update"
            typeId="org.csstudio.opibuilder.widgets.TextUpdate">
      </widget>
      <widget
            category="Monitors"
            description="A meterwhich could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.XMeterEditPart"
            icon="icons/XMeter.png"
            model_class="org.csstudio.opibuilder.widgets.model.XMeterModel"
            name="Meter"
            typeId="org.csstudio.opibuilder.widgets.meter">
      </widget>
      <widget
            category="Monitors"
            description="A progress bar widget."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ProgressBarEditPart"
            icon="icons/ProgressBar.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ProgressBarModel"
            name="Progress Bar"
            typeId="org.csstudio.opibuilder.widgets.progressbar">
      </widget>
      <widget
            category="Monitors"
            description="A gauge which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GaugeEditPart"
            icon="icons/gauge.gif"
            model_class="org.csstudio.opibuilder.widgets.model.GaugeModel"
            name="Gauge"
            typeId="org.csstudio.opibuilder.widgets.gauge">
      </widget>
      <widget
            category="Monitors"
            description="A thermeter which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ThermometerEditPart"
            icon="icons/Thermo.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ThermometerModel"
            name="Thermometer"
            typeId="org.csstudio.opibuilder.widgets.thermometer">
      </widget>
      <widget
            category="Monitors"
            description="A tank which could display numeric value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TankEditPart"
            icon="icons/Tank.gif"
            model_class="org.csstudio.opibuilder.widgets.model.TankModel"
            name="Tank"
            typeId="org.csstudio.opibuilder.widgets.tank">
      </widget>
      <widget
            category="Monitors"
            description="An XY graph which can display the trends of multiple PVs."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.XYGraphEditPart"
            icon="icons/XYGraph.gif"
            model_class="org.csstudio.opibuilder.widgets.model.XYGraphModel"
            name="XY Graph"
            typeId="org.csstudio.opibuilder.widgets.xyGraph">
      </widget>
      <widget
            category="Monitors"
            description="Display the intensity of a flattened 1D array."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.IntensityGraphEditPart"
            icon="icons/intensityGraph.png"
            model_class="org.csstudio.opibuilder.widgets.model.IntensityGraphModel"
            name="Intensity Graph"
            typeId="org.csstudio.opibuilder.widgets.intensityGraph">
      </widget>
      <widget
            category="Controls"
            description="A button which can execute an action when clicked."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ActionButtonEditPart"
            icon="icons/actionbutton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ActionButtonModel"
            name="Action Button"
            typeId="org.csstudio.opibuilder.widgets.ActionButton">
      </widget>
      <widget
            category="Controls"
            description="A button which pops up the actions menu when clicked."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.MenuButtonEditPart"
            icon="icons/menubutton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.MenuButtonModel"
            name="Menu Button"
            typeId="org.csstudio.opibuilder.widgets.MenuButton">
      </widget>
      <widget
            category="Controls"
            description="Write value to a pv by inputing text in this widget."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TextInputEditpart"
            icon="icons/textInput.png"
            model_class="org.csstudio.opibuilder.widgets.model.TextInputModel"
            name="Text Input"
            typeId="org.csstudio.opibuilder.widgets.TextInput">
      </widget>
      <widget
            category="Controls"
            description="Write value to a pv by inputing text or press arrow button."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.SpinnerEditpart"
            icon="icons/Spinner.gif"
            model_class="org.csstudio.opibuilder.widgets.model.SpinnerModel"
            name="Spinner"
            typeId="org.csstudio.opibuilder.widgets.spinner">
      </widget>
      <widget
            category="Controls"
            description="A scaled slider widget which can read/write a PV"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ScaledSliderEditPart"
            icon="icons/scaled_slider.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ScaledSliderModel"
            name="Scaled Slider"
            typeId="org.csstudio.opibuilder.widgets.scaledslider">
      </widget>
      <widget
            category="Controls"
            description="A knob widget which could be used to read/write a PV"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.KnobEditPart"
            icon="icons/knob.gif"
            model_class="org.csstudio.opibuilder.widgets.model.KnobModel"
            name="Knob"
            typeId="org.csstudio.opibuilder.widgets.knob">
      </widget>
      <widget
            category="Controls"
            description="A scrollbar widget which could be used to read/write a PV"
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ScrollbarEditPart"
            icon="icons/scrollbar.png"
            model_class="org.csstudio.opibuilder.widgets.model.ScrollBarModel"
            name="Scrollbar"
            typeId="org.csstudio.opibuilder.widgets.scrollbar">
      </widget>
      <widget
            category="Controls"
            description="A boolean switch which can write a single bit of a PV or write 0/1 to a PV when bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.BoolSwitchEditPart"
            icon="icons/BoolSwitch.gif"
            model_class="org.csstudio.opibuilder.widgets.model.BoolSwitchModel"
            name="Boolean Switch"
            typeId="org.csstudio.opibuilder.widgets.BoolSwitch">
      </widget>
      <widget
            category="Controls"
            description="A boolean button which can write a single bit of a PV or write 0/1 to a PV when bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.BoolButtonEditPart"
            icon="icons/BoolButton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.BoolButtonModel"
            name="Boolean Button"
            typeId="org.csstudio.opibuilder.widgets.BoolButton">
      </widget>
      <widget
            category="Controls"
            description="A boolean button which can load different image based on the boolean value."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ImageBoolButtonEditPart"
            icon="icons/imageButton.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ImageBoolButtonModel"
            name="Image Boolean Button"
            typeId="org.csstudio.opibuilder.widgets.ImageBoolButton">
      </widget>
      <widget
            category="Controls"
            description="A checkbox which can write a single bit of a PV or write 0/1 to a PV when bit property is -1."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.CheckBoxEditPart"
            icon="icons/checkboxenabledon.gif"
            model_class="org.csstudio.opibuilder.widgets.model.CheckBoxModel"
            name="Check Box"
            typeId="org.csstudio.opibuilder.widgets.checkbox">
      </widget>
      <widget
            category="Controls"
            description="A combo box which can write string or integer to PV based on its items property."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.ComboEditPart"
            icon="icons/combo.gif"
            model_class="org.csstudio.opibuilder.widgets.model.ComboModel"
            name="Combo Box"
            typeId="org.csstudio.opibuilder.widgets.combo">
      </widget>
      <widget
            category="Others"
            description="A container widget which can group other widgets."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.GroupingContainerEditPart"
            icon="icons/groupContainer.png"
            model_class="org.csstudio.opibuilder.widgets.model.GroupingContainerModel"
            name="Grouping Container"
            typeId="org.csstudio.opibuilder.widgets.groupingContainer">
      </widget>
      <widget
            category="Others"
            description="A container widget which can load another OPI file."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.LinkingContainerEditpart"
            icon="icons/linkingcontainer.png"
            model_class="org.csstudio.opibuilder.widgets.model.LinkingContainerModel"
            name="Linking Container"
            typeId="org.csstudio.opibuilder.widgets.linkingContainer">
      </widget>
      <widget
            category="Others"
            description="A container widget which can contain several tabs of widgets."
            editpart_class="org.csstudio.opibuilder.widgets.editparts.TabEditPart"
            icon="icons/tab.png"
            model_class="org.csstudio.opibuilder.widgets.model.TabModel"
            name="Tabbed Container"
            typeId="org.csstudio.opibuilder.widgets.tab">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.createGroup"
            objectClass="org.csstudio.opibuilder.editparts.AbstractBaseEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.CreateGroupAction"
               enablesFor="+"
               icon="icons/addGroup.png"
               id="org.csstudio.opibuilder.widgets.creategroupAction"
               label="Create Group"
               menubarPath="group"
               tooltip="Create a group container which contains all the selected widgets.">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.removeGroup"
            objectClass="org.csstudio.opibuilder.widgets.editparts.GroupingContainerEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.RemoveGroupAction"
               enablesFor="1"
               icon="icons/removeGroup.png"
               id="org.csstudio.opibuilder.widgets.removeGroupAction"
               label="Remove Group"
               menubarPath="group"
               tooltip="Remove the group container.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.PerformAutoSizeOnGroupAction"
               enablesFor="1"
               icon="icons/autoSizeGroup.png"
               id="org.csstudio.opibuilder.widgets.performAutoSize"
               label="Perform AutoSize"
               menubarPath="group"
               tooltip="Perform AutoSize on the selected Group Container.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.SelectAllInGroupAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.selectall"
               label="Select All Widgets in Group"
               menubarPath="group"
               tooltip="Select All Widgets in the selected Group">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.tabactions"
            objectClass="org.csstudio.opibuilder.widgets.editparts.TabEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.AddTabBeforeAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.addTabBefore"
               label="Add Tab Before"
               menubarPath="tab"
               tooltip="add tab before this tab">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.AddTabAfterAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.addTabAfter"
               label="Add Tab After"
               menubarPath="tab"
               tooltip="add tab after this tab.">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.DuplicateTabAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.duplicateTab"
               label="Duplicate Tab"
               menubarPath="tab"
               tooltip="Duplicate  this tab">
         </action>
         <action
               class="org.csstudio.opibuilder.widgets.actions.RemoveTabAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.removeTab"
               label="Remove Tab"
               menubarPath="tab"
               tooltip="Remove this tab">
         </action>
         <visibility>
            <objectState
                  name="executionMode"
                  value="EDIT_MODE">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.csstudio.opibuilder.widgets.xygraph"
            objectClass="org.csstudio.opibuilder.widgets.editparts.XYGraphEditPart">
         <action
               class="org.csstudio.opibuilder.widgets.actions.ShowXYGraphToolbarAction"
               enablesFor="1"
               id="org.csstudio.opibuilder.widgets.showToolbarAction"
               label="Show/Hide Graph Toolbar"
               menubarPath="xygraph"
               tooltip="Show/Hide XY-Graph Toolbar">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.csstudio.opibuilder.graphicalFeedbackFactory">
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.PolyLineFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.polyline">
      </graphicalFeedbackFactory>
      <graphicalFeedbackFactory
            class="org.csstudio.opibuilder.widgets.feedback.PolygonFeedbackFactory"
            typeId="org.csstudio.opibuilder.widgets.polygon">
      </graphicalFeedbackFactory>
   </extension>

</plugin>
