<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.diag.epics.pvtree.model.TreeModelItem"
            class="org.csstudio.diag.epics.pvtree.PVTreeItemAdapter">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.diag.epics.pvtree.swt.PVTreeView"
            icon="icons/pvtree.png"
            id="org.csstudio.diag.epics.pvtree.PVTreeView"
            name="%PVTree">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.epics.pvtree.OpenPVTree"
            id="org.csstudio.diag.epics.pvtree.OpenPVTree"
            name="%PVTree">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.epics.pvtree.OpenPVTree"
               icon="icons/pvtree.png"
               label="%PVTree"
               style="push"
               tooltip="%PVTree_TT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.diag.epics.pvtree.OpenPVTree"
               icon="icons/pvtree.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc
            file="tocChangelog.xml"
            primary="true"/>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.diag.epics.pvtree.StandaloneApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.diag.epics.pvtree.application"
            name="EPICS PV Tree">
         <property
               name="appName"
               value="EPICS PV Tree">
         </property>
      </product>
   </extension>
</plugin>
