<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.logbook.logbookfactory">
      <logbookfactory
            class="org.csstudio.logbook.midas.MidasLogbookFactory"
            name="org.csstudio.logbook.midas.logbookfactory">
      </logbookfactory>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.logbook.midas.PreferencePage"
            id="org.csstudio.logbook.midas.PreferencePage"
            name="Midas Elog">
      </page>
   </extension>

</plugin>
