<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="application"
		 name="SNS CSS">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.sns.product.CSS_Perspective"
            icon="icons/perspective.gif"
            id="org.csstudio.sns.product.CSS_Perspective"
            name="SNS Control System Studio">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.sns.product.application"
            name="Css">
         <property
               name="windowImages"
               value="icons/css16.gif,icons/css32.gif,icons/css48.gif,icons/css64.gif,icons/css128.gif"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- DESY (Hamburg, Germany)&#x0A;- SNS (Oak Ridge, TN).&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.&#x0A;&#x0A;See http://ics-web.sns.ornl.gov/css"/>
         <property
               name="appName"
               value="Css">
         </property>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,200,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
            name="introTitle"
            value="Welcome to Control System Studio (CSS) for the SNS!">
         </property>
         <property
            name="introBrandingImage"
            value="product:icons/css64.gif"/>
         <property
            name="introBrandingImageText"
            value="SNS CSS"/>
      </product>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.sns.product.product"/>
   </extension>

   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="doc/overview.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="doc/whatsnew.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>

   <extension point="org.csstudio.startup.module">
      <startupParameters class="org.csstudio.sns.product.startupmodule.StartupParameters"/>
      <workspace class="org.csstudio.sns.product.startupmodule.WorkspacePrompt"/>
      <workbench class="org.csstudio.sns.product.startupmodule.Workbench"/>
      <project class="org.csstudio.startup.module.defaults.DefaultProject"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <menu
                  label="Recent Files...">
                <dynamic
                      class="org.csstudio.sns.product.MenuReopenEditors"
                      id="org.csstudio.sns.product.reopen_editors">
                </dynamic>
            </menu>
            <separator
                  name="new.ext">
            </separator>
            <separator
                  name="close"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <separator
                  name="save"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As"
                  style="push">
            </command>
            <separator
                  name="workspace"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="exit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
            <separator
                  name="copy"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="Cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="Copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="Paste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="Select All"
                  style="push">
            </command>
            <separator
                  name="find.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Find/Replace..."
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="New Window"
                  style="push">
            </command>
            <separator
                  name="views"
                  visible="true">
            </separator>
            <menu
                  label="Open Perspective">
               <dynamic
                     class="org.csstudio.sns.product.OpenPerspectiveMenu"
                     id="org.csstudio.sns.product.open_perspective">
               </dynamic>
            </menu>
            <menu
                  label="Show View">
               <dynamic
                     class="org.csstudio.sns.product.ShowViewMenu"
                     id="org.csstudio.sns.product.show_view">
               </dynamic>
            </menu>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
         </menu>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?endof=additions">
         <menu
               id="help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  icon="icons/css16.gif"
                  label="Welcome"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/css16.gif"
                  label="About"
                  style="push">
            </command>
            <separator
                  name="helpStart"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  icon="icons/help.gif"
                  label="Help Contents"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="Cheat Sheets..."
                  style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value="org.eclipse.ui.cheatsheets.views.CheatSheetView">
                </parameter>
            </command>
            <separator
                  name="helpEnd"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="end"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
</plugin>
