<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.applications"
         id="application"
		 name="SNS CSS">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.sns.product.CSS_Perspective"
            icon="icons/perspective.gif"
            id="org.csstudio.sns.product.CSS_Perspective"
            name="SNS Control System Studio">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.sns.product.application"
            name="SNS CSS">
         <property
               name="windowImages"
               value="platform:/plugin/org.csstudio.startuphelper/resources/icons/css16x16.gif,platform:/plugin/org.csstudio.startuphelper/resources/icons/css32x32.gif,platform:/plugin/org.csstudio.startuphelper/resources/icons/css48x48.gif,platform:/plugin/org.csstudio.startuphelper/resources/icons/css64x64.gif,platform:/plugin/org.csstudio.startuphelper/resources/icons/css128x128.gif"/>
         <property
               name="aboutImage"
               value="icons/about.gif"/>
         <property
               name="aboutText"
               value="Control System Studio (CSS) is a combined&#x0A;effort of several parties, including&#x0A;- DESY (Hamburg, Germany)&#x0A;- SNS (Oak Ridge, TN).&#x0A;&#x0A;It provides a collection of control system&#x0A;tools in a common environment, based&#x0A;on Eclipse.&#x0A;&#x0A;See http://ics-web.sns.ornl.gov/css"/>
         <property
               name="appName"
               value="SNS CSS">
         </property>
         <property
               name="startupForegroundColor"
               value="0000FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,200,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/css16.gif"
            id="org.csstudio.sns.product.intro"/>
      <introProductBinding
            introId="org.csstudio.sns.product.intro"
            productId="org.csstudio.sns.product.product"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="/intro/intro.xml"
            id="org.csstudio.sns.product.introConfigId"
            introId="org.csstudio.sns.product.intro">
         <presentation home-page-id="root">
            <implementation kind="html"/>
         </presentation>
      </config>
   </extension>

   <extension point="org.csstudio.startup.module">
      <startupParameters class="org.csstudio.sns.product.startupmodule.StartupParameters"/>
      <workspace class="org.csstudio.sns.product.startupmodule.WorkspacePrompt"/>
      <workbench
            class="org.csstudio.sns.product.startupmodule.Workbench">
      </workbench>
      <project
            class="org.csstudio.startuphelper.module.DefaultProject">
      </project>
   </extension>
</plugin>
