<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.logbook.logbookclientfactory">
      <logbookclientfactory
            class="org.csstudio.logbook.sns.SNSLogbookClientFactory"
            name="org.csstudio.logbook.sns.logbookc">
      </logbookclientfactory>
   </extension>
</plugin>
