<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.diag.pvmanager.probe.PVManagerProbe"
            icon="icons/probe-16.png"
            id="org.csstudio.diag.pvmanager.probe"
            name="Probe">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.pvmanager.probe.OpenProbe"
            id="org.csstudio.diag.pvmanager.probe.OpenProbe"
            name="Probe">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.pvmanager.probe.OpenProbe"
               icon="icons/probe-16.png"
               label="Probe"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.diag.pvmanager.probe.OpenProbe"
               icon="icons/probe-16.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.diag.pvmanager.probe.toolbar">
            <command
                  commandId="org.csstudio.diag.pvmanager.probe.OpenProbe"
                  icon="icons/probe-add-16.png"
                  label="New Probe..."
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/probe-intro.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
