<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            allowMultiple="true"
            class="org.csstudio.diag.pvmanager.probe.PVManagerProbe"
            icon="icons/probe.png"
            id="org.csstudio.diag.pvmanager.probe.MultipleView"
            name="Probe - New instance (PVManager)">
      </view>
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.diag.pvmanager.probe.PVManagerProbe"
            icon="icons/probe.png"
            id="org.csstudio.diag.pvmanager.probe.SingleView"
            name="Probe (PVManager)">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.pvmanager.probe.OpenProbe"
            id="org.csstudio.diag.pvmanager.probe.OpenProbe"
            name="Probe (PVManager)">
      </command>
      <command
            defaultHandler="org.csstudio.diag.pvmanager.probe.CreateNewProbe"
            id="org.csstudio.diag.pvmanager.probe.createNewProbe"
            name="New Probe...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/probe.png"
               label="Probe (PVManager)"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.diag.pvmanager.probe.SingleView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.iprocessvariable">
         <command
               commandId="org.csstudio.diag.pvmanager.probe.OpenProbe"
               icon="icons/probe.png"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.csstudio.diag.pvmanager.probe.SingleView">
         <command
               commandId="org.csstudio.diag.pvmanager.probe.createNewProbe"
               icon="icons/probe-add.png"
               label="New Probe..."
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
