<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dataprovider" name="DataProvider" schema="schema/dataprovider.exsd"/>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.diag.pvfields.view.PVFieldsView"
            icon="icons/fields.jpg"
            id="org.csstudio.diag.pvfields.view.PVFieldsView"
            name="PV Fields Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.pvfields.PVFieldPopup"
            id="org.csstudio.diag.pvfields.PVFieldPopup"
            name="PV Fields">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/fields.jpg"
               label="PV Fields Viewer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.diag.pvfields.view.PVFieldsView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.diag.pvfields.PVFieldPopup"
               icon="icons/fields.jpg"
               label="PV Fields Viewer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.diag.pvfields.PVField"
            class="org.csstudio.diag.pvfields.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>

</plugin>
