<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.csstudio.panda.product.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.panda.product.application"
            name="Css-panda">
         <property
               name="appName"
               value="Css-panda">
         </property>
         <property
               name="introTitle"
               value="Welcome to Control System Studio&lt;/h1&gt;&lt;p&gt;Control System Studio is an Eclipse-based collections of tools to monitor and operate large scale control systems, such as the ones in the accelerator community.&lt;/p&gt;&lt;h1&gt;">
         </property>
         <property
               name="introDescription"
               value="org.csstudio.panda.product.property4">
         </property>
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,486,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,200,490,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introDescription-overview"
               value="An overview of the various CSS applications which are part of the css-panda product">
         </property>
         <property
               name="introDescription-firststeps"
               value="The following documents....">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Control System Studio is an Eclipse-based collections of tools to monitor and operate large scale control systems, such as the ones in the accelerator community. http://cs-studio.sourceforge.net&#x0A;version: 3.0.1.qualifier">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.utility.product.CSS_Perspective"
            icon="icons/css16.png"
            id="org.csstudio.panda.product.CSSPerspective"
            name="CSS perspective">
      </perspective>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.utility.product.StartupParameters">
      </startupParameters>
      <workbench
            class="org.csstudio.utility.product.Workbench">
      </workbench>
      <project
            class="org.csstudio.startup.module.defaults.DefaultProject">
      </project>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.panda.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.intro.universal.WelcomeCustomizationPreferencePage"
            id="org.csstudio.panda.product.introCustomization"
            name="introCustomizationPreference">
      </page>
   </extension>

</plugin>
