<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.alarm.dal2jms.Dal2JmsApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.dal2jms.application"
            name="dal2jms">
         <property
               name="appName"
               value="dal2jms">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.alarm.dal2jms.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.alarm.dal2jms.StopDal2JmsAction"
            id="org.csstudio.alarm.dal2jms.StopDal2JmsAction"
            label="Stop DAL to JMS">
      </command>
   </extension>

</plugin>
