<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="caSnooperServer"
         name="CA Snooper Server"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.utility.casnooper.CaSnooperTask">
         </run>
      </application>
   </extension>
   <extension
         id="caSnooperServer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.utility.caSnooper.caSnooperServer"
            name="caSnooper">
         <property
               name="appName"
               value="caSnooper">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.utility.casnooper.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.utility.casnooper.GetBroadcastPerSecond"
            id="org.csstudio.utility.casnooper.GetBroadcastPerSecond"
            label="Get broadcast per second">
      </command>
      <command
            class="org.csstudio.utility.casnooper.GetTable"
            id="org.csstudio.utility.casnooper.GetTable"
            label="Get Table">
      </command>
      <command
            class="org.csstudio.utility.casnooper.StopCaSnooper"
            id="org.csstudio.utility.casnooper.StopCaSnooper"
            label="Stop CA Snooper">
      </command>
   </extension>

</plugin>
