<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.scan.server.scancommandimpl">
      <imp_factory
            command="org.csstudio.scan.command.CommentCommand"
            factory="org.csstudio.scan.commandimpl.CommentCommandImplFactory"
            name="Comment">
      </imp_factory>
   </extension>
</plugin>
