<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="ImageWorker"
         name="ImageWorker"
         point="org.csstudio.utility.screenshot.ImageWorker">
      <ImageWorker
            class="org.csstudio.utility.screenshot.desy.logbook.ImageProcessor"
            id="imageWorker"
            name="imageWorker"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.utilities"
            class="org.csstudio.utility.screenshot.desy.preference.DestinationPreferencePage"
            id="org.csstudio.utility.screenshot.desy.preferencepage"
            name="Destination Preferences"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.utility.screenshot.desy.preference.DestinationPreferenceInitializer"/>
   </extension>

</plugin>
