<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Monitors"
            description="Edm style symbol widget"
            editpart_class="org.csstudio.opibuilder.widgets.edmsymbol.ui.EdmSymbolEditpart"
            icon="icon/symbol.png"
            model_class="org.csstudio.opibuilder.widgets.edmsymbol.ui.EdmSymbolModel"
            name="Edm Symbol Widget"
            onlineHelpHtml="html/firststeps/imagebooleansymbolwidget.html"
            typeId="org.csstudio.opibuilder.widgets.edmsymbol.widget">
      </widget>
   </extension>

</plugin>
