<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.nams.service.regelwerkbuilder.extensionPoint.RegelwerkBuilderServiceFactory">
      <RegelwerkBuilderServiceFactory
            implementation="org.csstudio.nams.service.regelwerkbuilder.impl.confstore.RegelwerkBuilderServiceFactoryImpl">
      </RegelwerkBuilderServiceFactory>
   </extension>

</plugin>
