<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.sds.elementModelInitializers">
      <ElementModelInitializer
            class="org.csstudio.sds.components.epics.EpicsMeterInitializer"
            typeId="schema.epics:element.meter"/>
      <ElementModelInitializer
            class="org.csstudio.sds.components.epics.EpicsRectangleInitializer"
            typeId="schema.epics:element.rectangle"/>
   </extension>
   <extension
         point="org.csstudio.sds.controlSystemSchema">
      <controlSystemSchema
            class="org.csstudio.sds.components.epics.EpicsSchema"
            description="%epics"
            typeId="schema.epics"/>
   </extension>

</plugin>
