<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.sds.widgetModelInitializers">
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.MeterInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Meter"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.RectangleInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Rectangle"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.BargraphInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Bargraph"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.SimpleSliderInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.SimpleSlider"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.WaveformInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Waveform"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.TextInputInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Textinput"
            />
      <controlSystemSchema
            class="org.csstudio.sds.components.epics.EpicsSchema"
            description="%epics"
            schemaId="schema.epics"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.EllipseInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Ellipse"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.LabelInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Label"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.MeterInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.Meter"/>
      <widgetModelInitializer
            class="org.csstudio.sds.components.epics.MenuButtonInitializer"
            schemaId="schema.epics"
            widgetTypeId="org.csstudio.sds.components.MenuButton">
      </widgetModelInitializer>
   </extension>
   
      <extension
         point="org.csstudio.sds.widgetModelInitializers">
      <widgetModelInitializer
            class="org.csstudio.sds.cosywidgets.epics.MeterInitializer"
            schemaId="cosyschema.epics"
            widgetTypeId="cosywidgets.meter"/>
   </extension>
   
</plugin>
