<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.diag.snlDebugger.ui.View"
            id="org.csstudio.diag.snlDebugger"
            name="snlDebugger"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>
        <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.diag.snlDebugger.ui.ShowSnlDebugger"
            id="org.csstudio.diag.snlDebugger.ui.showsnldebugger"
            name="Show SNL Debugger">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.snlDebugger.ui.showsnldebugger"
               label="SNL Debugger"
               style="push"
               tooltip="SNL Debugger">
         </command>
      </menuContribution>
      </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.diag"
            class="org.csstudio.diag.snlDebugger.Preference.PageMain"
            id="org.csstudio.diag.snlDebugger.PreferencePage"
            name="snlDebugger"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.snlDebugger.Preference.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.csstudio.auth.authorizationId">
      <id
            description="Permission for the IOC tools."
            id="iocAccesses">
      </id>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.csstudio.diag.snlDebugger.Preference.PageMain"
            id="org.csstudio.diag.snlDebugger.pageMain"
            name="snlDebugger"/>
      <page
            category="org.csstudio.diag.snlDebugger.pageMain"
            class="org.csstudio.diag.snlDebugger.Preference.PageIOC"
            id="org.csstudio.diag.snlDebugger.pageICO"
            name="ICO"/>
      <page
            category="org.csstudio.diag.snlDebugger.pageMain"
            class="org.csstudio.diag.snlDebugger.Preference.PageControl"
            id="org.csstudio.diag.snlDebugger.pageControl"
            name="Control"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.diag.snlDebugger.PreferenceInitializer"/>
   </extension -->

</plugin>
