<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.nameSpaceSearch.ui.MainView"
            icon="icons/LDAPLupe.gif"
            id="org.csstudio.utility.nameSpaceSearch.ui.MainView"
            name="Namespace Search"/>
      <category
            id="org.csstudio"
            name="CSS"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.utility.nameSpaceSearch.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker name="content"/>
            <separator name="additions"/>
         </menu>
         <action
               class="org.csstudio.utility.nameSpaceSearch.PVpopupAction"
               enablesFor="1"
               icon="icons/LDAPLupe.gif"
               id="org.csstudio.utility.nameSpaceSearch.PVpopupAction"
               label="Name Space Search"
               menubarPath="org.csstudio.popmenu/content"
               style="push"
               tooltip="Send selected PV to the Name Space Search"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.utilities"
            class="org.csstudio.utility.nameSpaceSearch.preference.PreferencePage"
            id="org.csstudio.utility.nameSpaceBrowser.preferencePage"
            name="Namespace Search"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.utility.nameSpaceSearch.preference.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.csstudio.utility.product.CSStudioPerspective">
         <viewShortcut
               id="org.csstudio.utility.nameSpaceSearch.ui.MainView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
      <extension
           point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.utility.nameSpaceSearch.ui.ShowNamespaceSearch"
            id="org.csstudio.utility.namespacesearch.newnamespacesearch"
            name="New NamespaceSearch">
      </command>
      <command
            defaultHandler="org.csstudio.utility.nameSpaceSearch.PVpopupAction"
            id="org.csstudio.utility.namespacesearch.pvpopup"
            name="Popup Name Space Search">
      </command>
     </extension>
      <extension
           point="org.eclipse.ui.menus">
       <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.utility.namespacesearch.newnamespacesearch"
               icon="icons/LDAPLupe.gif"
               label="NameSpaceSearch"
               style="push"
               tooltip="NameSpaceSearch">
         </command>
      </menuContribution>
            <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.utility.namespacesearch.pvpopup"
               icon="icons/LDAPLupe.gif"
               label="Name Space Search"
               style="push"
               tooltip="Name Space Search">
         </command>
      </menuContribution>
     </extension>
        <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.utility.nameSpaceSearch.ui.ProcessVariableItem"
            class="org.csstudio.utility.nameSpaceSearch.AdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
</plugin>
