<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="controlSystemItemFactories" name="controlSystemItemFactories" schema="schema/controlSystemItemFactories.exsd"/>
   <extension-point id="loginModule" name="Login Module" schema="schema/loginModule.exsd"/>
   <extension-point id="authorizationProvider" name="Authorization Provider" schema="schema/authorizationProvider.exsd"/>
   <extension-point id="startupListener" name="Startup Listener" schema="schema/startupListener.exsd"/>
   <extension-point id="authorizationId" name="Authorization Id" schema="schema/authorizationId.exsd"/>
<!--
   <extension
         point="de.desy.css.core.logManagers">
      <logManager class="org.csstudio.logging.LogManagerImpl"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.logging.AppenderPreferencesInitializer"/>
   </extension>
-->   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.platform.internal.PlatformPreferencesInitializer"/>
   </extension>
   <extension
         point="org.csstudio.platform.controlSystemItemFactories">
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableFactory"
            typeId="css:processVariable"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ArchiveDataSourceFactory"
            typeId="css:archiveDataSource"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableWithArchive"
            typeId="css:processVariableWithArchive"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.developmentsupport.util.TextContainerFactory"
            typeId="css:sandbox:textContainer"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableWithSamples"
            typeId="css:processVariableWithSamples"/>
   </extension>
   <extension
         point="org.csstudio.platform.authorizationId">
      <id
            default="true"
            description="This ID should be used in examples and documentation."
            id="example">
      </id>
   </extension>
   <extension
         name="Legacy authorization IDs"
         point="org.csstudio.platform.authorizationId">
      <id
            description="Permission for the IOC tools."
            id="iocAccesses">
      </id>
      <id
            description="Permission to open and use the AMS Configurator."
            id="amsconfigurator">
      </id>
      <id
            description="Permission to configure the Authorization Id."
            id="AuthorizeId">
      </id>
      <id
            description="Permission for operating/ alarm acknowledge."
            id="operating">
      </id>
      <id
            description="Permission for testing tools."
            id="testing">
      </id>
      <id
            description="Administration of alarm configuration and database."
            id="alarmAdministration">
      </id>
   </extension>


</plugin>
