<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="controlSystemItemFactories" name="controlSystemItemFactories" schema="schema/controlSystemItemFactories.exsd"/>
   <extension-point id="startupListener" name="Startup Listener" schema="schema/startupListener.exsd"/>
   <extension-point id="managementCommands" name="Management Commands" schema="schema/managementCommands.exsd"/>
   <extension-point id="managementCommandResultReceivers" name="Receivers for Management Command Results" schema="schema/managementCommandResultReceivers.exsd"/>
<!--
   <extension
         point="de.desy.css.core.logManagers">
      <logManager class="org.csstudio.logging.LogManagerImpl"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.logging.AppenderPreferencesInitializer"/>
   </extension>
-->   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.platform.internal.PlatformPreferencesInitializer"/>
   </extension>
   <extension
         point="org.csstudio.platform.controlSystemItemFactories">
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableFactory"
            typeId="css:processVariable"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ArchiveDataSourceFactory"
            typeId="css:archiveDataSource"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableWithArchive"
            typeId="css:processVariableWithArchive"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.developmentsupport.util.TextContainerFactory"
            typeId="css:sandbox:textContainer"/>
      <controlSystemItemFactory
            class="org.csstudio.platform.internal.model.ProcessVariableWithSamples"
            typeId="css:processVariableWithSamples"/>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.platform.internal.statistic.GetStatisticsManagementCommand"
            id="org.csstudio.platform.statistic.GetStatisticCommand"
            label="Get Statistics">
      </command>
   </extension>


</plugin>
