<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Test"
            id="org.csstudio.test">
      </category>
      <view
            name="Process Variable Popup Test"
            icon="platform:/plugin/org.csstudio.ui.menu/icons/test.png"
            category="org.csstudio.test"
            class="org.csstudio.ui.menu.test.ProcessVariablePopupTestView"
            id="org.csstudio.ui.menu.test.ProcessVariablePopupTestView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.csstudio.ui.menu.test.ProcessVariablePopupTestView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.ui.menu.test.CustomProcessVariable"
            class="org.csstudio.ui.menu.test.CustomProcessAdapter">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:test">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="platform:/plugin/org.csstudio.ui.menu/icons/test.png"
               label="Process Variable Popup Test"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.ui.menu.test.ProcessVariablePopupTestView">
            </parameter>
         </command>
         <command
               commandId="org.csstudio.ui.menu.test.errorcommand"
               icon="platform:/plugin/org.csstudio.ui.menu/icons/test.png"
               label="Error Dialog Test"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.ui.menu.test.testpvcommand"
               icon="platform:/plugin/org.csstudio.ui.menu/icons/test.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.ui.menu.test.TestPVCommandHandler"
            id="org.csstudio.ui.menu.test.testpvcommand"
            name="Test Command">
      </command>
      <command
            defaultHandler="org.csstudio.ui.menu.test.ErrorCommandHandler"
            id="org.csstudio.ui.menu.test.errorcommand"
            name="Test error dialog">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.csstudio.ui.menu.test.objectContribution1"
            objectClass="org.csstudio.csdata.ProcessVariable">
         <action
               class="org.csstudio.ui.menu.test.TestPVAction"
               icon="platform:/plugin/org.csstudio.ui.menu/icons/test.png"
               id="org.csstudio.ui.menu.test.testpvaction"
               label="Test Action"
               menubarPath="org.csstudio.ui.menu.popup.processvariable/main">
         </action>
      </objectContribution>
   </extension>

</plugin>
