<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.cssstudio.utility.documentViewer.popupMenu"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.utility.documentviewer.PVpopupAction"
               icon="icons/bookmarks_view.gif"
               id="org.cssstudio.utility.documentViewer.PVpopupAction"
               label="DocumentViewer"
               menubarPath="org.csstudio.popmenu/content">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.utility.documentviewer.DocumentViewer"
            icon="icons/bookmarks_view.gif"
            id="org.cssstudio.utility.documentViewer.DocumentViewer"
            name="Document Viewer"
            restorable="true">
      </view>
   </extension>
        <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.utility.documentviewer.ShowDocumentViewer"
            id="org.csstudio.utility.documentviewer.showdocumentviewer"
            name="Document Viewer">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.csstudio.utility.documentviewer.showdocumentviewer"
               icon="icons/bookmarks_view.gif"
               label="Document Viewer"
               style="push"
               tooltip="Document Viewer">
         </command>
      </menuContribution>
      </extension>
</plugin>
