<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="CSS"
            id="org.csstudio">
      </category>
      <view
            name="Clock"
            icon="icons/clock.png"
            category="org.csstudio"
            class="org.csstudio.utility.clock.ClockView"
            id="org.csstudio.utility.clock.ClockView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:utility">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/clock.png"
               label="%Clock"
               style="push"
               tooltip="%ShowClock">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.clock.ClockView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page category="org.csstudio.platform.ui.css.applications.utilities"
            class="org.csstudio.utility.clock.preferences.PreferencePage"
            id="org.csstudio.utility.clock.preferences.PreferencePage"
            name="Clock"/>
   </extension>
</plugin>
