<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.csstudio.nsls2.product.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.startup.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.nsls2.product.CSS_Perspective"
            icon="icons/css16.gif"
            id="org.csstudio.nsls2.product.CSS_Perspective"
            name="CSS perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.nsls2.product.application"
            name="css-nsls2">
         <property
               name="appName"
               value="css-nsls2">
         </property>
         <property
               name="introTitle"
               value="Welcome to Control System Studio&lt;/h1&gt;&lt;p&gt;Control System Studio is an Eclipse-based collections of tools to monitor and operate large scale control systems, such as the ones in the accelerator community.&lt;/p&gt;&lt;p&gt;New users: click on First Steps&lt;/p&gt;&lt;h1&gt;">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/welcome.png">
         </property>
         <property
               name="introBrandingImageText"
               value="Control System Studio">
         </property>
         <property
               name="introDescription"
               value="org.csstudio.nsls2.product.property5">
         </property>
         <property
               name="windowImages"
               value="icons/css16.png,icons/css32.png,icons/css48.png,icons/css64.png,icons/css128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,230,457,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,250,461,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="introDescription-overview "
               value="An overview of the various CSS applications which are part of the css-nsls2 product">
         </property>
         <property
               name="introDescription-firststeps"
               value="The following documents....">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Control System Studio is an Eclipse-based collections of tools to monitor and operate large scale control systems, such as the ones in the accelerator community. http://cs-studio.sourceforge.net">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.startup.module">
      <startupParameters
            class="org.csstudio.nsls2.product.startupmodule.StartupParameters">
      </startupParameters>
      <workspace
            class="org.csstudio.nsls2.product.startupmodule.WorkspacePrompt">
      </workspace>
      <workbench
            class="org.csstudio.nsls2.product.startupmodule.Workbench">
      </workbench>
      <project
            class="org.csstudio.startup.module.defaults.DefaultProject">
      </project>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.csstudio.nsls2.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.internal.intro.universal.WelcomeCustomizationPreferencePage"
            id="org.csstudio.nsls2.product.introCustomization"
            name="introCustomizationPreference">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="Close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="Close All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="Save As"
                  style="push">
            </command>
            <separator
                  name="workspace"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="Import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="Export"
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="exit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="Open New Window"
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
            <menu
                  label="Open Perspectives">
               <dynamic
                     class="org.csstudio.nsls2.product.OpenPerspectives"
                     id="org.csstudio.nsls2.product.windows.openperspectives">
               </dynamic>
            </menu>
            <menu
                  label="Open Views">
               <dynamic
                     class="org.csstudio.nsls2.product.OpenViews"
                     id="org.csstudio.nsls2.product.windows.openviews">
               </dynamic>
            </menu>
            <separator
                  name="additions">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?endof=additions">
         <menu
               id="help"
               label="help">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  label="Welcome"
                  style="push">
            </command>
            <separator
                  name="helpStart"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="Help Contents"
                  style="push">
            </command>
            <separator
                  name="helpEnd"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/alt_window_16.gif"
                  label="About CSS"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
