<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="SmsConnector"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.csstudio.ams.connector.sms.SmsConnectorStart"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.csstudio.ams.connector.sms.internal.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.ams.internal.pages.AmsPreferencePage"
            class="org.csstudio.ams.connector.sms.internal.pages.SmsPreferencePage"
            id="org.csstudio.ams.connector.sms.page1"
            name="Connector SMS"/>
   </extension>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.csstudio.ams.connector.sms.management.GetState"
            id="org.csstudio.ams.connector.sms.management.GetState"
            label="Get State">
      </command>
      <command
            class="org.csstudio.ams.connector.sms.management.Restart"
            id="org.csstudio.ams.connector.sms.management.Restart"
            label="Restart">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
      <command
            class="org.csstudio.ams.connector.sms.management.Stop"
            id="org.csstudio.ams.connector.sms.management.Stop"
            label="Stop">
         <stringParameter
               id="Password"
               label="Password">
         </stringParameter>
      </command>
   </extension>
   <extension
         id="AmsSmsConnectorProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.connector.sms.SmsConnector"
            name="AmsSmsConnectorProduct">
      </product>
   </extension>

</plugin>
