<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.scan.ui.scanmonitor.ScanMonitorView"
            icon="icons/scan_monitor.gif"
            id="org.csstudio.scan.ui.scanmonitor"
            name="%ScanMonitorView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:scan?before=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/scan_monitor.gif"
               label="%ScanMonitorView"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.scan.ui.scanmonitor">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
