<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="org.csstudio.sds.components.Switch" name="Switch" schema="schema/org.csstudio.sds.cosywidgets.switch.exsd"/>
   <extension
         point="org.csstudio.sds.widgetModelFactories">
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.MeterModelFactory"
            description="Creates a meter control."
            icon="icons/meter.gif"
            name="Meter"
            typeId="org.csstudio.sds.components.Meter"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.LabelModelFactory"
            description="Creates a label."
            icon="icons/label.gif"
            name="Label"
            typeId="org.csstudio.sds.components.Label"/>
      <widgetModelFactory
            category="Shapes"
            class="org.csstudio.sds.components.internal.model.ArcModelFactory"
            description="Creates an arc."
            icon="icons/arc.gif"
            name="Arc"
            typeId="org.csstudio.sds.components.Arc"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.ImageModelFactory"
            description="Creates an image."
            icon="icons/image.gif"
            name="Image"
            typeId="org.csstudio.sds.components.Image"/>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.SwitchModelFactory"
            description="Creates a switch."
            icon="icons/switch.gif"
            name="Switch"
            typeId="org.csstudio.sds.components.Switch"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.MenuButtonModelFactory"
            description="MenuButton (like Combo Box)"
            icon="icons/menubutton.gif"
            name="MenuButton"
            typeId="org.csstudio.sds.components.MenuButton">
      </widgetModelFactory>
   </extension>


   <extension
         point="org.csstudio.sds.widgetModelFactories">
      <widgetModelFactory
            category="Shapes"
            class="org.csstudio.sds.components.internal.model.RectangleModelFactory"
            description="Rectangle"
            icon="icons/rectangle.gif"
            name="Rectangle"
            typeId="org.csstudio.sds.components.Rectangle"/>
      <widgetModelFactory
            category="Shapes"
            class="org.csstudio.sds.components.internal.model.EllipseModelFactory"
            description="Ellipse"
            icon="icons/ellipse.gif"
            name="Ellipse"
            typeId="org.csstudio.sds.components.Ellipse"/>
      <widgetModelFactory
            category="Shapes"
            class="org.csstudio.sds.components.internal.model.PolygonModelFactory"
            description="Polygon"
            icon="icons/polygon.gif"
            name="Polygon"
            typeId="org.csstudio.sds.components.Polygon"/>
      <widgetModelFactory
            category="Shapes"
            class="org.csstudio.sds.components.internal.model.PolylineModelFactory"
            description="Polyline"
            icon="icons/polyline.gif"
            name="Polyline"
            typeId="org.csstudio.sds.components.Polyline"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.TextInputModelFactory"
            description="Text Input"
            icon="icons/text.gif"
            name="Text Input"
            typeId="org.csstudio.sds.components.Textinput"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.SimpleSliderModelFactory"
            description="Simple Slider"
            icon="icons/slider.gif"
            name="Simple Slider"
            typeId="org.csstudio.sds.components.SimpleSlider"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.AdvancedSliderModelFactory"
            description="Advanced Slider"
            icon="icons/advancedslider.gif"
            name="Advanced Slider"
            typeId="org.csstudio.sds.components.AdvancedSlider"/>
      <widgetModelFactory
            class="org.csstudio.sds.components.internal.model.WaveformModelFactory"
            description="Waveform"
            icon="icons/waveform.gif"
            name="Waveform"
            typeId="org.csstudio.sds.components.Waveform"/>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.BargraphModelFactory"
            description="Bargraph"
            icon="icons/bargraph.gif"
            name="Bargraph"
            typeId="org.csstudio.sds.components.Bargraph"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.ActionButtonModelFactory"
            description="Action Button"
            icon="icons/actionbutton.gif"
            name="Action Button"
            typeId="org.csstudio.sds.components.ActionButton"/>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.TimerModelFactory"
            description="A Timer widget"
            icon="icons/timer.gif"
            name="Timer"
            typeId="org.csstudio.sds.components.Timer">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.StripChartModelFactory"
            description="Plots values over time"
            icon="icons/waveform.gif"
            name="Strip Chart"
            typeId="org.csstudio.sds.components.StripChart">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.SixteenBinaryBarModelFactory"
            description="Displays lower 16 bits of an integer"
            icon="icons/sixteenbar.gif"
            name="Sixteen Binary Bar"
            typeId="org.csstudio.sds.components.SixteenBinaryBar">
      </widgetModelFactory>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.ThumbWheelModelFactory"
            description="The thumb wheel"
            icon="icons/thumbwheel.gif"
            name="Thumb Wheel"
            typeId="org.csstudio.sds.components.ThumbWheel">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.ThermometerModelFactory"
            description="Thermometer"
            icon="icons/Thermo.gif"
            name="Thermometer"
            typeId="org.csstudio.sds.components.Thermometer">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.TankModelFactory"
            description="Tank"
            icon="icons/Tank.gif"
            name="Tank"
            typeId="org.csstudio.sds.components.Tank">
      </widgetModelFactory>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.ScaledSliderModelFactory"
            description="Scaled Slider"
            icon="icons/scaled_slider.gif"
            name="Scaled Slider"
            typeId="org.csstudio.sds.components.ScaledSlider">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.GaugeModelFactory"
            description="Gauge"
            icon="icons/gauge.gif"
            name="Gauge"
            typeId="org.csstudio.sds.components.Gauge">
      </widgetModelFactory>
      <widgetModelFactory
            category="Monitors"
            class="org.csstudio.sds.components.internal.model.XMeterModelFactory"
            description="Express Meter"
            icon="icons/XMeter.png"
            name="Express Meter"
            typeId="org.csstudio.sds.components.XMeter">
      </widgetModelFactory>
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.KnobModelFactory"
            description="Knob"
            icon="icons/knob.gif"
            name="Knob"
            typeId="org.csstudio.sds.components.Knob">
      </widgetModelFactory>
   </extension>
   <extension
         point="org.csstudio.sds.widgetModelFactories">
      <widgetModelFactory
            category="Controls"
            class="org.csstudio.sds.components.internal.model.BooleanSwitchModelFactory"
            description="Boolean Switch"
            icon="icons/BoolSwitch.gif"
            name="Boolean Switch"
            typeId="org.csstudio.sds.components.BooleanSwitch">
      </widgetModelFactory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.csstudio.sds.widgetPropertyPostProcessors">
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.ActionButtonDataPostProcessor"
            propertyId="actionData"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.ActionButton">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.BargraphShowScalePostProcessor"
            propertyId="scaleShowStatus"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Bargraph">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.BargraphSizePostProcessor"
            propertyId="width"
            widgetId="org.csstudio.sds.components.Bargraph"
            skipOnLoad="true">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.BargraphSizePostProcessor"
            propertyId="height"
            widgetId="org.csstudio.sds.components.Bargraph"
            skipOnLoad="true">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.SimpleSliderSizePostProcessor"
            propertyId="width"
            widgetId="org.csstudio.sds.components.SimpleSlider"
            skipOnLoad="true">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.SimpleSliderSizePostProcessor"
            propertyId="height"
            widgetId="org.csstudio.sds.components.SimpleSlider"
            skipOnLoad="true">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.BooleanSwitchShowLabelPostProcessor"
            propertyId="PROP_LABEL_VISIBLE"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.BooleanSwitch">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowHiHiPostProcessor"
            propertyId="showHIHI"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowHiPostProcessor"
            propertyId="showHI"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowLoLoPostProcessor"
            propertyId="showLOLO"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowLoPostProcessor"
            propertyId="showLO"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowScalePostProcessor"
            propertyId="showScale"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetShowMarkersPostProcessor"
            propertyId="showMarkers"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.AbstractMarkedWidgetLogScalePostProcessor"
            propertyId="logScale"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Gauge,org.csstudio.sds.components.Knob,org.csstudio.sds.components.ScaledSlider,org.csstudio.sds.components.Tank,org.csstudio.sds.components.Thermometer,org.csstudio.sds.components.XMeter">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.TextInputValueTypePostProcessor"
            propertyId="value_type"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Textinput">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.LabelValueTypePostProcessor"
            propertyId="value_type"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.Label">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.StripChartPlotPostProcessor"
            propertyId="enable_plot*"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.StripChart">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.ActionButtonToggleStatePostProcessor"
            propertyId="toggleButton"
            skipOnLoad="false"
            widgetId="org.csstudio.sds.components.ActionButton">
      </widgetPropertyPostProcessor>
   </extension>
   <extension
         point="org.csstudio.sds.widgetPropertyPostProcessors">
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.PolyModelPositionPostProcessor"
            propertyId="position.y"
            skipOnLoad="true"
            widgetId="org.csstudio.sds.components.Polygon,org.csstudio.sds.components.Polyline">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.PolyModelPositionPostProcessor"
            propertyId="position.x"
            skipOnLoad="true"
            widgetId="org.csstudio.sds.components.Polygon,org.csstudio.sds.components.Polyline">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.PolyModelSizePostProcessor"
            propertyId="width"
            skipOnLoad="true"
            widgetId="org.csstudio.sds.components.Polygon,org.csstudio.sds.components.Polyline">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.PolyModelSizePostProcessor"
            propertyId="height"
            skipOnLoad="true"
            widgetId="org.csstudio.sds.components.Polygon,org.csstudio.sds.components.Polyline">
      </widgetPropertyPostProcessor>
      <widgetPropertyPostProcessor
            class="org.csstudio.sds.components.model.eventing.PolyModelPointsPostProcessor"
            propertyId="points"
            skipOnLoad="true"
            widgetId="org.csstudio.sds.components.Polygon,org.csstudio.sds.components.Polyline">
      </widgetPropertyPostProcessor>
   </extension>
   </plugin>
