<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.diag.diles.DilesEditor"
            contributorClass="org.csstudio.diag.diles.actions.DilesActionBarContributor"
            default="true"
            extensions="diles"
            icon="conn.gif"
            id="org.csstudio.diag.diles"
            name="Diles - Digital Logic Editor &amp; Simulator">
      </editor>
   </extension>
     <extension
           point="org.eclipse.ui.perspectives">
        <perspective
              class="org.csstudio.diag.diles.Perspective"
              icon="noicon"
              id="com.swtjface.flowchart.Perspective"
              name="Perspective">
        </perspective>
     </extension>
     <extension
           point="org.eclipse.ui.views">
        <view
              allowMultiple="true"
              class="org.csstudio.diag.diles.InOutView"
              icon="noicon"
              id="org.csstudio.diag.diles.inoutview"
              name="Table View"
              restorable="true">
        </view>
     </extension>
          <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="org.csstudio.diag.diles.openinoutview"
           nameFilter="*.diles"
           objectClass="org.eclipse.core.resources.IResource">
        <action
              class="org.csstudio.diag.diles.OpenFileWithInOutView"
              id="org.csstudio.diag.diles.openwithinoutviewaction"
              label="Open file with in/out view"/>
     </objectContribution>
  </extension>
     
</plugin>
