<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            category="org.csstudio"
            class="org.csstudio.diag.postanalyser.View"
            icon="icons/mainLabel.png"
            id="org.csstudio.diag.postanalyser.view"
            name="%PostAnalyzer">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.postanalyser.OpenPostAnalyzer"
            id="org.csstudio.diag.postanalyser.open"
            name="%PostAnalyzer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.trends.databrowser2.popup.processvariablewithsamples">
         <command
               commandId="org.csstudio.diag.postanalyser.open"
               icon="icons/mainLabel.png"
               label="%PostAnalyzer"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
