<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Toolbox"
            id="ToolboxActionSet"
            label="Toolbox Action Set"
            visible="true">
         <action
               class="org.csstudio.utility.toolbox.actions.OpenToolboxWindowAction"
               icon="icons/ark_options.png"
               id="org.csstudio.utility.toolbox.OpenToolBoxWindow"
               label="Toolbox"
               menubarPath="css/utility/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            id="org.csstudio.utility.toolbox.view.ToolBoxView"
            name="Toolbox"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.OrderEditorPart"
            name="Order Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.FirmaEditorPart"
            name="Firma Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.OrderSearchEditorPart"
            name="Order Search Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.FirmaSearchEditorPart"
            name="Company Search Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.ArticleDescriptionSearchEditorPart"
            name="Article Description Search Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.ArticleDescriptionEditorPart"
            name="Article Description Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.ArticleEditorPart"
            name="Article Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.ArticleSearchEditorPart"
            name="Article Search Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.StoreEditorPart"
            name="Store Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.StoreSearchEditorPart"
            name="Store Search Editor">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.StoreArticleEditorPart"
            name="Store Article">
      </editor>
      <editor
            class="org.csstudio.utility.toolbox.guice.GuiceWidgetFactory"
            default="false"
            id="org.csstudio.utility.toolbox.view.StoreArticleSearchEditorPart"
            name="Store Article Search Editor">
      </editor>
   </extension>

</plugin>
