<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.archive.common.guard.ArchiveGuardApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.archive.common.guard.application"
            name="DesyArchiveGuard">
         <property
               name="appName"
               value="DesyArchiveGuard">
         </property>
      </product>
   </extension>

</plugin>
