<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="WeightrequestApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.application.weightrequest.WeightRequestApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.application.weightrequest.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="WeightRequestProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.application.weightrequest.WeightrequestApplication"
            name="WeightRequest">
         <property
               name="appName"
               value="WeightRequest">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.remote.managementCommands">
      <command
            class="org.csstudio.application.weightrequest.management.Stop"
            id="org.csstudio.application.weightrequest.Stop"
            label="Stop">
      </command>
   </extension>

</plugin>
