<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SampleImporter" name="Data Importer" schema="schema/importer.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.trends.databrowser2.model.PVItem"
            class="org.csstudio.trends.databrowser2.AdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
         <adapter
               type="org.csstudio.trends.databrowser2.ProcessVariableWithSamples">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.trends.databrowser2.model.ChannelInfo"
            class="org.csstudio.trends.databrowser2.AdapterFactory">
         <adapter
               type="java.lang.String">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocChangelog.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.trends.databrowser2.editor.DataBrowserEditor"
            default="true"
            extensions="plt,css-plt"
            icon="icons/databrowser.png"
            id="org.csstudio.trends.databrowser.ploteditor.PlotEditor"
            name="%Databrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="%CSS">
      </category>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.trends.databrowser2.search.SearchView"
            icon="icons/search.gif"
            id="org.csstudio.trends.databrowser.archiveview.ArchiveView"
            name="%SearchView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.trends.databrowser2.sampleview.SampleView"
            icon="icons/inspect.gif"
            id="org.csstudio.trends.databrowser.sample_view"
            name="%SampleView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.trends.databrowser2.exportview.ExportView"
            icon="icons/export.png"
            id="org.csstudio.trends.databrowser.exportview.ExportView"
            name="%ExportView"
            restorable="true">
      </view>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.databrowser2.waveformview.WaveformView"
            icon="icons/wavesample.gif"
            id="org.csstudio.trends.databrowser.waveformview.WaveformView"
            name="%WaveformView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.trends.databrowser2.Perspective"
            icon="icons/databrowser.png"
            id="org.csstudio.trends.databrowser.Perspective"
            name="%Databrowser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.trends"
            class="org.csstudio.trends.databrowser2.preferences.PreferencePage"
            id="org.csstudio.trends.databrowser.preferences"
            name="%Databrowser">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <cheatsheet
            category="org.csstudio"
            composite="false"
            contentFile="cheatsheets/reset.xml"
            id="org.csstudio.trends.databrowser2.reset"
            name="Reset Data Browser Perspective">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio"
            composite="false"
            contentFile="cheatsheets/plot.xml"
            id="org.csstudio.trends.databrowser2.plot"
            name="Plot Archived Data">
      </cheatsheet>
      <cheatsheet
            category="org.csstudio"
            composite="false"
            contentFile="cheatsheets/archives.xml"
            id="org.csstudio.trends.databrowser2.archives"
            name="Change Data Browser Archive Data Sources">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.trends.databrowser2.OpenDataBrowserPopup"
            id="org.csstudio.trends.databrowser.OpenDataBrowserPopup"
            name="%Databrowser">
      </command>
      <command
            defaultHandler="org.csstudio.trends.databrowser2.NewDataBrowserHandler"
            id="org.csstudio.trends.databrowser.NewDataBrowserHandler"
            name="%Databrowser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="platform:/plugin/org.csstudio.csdata/icons/processVariable.png"
               id="org.csstudio.trends.databrowser2.popup.processvariablewithsamples"
               label="%PVSampleMenu">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <iterate>
                     <adapt type="org.csstudio.trends.databrowser2.ProcessVariableWithSamples"/>
                  </iterate>
                  <and>
                     <count value="+"/>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.trends.databrowser.OpenDataBrowserPopup"
               icon="icons/new_databrowser.png"
               label="%Databrowser"
               style="push"
               tooltip="%PopmenuTooltip">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:trends">
         <command
               commandId="org.csstudio.trends.databrowser.NewDataBrowserHandler"
               icon="icons/new_databrowser.png"
               label="%Databrowser"
               style="push"
               tooltip="%NewDatabrowserTT">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.trends.databrowser.toolbar">
             <command
                   commandId="org.csstudio.trends.databrowser.NewDataBrowserHandler"
                   icon="icons/new_databrowser.png"
                   label="%Databrowser"
                   style="push"
                   tooltip="%NewDatabrowserTT">
             </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.csstudio.openfile.openDisplay">
      <openDisplay
            class="org.csstudio.trends.databrowser2.OpenDisplayFile"
            file_extension="plt">
      </openDisplay>
   </extension>
   <extension
         point="org.csstudio.archive.reader.ArchiveReader">
      <ArchiveReader
            class="org.csstudio.trends.databrowser2.imports.ImportArchiveReaderFactory"
            name="org.csstudio.trends.databrowser2.import_archive_reader"
            prefix="import">
      </ArchiveReader>
   </extension>
   <extension
         point="org.csstudio.trends.databrowser2.SampleImporter">
      <importer
            type="csv"
            description="CSV Data File"
            class="org.csstudio.trends.databrowser2.imports.CSVSampleImporter">
      </importer>
   </extension>
</plugin>
