<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.trends.databrowser.editor.DataBrowserEditor"
            default="true"
            extensions="plt,css-plt"
            icon="icons/databrowser.png"
            id="org.csstudio.trends.databrowser.ploteditor.PlotEditor"
            name="%Databrowser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="%CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.databrowser.search.SearchView"
            icon="icons/search.gif"
            id="org.csstudio.trends.databrowser.archiveview.ArchiveView"
            name="%SearchView"
            restorable="true">
      </view>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.databrowser.sampleview.SampleView"
            icon="icons/inspect.gif"
            id="org.csstudio.trends.databrowser.sample_view"
            name="%SampleView"
            restorable="true">
      </view>
      <view
            category="org.csstudio"
            class="org.csstudio.trends.databrowser.exportview.ExportView"
            icon="icons/export.png"
            id="org.csstudio.trends.databrowser.exportview.ExportView"
            name="%ExportView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global menu actions"
            id="org.csstudio.trends.databrowser.actionSet"
            label="%Databrowser"
            visible="true">
         <action
               class="org.csstudio.trends.databrowser.NewDataBrowserAction"
               icon="icons/databrowser.png"
               id="org.csstudio.trends.databrowser.NewDataBrowserAction"
               label="%Databrowser"
               menubarPath="css/trends/"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="%NewDatabrowserTT">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.trends.databrowser.Perspective"
            icon="icons/databrowser.png"
            id="org.csstudio.trends.databrowser.Perspective"
            name="%Databrowser">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.csstudio.trends.popupactions"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.popmenu"
               label="%CSS"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.csstudio.trends.databrowser.OpenDataBrowserPopupAction"
               icon="icons/databrowser.png"
               id="org.csstudio.trends.databrowser.OpenDataBrowserPopupAction"
               label="%Databrowser"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%PopmenuTooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.trends"
            class="org.csstudio.trends.databrowser.preferences.PreferencePage"
            id="org.csstudio.trends.databrowser.preferences"
            name="%Databrowser">
      </page>
   </extension>

</plugin>
