<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.scan.ui.plot.ScanPlotView"
            icon="icons/plot.gif"
            id="org.csstudio.scan.ui.plot.view"
            name="%ScanPlot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.scan.ui.plot.OpenPlotHandler"
            id="org.csstudio.scan.ui.plot.openplot"
            name="%OpenPlot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:scan">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/plot.gif"
               label="%ScanPlot"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.scan.ui.plot.view">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.csstudio.scan.ui.plot.openplot"
               icon="icons/plot.gif"
               label="%OpenPlot"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <!-- Enable on 1 ScanInfo, but if the 'active' scan updates,
                       the selection will be empty, so look for 0 or 1
                    -->
                  <count value="?"/>
                  <iterate>
                     <instanceof value="org.csstudio.scan.server.ScanInfo"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
