<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.configuration"
            class="org.csstudio.utility.ldap.ui.preference.PreferencePage"
            id="org.csstudio.utility.ldap.preference.PreferencePage"
            name="LDAP"/>
   </extension>

</plugin>
