<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="JMSConnector"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.csstudio.ams.connector.jms.JMSConnectorStart">
         </run>
      </application>
   </extension>
   <extension
         id="AmsJmsConnector"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.connector.jms.JMSConnector"
            name="Ams JmsConnector">
         <property
               name="appName"
               value="Ams JmsConnector">
         </property>
      </product>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.ams.connector.jms.xmpp.JMSConnectorCallbackHandler"
            id="org.csstudio.ams.connector.jms.JMSConnectorLoginHandler"
            name="JMSConnectorLoginHandler">
      </loginHandler>
   </extension>
   <extension
         point="org.csstudio.platform.libs.dcf.action">
      <parametrizedAction
            class="org.csstudio.ams.connector.jms.actions.JMSConnectorShutdownAction"
            id="org.csstudio.ams.connector.jms.JMSConnectorShutdownAction"
            name="Shutdown"
            parameters="Password">
      </parametrizedAction>
   </extension>

</plugin>
