<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="exporters" name="exporters" schema="schema/exporters.exsd"/>
   <extension-point id="ionameservices" name="IO Name Services" schema="schema/ionameservices.exsd"/>
   <extension-point id="fieldfunctions" name="fieldfunctions" schema="schema/fieldfunctions.exsd"/>
   <extension-point id="sensoridservices" name="sensoridservices" schema="schema/sensoridservices.exsd"/>
   <extension-point id="recordfunctions" name="recordfunctions" schema="schema/recordfunctions.exsd"/>
   <extension
         point="org.csstudio.dct.exporters">
      <exporter
            class="org.csstudio.dct.export.internal.SimpleDbFileExporter"
            default="false"
            description="Standard DB-File"
            icon="icons/exporter.png"
            id="simpleDbExporter">
      </exporter>
      <exporter
            class="org.csstudio.dct.export.internal.AdvancedDbFileExporter"
            default="true"
            description="Advanced DB-File"
            icon="icons/exporter.png"
            id="advancedDbExporter">
      </exporter>
      <exporter
            class="org.csstudio.dct.export.internal.RecordNamesExporter"
            default="false"
            description="Record Names"
            icon="icons/exporter.png"
            id="recordNameExporter">
      </exporter>
   </extension>
   <extension
         point="org.csstudio.dct.fieldfunctions">
      <fieldfunction
            class="org.csstudio.dct.nameresolution.internal.EvalFieldFunction"
            description="Function. Evaluates the given expression."
            name="eval"
            signature="eval(&lt;expression&gt;)">
      </fieldfunction>
      <fieldfunction
            class="org.csstudio.dct.nameresolution.internal.IoNameFieldFunction"
            description="Function. Resolves the IO name of a device."
            name="ioname"
            signature="ioname(&lt;record&gt;)">
      </fieldfunction>
      <fieldfunction
            class="org.csstudio.dct.nameresolution.internal.ForwardLinkFieldFunction"
            description="Function. Creates a forward link."
            name="forwardlink"
            signature="forwardlink(&lt;target&gt;)">
      </fieldfunction>
      <fieldfunction
            class="org.csstudio.dct.nameresolution.internal.DataLinkFieldFunction"
            description="Function. Creates a data link."
            name="datalink"
            signature="datalink(&lt;target&gt;, [field]?, [NPP], [NMS])">
      </fieldfunction>
      <fieldfunction
            class="org.csstudio.dct.nameresolution.internal.SensorIdFieldFunction"
            description="Function. Resolves the sensor id of a device."
            name="sensorid"
            signature="sensorid(&lt;record&gt;)">
      </fieldfunction>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.dct.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
