<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.singlesource.helpers">
      <helpers
            resources="org.csstudio.utility.singlesource.rcp.RCPResourceHelper"
            ui="org.csstudio.utility.singlesource.rcp.RCPUIHelper">
      </helpers>
   </extension>

</plugin>
