<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="html/sim/toc.xml"
            primary="false">
      </toc>
      <toc
            file="html/sys/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/loc/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/pva/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/extra/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/file/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/service-exec/toc.xml"
            primary="false">
      </toc>

      <toc
            file="html/service-jdbc/toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
