<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.scan.command.ScanCommand"
            class="org.csstudio.scan.ui.scantree.properties.ScanCommandPropertyAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.scan.command.ScanCommand"
            class="org.csstudio.scan.ui.scantree.properties.ScanCommandPVAdapterFactory">
         <!-- IDE warns that "[L...ProcessVariable;" is not a known class,
              but this is the way an adaption to an array has to be specified.
           -->
         <adapter type="[Lorg.csstudio.csdata.ProcessVariable;">
         </adapter>
         <adapter type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.scan.ui.scantree.ScanEditor"
            contributorClass="org.csstudio.scan.ui.scantree.gui.ScanEditorContributor"
            default="true"
            extensions="scn"
            icon="icons/scantree.gif"
            id="org.csstudio.scan.ui.scantree.editor"
            name="%ScanTree">
      </editor>
      <editor
            default="false"
            extensions="scn"
            icon="icons/run.png"
            id="org.csstudio.scan.ui.scantree.submit"
            launcher="org.csstudio.scan.ui.scantree.ScanLauncher"
            name="%SubmitScan">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.scan.ui.scantree.gui.CommandListView"
            icon="icons/scantree.gif"
            id="org.csstudio.scan.ui.scantree.commandlist"
            name="%ScanCommands"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.scan.ui.scantree.operations.NewScanTree"
            id="org.csstudio.scan.ui.scantree.new"
            name="%ScanTree">
      </command>
      <command
            defaultHandler="org.csstudio.scan.ui.scantree.operations.SimulateScanHandler"
            id="org.csstudio.scan.ui.scantree.simulate"
            name="%SimulateScan">
      </command>
      <command
            defaultHandler="org.csstudio.scan.ui.scantree.operations.SubmitScanHandler"
            id="org.csstudio.scan.ui.scantree.submit"
            name="%SubmitScan">
      </command>
      <command
            defaultHandler="org.csstudio.scan.ui.scantree.OpenScanTreeHandler"
            id="org.csstudio.scan.ui.scantree.open"
            name="%OpenScanTree">
      </command>
      <command
            defaultHandler="org.csstudio.scan.ui.scantree.operations.ShowSimulationHandler"
            id="org.csstudio.scan.ui.scantree.show_simulation"
            name="Show Simulation Result">
         <commandParameter
               id="org.csstudio.scan.ui.scantree.show_simulation.log"
               name="Simulation Log"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:scan">
         <command
               commandId="org.csstudio.scan.ui.scantree.new"
               icon="icons/new_scantree.png"
               label="%ScanTree"
               style="push"
               tooltip="%NewScanTreeTT">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.csstudio.scan.ui.scantree.toolbar">
            <command
                  commandId="org.csstudio.scan.ui.scantree.submit"
                  icon="icons/run.png"
                  label="%SubmitScan"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activePartId"><equals value="org.csstudio.scan.ui.scantree.editor"/> </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activePartId"><equals value="org.csstudio.scan.ui.scantree.editor"/> </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
               <visibleWhen checkEnabled="false">
                  <with variable="activePartId"><equals value="org.csstudio.scan.ui.scantree.editor"/> </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.csstudio.scan.ui.scantree.editor?before=edit">
         <command commandId="org.eclipse.ui.edit.undo"/>
         <command commandId="org.eclipse.ui.edit.redo"/>
         <command commandId="org.eclipse.ui.file.save"/>
         <command commandId="org.eclipse.ui.file.saveAs"/>
         <separator
               name="undo"
               visible="true">
         </separator>
         <command commandId="org.eclipse.ui.edit.cut"/>
         <command commandId="org.eclipse.ui.edit.copy"/>
         <command commandId="org.eclipse.ui.edit.paste"/>
         <command commandId="org.eclipse.ui.edit.delete"/>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.csstudio.scan.ui.scantree.editor?after=scan">
         <command commandId="org.csstudio.scan.ui.scantree.simulate"
               icon="icons/simulate.gif">
         </command>
         <command
               commandId="org.csstudio.scan.ui.scantree.submit"
               icon="icons/run.png">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=scan">
         <command
               commandId="org.csstudio.scan.ui.scantree.open"
               icon="icons/scantree.gif"
               label="%OpenScanTree"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <!-- Enable on 1 ScanInfo, but if the 'active' scan updates,
                       the selection will be empty, so look for 0 or 1
                    -->
                  <count value="+"/>
                  <iterate>
                     <instanceof
                           value="org.csstudio.scan.server.ScanInfo">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.csstudio.scan.ui.scantree.operations.CutCommandHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with variable="activePartId">
               <equals value="org.csstudio.scan.ui.scantree.editor"/>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.csstudio.scan.ui.scantree.operations.CopyCommandHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with variable="activePartId">
               <equals value="org.csstudio.scan.ui.scantree.editor"/>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.csstudio.scan.ui.scantree.operations.PasteCommandHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with variable="activePartId">
               <equals value="org.csstudio.scan.ui.scantree.editor"/>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.csstudio.scan.ui.scantree.operations.CutCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
            <!-- Delete is always active? -->
      </handler>
      <handler
            class="org.csstudio.scan.ui.scantree.operations.UndoHandler"
            commandId="org.eclipse.ui.edit.undo">
      </handler>
      <handler
            class="org.csstudio.scan.ui.scantree.operations.RedoHandler"
            commandId="org.eclipse.ui.edit.redo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.scan.ui.scantree.gui.Perspective"
            icon="icons/scantree.gif"
            id="org.csstudio.scan.ui.scantree.perspective"
            name="%ScanTree">
      </perspective>
   </extension>

</plugin>
