<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.auth.authorizationProvider">
      <provider
            class="org.csstudio.ldapauthorization.LdapAuthorizationReader"
            id="org.csstudio.ldapAuthorization.provider"/>
   </extension>

</plugin>
