<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.csstudio"
            class="org.csstudio.diag.icsiocmonitor.ui.internal.IocMonitorView"
            id="org.csstudio.diag.icsiocmonitor.ui.IocMonitorView"
            name="ICS/IOC Monitor"
            restorable="true">
      </view>
   </extension>
        <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.diag.icsiocmonitor.ui.internal.ShowIocMonitor"
            id="org.csstudio.diag.icsiocmonitor.ui.internal.showiocmonitor"
            name="Show IOC Monitor">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.csstudio.diag.icsiocmonitor.ui.internal.showiocmonitor"
               label="IOC Monitor"
               style="push"
               tooltip="IOC Monitor">
         </command>
      </menuContribution>
      </extension>
</plugin>
