<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="AmsRemoteToolApplication"
         name="AmsRemoteTool"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.ams.remotetool.AmsRemoteTool">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.ams.remotetool.internal.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="AmsRemoteToolProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.remotetool.AmsRemoteToolApplication"
            name="AmsRemoteToolProduct">
      </product>
   </extension>

</plugin>
