<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="AmsRemoteToolApplication"
         name="AmsRemoteTool"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.csstudio.ams.remotetool.AmsRemoteTool">
         </run>
      </application>
   </extension>
   <extension
         point="org.csstudio.platform.libs.xmpp.loginHandlers">
      <loginHandler
            class="org.csstudio.ams.remotetool.xmpp.LoginCallbackHandler"
            id="org.csstudio.ams.remotetool.LoginHandler"
            name="RemoteToolLoginHandler">
      </loginHandler>
   </extension>
   <extension
         id="AmsRemoteToolProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.ams.remotetool.AmsRemoteToolApplication"
            name="AmsRemoteTool">
         <property
               name="appName"
               value="AmsRemoteTool">
         </property>
      </product>
   </extension>

</plugin>
