<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.vtype.pv.ui.JCAPreferencePage"
            id="org.csstudio.vtype.pv.ui.page1"
            name="%prefPageTitle"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
</plugin>
