<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.dct.ui.editor.DctEditor"
            contributorClass="org.csstudio.dct.ui.editor.MultiPageEditorContributor"
            extensions="css-dct"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.DctEditor"
            name="DCT Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.dct.model.IElement"
            class="org.csstudio.dct.ui.internal.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="css.dct.outline.popup"
            targetID="css.dct.outline">
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddRecordAction"
               enablesFor="1"
               icon="icons/record.png"
               id="AddRecordAction"
               label="Add Record"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IRecordContainer">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddPrototypeAction"
               enablesFor="1"
               icon="icons/prototype.png"
               id="AddPrototypeAction"
               label="Add Prototype"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IFolder">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddInstanceAction"
               enablesFor="1"
               icon="icons/instance.png"
               id="AddInstanceAction"
               label="Add Instance"
               menubarPath="add.ext">
            <enablement>
               <or>
                  <objectClass
                        name="org.csstudio.dct.model.IInstanceContainer">
                  </objectClass>
                  <objectClass
                        name="org.csstudio.dct.model.IFolder">
                  </objectClass>
               </or>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.RemoveAction"
               icon="icons/delete.png"
               id="RemoveRecordAction"
               label="Remove"
               menubarPath="remove.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IElement">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.csstudio.dct.ui.editor.outline.internal.AddFolderAction"
               enablesFor="1"
               icon="icons/folder.png"
               id="AddFolderAction"
               label="Add Folder"
               menubarPath="add.ext">
            <enablement>
               <objectClass
                     name="org.csstudio.dct.model.IFolder">
               </objectClass>
            </enablement>
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="DctEditor.Contributions"
            targetID="org.csstudio.dct.ui.DctEditor">
         <action
               class="org.csstudio.dct.ui.editor.UndoAction"
               icon="icons/undo.png"
               id="org.csstudio.dct.ui.editor.UndoAction"
               label="Undo"
               style="push"
               toolbarPath="add.ext">
         </action>
         <action
               class="org.csstudio.dct.ui.editor.RedoAction"
               icon="icons/redo.png"
               id="org.csstudio.dct.ui.editor.RedoAction"
               label="Redo"
               style="push"
               toolbarPath="add.ext">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.csstudio.dct.ui.DctPerspective"
            fixed="true"
            icon="icons/dctfile.png"
            id="org.csstudio.dct.ui.DctPerspective"
            name="DCT Perspective">
      </perspective>
   </extension>

</plugin>
