<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.scan.command.ScanCommand"
            class="org.csstudio.scan.ui.scantree.ScanCommandAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.csstudio.scan.ui.scantree.ScanEditor"
            default="false"
            extensions="scn"
            icon="icons/scantree.gif"
            id="org.csstudio.scan.ui.scantree.editor"
            name="%ScanTree">
      </editor>
   </extension>

</plugin>
