<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
      		category="org.eclipse.ui"
            class="org.eclipse.pde.internal.runtime.logview.LogView"
            id="org.eclipse.pde.runtime.LogView"
            name="Status View">
      </view>
      <view
            class="org.remotercp.errorhandling.ui.ErrorView"
            icon="icons/info6.jpeg"
            id="org.remotercp.errorhandling.errorview"
            name="Status View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remotercp.core.perspective">
         <view
               closeable="true"
               id="org.eclipse.pde.runtime.LogView"
               moveable="true"
               ratio="0.7f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="org.remotercp.errorhandling.errorview"
               moveable="true"
               ratio="0.8f"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
