<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.ams.alarmchainmanager.views.AlarmChainManagerView"
            icon="icons/ams.gif"
            id="org.csstudio.ams.alarmchainmanager.views.AlarmChainManagerView"
            name="AMS AlarmChainManager">
      </view>
   </extension>
        <extension
           point="org.eclipse.ui.commands">
        <command
               defaultHandler="org.csstudio.ams.alarmchainmanager.actions.ShowAlarmChain"
            id="org.csstudio.ams.alarmchainmanager.showalarmchain"
            name="Alarm Chain">
      </command>
     </extension>
     <extension
                point="org.eclipse.ui.menus">
             <menuContribution
            allPopups="false"
            locationURI="menu:configuration">
         <command
               commandId="org.csstudio.ams.alarmchainmanager.showalarmchain"
               icon="icons/ams.gif"
               label="Alarm Chain"
               style="push"
               tooltip="Alarm Chain">
         </command>
      </menuContribution>
      </extension>
</plugin>
