<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.remotercp.authorization" name="Operation Authorization" schema="schema/org.remotercp.authorization.exsd"/>
   <extension-point id="org.remotercp.remoteService" name="Remote Service" schema="schema/org.remotercp.remoteService.exsd"/>
   <extension
         point="org.csstudio.platform.managementCommands">
      <command
            class="org.remotercp.common.versionservice.GetProductVersion"
            id="org.remotercp.common.versionservice.GetProductVersion"
            label="Get Product Version">
      </command>
   </extension>
</plugin>
