<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.platform"
            class="org.csstudio.domain.desy.ui.preferences.ControlSubnetPreferencPage"
            id="org.csstudio.domain.desy.ui.preferences.ControlNetPreferencPage"
            name="Control Subnet Preferences">
      </page>
   <page
         category="org.csstudio.platform.ui.css.applications.configuration"
         class="org.csstudio.platform.ui.internal.statisticview.PreferencePage"
         id="org.csstudio.platform.ui.StatisticViewPreferencePage"
         name="Statistic View">
   </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.domain.desy.ui.preferences.ControlSubnetPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.csstudio.domain.desy.ui.statisticview.PreferenceInitializer">
      </initializer>
   </extension>
  <extension
        point="org.csstudio.remote.managementCommandResultReceivers">
     <receiver
           class="org.csstudio.domain.desy.ui.statisticview.StatisticReceiver"
           resultType="org.csstudio.domain.common.statistic.XmlStatistic">
     </receiver>
  </extension>
  	<extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS"/>
      <view
            allowMultiple="true"
            category="org.csstudio"
            class="org.csstudio.domain.desy.ui.statisticview.StatisticView"
            icon="icons/StatisticViewer.png"
            id="org.csstudio.domain.desy.ui.StatisticView"
            name="Statistic"
            restorable="false">
      </view>
   </extension>
</plugin>
