<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.opibuilder.widget">
      <widget
            category="Monitors"
            editpart_class="org.csstudio.opibuilder.widgets.service.ServicePanelEditPart"
            icon="platform:/plugin/org.csstudio.channel.widgets/icons/multi-channel-16.png"
            model_class="org.csstudio.opibuilder.widgets.service.ServicePanelModel"
            name="Service panel"
            typeId="org.csstudio.opibuilder.widgets.service.ServicePanel">
      </widget>
   </extension>

</plugin>
