<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.csstudio.rap.preferences.ServerPreferenceFactory"
            name="server">
      </scope>
   </extension>

</plugin>
