<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="org.csstudio.rap.core.preferences.ServerPreferenceFactory"
            name="server">
      </scope>
   </extension>
     <extension
           point="org.eclipse.rap.ui.entrypoint">
        <entrypoint
              class="org.csstudio.rap.core.debug.RAPDebugEntryPoint"
              id="org.csstudio.rap.core.debug.entrypoint"
              parameter="debug">
        </entrypoint>
     </extension>
     <extension
           id="defaultLoginModule"
           name="Default Login Module"
           point="org.eclipse.equinox.security.loginModule">
        <loginModule
              class="org.csstudio.rap.core.security.DefaultLoginModule"
              description="Default Login Module">
        </loginModule>
     </extension>

</plugin>
