<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="command" name="Scan Command" schema="schema/command.exsd"/>
   <extension point="org.csstudio.scan.command">
      <command
            class="org.csstudio.scan.command.ConfigLogCommand"
            icon="icons/configcommand.gif"
            id="config_log"
            name="Log Configuration">
      </command>
      <command
            class="org.csstudio.scan.command.DelayCommand"
            icon="icons/delaycommand.gif"
            id="delay"
            name="Delay">
      </command>
      <command
            class="org.csstudio.scan.command.LogCommand"
            icon="icons/logcommand.gif"
            id="log"
            name="Log">
      </command>
      <command
            class="org.csstudio.scan.command.LoopCommand"
            icon="icons/loopcommand.gif"
            id="loop"
            name="Loop">
      </command>
      <command
            class="org.csstudio.scan.command.ScriptCommand"
            icon="icons/scriptcommand.gif"
            id="script"
            name="Script">
      </command>
      <command
            class="org.csstudio.scan.command.SetCommand"
            icon="icons/setcommand.gif"
            id="set"
            name="Set">
      </command>
      <command
            class="org.csstudio.scan.command.WaitCommand"
            icon="icons/waitcommand.gif"
            id="wait"
            name="Wait">
      </command>
   </extension>
</plugin>
