<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="pvutildata" name="PVUtilData" schema="schema/pvutildata.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            id="org.csstudio.diag.pvutil.view.PVUtilView"
            category="org.csstudio"
            class="org.csstudio.diag.pvutil.view.PVUtilView"
            icon="icons/pvu.jpg"
            name="PV Utility">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.diag.pvutil.OpenPVUtil"
            id="org.csstudio.diag.pvutil.OpenPVUtil"
            name="Open PV Util">
            commandId>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:diag">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/pvu.jpg"
               label="PV Utility"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.diag.pvutil.view.PVUtilView">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.csstudio.ui.menu.popup.processvariable">
         <command
               commandId="org.csstudio.diag.pvutil.OpenPVUtil"
               icon="icons/pvu.jpg"
               label="PV Utility"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.diag.pvutil.model.PV"
            class="org.csstudio.diag.pvutil.PVAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.diag.pvutil.model.FEC"
            class="org.csstudio.diag.pvutil.DeviceAdapterFactory">
         <adapter
               type="org.csstudio.csdata.Device">
         </adapter>
      </factory>
   </extension>

</plugin>
