<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.csstudio.utility.pvmanager.ui.toolbox.DataSourcesView"
            icon="icons/datasource-viewer-16.png"
            id="org.csstudio.utility.pvmanager.ui.toolbox.ToolboxView"
            name="Datasources">
      </view>
      <view
            class="org.csstudio.utility.pvmanager.ui.toolbox.ServicesView"
            icon="icons/service-viewer-16.png"
            id="org.csstudio.utility.pvmanager.ui.toolbox.ServicesView"
            name="Services"
            restorable="true">
      </view>
      <view
            class="org.csstudio.utility.pvmanager.ui.toolbox.FunctionsView"
            icon="icons/formula-viewer-16.png"
            id="org.csstudio.utility.pvmanager.ui.toolbox.FunctionsView"
            name="Formula Functions"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:debugging">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/datasource-viewer-16.png"
               label="Datasources"
               style="push"
               tooltip="Show open channels in PVManager">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.pvmanager.ui.toolbox.ToolboxView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/service-viewer-16.png"
               label="Services"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.pvmanager.ui.toolbox.ServicesView">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/formula-viewer-16.png"
               label="Formula Functions"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.utility.pvmanager.ui.toolbox.FunctionsView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
</plugin>
