<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.csstudio.utility.pv.pvfactory">
      <PVFactory
            class="org.csstudio.utility.pv.simu.SimulatedPVFactory"
            name="Simulated PV"
            prefix="sim">
      </PVFactory>
      <PVFactory
            class="org.csstudio.utility.pv.simu.LocalPVFactory"
            name="Local PV"
            prefix="loc">
      </PVFactory>
      <PVFactory
            class="org.csstudio.utility.pv.simu.SystemPVFactory"
            name="System PV"
            prefix="sys">
      </PVFactory>
      <PVFactory
            class="org.csstudio.utility.pv.simu.ConstantPVFactory"
            name="Constant PV"
            prefix="const">
      </PVFactory>
   </extension>

</plugin>
