/* Cascding Style Sheet */ /* Styles */
A:link {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	BORDER-STYLE: none;
	FONT-FAMILY: Verdana;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

A:visited {
	COLOR: #000000;
	TEXT-DECORATION: underline;
	BORDER-STYLE: none;
	FONT-FAMILY: Verdana;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

A:hover {
	COLOR: #808080;
	TEXT-DECORATION: none;
	BORDER-STYLE: none;
	FONT-FAMILY: Verdana;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	FONT-COLOR: blue;
}

A:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
	BORDER-STYLE: none;
	FONT-FAMILY: Verdana;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
}

.ClassMainNorm {
	back-color: #FFFFFF;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 0px;
	padding-left: 0px;
}

.ClassPageHeader {
	COLOR: #ffffff;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 7px;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	background-color: #bbbbbb;
}

<!--
.ClassFormText {
	COLOR: #000000;
	FONT-FAMILY: Verdana;
	FONT-SIZE: 8px;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	background: #FFFFFF;
	border-top: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	border-right: #000000 solid 1px;
	border-left: #000000 solid 1px;
}

--> /*  Cascding Style Sheet  */ /* DIV Classes */
.ClassTopDiv {
	background: #EAEEF9;
}

/***************************/ /* General element styles: */
	/***************************/
H1,H2,H3,H4,H5,H6,P,TD,UL,OL,LI,BLOCKQUOTE {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	color: black;
}

H1 {
	line-height: 28px;
	margin-bottom: 2px;
}

H2 {
	line-height: 18px;
	margin-bottom: 10px;
}

H3 {
	line-height: 15px;
}

H4,H5,H6,P,TD,UL,OL,BLOCKQUOTE {
	line-height: 20px;
}

BODY {
	font-size: 14px;
}

CODE,CODE.P {
	font-family: Courier;
	color: Blue;
}

.CODE_H3 {
	font-family: Courier;
	font-size: 20px;
	color: Blue;
}

INPUT,TEXTAREA,SELECT {
	font-family: Verdana;
	font-size: 10px;
	padding-left: 2px;
	color: Black;
}

PRE {
	font-family: monospace;
}

FORM {
	margin: 0px 0px 0px 0px;
}

P,PRE {
	margin: 10px 10px 10px 10px;
}

TD {
	font-size: 14px;
}

INPUT,TEXTAREA,SELECT {
	font-size: 12px;
	border: solid 0px #bbbbbb;
}

BR {
	line-height: 20px;
}

RADIO {
	border: solid 0px #000000;
}

UL {
	margin-top: 0px;
	color: #000000;
}

OL {
	margin-top: 0px;
	color: #000000;
}

LI {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px; 
}

/*********************/ /* Tables, generally */ /*********************/
TABLE.code TR TD {
	font-family: Courier;
	font-size: 10px;
}

ul.tabs {
	background-color: : #F7F7F7;
	margin: 0px 0px 0px 0px;
	list-style: none;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

li.tabinline {
	padding-left: 3px;
	padding-right: 3px;
	font: bold;
	text-decoration: none;
	color: #2A2A2A;
	display: inline;
	border-left: solid #EAEEF9;
	border-top: solid #EAEEF9;
	border-right: solid #EAEEF9;
	background-color: #F7F7F7;
	list-style-position: inside;
}

li.tabinline A {
	text-decoration: none;
	color: #2A2A2A;
	list-style-type: none;
	background-color: #F7F7F7;
}

li.tabselected {
	display: inline;
	border-left: solid #EAEEF9;
	border-right: solid #EAEEF9;
	border-top: solid #EAEEF9;
	padding-left: 3px;
	padding-right: 3px;
	color: white;
	background-color: #BBBBBB;
	font: bold;
}

li.tabselected A {
	text-decoration: none;
	color: #ffffff;
	list-style-type: none;
}

li.tablast {
	padding-left: 3px;
	padding-right: 3px;
	font: bold;
	text-decoration: none;
	color: #2A2A2A;
	display: inline;
	border-left: solid #EAEEF9;
	border-top: solid #EAEEF9;
	border-right: solid #EAEEF9;
	background-color: #F7F7F7;
}

li.tablast A {
	text-decoration: none;
	color: #2A2A2A;
	list-style-type: none;
}

.tabtable {
	background-color: #F7F7F7;
}