<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.csstudio.dct.recordfunctions">
      <recordfunction
            class="org.csstudio.dct.dbexport.ExportToDeviceDatabaseFunction"
            icon="icons/function.png"
            id="org.csstudio.dct.dbexport.ExportToDeviceDatabaseFunction"
            name="Export To Device Database">
         <attribute
               description="org.csstudio.dct.desy.attribute1"
               id="org.csstudio.dct.desy.attribute1">
         </attribute>
      </recordfunction>
   </extension>
      <extension
         point="org.csstudio.dct.exporters">
      <exporter
            class="org.csstudio.dct.export.internal.DbStatistics"
            default="false"
            description="Db Statistics"
            icon="icons/exporter.png"
            id="DbStatisticExporter">
      </exporter>
   </extension>

</plugin>
