<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.csstudio.channel.application.category"
            class="org.csstudio.channel.views.ChannelsView"
            icon="icons/channelFinder.png"
            id="org.csstudio.channelfinder.views.ChannelsView"
            name="Channels">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.csstudio.channelfinder.views.ChannelsView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:display">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/channelFinder.png"
               label="Channel Viewer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.channelfinder.views.ChannelsView">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.csstudio.channel.widgets.ProcessVariableAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
         <adapter
               type="[Lorg.csstudio.csdata.ProcessVariable;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
        <adapter
               type="[Lgov.bnl.channelfinder.api.Channel;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ChannelQueryAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="[Lgov.bnl.channelfinder.api.ChannelQuery;">
         </adapter>
      </factory>
      <factory
            adaptableType="org.csstudio.channel.widgets.ConfigurableWidgetAdaptable"
            class="org.csstudio.channel.widgets.CommonAdapterFactory">
         <adapter
               type="org.csstudio.channel.widgets.ConfigurableWidget">
         </adapter>
      </factory>
   </extension>
   
</plugin>
