<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.csstudio"
            class="org.csstudio.utility.epicsDataBaseCompare.ui.EpicsDataBaseCompareView"
            icon="icons/compare_view.gif"
            id="org.csstudio.utility.epicsDataBaseCompare.ui.EpicsDataBaseCompareView"
            name="EPICS DB Compare">
      </view>
      <category
            id="org.csstudio"
            name="CSS">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.csstudio.utility.epicsDataBaseCompare.actionSet"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.utility.epicsDataBaseCompare.ShowEpicsDbCompare"
               icon="icons/compare_view.gif"
               id="org.csstudio.utility.epicsDataBaseCompare.ShowEpicsDbCompare"
               label="EPICS DB compare"
               menubarPath="css/utility/"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
