<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="cs-studio" sequenceNumber="57">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="junit" version="4.11.0"/>
<unit id="org.epics.pvmanager-exec" version="2.9.1.20150211122656"/>
<unit id="org.epics.pvmanager-file-json" version="2.9.1.20150211122709"/>
<unit id="org.epics.pvmanager-jdbc.source" version="2.9.1.20150205112809"/>
<unit id="org.jboss.spec.javax.transaction.jboss-transaction-api_1.1_spec" version="1.0.0.Final"/>
<unit id="org.csstudio.utility.pvmanager.graphene" version="4.1.0.20150211122858"/>
<unit id="commons-logging" version="1.1.1"/>
<unit id="org.epics.pvmanager-loc" version="2.9.1.20150211122729"/>
<unit id="org.epics.pvmanager-vtype" version="2.9.1.20150211122901"/>
<unit id="org.epics.util.source" version="0.3.2"/>
<unit id="org.csstudio.utility.pvmanager.epics" version="4.1.0.20150211122635"/>
<unit id="org.csstudio.utility.pvmanager.loc" version="4.1.0.20150211122728"/>
<unit id="com.miglayout.swt" version="4.2.0"/>
<unit id="org.epics.pvmanager-graphene" version="2.9.1.20150211122858"/>
<unit id="com.google.guava" version="18.0.0"/>
<unit id="org.apache.ant.launcher" version="1.9.4"/>
<unit id="org.csstudio.utility.pvmanager.sim" version="4.1.0.20150211122809"/>
<unit id="org.csstudio.utility.pvmanager" version="4.1.0.20150211122633"/>
<unit id="org.csstudio.utility.pvmanager.extra" version="4.1.0.20150211122825"/>
<unit id="com.sun.mail.javax.mail" version="1.5.2"/>
<unit id="org.glassfish.javax.json.source" version="1.0.4"/>
<unit id="org.epics.pvmanager-graphene.source" version="2.9.1.20150211121557"/>
<unit id="org.antlr.stringtemplate" version="3.2.1"/>
<unit id="org.csstudio.platform.libs.epics" version="4.1.0.20150211122908"/>
<unit id="org.hibernate.validator" version="4.3.0.Final"/>
<unit id="org.epics.vtype.source" version="2.9.1.20150211121619"/>
<unit id="org.csstudio.utility.pvmanager.sys" version="4.1.0.20150211122818"/>
<unit id="org.apache.ant.junit" version="1.9.4"/>
<unit id="org.glassfish.javax.json" version="1.0.4"/>
<unit id="org.antlr.stringtemplate.source" version="3.2.1"/>
<unit id="org.hibernate.common.hibernate-commons-annotations" version="4.0.1.Final"/>
<unit id="org.csstudio.utility.pvmanager.exec" version="4.1.0.20150211122655"/>
<unit id="org.mockito.mockito-core" version="1.9.5"/>
<unit id="org.epics.pvmanager-file.source" version="2.9.1.20150205112759"/>
<unit id="antlr" version="2.7.7"/>
<unit id="batik" version="1.5.0"/>
<unit id="org.apache.commons.collections" version="3.2.1"/>
<unit id="org.epics.vtype-json.source" version="2.9.1.20150211121619"/>
<unit id="org.epics.pvmanager-file-json.source" version="2.9.1.20150205112759"/>
<unit id="org.epics.caj.source" version="1.1.14"/>
<unit id="org.csstudio.thirdparty.all.feature.feature.group" version="1.0.1.201412102118"/>
<unit id="org.hamcrest.core" version="1.3.0"/>
<unit id="org.epics.pvmanager-exec.source" version="2.9.1.20150205112745"/>
<unit id="org.epics.pvmanager-sys.source" version="2.9.1.20150205112906"/>
<unit id="org.epics.jca.source" version="2.3.6"/>
<unit id="org.epics.pvmanager-sim" version="2.9.1.20150211122810"/>
<unit id="org.antlr.runtime" version="3.4.0"/>
<unit id="com.mysql.jdbc" version="5.1.32"/>
<unit id="org.epics.pvmanager-core.source" version="2.9.1.20150211121602"/>
<unit id="org.epics.pvmanager-jca.source" version="2.9.1.20150211121538"/>
<unit id="org.objenesis" version="1.0.0"/>
<unit id="org.epics.pvmanager-extra" version="2.9.1.20150211122826"/>
<unit id="org.csstudio.utility.pvmanager.pva" version="4.1.0.20150211122736"/>
<unit id="org.epics.pvmanager-extra.source" version="2.9.1.20150205112916"/>
<unit id="org.epics.pvmanager-jdbc" version="2.9.1.20150211122722"/>
<unit id="org.jdom" version="1.1.0"/>
<unit id="com.miglayout.swing" version="4.2.0"/>
<unit id="org.epics.pvmanager-loc.source" version="2.9.1.20150205112816"/>
<unit id="xmlunit" version="1.5.0"/>
<unit id="org.epics.pvDataJava" version="4.0.2"/>
<unit id="org.epics.vtype" version="2.9.1.20150211122906"/>
<unit id="log4j.over.slf4j" version="1.5.11"/>
<unit id="org.hibernate.core" version="4.1.3.Final"/>
<unit id="net.sf.ehcache.internal.ehcache-core" version="2.8.3"/>
<unit id="javax.inject.javax.inject" version="1.0.0"/>
<unit id="org.jboss.logging.jboss-logging" version="3.1.0.GA"/>
<unit id="org.epics.pvmanager-integration.source" version="2.9.1.20150211121538"/>
<unit id="log4j" version="1.2.17"/>
<unit id="org.epics.pvaccess.source" version="4.0.4"/>
<unit id="org.csstudio.utility.pvmanager.file" version="4.1.0.20150211122702"/>
<unit id="jul.to.slf4j" version="1.7.7"/>
<unit id="org.csstudio.utility.pvmanager.vtype" version="4.1.0.20150211122648"/>
<unit id="slf4j.api" version="1.7.7"/>
<unit id="org.epics.pvmanager-sys" version="2.9.1.20150211122818"/>
<unit id="org.apache.ant" version="1.9.4"/>
<unit id="org.csstudio.utility.pvmanager.file.json" version="4.1.0.20150211122709"/>
<unit id="org.python.jython" version="2.7.0.b3"/>
<unit id="org.apache.commons.beanutils" version="1.9.2"/>
<unit id="org.hibernate.javax.persistence.hibernate-jpa-2.0-api" version="1.0.1.Final"/>
<unit id="dom4j" version="1.6.1"/>
<unit id="org.epics.graphene" version="0.8.0"/>
<unit id="org.epics.vtype-json" version="2.9.1.20150211122721"/>
<unit id="org.epics.pvmanager-pva" version="2.9.1.20150211122740"/>
<unit id="org.epics.util" version="0.3.2"/>
<unit id="com.miglayout.core" version="4.2.0"/>
<unit id="org.epics.pvmanager-file" version="2.9.1.20150211122710"/>
<unit id="org.epics.pvmanager-sim.source" version="2.9.1.20150205112857"/>
<unit id="org.hamcrest.library" version="1.3.0"/>
<unit id="org.antlr.runtime.source" version="3.4.0"/>
<unit id="org.epics.pvmanager-core" version="2.9.1.20150211122901"/>
<unit id="org.junit-dep" version="4.10.0"/>
<unit id="org.epics.caj" version="1.1.14"/>
<unit id="org.csstudio.utility.pvmanager.jdbc" version="4.1.0.20150211122721"/>
<unit id="org.epics.pvaccess" version="4.0.4"/>
<unit id="javax.activation" version="1.1.0"/>
<unit id="org.eclipse.swt.gtk.linux.x86_64" version="3.3.0.v3346"/>
<unit id="org.javassist" version="3.15.0.GA"/>
<unit id="org.epics.pvmanager-jca" version="2.9.1.20150211122636"/>
<unit id="javax.validation.api" version="1.0.0.GA"/>
<unit id="org.csstudio.thirdparty.all.feature.source.feature.group" version="1.0.1.201412102118"/>
<unit id="org.terracotta.internal.statistics" version="1.0.1"/>
<unit id="com.google.inject" version="3.0.0"/>
<unit id="org.epics.pvmanager-integration" version="2.9.1.20150211121538"/>
<unit id="org.epics.graphene.source" version="0.8.0"/>
<unit id="org.epics.pvmanager-vtype.source" version="2.9.1.20150211121601"/>
<unit id="slf4j.log4j12" version="1.7.7"/>
<unit id="org.epics.pvdata" version="4.0.3"/>
<unit id="org.epics.pvmanager-pva.source" version="2.9.1.20150205112826"/>
<unit id="aopalliance" version="1.0.0"/>
<unit id="javax.json-api.source" version="1.0.0"/>
<unit id="org.epics.jca" version="2.3.6"/>
<unit id="org.epics.pvdata.source" version="4.0.3"/>
<unit id="javax.json-api" version="1.0.0"/>
<repository location="http://download.controlsystemstudio.org/updates/4.1"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jre7"/>
</target>
