<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.debugging.jmsmonitor.JMSMonitorView"
            icon="icons/jmsmonitor.gif"
            id="org.csstudio.debugging.jmsmonitor.view"
            name="%JMSMonitor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:debugging">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/jmsmonitor.gif"
               id="org.csstudio.alarm.beast.alarmtable"
               label="%JMSMonitor"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="org.csstudio.debugging.jmsmonitor.view">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.csstudio.platform.ui.css.applications.debugging"
            class="org.csstudio.debugging.jmsmonitor.PreferencePage"
            id="org.csstudio.debugging.jmsmonitor.preferences"
            name="%JMSMonitor">
      </page>
   </extension>
</plugin>
