<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.beast.notifier.application"
            name="Alarm Notification">
         <property
               name="appName"
               value="Alarm Notification">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.alarm.beast.notifier.application"
            name="org.csstudio.askap.alarm.beast.notifier.product.product">
         <property
               name="appName"
               value="org.csstudio.askap.alarm.beast.notifier.product.product">
         </property>
      </product>
   </extension>

</plugin>
