<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.csstudio.jms2rdb.application"
            name="JMS-to-RDB">
         <property
               name="appName"
               value="JMS-to-RDB">
         </property>
      </product>
   </extension>
</plugin>
