<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="file"
               label="%File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="%FileNew"
                  style="push">
            </command>
            <menu
                  label="%FileRecent">
                <dynamic
                      class="org.csstudio.ui.menu.app.handlers.MenuReopenEditors"
                      id="org.csstudio.ui.menu.app.reopen_editors">
                </dynamic>
            </menu>
            <separator
                  name="new.ext">
            </separator>
            <separator
                  name="close"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  label="%FileClose"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  label="%FileCloseAll"
                  style="push">
            </command>
            <separator
                  name="save"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="%FileSave"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="%FileSaveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  label="%FileSaveAs"
                  style="push">
            </command>
            <separator
                  name="user"
                  visible="true">
            </separator>
            <separator
                  name="workspace"
                  visible="true">
            </separator>
            <command
                  commandId="org.csstudio.ui.menu.app.switch_workspace"
                  label="%FileSwitchWorkspace"
                  style="push">
            </command>
            <command
                  commandId="org.csstudio.ui.menu.app.restart"
                  label="%FileRestart"
                  style="push">
            </command>
            <separator
                  name="export"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="%FileImport"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export"
                  label="%FileExport"
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="exit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%FileExit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <menu
               id="edit"
               label="%Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="%EditUndo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="%EditRedo"
                  style="push">
            </command>
            <separator
                  name="clipboard"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  label="%EditCut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  label="%EditCopy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  label="%EditPaste"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  label="%EditDelete"
                  style="push">
            </command>
            <separator
                  name="select"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  label="%EditSelectAll"
                  style="push">
            </command>
            <separator
                  name="find.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="%EditFind"
                  style="push">
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="preferences"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?before=additions">
         <!-- The "Search" menu anchors itself off path="navigate".
              If that is not defined, an ActionSetSeparator("navigate")
              will be auto-created, resulting in an odd gap in the menu bar.
           -->
         <separator
               name="navigate"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?endof=additions">
         <menu
               id="window"
               label="%Window">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  label="%WindowNew"
                  style="push">
            </command>
            <separator
                  name="views"
                  visible="true">
            </separator>
            <menu
                  label="%WindowPerspective">
               <dynamic
                     class="org.csstudio.ui.menu.app.handlers.OpenPerspectiveMenu"
                     id="org.csstudio.ui.menu.app.open_perspective">
               </dynamic>
            </menu>
            <menu
                  label="%WindowView">
               <dynamic
                     class="org.csstudio.ui.menu.app.handlers.ShowViewMenu"
                     id="org.csstudio.ui.menu.app.show_view">
               </dynamic>
            </menu>
            <separator
                  name="toolbar"
                  visible="true">
            </separator>
            <command
              commandId="org.eclipse.ui.ToggleCoolbarAction"
              style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                     <with
                           variable="activeWorkbenchWindow.isCoolbarVisible">
                        <equals
                              value="false">
                        </equals>
                     </with>
                     <with
                           variable="activeWorkbenchWindow.isPerspectiveBarVisible">
                        <equals
                              value="false">
                        </equals>
                     </with>
                  </or>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?endof=additions">
         <menu
               id="help"
               label="%Help">
            <command
                  commandId="org.eclipse.ui.help.quickStartAction"
                  icon="platform:/plugin/org.eclipse.ui.intro.universal/icons/welcome16.png"
                  label="%HelpWelcome"
                  style="push">
            </command>
            <separator
                  name="helpStart"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/help_contents.png"
                  label="%HelpContent"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  label="%HelpCheat"
                  style="push">
                <parameter
                    name="org.eclipse.ui.views.showView.viewId"
                    value="org.eclipse.ui.cheatsheets.views.CheatSheetView">
                </parameter>
            </command>
            <separator
                  name="group.assist"
                  visible="true">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="about"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/css16.png"
                  label="%HelpAbout"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.csstudio.ui.menu.app.handlers.SwitchWorkspace"
            id="org.csstudio.ui.menu.app.switch_workspace"
            name="%FileSwitchWorkspace">
      </command>
      <command
            defaultHandler="org.csstudio.ui.menu.app.handlers.Restart"
            id="org.csstudio.ui.menu.app.restart"
            name="%FileRestart">
      </command>
   </extension>
</plugin>
