<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="rackutildata" name="RackUtilData" schema="schema/rackutildata.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.csstudio"
            name="CSS">
      </category>
      <view
            category="org.csstudio"
            class="org.csstudio.diag.rack.view.RackView"
            icon="icons/rack.JPG"
            id="org.csstudio.diag.rack.view.RackView"
            name="Rack View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Global CSS menu actions"
            id="org.csstudio.rack"
            label="CSS Action Set"
            visible="true">
         <action
               class="org.csstudio.diag.rack.view.NewRackAction"
               icon="icons/rack.JPG"
               id="org.csstudio.rack.view.NewRackAction"
               label="Rack View"
               menubarPath="css/diag/"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.csstudio.rack.OpenViewWithPVPopupAction"
            objectClass="org.csstudio.platform.model.IProcessVariable">
         <menu
               id="org.csstudio.rack.popmenu"
               label="CSS"
               path="additions">
         </menu>
         <action
               class="org.csstudio.diag.rack.view.PVpopupAction"
               enablesFor="1"
               icon="icons/rack.JPG"
               id="org.csstudio.rack.view.PVpopupAction"
               label="Rack View"
               menubarPath="org.csstudio.popmenu/content"
               tooltip="%PopupMenuTooltip">
         </action>
      </objectContribution>
   </extension>

</plugin>
