<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.msu.nscl.olog.api.client">
      <ologclient
            ologclient="org.csstudio.utility.olog.OlogClientFromPreferences">
      </ologclient>
   </extension>
   <extension
         point="org.csstudio.logbook.logbookclientfactory">
      <logbookclientfactory
            class="org.csstudio.utility.olog.OlogLogbookClientFactory"
            name="org.csstudio.utility.olog.logbookclientfactory">
      </logbookclientfactory>
   </extension>

</plugin>
