<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        point="org.csstudio.sds.ui.widgetEditParts">
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.RectangleEditPart"
           typeId="element.rectangle"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.EllipseEditPart"
           typeId="element.ellipse"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.MeterEditPart"
           typeId="element.meter"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.LabelEditPart"
           typeId="element.label"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.PolygonEditPart"
           typeId="element.polygon"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.PolylineEditPart"
           typeId="element.polyline"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.TextInputEditPart"
           typeId="element.textinput"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.SimpleSliderEditPart"
           typeId="element.slider.simple"/>
     <widgetEditPart
           class="org.csstudio.sds.components.ui.internal.editparts.AdvancedSliderEditPart"
           typeId="element.slider.advanced"/>           
  </extension>
  <extension
        point="org.csstudio.sds.ui.graphicalFeedbackFactories">
     <graphicalFeedbackFactory
           class="org.csstudio.sds.components.ui.internal.feedback.PolygonFeedbackFactory"
           typeId="element.polygon"/>
     <graphicalFeedbackFactory
           class="org.csstudio.sds.components.ui.internal.feedback.PolyLineFeedbackFactory"
           typeId="element.polyline"/>
  </extension>
</plugin>
